//--------------------------------------------------------------
// [NTT Feature] Search - Compact
//--------------------------------------------------------------

.ntt--search---compact {

    .ntt--content {

        .search---cr,
        .search-field-textbox,
        .ntt--submit-search-axn {
            padding: 0;
        }
    }

    .ntt--submit-search-axn {
        padding-left: 0;
        padding-bottom: 0;
    }

    .widget_search {

        .ntt--widget-name {
            display: none;
        }

        .ntt--search-textbox {
            @include y-padding(0);
        }
    
        .ntt--submit-search-axn {
            @include y-padding(0);
        }
    }
}