//--------------------------------------------------------------
// [NTT Feature] Search - Compact
//--------------------------------------------------------------

.ntt--search---compact {

    .ntt--search {
        display: flex;
        align-items: flex-end;
    
        .ntt--search-field {
            flex: 1 100%;
            padding: 0;
        }
    
        .text-input {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .ntt--search-textbox {
        padding-right: 0;
        padding-bottom: 0;
    }

    .ntt--content {

        .search---cr,
        .search-field-textbox,
        .ntt--submit-search-axn {
            padding: 0;
        }
    }

    .ntt--submit-search-axn {
        padding-left: 0;
        padding-bottom: 0;
    }

    .ntt--search-label {
        display: none;
    }

    .widget_search {

        .ntt--widget-name {
            display: none;
        }

        .ntt--search-textbox {
            @include y-padding(0);
        }
    
        .ntt--submit-search-axn {
            @include y-padding(0);
        }
    }
}