//--------------------------------------------------------------
// Hide Stuff
//--------------------------------------------------------------

.ntt--comment-md,
.ntt--comment-published-datetime-label,
.ntt--entry-categories-name,
.ntt--entry-primary-meta .ntt--entry-categories,
.ntt--entry-published-datetime-label {

    display: none;
}

//--------------------------------------------------------------
// Basic
//--------------------------------------------------------------

html {
    line-height: $line-height---md;
}

body {
    font-size: $text---md;
    font-family: $primary-font-family;
}

button,
input,
select,
textarea {
    border-radius: $corner-radius---m;
}