//--------------------------------------------------------------
// Content Module Date
//--------------------------------------------------------------

.ntt--entry-published-datetime-label,
.ntt--cm-time,
.ntt--entry-modified-datetime {
    display: none;
}

.ntt--cm-date {

    .ntt--txt {
        padding: .35rem .75rem;
        min-width: 56px;
        text-align: center;
        background-color: #FFE8E6;
        color: $mid-color;
        border-radius: .25rem;
    }

    .ntt--day-txt,
    .ntt--month-txt,
    .ntt--year-txt {
        display: block;
        text-align: center;
        line-height: 1;
    }

    a {

        &:hover {
            text-decoration: none;
        }
    }

    .ntt--day-txt {
        font-size: 1.5rem;
    }

    .ntt--month-txt {
        font-size: .875rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ntt--year-txt {
        margin-top: .25rem;
        font-size: .875rem;
    }
}

//--------------------------------------------------------------
// Content Module Author
//--------------------------------------------------------------

.ntt--cm-entry-author-label {
    display: none;
}

.ntt--cm-author-avatar {
    margin-right: .5rem;
    border-radius: 50%;
    overflow: hidden;
}

.ntt--cm-author-name {

    a {
        color: $mid-color;
    }
}