//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.ntt--entry {

    .ntt--multiple-entries & {
        margin-top: 4rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

.ntt--entry-name {
    @include font-display(s);
    font-family: $secondary-font-family;
    font-weight: normal;
}

.ntt--entry-subname {
    @include font-display(xs);
    font-family: $secondary-font-family;
    color: $mid-color;
}

.ntt--entry-heading {

    .ntt--entry-categories {
        margin-bottom: -1rem;
    }
}

.ntt--entry-datetime {
    align-self: flex-start;
}

.ntt--entry-published-datetime {
    padding: 1rem;
}

.ntt--entry-author {
    @include x-padding(1rem);
}

.ntt {

    .wp-caption,
    .wp-block-image {

        figcaption {
            padding: 1rem 1.5rem; // Wider gutter
            text-align: center;
        }
    }
}

//--------------------------------------------------------------
// Entry Header
//--------------------------------------------------------------

@supports (display: grid) {

    .ntt--entry-header {
        display: grid;
        grid-template:
            'entry-categories entry-categories'
            'entry-name entry-datetime'
            'entry-subname entry-subname'
            'entry-axns entry-axns'
            'entry-author entry-author'
            'entry-banner entry-banner'
            'entry-summary-content entry-summary-content'
            / 1fr auto;
        
        .ntt--comments-actions-snippet {
            display: none;
        }

        > .ntt--entry-breadcrumbs-nav {
            display: none;
        }
    }

    .ntt--entry-heading,
    .ntt--entry-primary-meta {
        display: contents;
    }

    .ntt--entry-heading {

        .ntt--entry-categories {
            grid-area: entry-categories;
        }

        .ntt--entry-breadcrumbs-nav {
            @include x-padding(1rem);
        }
    }

    .ntt--entry-name {
        grid-area: entry-name;
        align-self: flex-start;
    }

    .ntt--entry-subname {
        grid-area: entry-subname;
    }

    .ntt--entry-axns {
        grid-area: entry-axns;
    }

    .ntt--entry-primary-meta {

        .ntt--entry-datetime {
            grid-area: entry-datetime;
        }

        .ntt--entry-author {
            grid-area: entry-author;
        }
    }

    .ntt--entry-banner {
        grid-area: entry-banner;
    }

    .ntt--entry-summary-content {
        grid-area: entry-summary-content;
    }
}

.ntt--entry-summary-content {

    .ntt--current-index &,
    .ntt--archive-index & {
        @include y-margin(1rem);
        font-size: $text---xl;
        line-height: $line-height---md;
        font-family: $secondary-font-family;

        > *:last-child {
            margin-bottom: 0;
        }
    }
}

//--------------------------------------------------------------
// Entry Footer
//--------------------------------------------------------------

.ntt--entry-footer {
    @include x-padding(.5rem); // Wider gutter
}

//--------------------------------------------------------------
// Entry Content
//--------------------------------------------------------------

.ntt--entry-content {
    @include y-margin(1rem);
}

.ntt--content {
    
    > {

        figure,
        #instafeed {
            @include x-padding();
        }

        p + figure {
            margin-top: 3em;
        }

        figure + figure {
            margin-top: 2em;
        }
    }

    #{$headings} {
        font-family: $secondary-font-family;
        font-weight: normal;
    }

    h1 {
        font-size: $text---xxxl;
    }

    h2 {
        font-size: $text---xxl;
    }

    h3 {
        font-size: $text---xl;
    }

    h4 {
        font-size: $text---xxxl
    }

    h5 {
        font-size: $text---xxxl
    }

    h6 {
        font-size: $text---xxxl
    }

    hr {
        position: relative;
        @include x-padding();
        @include y-margin(2rem);
        border: 0;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            background-color: $mid-color;
            min-width: 4rem;
            height: .25rem;
            transform: translateX(-50%);
        }
    }

    blockquote {
        position: relative;
        padding: 1rem 3rem;
        @include x-margin();
        @include font-display(xs);
        line-height: $line-height---md;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 96px;
            height: 100%;
            background-color: $accent-color---alpha-lo;
        }

        cite {
            font-style: normal;
            @include font-body(m);
            font-weight: bold;
        }
    }

    p.has-drop-cap:not(:focus):first-letter {
        font-size: 4.4em;
        font-family: $secondary-font-family;
        color: $accent-color;
    }

    .ntt--show-more-axn {

        .ntt--txt {
            @include if-y-center;
            justify-content: center;
            padding: .2rem .5rem;
            min-width: 2rem;
            min-height: 2rem;
            text-align: center;
            background-color: $accent-color---alpha-lo;
            color: $accent-color;
            border-radius: $corner-radius---m;
            @include transition;
        }

        a {

            &:hover {
                text-decoration: none;

                .ntt--txt {
                    background-color: $accent-color---alpha-md;
                }
            }
        }
    }

    .ntt--post--post-format-status & {
        @include font-display(s);
    }

    .twitter-tweet {
        width: auto !important;
    }
}

//--------------------------------------------------------------
// Entry Tags
//--------------------------------------------------------------

.ntt--entry-tags {
    @include y-padding(1rem);
}

.ntt--entry-tags-name {
    display: none;
}

.ntt--entry-tags-group {
    @include x-padding(.5rem);
}

.ntt--entry-tags {

    a {
        @include if-y-center;
        justify-content: center;
        padding: .2rem .5rem;
        min-width: 2rem;
        min-height: 2rem;
        text-align: center;
        color: $accent-color;
        border: 1px solid $accent-color;
        border-radius: $corner-radius---m;
    }
}