//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------

.ntt--entity {
    @include x-margin(auto);
}

//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------

.ntt--entity-header {
    @include if-y-center;

    > * {
        flex: 1 100%;
    }
}

@supports (display: grid) {

    @media only screen and (min-width: $viewport-width---tablet) {

        .ntt--entity-header {
            display: grid;
            grid-template:
                'entity-heading entity-header-aside'
                'entity-primary-nav entity-primary-nav'
                / 1fr auto;
        }

        .ntt--entity-heading {
            grid-area: entity-heading;
        }
        
        .ntt--entity-primary-nav {
            grid-area: entity-primary-nav;
        }
        
        .ntt--entity-header-aside {
            grid-area: entity-header-aside;
        }
    }
}

//--------------------------------------------------------------
// Entity Heading
//--------------------------------------------------------------

.ntt--entity-heading {
    position: relative;

    @media only screen and (min-width: $viewport-width---tablet) {

        &::before {
            width: calc(100% - 3rem);
        }
    }
}

//--------------------------------------------------------------
// Entity Logo
//--------------------------------------------------------------

.ntt--entity-logo {
    @include y-padding(.5rem);

    @media only screen and (min-width: $viewport-width---tablet) {
        
        @include x-padding(1.5rem);
    }

    img {
        width: auto;
        max-width: 320px;
        max-height: 160px;

        @media only screen and (min-width: $viewport-width---tablet) {
            max-width: 360px;
        }
    }
}

//--------------------------------------------------------------
// Entity Name
//--------------------------------------------------------------

.ntt--entity-name {
    margin-top: .5rem;
    font-family: $secondary-font-family;
    font-weight: normal;
    font-size: $text---xl;

    a {
        color: inherit;
    }

    .ntt--txt {
        padding: 0;
    }
}

//--------------------------------------------------------------
// Entity Description
//--------------------------------------------------------------

.ntt--entity-description {
    margin-top: -1rem;
    color: $mid-color;
    font-size: $text---sm;
    letter-spacing: .045em;

    .ntt--txt {
        padding: 0;
    }
}

//--------------------------------------------------------------
// Entity Main Header
//--------------------------------------------------------------

.ntt--entity-main-header {
    @include x-padding(1rem);
}

.ntt--entity-view-heading {
    justify-content: center;

    .ntt--current-index & {
        display: none;
    }
}

.ntt--entity-view-name {
    @include font-display(s);
    font-family: $secondary-font-family;

    .ntt--key-line {
        display: none;
    }
}

.ntt--entry-count {
    padding: .5rem;

    .ntt--txt {
        @include if-y-center;
        justify-content: center;
        padding: .2rem .5rem;
        min-width: 2rem;
        min-height: 2rem;
        text-align: center;
        background-color: $on-surface-color---alpha-lo;
        color: $mid-color;
        border-radius: $corner-radius---m;
    }
}

//--------------------------------------------------------------
// Entity Main Footer
//--------------------------------------------------------------

.ntt--entity-main-footer {
    @include x-padding(.5rem); // Wider gutter
}

//--------------------------------------------------------------
// Entity Footer
//--------------------------------------------------------------

.ntt--entity-footer {
    @include x-padding(.5rem); // Wider gutter
}

//--------------------------------------------------------------
// Entity Secondary Info
//--------------------------------------------------------------

.ntt--entity-secondary-info {
    text-align: center;
    font-size: .875rem;

    a {
        color: $mid-color;
    }
}

//--------------------------------------------------------------
// Entity Secondary Information
//--------------------------------------------------------------

.ntt--entity-secondary-info {
    margin-top: 4rem;
    font-size: .75rem;
    color: hsla(0, 0%, 0%, .35);

    a {
        color: hsla(0, 0%, 0%, .35);
    }
}

.ntt--entity-maker-tag {
    display: inline-block;
}