//--------------------------------------------------------------
// Kid NTT Rules
//--------------------------------------------------------------

@import '../../../../../assets/styles/source/rules';

//--------------------------------------------------------------
// Snap Rules
//--------------------------------------------------------------

//--------------------------------------------------------------
// Absolute Variables
//--------------------------------------------------------------

$mgb-gray: #707070;

$mgb-light-pink: #FFF4F2;
$mgb-pink: #FFB3CC;
$mgb-dark-pink: #ff578f;

$mgb-peach: #DE756E;
$mgb-light-peach: #FFF3F2;

//--------------------------------------------------------------
// Generic Variables
//--------------------------------------------------------------

//------------ Colors
$ink-color: $almost-black;
$paper-color: white;
$mid-color: $mgb-gray;

$primary-base-color: $mgb-pink;
$secondary-base-color: $mgb-peach;

$accent-color: $mgb-peach;
$faint-accent-color: $mgb-light-peach;

$primary-color: $accent-color;

//------------ Fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Sanchez', serif;

//--------------------------------------------------------------
// Specific Variables
//--------------------------------------------------------------

//------------ Base

$base-font-family: $primary-font;
$link-color: $accent-color;
$base-font-size: 1rem;

$line-height-display: 1.25;
$line-height-body: 1.5;

$font-display-factor-xxl: 4;
$font-display-factor-xl: 3.5;
$font-display-factor-l: 3;
$font-display-factor-m: 2.5;
$font-display-factor-s: 2;
$font-display-factor-xs: 1.5;
$font-display-factor-xxs: 1.125;

$font-body-factor-l: 1.125;
$font-body-factor-m: 1;
$font-body-factor-s: .875;
$font-body-factor-xs: .75;

$font-cta: $base-font-size;

//------------ Entity Specifics

$entity-bg: #FFFAFA;

//------------ Content Specifics

$content-color: $mid-color;
$content-heading-font-family: $secondary-font;
$content-body-font-family: $base-font-family;
$content-link-color: $link-color;

//--------------------------------------------------------------
// Redeclare theme to detect the variables above
//--------------------------------------------------------------

@import '../../../../../assets/styles/source/theme';

//--------------------------------------------------------------
// Hide Stuff
//--------------------------------------------------------------

.ntt--entity-logo---1 {

    .ntt--entity-name {
        display: none;
    }

    .ntt--entity-description {
        display: none;
    }
}

.entry-author-glabel,
.ntt--entry-published-datetime-label,
.cm-time,
.entry-categories-name,
.ntt--comment-published-datetime-label,
.ntt--entry-categories-name,
.ntt--comment-md {
    display: none;
}

.ntt--entry-primary-meta {

    .ntt--entry-categories {
        display: none;
    }
}

//--------------------------------------------------------------
// Basic
//--------------------------------------------------------------

html {
    line-height: 1.5;
    background-color: $entity-bg;
}

body {
    color: $ink-color;
    font-family: $base-font-family;
    @include font-body(m);
}

button,
input,
select,
textarea {
    border-radius: .25rem;
}

//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------

.ntt--entity {
    max-width: 768px;
    @include x-margin(auto);
}

//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------

.ntt--entity-header {
    display: flex;
    flex-wrap: wrap;
    @include x-padding(.5rem); // Wider gutter

    > * {
        flex: 1 100%;
    }
}

//--------------------------------------------------------------
// Entity Heading
//--------------------------------------------------------------

.ntt--entity-heading {
    position: relative;
    @include y-padding(1rem);
    text-align: center;

    @media only screen and (min-width: 768px) {

        &::before {
            width: calc(100% - 3rem);
        }
    }
}

.ntt--entity-logo {
    @include y-padding(.5rem);

    @media only screen and (min-width: 768px) {
        
        @include x-padding(1.5rem);
    }

    img {
        width: auto;
        max-width: 320px;
        max-height: 160px;

        @media only screen and (min-width: 768px) {
            max-width: 360px;
        }
    }
}

.ntt--entity-name {
    @include x-padding(1rem);
    font-family: $secondary-font;
    font-weight: normal;
    font-size: 2.375rem; // For wider viewport
    font-size: 1.5rem;

    a {
        color: inherit;
    }

    .ntt--txt {
        padding: 0;
    }
}

.ntt--entity-description {
    @include x-padding(1rem);
    color: $mid-color;
    font-size: .875rem;
    letter-spacing: .045em;

    .ntt--txt {
        padding: 0;
    }
}

//--------------------------------------------------------------
// Entity Primary Navigation
// Entity Secondary Navigation
//--------------------------------------------------------------

.ntt--entity-primary-nav,
.ntt--entity-secondary-nav {
    @include y-padding(1rem);
    font-size: 1.125rem;
    font-family: $secondary-font;
    color: $mgb-gray;

    @media only screen and (min-width: 768px) {
        @include x-padding(.75rem);
    }

    li {
        @include x-padding(1rem);
    }

    a {
        @include if-y-center;
        padding: 0;
        min-height: 2.375rem;
        color: inherit;
        @include transition;

        &:hover {
            text-decoration: none;
            color: $ink-color;
        }
    }
    
    .current-menu-item,
    .current_page_item,
    .current_page_ancestor {

        > a {

            .ntt--txt {
                position: relative;
                
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: .25rem;
                    background-color: $mgb-pink;
                    border-radius: 100rem;
                    z-index: -1;
                }
            }
        }
    }

    .current_page_ancestor {

        > a {

            .ntt--txt {

                &:before {
                    background-color: hsla(0, 0%, 0%, .0625);
                }
            }
        }
    }
}

//--------------------------------------------------------------
// Navigation - Sub-menu - JS
//--------------------------------------------------------------

.ntt--nav---sub-menu--js {
    
    .ntt--sub-menu-checkbox--js {
        background-position-y: 55%;
        background-size: .75rem;
        @include transition;

        &:checked {
            background-position-y: 50%;
        }
    }

    .ntt--sub-menu--js {
        $sub-menu-corner-radius: .25rem;
        font-size: 1rem;
        border: 0;
        background-color: $faint-accent-color;
        border: 1px solid hsla(0, 0%, 0%, .0625);
        border-radius: $sub-menu-corner-radius;

        li {
            border-bottom: 0;
        }

        a {

            &:hover {
                background-color: hsl(0, 100%, 97%);
                border-radius: $sub-menu-corner-radius;
            }
        }

        .ntt--txt {
            @include x-padding(.75rem);
        }

        .ntt--sub-menu-ancestor--js {

            &:hover {
                background-color: hsl(0, 100%, 97%);
            }

            > a {

                &:hover {
                    background-color: transparent;
                }
            }
        }

        .ntt--sub-menu-current-item--js {

            > a {

                .ntt--txt {
                    position: relative;
                    
                    &:before {
                        left: 0;
                        top: 0;
                        bottom: auto;
                        width: .25rem;
                        height: 100%;
                        z-index: auto;
                    }
                }
            }

        }

        .current_page_ancestor {

            > a {

                .ntt--txt {

                    &:before {
                        left: 0;
                        top: 0;
                        bottom: auto;
                        width: .25rem;
                        height: 100%;
                        z-index: auto;
                        background-color: hsla(0, 0%, 0%, .0625);
                    }
                }
            }
        }
    }

    &.ntt--entity-primary-nav,
    &.ntt--entity-secondary-nav {

        .ntt--sub-menu--js {
            margin-top: -.5rem;
        }
    }

    &.ntt--widget_nav_menu {

        ul {
            padding-left: 0;
        }

        a {
            padding: .5rem;
        }

        .ntt--sub-menu--js {

            a {
                padding: .5rem .75rem;
            }
        }
    }

    > div {

        > ul {
            justify-content: center;
            width: 100%;
        }
    }
}

//--------------------------------------------------------------
// Widget Navigation Menu
//--------------------------------------------------------------

.ntt--widget_nav_menu {
    padding: 1rem .25rem;

    > * {
        @include y-margin();
    }

    li {
        padding: 0 .75rem;
    }

    a {
        @include if-y-center;
        @include x-padding();
        min-height: 2.375rem;
        color: $ink-color;
    }
}

//--------------------------------------------------------------
// Entity Header Aside
//--------------------------------------------------------------

.ntt--entity-header-aside {

    .ntt--widget_nav_menu {
        margin-top: -1rem;
    }
}

//--------------------------------------------------------------
// Entity Main Header
//--------------------------------------------------------------

.ntt--entity-main-header {
    @include x-padding(.5rem); // Wider gutter
}

.ntt--entity-view-heading {
    justify-content: center;

    .ntt--current-index & {
        display: none;
    }
}

.ntt--entity-view-name {
    @include font-display(s);
    font-family: $secondary-font;

    .ntt--key-line {
        display: none;
    }
}

.ntt--entry-count {
    padding: .5rem;

    .ntt--txt {
        @include if-y-center;
        justify-content: center;
        padding: .2rem .5rem;
        min-width: 2rem;
        min-height: 2rem;
        text-align: center;
        color: #DE756E;
        border: 2px solid #DE756E;
        border-radius: .25rem;
    }
}

//--------------------------------------------------------------
// Entity Main Footer
//--------------------------------------------------------------

.ntt--entity-main-footer {
    @include x-padding(.5rem); // Wider gutter
}

//--------------------------------------------------------------
// Entity Footer
//--------------------------------------------------------------

.ntt--entity-footer {
    @include x-padding(.5rem); // Wider gutter
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.ntt--entry {

    .ntt--multiple-entries & {
        margin-top: 4rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

.ntt--entry-name {
    @include font-display(s);
    font-family: $secondary-font;
    font-weight: normal;

    a {
        color: inherit;
    }
}

.ntt--entry-subname {
    @include font-display(xs);
    font-family: $secondary-font;
    color: $mid-color;
}

.ntt--entry-heading {

    .ntt--entry-categories {
        margin-bottom: -1rem;
    }
}

.ntt--entry-datetime {
    align-self: flex-start;
}

.ntt--entry-published-datetime {
    padding: 1rem;
}

.ntt--entry-author {
    @include x-padding(1rem);
}

.ntt {

    .wp-caption,
    .wp-block-image {

        figcaption {
            padding: 1rem 1.5rem; // Wider gutter
            text-align: center;
        }
    }
}

//--------------------------------------------------------------
// Entry Header
//--------------------------------------------------------------

.ntt--entry-header {
    display: grid;
    grid-template:
        'entry-categories entry-categories'
        'entry-name entry-datetime'
        'entry-subname entry-datetime'
        'entry-axns entry-axns'
        'entry-author entry-author'
        'entry-banner entry-banner'
        'entry-summary-content entry-summary-content'
        / 1fr auto;
    
    .ntt--comments-actions-snippet {
        display: none;
    }

    > .ntt--entry-breadcrumbs-nav {
        display: none;
    }
}

.ntt--entry-heading,
.ntt--entry-primary-meta {
    display: contents;
}

.ntt--entry-heading {

    .ntt--entry-categories {
        grid-area: entry-categories;
        @include x-padding(.5rem); // Wider gutter
    }
}

.ntt--entry-name {
    grid-area: entry-name;
    align-self: flex-start;
    @include x-padding(1rem); // Wider gutter
}

.ntt--entry-subname {
    grid-area: entry-subname;
    @include x-padding(1rem); // Wider gutter
}

.ntt--entry-axns {
    grid-area: entry-axns;
    @include x-padding(1rem); // Wider gutter
}

.ntt--entry-primary-meta {

    .ntt--entry-datetime {
        grid-area: entry-datetime;
        @include x-padding(.5rem); // Wider gutter
    }

    .ntt--entry-author {
        grid-area: entry-author;
        @include x-padding(1.5rem); // Wider gutter
    }
}

.ntt--entry-banner {
    grid-area: entry-banner;
}

.ntt--entry-summary-content {
    grid-area: entry-summary-content;
    @include x-padding(.5rem); // Wider gutter
}

//--------------------------------------------------------------
// Entry Footer
//--------------------------------------------------------------

.ntt--entry-footer {
    @include x-padding(.5rem); // Wider gutter
}

//--------------------------------------------------------------
// Content Module Date
//--------------------------------------------------------------

.ntt--entry-published-datetime-label,
.ntt--cm-time,
.ntt--entry-modified-datetime {
    display: none;
}

.ntt--cm-date {

    .ntt--txt {
        padding: .35rem .75rem;
        min-width: 56px;
        text-align: center;
        background-color: #FFE8E6;
        color: $mid-color;
        border-radius: .25rem;
    }

    .ntt--day-txt,
    .ntt--month-txt,
    .ntt--year-txt {
        display: block;
        text-align: center;
        line-height: 1;
    }

    a {

        &:hover {
            text-decoration: none;
        }
    }

    .ntt--day-txt {
        font-size: 1.5rem;
    }

    .ntt--month-txt {
        font-size: .875rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ntt--year-txt {
        font-size: .875rem;
    }
}

//--------------------------------------------------------------
// Content Module Author
//--------------------------------------------------------------

.ntt--cm-entry-author-label {
    display: none;
}

.ntt--cm-author-avatar {
    margin-right: .5rem;
    border-radius: 50%;
    overflow: hidden;
}

.ntt--cm-author-name {

    a {
        color: $mid-color;
    }
}

//--------------------------------------------------------------
// Entity Secondary Info
//--------------------------------------------------------------

.ntt--entity-secondary-info {
    text-align: center;
    font-size: .875rem;

    a {
        color: $mid-color;
    }
}

//--------------------------------------------------------------
// Page View
//--------------------------------------------------------------

.ntt--page--view {

    .ntt--entry-primary-meta,
    .ntt--comments-actions-snippet,
    .ntt--comment-md,
    .ntt--entry-nav {
        display: none;
    }
}

//--------------------------------------------------------------
// Home View
//--------------------------------------------------------------

.ntt--page--home--view {

    .ntt--entry-header,
    .ntt--comment-md,
    .ntt--entry-nav {
        display: none;
    }
}

//--------------------------------------------------------------
// Entry Content
//--------------------------------------------------------------

.ntt--content {
    color: $content-color;
    line-height: 1.8;

    > {

        * {
            @include x-padding(1.5rem); // Wider gutter
        }

        figure,
        #instafeed {
            @include x-padding();
        }

        p + figure {
            margin-top: 3em;
        }

        figure + figure {
            margin-top: 2em;
        }
    }

    #{$headings} {
        font-family: $content-heading-font-family;
        font-weight: normal;
    }

    h1 {
        @include font-display(m);
    }

    h2 {
        @include font-display(s);
    }

    h3 {
        @include font-display(xs);
    }

    h4 {
        @include font-display(xxs);
    }

    h5 {
        @include font-display(xxs);
    }

    h6 {
        @include font-display(xxs);
    }

    a {
        color: $content-link-color;
    }

    hr {
        position: relative;
        @include x-padding();
        @include y-margin(2rem);
        border: 0;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            background-color: #FFCCDD;
            min-width: 4rem;
            height: .25rem;
            transform: translateX(-50%);
        }
    }

    blockquote {
        position: relative;
        padding: 1rem 3rem;
        @include x-margin();
        @include font-display(xs);
        line-height: $line-height-body;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 96px;
            height: 100%;
            background-color: #FFE8E6;
        }

        cite {
            font-style: normal;
            @include font-body(m);
            font-weight: bold;

            a {
                color: #DE756E;
            }
        }
    }

    p.has-drop-cap:not(:focus):first-letter {
        font-size: 4.4em;
        font-family: $secondary-font;
        color: #DE756E;
    }

    .ntt--show-more-axn {
        margin-top: 2em;
        text-align: center;

        .ntt--txt {
            padding: .25rem 1rem;
            border: 2px solid #DE756E;
            border-left: 0;
            border-right: 0;
            @include transition;

            &:hover {
                background-color: #DE756E;
                color: white;
                border-radius: .25rem;
            }
        }

        @media only screen and (min-width: 768px) {
            text-align: left;
        }
    }
}

.ntt--entry-summary-content {
    @include font-body(m);
    line-height: 1.8;
    
    > {

        * {
            @include x-padding(1rem); // Wider gutter
        }
    }
}

.ntt--entry-content-snippet {

    a {
        color: $content-color;
    }
}

//--------------------------------------------------------------
// Entity Secondary Information
//--------------------------------------------------------------

.ntt--entity-secondary-info {
    margin-top: 4rem;
    font-size: .75rem;
    color: hsla(0, 0%, 0%, .35);

    a {
        color: hsla(0, 0%, 0%, .35);
    }
}

.ntt--entity-maker-tag {
    display: inline-block;
}

//--------------------------------------------------------------
// Custom Content
//--------------------------------------------------------------

// From About
#instafeed {
    display: flex;
    flex-wrap: wrap;

    a {
        flex: 1 25%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// From Home
.txt-axn {
    text-align: center;

    a {
        display: inline-block;
        padding: 8px 16px;
        color: $mgb-gray;
        font-weight: 600;
        border: 2px solid #FFB3CC;
        border-radius: 8px;
        @include transition;

        &:hover {
            text-decoration: none;
            background-color: #FFB3CC;
            color: white;
        }

        &:active {
            background-color: #E68AA8;
            color: hsla(0, 0, 100%, .96);
            border-color: #E68AA8;
        }
    }
}

.short-description {
    text-align: center;
    font-size: 24px;
    color: $mgb-gray;
    font-family: $secondary-font;
}

// From Contact
.ntt--content {

    .contact-form {
        
        label {

            span {
                color: transparent;
                
                &:before {
                    content: '*';
                    margin-left: .5rem;
                    color: #ff0000;
                }
            }

            &.checkbox,
            &.checkbox-multiple,
            &.radio {
                @include if-y-center;
            }
        }

        input[type=checkbox],
        input[type=radio] {
            margin-right: 1rem;
            margin-bottom: 0;
            width: auto;
        }

        textarea {
            width: 50%;
            min-height: 6.5rem;
            height: 0;
        }

        button {
            background-color: #DE756E;
            color: white;
            border-radius: .25rem;
        }

        .grunion-field-wrap {
            margin: 2rem 0;
        }

        .contact-submit {
            margin: 0;
            margin-top: 3rem;
        }
    }

    div[id^="contact-form"] {

        .contact-form-submission {
            font-size: inherit;
            margin-bottom: 0;
            padding: 0;

            &:before {
                display: none;
            }

            p {
                @include y-margin(1em);
            }

            br {
                display: none;
            }
        }
    }
}

// From Gallery
// https://css-tricks.com/adaptive-photo-layout-with-flexbox/
.ntt--page--gallery--view {

    .ntt--entry-full-content {
        display: flex;
        flex-wrap: wrap;

        > figure {
            @include y-margin();
            height: 40vh;
            flex-grow: 1;

            img {
                max-height: 100%;
                min-width: 100%;
                object-fit: cover;
                vertical-align: bottom;
            }

            @at-root & {

                @media (max-aspect-ratio: 1/1) {
                    height: 30vh;
                }
            }

            @at-root &  {
                
                @media (max-height: 480px) {
                    height: 80vh;
                }
            }
        }

        &::after {
            content: '';
            flex-grow: 10;

            @at-root &  {
                
                @media (max-aspect-ratio: 1/1), (max-height: 480px) {
                    display: none;
                }
            }
        }
    }
}