/* Screen Reader Text ------------------------ */
.ntt--kid-ntt--feature--prezo-mode---active--js.ntt--kid-ntt--feature--scroll-y--view::before, .ntt--kid-ntt--feature--prezo-mode---active--js.ntt--kid-ntt--feature--scroll-y--view::after {
  display: none;
}

.ntt--kid-ntt--feature--prezo-mode---active--js.ntt--kid-ntt--snaps--hexetidine body {
  border: 0;
}

.ntt--kid-ntt--feature--prezo-mode---active--js.ntt--kid-ntt--snaps--hexetidine body::before, .ntt--kid-ntt--feature--prezo-mode---active--js.ntt--kid-ntt--snaps--hexetidine body::after {
  display: none;
}

.ntt--kid-ntt--feature--prezo-mode---active--js .ntt--entry-content {
  font-size: 1.5rem;
}

.ntt--kid-ntt--feature--prezo-mode---active--js .ntt--entry-content > * {
  color: black;
}

.ntt--kid-ntt--feature--prezo-mode---active--js .ntt--entity-header,
.ntt--kid-ntt--feature--prezo-mode---active--js .ntt--comment-md,
.ntt--kid-ntt--feature--prezo-mode---active--js .ntt--entity-main-footer,
.ntt--kid-ntt--feature--prezo-mode---active--js .ntt--entity-footer,
.ntt--kid-ntt--feature--prezo-mode---active--js .ntt--entity-header-aside,
.ntt--kid-ntt--feature--prezo-mode---active--js .ntt--entity-main-main-aside {
  display: none;
}

.ntt--kid-ntt--feature--prezo-mode---active--js .ntt--entry-full-content .wp-block-gallery .blocks-gallery-item {
  padding: .5rem;
  max-height: 100vh;
}

.ntt--kid-ntt--feature--prezo-mode---active--js .ntt--entry-full-content .wp-block-gallery .blocks-gallery-item img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (min-width: 768px) {
  .ntt--kid-ntt--feature--prezo-mode---active--js.ntt--entity-main-main-aside---1 .ntt--entity-main-main {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .ntt--kid-ntt--feature--prezo-mode---active--js .ntt--entity {
    display: block;
  }
}
