.entity-view-entry-count .l {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .125rem;
}

a {
  color: #ec5942;
}

button,
input[type="submit"] {
  background-color: #ec5942;
}

.ntt--entry-nav .value---line {
  color: #ec5942;
}

.ntt--comments-actions-snippet .ntt--comment-axn .ntt--comment-text {
  color: #ec5942;
}

.ntt--comment-reply-axn .ntt--reply-text {
  color: #ec5942;
}

html {
  background-color: #CFCBC2;
}

body {
  font-family: 'Hind', sans-serif;
}

hr {
  border: 0;
  width: 2rem;
  height: .25rem;
  background-color: #ec5942;
  border-radius: 100rem;
}

.ntt--entity {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #EDEAE2;
}

.ntt--entity-name {
  color: white;
  font-size: 1.5rem;
}

.ntt--entity-name a {
  color: inherit;
}

.ntt--entity-name .ntt--txt {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #632f75;
  border-radius: 0.125rem;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.ntt--entity-primary-nav {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.ntt--entity-primary-nav a {
  color: inherit;
}

.ntt--entity-secondary-info {
  margin-top: 4rem;
  text-align: center;
}

.ntt--entity-main-main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ntt--entity-view-name a {
  color: inherit;
}

.ntt--entity-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ntt--entity-primary-heading {
  padding: 1rem;
}

.primary-menu-aside,
.primary-actions-aside {
  display: none;
}

.ntt--entity-primary-nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.ntt--entity-header-aside .ntt--widget {
  padding-top: 0;
  padding-bottom: 0;
}

.ntt--entity-view-heading {
  font-family: 'Open Sans Condensed', sans-serif;
}

.ntt--entity-view-name {
  font-size: 1.375rem;
}

.ntt--entity-view-name .value---line {
  color: #ec5942;
}

.entity-view-entry-count .l {
  background-color: #ec5942;
  color: white;
  border: 0;
}

.ntt--entry-name {
  font-family: 'Open Sans Condensed', sans-serif;
}

.ntt--entry-name .ntt--txt {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  color: #5c4f4a;
  font-weight: bold;
  font-size: 3em;
}

.ntt--entries-nav li,
.ntt--entries-nav .page---text {
  display: none;
}

.ntt--entries-nav .next-navi,
.ntt--entries-nav .previous-navi {
  display: block;
}

.ntt--entries-nav .current-page---txt {
  font-weight: bold;
}

.ntt--entries-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ntt--entries-nav .navigation,
.ntt--entries-nav .nav-links,
.ntt--entries-nav .page-numbers {
  display: contents;
}

.ntt--entries-nav .next-navi {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.entry-navi .value---line {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.375rem;
}

.entry-navi .property---line {
  margin-bottom: -1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: .125em;
}

.entry-navi .entry---text {
  display: none;
}

.ntt--entry-breadcrumbs-nav {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.ntt--ntt--entry-breadcrumbs-navi---current {
  color: rgba(0, 0, 0, 0.25);
}

.entry {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.entry-header .ntt--comments-actions-snippet {
  display: none;
}

.ntt--entry-author-label {
  display: none;
}

.cm-author-avatar .img {
  width: 2rem;
  height: 2rem;
}

.cm-author-avatar img {
  border-radius: 50%;
  overflow: hidden;
}

.cm-author-name a {
  color: inherit;
}

.ntt--entry-categories a {
  color: #ec5942;
}

.ntt--entry-axns {
  padding: 1rem;
}

.ntt--entry-categories-name {
  display: none;
}

.ntt--entry-name {
  padding-top: 0;
  padding-bottom: 0;
}

.ntt--modify-entry-axn .ntt--txt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: .5rem 1rem;
  min-height: 2.25rem;
  background-color: #ec5942;
  color: white;
  border-radius: 0.125rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.ntt--shocking-entry .ntt--entry-full-content {
  background-color: #FF0090;
  color: #01E1FF;
}

.ntt--entry-published-datetime-label,
.cm-time,
.ntt--entry-modified-datetime {
  display: none;
}

.entry--updated .ntt--entry-published-datetime {
  display: none;
}

.entry--updated .ntt--entry-modified-datetime {
  display: block;
}

.ntt--entry-datetime {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.ntt--content {
  font-size: 1.375em;
  line-height: 1.8;
}

.ntt--content blockquote {
  font-size: 1.375em;
}

.ntt--content blockquote cite {
  display: block;
  margin-top: 1em;
  color: gray;
  font-style: normal;
}

.content---cr > hr {
  padding-left: 0;
  padding-right: 0;
  margin: 2em 1rem;
}

.ntt--entry-full-content h1, .ntt--entry-full-content h2, .ntt--entry-full-content h3, .ntt--entry-full-content h4, .ntt--entry-full-content h5, .ntt--entry-full-content h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.ntt--entry-full-content .initial-letter, .ntt--entry-full-content p.has-drop-cap:not(:focus):first-letter {
  margin-top: .11em;
  margin-right: .11em;
  line-height: .85;
}

.ntt--entry-full-content p.has-drop-cap:not(:focus):after {
  padding-top: 0;
}

.ntt--content-snippet a {
  color: inherit;
}

.ntt--show-more-axn {
  padding: 1rem;
}

.ntt--show-more-axn .txt {
  padding: .75rem 1rem;
  border: 2px solid #ec5942;
  line-height: 1;
  border-radius: 0.125rem;
}

.ntt--plural-view .format-quote .ntt--entry-full-content > blockquote {
  margin-left: 0;
  margin-right: 0;
}

.ntt--plural-view .format-quote.entry-name--empty .entry-heading,
.ntt--plural-view .format-quote.entry-name--empty .entry-author,
.ntt--plural-view .format-quote.entry-name--empty .ntt--entry-categories {
  display: none;
}

.cssgrid.ntt--plural-view .format-quote.entry-name--empty.ntt--entry {
  display: -ms-grid;
  display: grid;
  grid-template: 'main header' / 1fr auto;
}

.cssgrid.ntt--plural-view .format-quote.entry-name--empty .ntt--entry-header {
  display: initial;
}

.cssgrid.ntt--plural-view .format-quote.entry-name--empty .entry-header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.cssgrid.ntt--plural-view .format-quote.entry-name--empty .ntt--entry-full-content > blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ntt--comment-md {
  display: none;
}

.ntt--search--compact .ntt--search .text-input {
  padding-left: 1rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 0;
  border-radius: 0.125rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ntt--search--compact .ntt--search button {
  border-radius: 0.125rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ntt--current-index-view .ntt--entity-view-heading {
  display: none;
}

.page-view .entry-nav,
.page-view .entry-primary-meta,
.page-view .ntt--comment-md {
  display: none;
}

.page-view .entry-header .ntt--comments-actions-snippet {
  display: none;
}

.page-view .ntt--entry-primary-meta {
  display: none;
}

.ntt--archive-index-view .ntt--entity-view-heading .archive---text {
  display: none;
}

.ntt--entity-main-main-aside .ntt--widget {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #F6F5F1;
  border-bottom: 1px solid #DEDAD2;
}

.ntt--entity-main-main-aside .ntt--widget ul {
  list-style-type: none;
  counter-reset: li;
}

.ntt--entity-main-main-aside .ntt--widget li {
  position: relative;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-top: 1px solid #EDCBC5;
}

.ntt--entity-main-main-aside .ntt--widget li:first-child {
  border-top: 0;
}

.ntt--entity-main-main-aside .ntt--widget li:nth-child(even) {
  border-color: #C9E1E4;
}

.ntt--entity-main-main-aside .ntt--widget li:before {
  position: absolute;
  right: 100%;
  margin-right: .5rem;
  content: counter(li, decimal) ".";
  counter-increment: li;
  color: #b0a8a4;
}

.ntt--entity-main-main-aside .ntt--widget li a {
  color: #5c4f4a;
}

.ntt--entity-main-main-aside .ntt--widget:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 1rem 1rem;
  border-color: transparent transparent #DEDAD2 transparent;
}

.ntt--entity-main-main-aside .ntt--widget:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 100%;
  width: calc(100% - 1rem);
  height: 1rem;
  background-color: #F6F5F1;
}

.ntt--entity-main-main-aside .ntt--widget-name {
  color: #5c4f4a;
}
