//--------------------------------------------------------------
// NTT Kid Rules
//--------------------------------------------------------------

@import '../../../../../assets/styles/source/rules';

//--------------------------------------------------------------
// Snap Rules
//--------------------------------------------------------------
$voyager-purple: #632f75;

$primary-color: #ec5942;
$link-color: $primary-color;

$corner-radius-s: .125rem;

$font-size-l: 1.375em;

%voyager-gradient {
    background: linear-gradient(to right, $voyager-purple 0%,#2d1241 25%,#2d0311 50%,#5e1216 75%,#ec5942 100%);
}

@import '../../../../../assets/styles/source/theme';

//--------------------------------------------------------------
// Basic
//--------------------------------------------------------------

html {
    background-color: #CFCBC2;
}

body {
    font-family: 'Hind', sans-serif;
}

hr {
    border: 0;
    width: 2rem;
    height: .25rem;
    background-color: $primary-color;
    border-radius: 100rem;
}

//--------------------------------------------------------------
// Entity
//--------------------------------------------------------------

.ntt--entity {
    max-width: 60rem;
    @include x-margin(auto);
    background-color: #EDEAE2;
}

.ntt--entity-name {
    color: white;
    font-size: 1.5rem;

    a {
        color: inherit;
    }

    .ntt--txt {
        @include x-padding(1rem);
        background-color: $voyager-purple;
        border-radius: $corner-radius-s;
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: uppercase;
    }
}

.ntt--entity-primary-nav {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;

    a {
        color: inherit;
    }
}

.ntt--entity-secondary-info {
    margin-top: 4rem;
    text-align: center;
}

.ntt--entity-main-main {
    @include y-margin(2rem);
}

.ntt--entity-view-name {

    a {
        color: inherit;
    }
}

//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------

.ntt--entity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.ntt--entity-primary-heading {
    padding: 1rem;
}

.primary-menu-aside,
.primary-actions-aside {
    display: none;
}

.ntt--entity-primary-nav {
    flex-grow: 1;
}

.ntt--entity-header-aside {

    .ntt--widget {
        @include y-padding();
    }
}

//--------------------------------------------------------------
// Entity View
//--------------------------------------------------------------

.ntt--entity-view-heading {
    font-family: 'Open Sans Condensed', sans-serif;
}

.ntt--entity-view-name {
    font-size: 1.375rem;

    .value---line {
        color: $primary-color;
    }
}

.entity-view-entry-count {

    .l {
        @extend %count-box;
        background-color: $primary-color;
        color: white;
        border: 0;
    }
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.ntt--entry-name {
    font-family: 'Open Sans Condensed', sans-serif;
    
    .ntt--txt {
        display: inline-block;
        @include y-margin();
        color: #5c4f4a;
        font-weight: bold;
        font-size: 3em;
    }
}

.ntt--entries-nav {

    li,
    .page---text {
        display: none;
    }

    .next-navi,
    .previous-navi {
        display: block;
    }

    .current-page---txt {
        font-weight: bold;
    }
}

.ntt--entries-nav {
    @include if-y-center;

    .navigation,
    .nav-links,
    .page-numbers {
        display: contents;
    }

    .next-navi {
        order: 1;
    }
}

.entry-navi {

    .value---line {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.375rem;
    }

    .property---line {
        margin-bottom: -1rem;
        color: $faint-color;
        font-weight: bold;
        font-size: .875rem;
        text-transform: uppercase;
        letter-spacing: .125em;
    }

    .entry---text {
        display: none;
    }
}

.ntt--entry-breadcrumbs-nav {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.ntt--ntt--entry-breadcrumbs-navi---current {
    color: $faint-color--hi;
}

.entry {
    @include y-margin(2rem);
}

.entry-header {

    .ntt--comments-actions-snippet {
        display: none;
    }
}

.ntt--entry-author-label {
    display: none;
}

.cm-author-avatar {

    .img {
        width: 2rem;
        height: 2rem;
    }

    img {
        border-radius: 50%;
        overflow: hidden;
    }
}

.cm-author-name {

    a {
        color: inherit;
    }
}

.ntt--entry-categories {

    a {
        color: $primary-color;
    }
}

.ntt--entry-axns {
    padding: 1rem;
}

.ntt--entry-categories-name {
    display: none;
}

.ntt--entry-name {
    @include y-padding();
}

.ntt--modify-entry-axn {

    .ntt--txt {
        @include if-y-center;
        padding: .5rem 1rem;
        min-height: 2.25rem;
        background-color: $primary-color;
        color: white;
        border-radius: $corner-radius-s;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
    }
}

.ntt--shocking-entry {

    .ntt--entry-full-content {
        background-color: #FF0090;
        color: #01E1FF;
    }
}

//--------------------------------------------------------------
// Entry DateTime
//--------------------------------------------------------------

.ntt--entry-published-datetime-label,
.cm-time,
.ntt--entry-modified-datetime {
    display: none;
}

.ntt--updated-entry {

    .ntt--entry-published-datetime {
        display: none;
    }

    .ntt--entry-modified-datetime {
        display: block;
    }
}

.ntt--entry-datetime {
    flex: none;
}

//--------------------------------------------------------------
// Content
//--------------------------------------------------------------

.ntt--content {
    font-size: $font-size-l;
    line-height: 1.8;

    blockquote {
        font-size: $font-size-l;

        cite {
            display: block;
            margin-top: 1em;
            color: gray;
            font-style: normal;
        }
    }
}

.ntt--content {

    > {

        hr {
            @include x-padding();
            margin: 2em 1rem;
        }
    }
}

.ntt--entry-full-content {

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans Condensed', sans-serif;
    }

    .initial-letter {
        margin-top: .11em;
        margin-right: .11em;
        line-height: .85;
    }

    p.has-drop-cap:not(:focus) {

        &:first-letter {
            @extend .initial-letter;
        }

        &:after {
            padding-top: 0;
        }
    }
}

.ntt--content-snippet {

    a {
        color: inherit;
    }
}

.ntt--show-more-axn {
    padding: 1rem;

    .txt {
        padding: .75rem 1rem;
        border: 2px solid $primary-color;
        line-height: 1;
        border-radius: $corner-radius-s;
    }
}

//--------------------------------------------------------------
// [Post Format] Status in Plural View
//--------------------------------------------------------------

.ntt--multiple-entries {

    .format-quote {

        .ntt--entry-full-content {
    
            > blockquote {
                @include x-margin();
            }
        }
    
        &.ntt--empty-entry-name {
            
            .entry-heading,
            .entry-author,
            .ntt--entry-categories {
                display: none;
            }
    
            @at-root .cssgrid#{&} {
    
                &.ntt--entry {
                    display: grid;
                    grid-template:
                        'main header'
                        / 1fr auto;
                }
        
                .ntt--entry-header {
                    display: initial;
                }
    
                .entry-header {
                    order: 1;
                }
    
                .ntt--entry-full-content {
    
                    > blockquote {
                        @include y-margin(1rem);
                    }
                }
            }
        }
    }
}

//--------------------------------------------------------------
// Comment
//--------------------------------------------------------------

.ntt--comment-md {
    display: none;
}

//--------------------------------------------------------------
// [NTT Feature] Search - Compact
//--------------------------------------------------------------

.ntt--search---compact {

    .ntt--search {

        .text-input {
            padding-left: 1rem;
            background-color: white;
            border: 1px solid $faint-color--hi;
            border-right: 0;
            border-radius: $corner-radius-s;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        button {
            border-radius: $corner-radius-s;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

//--------------------------------------------------------------
// Current Index View
//--------------------------------------------------------------

.ntt--current-index {
    
    .ntt--entity-view-heading {
        display: none;
    }
}

//--------------------------------------------------------------
// Page View
//--------------------------------------------------------------

.page-view {

    .entry-nav,
    .entry-primary-meta,
    .ntt--comment-md {
        display: none;
    }

    .entry-header {

        .ntt--comments-actions-snippet {
            display: none;
        }
    }

    .ntt--entry-primary-meta {
        display: none;
    }
}

//--------------------------------------------------------------
// Archive Index View
//--------------------------------------------------------------

.ntt--archive-index{

    .ntt--entity-view-heading {

        .archive---text {
            display: none;
        }
    }
}

//--------------------------------------------------------------
// Entity Main Main Aside
//--------------------------------------------------------------

.ntt--entity-main-main-aside {

    .ntt--widget {
        position: relative;
        @include y-padding(1rem);
        background-color: #F6F5F1;
        border-bottom: 1px solid #DEDAD2;

        ul {
            list-style-type: none;
	        counter-reset: li;
        }

        li {
            position: relative;
            @include y-padding(.25rem);
            border-top: 1px solid #EDCBC5;

            &:first-child {
                border-top: 0;
            }

            &:nth-child(even) {
                border-color: #C9E1E4;
            }

            &:before {
                position: absolute;
                right: 100%;
                margin-right: .5rem;
                content: counter(li, decimal)'.';
                counter-increment: li;
                color: #b0a8a4;
            }

            a {
                color: #5c4f4a;
            }
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 1rem 1rem;
            border-color: transparent transparent #DEDAD2 transparent;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 100%;
            width: calc(100% - 1rem);
            height: 1rem;
            background-color: #F6F5F1;
        }
    }

    .ntt--widget-name {
        color: #5c4f4a;
    }
}