@import '../../../../../assets/styles/source/rules';

$cherry-blossom-pink: hsl(0, 100%, 80%);
$primary-color: $cherry-blossom-pink;
$large-font-size: 1.125em;

//--------------------------------------------------------------
// Hide Stuff
//--------------------------------------------------------------

.entry-author-glabel,
.ntt--entry-published-datetime-label,
.cm-time,
.entry-categories-name,
.ntt--comment-published-datetime-label {
    display: none;
}
    
html[data-scroll-y-percentage~="100"] {
    position: initial;
}

//--------------------------------------------------------------
// Body
//--------------------------------------------------------------

body {
    font-family: 'Noto Serif JP';
}

//--------------------------------------------------------------
// Current Index View
//--------------------------------------------------------------

.ntt--current-index {
    
    .ntt--entity-view-heading {
        display: none;
    }
}

//--------------------------------------------------------------
// Singular View
//--------------------------------------------------------------

.ntt--single-entry {

    .ntt--entry-banner-visuals {

        img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
        }
    }
}

//--------------------------------------------------------------
// Page View
//--------------------------------------------------------------

.page-view {

    .entry-nav,
    .entry-primary-meta,
    .ntt--comment-md {
        display: none;
    }

    .entry-header {

        .ntt--comments-actions-snippet {
            display: none;
        }
    }
}

//--------------------------------------------------------------
// Entity
//--------------------------------------------------------------

.ntt--entity-name {
    font-size: 2rem;
}

.ntt--entity-name {
    font-family: 'Great Vibes';
    font-weight: normal;

    a {
        color: inherit;
    }
}

.ntt--entity-view-name {
    font-size: $large-font-size;

    a {
        color: inherit;
    }
}

.entity-view-heading,
.ntt--entity-header,
.ntt--entity-secondary-info {
    text-align: center;
}

.ntt--entity-header-aside {

    .ntt--search {
        @include x-margin(auto);
        max-width: 25rem;
    }
}

//--------------------------------------------------------------
// Entity Secondary Info
//--------------------------------------------------------------

.ntt--entity-secondary-name,
.ntt--entity-copyright,
.ntt--entity-maker-tag {
    font-size: .875rem;
}

//--------------------------------------------------------------
// Entity Primary Navigation
//--------------------------------------------------------------

.ntt--entity-primary-nav {

    a {
        color: inherit;
        @include transition;

        &:hover {
            background-color: hsla(11, 100%, 93%, .25);
            text-decoration: none;
            border-radius: .125rem;
        }
    }
}

.ntt--entity-primary-nav {
    @extend %border;
    border-left: 0;
    border-right: 0;
}

.ntt--entity-primary-nav {
    font-size: 1.25rem;
}

.ntt--entity-primary-nav-group {
    justify-content: center;
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.entry {
    @include y-margin(1rem);

    .ntt--current-index-view & {
        
        &:first-of-type {
            margin-top: 0;
        }
    }
}

.entry-header {

    .ntt--comment-axn {
        display: none;
    }

    .ntt--disabled-comments-note {
        display: none;
    }
}

.ntt--entry-heading{

    .entry-breadcrumbs-nav,
    .ntt--entry-categories {
        flex: 1 100%;
    }
}

.ntt--entries-page-indicator {
    display: none;
}

//--------------------------------------------------------------
// Entry DateTime
//--------------------------------------------------------------

.ntt--entry-datetime {
    flex-basis: auto;
}

.ntt--entry-modified-datetime {
    display: none;
}

.ntt--entry---updated {

    .ntt--entry-modified-datetime {
        display: block;
    }

    .ntt--entry-published-datetime {
        display: none;
    }
}

.ntt--entry-modified-datetime-label {

    .on---text {
        display: none;
    }
}

.ntt--entry-author-label {
    @extend %faint-label;
}

.entry-published-datetime-label {
    @extend %faint-label;
}

.ntt--entry-modified-datetime-label {
    @extend %faint-label;
}

.cm-author-avatar {

    .img {
        border-radius: 50%;
        overflow: hidden;
    }
}

//--------------------------------------------------------------
// Entry Primary Meta
//--------------------------------------------------------------

.ntt--entry-primary-meta {

    .ntt--entry-categories {
        display: none;
    }
}

.ntt--modify-entry-axn {

    a {
        padding: .5rem;
        color: white;
    }

    .ntt--txt {
        padding: .25em .75em;
        background-color: $primary-color;
        border-radius: .125em;
    }
}

//--------------------------------------------------------------
// Drop Cap, Initial Letter
//--------------------------------------------------------------

.ntt--entry-full-content {

    .initial-letter {
        margin-top: -.1em;
        margin-right: .1em;
        font-size: 8rem;
    }
}

p.has-drop-cap:not(:focus) {

    &:first-letter {
        @extend .initial-letter;
    }
}

//--------------------------------------------------------------
// Entry Content
//--------------------------------------------------------------

.ntt--entry-content {
    font-size: $large-font-size;
}

.entry-content,
.ntt--comment-content {
    line-height: 1.8;

    blockquote {
        font-size: $large-font-size;
    }
}

//--------------------------------------------------------------
// Entry Summary Content
//--------------------------------------------------------------

.ntt--current-index-view,
.ntt--archive-index-view,
.ntt--single-entry {

    .ntt--entry-summary-content {
        font-size: $large-font-size;
    }
}

//--------------------------------------------------------------
// Entry Name
//--------------------------------------------------------------

.ntt--entry-name {
    font-size: 2rem;

    a {
        color: inherit;
    }
}

//--------------------------------------------------------------
// Show More Action
//--------------------------------------------------------------

.ntt--show-more-axn {
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1rem;

    a {
        display: inline-block;

        &:hover {

            .ntt--txt {
                background-color: $cherry-blossom-pink;
                border-color: $cherry-blossom-pink;
            }
        }
    }

    .ntt--txt {
        display: block;
        padding: .5rem 1rem;
        @extend %border;
        border-color: black;
        @include transition;
    }
}

//--------------------------------------------------------------
// Content
//--------------------------------------------------------------

.ntt--content {

    a {
        color: inherit;
        background-image: linear-gradient(0deg, hsla(11, 100%, 93%, .9) 25%, transparent 0);

        &:hover {
            text-decoration: none;
            background-image: linear-gradient(0deg, hsl(10, 100%, 90%) 25%, transparent 0);
        }

        &[href*="flickr.com/"] {
            display: block;
            background-image: none;
        }
    }

    .ntt--show-more-axn {

        a {
            background-image: none;

            &:hover {
                color: white;
                background-image: none;
            }
        }
    }

    .ntt--entry-content-snippet {
        
        a {
            background-image: none;
    
            &:hover {
                background-image: none;
            }
        }
    }
}

//--------------------------------------------------------------
// Entry Tags
//--------------------------------------------------------------

.ntt--entry-tags {
    margin-top: 3rem;
}

.ntt--entry-tags-name {
    position: relative;
    padding: 2rem 0;
    margin: -1rem .5rem;

    // Visual Design: Line
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: calc(100% - 1rem);
        height: .125rem;
        background-color: $faint-color--med;
        transform: translateX(-50%);
    }
}

//--------------------------------------------------------------
// Comments
//--------------------------------------------------------------

.ntt--comment-composition-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.ntt--comment-name {
    display: none;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
}

.ntt--admin-user {

    .ntt--comment-name {
        display: block;
    }
}

.ntt--comment-author-label {
    display: none;
}

.ntt--modify-comment-axn {
    @extend .ntt--modify-entry-axn;
}

.ntt--comments-name {
    font-size: $large-font-size;
    font-weight: bold;
}

.ntt--comments-header {

    .ntt--comments-count {
        
        a {
            color: inherit;
        }
    }
}

.ntt--comment-reply-axn {
        
    .ntt--requirement-txt {
        @extend %faint-label;
        @include ib-y-center;
    }
}

.ntt--comment-axn {
        
    .ntt--requirement-txt {
        @extend %faint-label;
        @include ib-y-center;
    }
}

.ntt--comment-form {

    .field-label---txt {
        font-weight: bold;
    }
}

.comment {
    padding: .5rem 1rem;
}

.ntt--comment{
    @extend %border;
}

.ntt--comments-thread-limit---max {

    .ntt--comment{
        padding-bottom: 1rem;
    }
}

.ntt--cancel-reply-axn {

    a {
        color: $faint-color;
    }

    .ntt--reply-text {
        display: none;
    }
}

.ntt--comment-published-datetime {
    flex-basis: auto;
}

.comment-respond {
    margin: .5rem 1rem;
    @extend %border;
}

.ntt--log-out-account-axn {

    a {
        color: $faint-color;
    }
}

.ntt--comment-published-datetime-label {
    @extend %faint-label;
}

.ntt--comments---empty {

    .ntt--comments-main {
        display: none;
    }

    .entry-header {

        .ntt--comments-actions-snippet {
            display: none;
        }
    }
}

//--------------------------------------------------------------
// Note
//--------------------------------------------------------------

.ntt--note {
    padding: 1rem;
}

.ntt--note {
    padding: .03125rem;
    background-color: aliceblue;
}

//--------------------------------------------------------------
// Widget Blog Subscription
//--------------------------------------------------------------

.widget_blog_subscription {
    padding: 1rem;
    background-color: hsla(11, 100%, 93%, .25);
    border-radius: .125rem;

    .ntt--widget-name {
        margin-bottom: 0;
    }

    button {
        width: 100%;
        background-color: $cherry-blossom-pink;
    }
}

//--------------------------------------------------------------
// Complimentary Close
//--------------------------------------------------------------

.complimentary-close {
    display: inline-flex;
    flex-direction: column;
    margin-top: 1rem;

    .compliment---txt {
        font-weight: bold;
    }
    
    .author-name---txt {
        display: inline-block;
        transform: rotate(-2deg);
        font-size: 3rem;
        font-family: 'Great Vibes';
    }
}

.akismet_comment_form_privacy_notice {
    @include x-margin(1rem);
}

//--------------------------------------------------------------
// Small Width and Up
//--------------------------------------------------------------

@include mq(s-vp) {

    .widget_blog_subscription {

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @include x-margin(auto);
            max-width: 30rem;

            p {
                @include y-margin();
            }
        }

        #subscribe-text {
            flex: 1 100%;
        }

        #subscribe-email {
            flex: 1 70%;

            input {
                width: 100%;
            }
        }
    
        input[type="email"] {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

//--------------------------------------------------------------
// Medium Width and Up
//--------------------------------------------------------------

@include mq(m-vp) {

    .ntt--entity-name {
        font-size: 3rem;
    }

    .ntt--entries {
        display: flex;
        flex-wrap: wrap;
    }

    .ntt--entity-primary-nav {
        @include y-padding(.5rem);
    }

    .ntt--entity-main-main-aside---1 {

        .ntt--entity {
            @include x-padding(1rem);
        }
    }

    .ntt--multiple-entries {

        .entry {
            flex: 1 100%;
        }

        &.ntt--first-page {
            
            .ntt--entry---sticky {
                flex: 1 50%;

                .entry-main,
                .ntt--entry-footer {
                    display: none;
                }

                &:first-of-type {
                    flex: 1 100%;
                }
            }

            // Sticky Entry
            @supports (display: grid) {
                $unsticky-banner-height: 30rem;
                $sticky-banner-height: 50vh;
                $sticky-banner-min-height: 20rem;

                .ntt--entry-banner-visuals---1 {

                    &.ntt--entry---unsticky {

                        .ntt--entry {
                            display: grid;
                            grid-template:
                                'banner heading .'
                                'banner actions .'
                                'banner meta comments'
                                'banner main .' 1fr
                                'footer . .'
                                / 40% auto 1fr;
                        }
            
                        .entry-header,
                        .ntt--entry-header {
                            display: contents;
                        }
            
                        .ntt--entry-banner {
                            grid-area: banner;
                            width: 100%;
                            height: $unsticky-banner-height;
                        }

                        .ntt--entry-banner {
                            @include y-padding();
                        }
            
                        .entry-heading {
                            grid-area: heading;
                            grid-column: heading / -1;
                        }
            
                        .entry-header {
            
                            .ntt--entry-axns {
                                grid-area: actions;
                                grid-column: actions / -1;
                                align-self: center;
                            }
            
                            .ntt--comments-actions-snippet {
                                grid-area: comments;
                                align-self: center;
                            }
                        }
                        
                        .ntt--entry-primary-meta {
                            grid-area: meta;
                        }
            
                        .ntt--entry-main {
                            grid-area: main;
                            grid-column: main / -1;
                        }
            
                        .ntt--entry-footer {
                            grid-area: footer;
                            grid-column: footer / -1;
                        }
                    
                        .ntt--entry-banner-visuals {
                
                            img {
                                height: $unsticky-banner-height;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .ntt--entry---sticky {

                    .entry-main,
                    .ntt--entry-footer {
                        display: none;
                    }

                    .ntt--entry-header {
                        display: grid;
                        grid-template:
                            'heading .' 1fr
                            'actions .'
                            'meta comments'
                            'main .'
                            / auto 1fr;
                    }
            
                    .entry-heading {
                        grid-area: heading;
                        grid-column: heading / -1;
                        align-self: flex-end;
                    }

                    .entry-header {
            
                        .ntt--entry-axns {
                            grid-area: actions;
                            grid-column: actions / -1;
                            align-self: center;
                        }
        
                        .ntt--comments-actions-snippet {
                            grid-area: comments;
                            align-self: center;
                        }
                    }
                        
                    .ntt--entry-primary-meta {
                        grid-area: meta;
                    }

                    .ntt--entry-banner {
                        grid-area: heading;
                        grid-row: heading / -1;
                        grid-column: heading / -1;
                        z-index: -1;
                        width: 100%;
                        height: $sticky-banner-height;
                        min-height: $sticky-banner-min-height;
                    }

                    .ntt--entry-banner-visuals {
                        @include x-padding();
                        margin-bottom: 0;
            
                        img {
                            height: $sticky-banner-height;
                            min-height: $sticky-banner-min-height;
                            object-fit: cover;
                        }
                    }

                    .ntt--entry-name {

                        a {

                            &:hover {
                                text-decoration: none;

                                .ntt--txt {
                                    background-image: linear-gradient(0deg, hsl(10, 100%, 90%) 65%, transparent 0);
                                }
                            }
                        }

                        .ntt--txt {
                            background-image: linear-gradient(0deg, hsla(11, 100%, 93%, .9) 65%, transparent 0);
                        }
                    }

                    &:first-of-type {
                        $first-sticky-banner-height: 70vh;
        
                        .ntt--entry-banner {
                            height: $first-sticky-banner-height;
                        }
        
                        .ntt--entry-banner-visuals {
                
                            img {
                                height: $first-sticky-banner-height;
                            }
                        }
                    }
                }

                .ntt--entry-banner-visuals---0 {

                    &.ntt--entry---sticky {

                        .ntt--entry-header {
                            height: $sticky-banner-height;
                            min-height: $sticky-banner-min-height;
                            background-color: hsla(11, 100%, 93%, .25);
                        }
                    }
                }
            }
        }
    }
}

//--------------------------------------------------------------
// Large Width and Up
//--------------------------------------------------------------

@include mq(l-vp) {

    .ntt--entity {
        @include x-margin(auto);
        max-width: $m-vp;
    }

    .ntt--entity-main-main-aside---1,
    .entry-main-aside--1 {
        
        .ntt--entity {
            max-width: none;
        }
    }
}

//--------------------------------------------------------------
// Extra-Large Width and Up
//--------------------------------------------------------------

@include mq(xl-vp) {

    .ntt--entity {
        max-width: $xl-vp;
    }
}