.ntt--site-id--brian-dys-uxd {
    background-color: #ebebeb;

    .ntt--entity-main-header,
    .ntt--entry-modified-datetime,
    .ntt--entry-author-label,
    .ntt--entry-published-time,
    .ntt--comments-actions-snippet,
    .ntt--entry-published-datetime-label,
    .ntt--entry-categories-name,
    .ntt--comment-md,
    .ntt--entry-author,
    .ntt--entries-page-indicator {
        display: none;
    }

    .ntt--entity {
        background-color: #f2f2f2;
    }

    .ntt--entry-author-avatar {
    
        .ntt--img {
            padding: .5rem;
        }
    }

    .ntt--entry-name {
        font-size: 3rem;
    }

    .ntt--entry {
        @include y-margin(2rem);
    }

    .ntt--entry-categories {
        @include if-y-center;
    }

    .ntt--entry-datetime,
    .ntt--entry-author,
    .ntt--entry-categories {
        width: auto;
    }

    .ntt--entry-name---empty {

        .ntt--entry-heading {
            display: none;
        }
    }

    .ntt--entries-nav {

        ul {
            justify-content: center;
        }
    }

    .ntt--entity-name {

        a {
            color: inherit;
        }
    }

    .ntt--content {
        
        figure {
            display: block;
        }
    }

    &.ntt--page--topics--view {

        .ntt--entry-full-content {

            ul {
                @include unlist;
                @include if-y-center;

                a {
                    border: 2px solid $ink-color;
                    border-radius: 10rem;
                    padding: .5rem 1rem;
                    @include transition;

                    &:hover {
                        text-decoration: none;
                        background-color: $ink-color;
                    }
                }
            }

            li {
                margin: 1rem;
            }
        }
    }

    @include mq(l-vp) {

        .ntt--entity-main-footer {
            @include x-padding(2.5rem);
            @include y-margin(2rem);
        }

        .ntt--entry-md {
            @include x-padding(2.5rem);
        }
    }
}