@import '../../../../../assets/styles/source/rules';

//--------------------------------------------------------------
// Page View
//--------------------------------------------------------------

.page-view {

    .entry-nav,
    .entry-primary-meta,
    .comment-md {
        display: none;
    }

    .entry-header {

        .comments-actions-snippet {
            display: none;
        }
    }
}

//--------------------------------------------------------------
// Entity
//--------------------------------------------------------------

.entity-main {
    background-color: hsla(0, 0%, 50%, .0625);
}

//--------------------------------------------------------------
// Primary Menu
//--------------------------------------------------------------

.primary-menu-aside {
    width: 3rem;
    height: 3rem;
    background-color: red;
}

.primary-menu-aside---cr {
    display: none;
}

//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------

.cssgrid {

    .entity-header---cr {
        display: grid;
        grid-template:
            'heading nav axns'
            / auto 1fr auto;
    }

    .primary-actions-aside {
        grid-area: axns;
        align-self: center;
    }

    .entity-primary-heading {
        grid-area: heading;
        align-self: center;
    }

    .entity-primary-nav {
        grid-area: nav;
        align-self: center;
    }
}

.primary-actions-aside---cr {
    display: inline-flex;
    align-items: center;

    .widget {
        @include y-margin();
    }
}

.entry---cr {
    @extend %border;
    @include x-margin(1rem);
    background-color: white;
    border-radius: .25rem;
}

.wp-customizer-color-scheme--custom {

    .entity-primary-name a,
    .entity-primary-description {
        color: white;
    }
}

.entity-logo--1 {

    .entity-primary-logo {

        img {
            max-height: 3rem;
        }
    }

    .entity-primary-name,
    .entity-primary-description {
        
        .txt {
            @include y-padding();
        }
    }

    &.entity-primary-name-description--1 {

        &.entity-primary-name--1 {

            &.entity-primary-description--1 {

                &.cssgrid {

                    .entity-primary-heading---cr {
                        display: grid;
                        grid-template:
                            'logo name'
                            '. description'
                            / auto 1fr
                    }
            
                    .entity-primary-logo {
                        grid-area: logo;
                        grid-row: logo / -1;
                        align-self: center;
                    }
            
                    .entity-primary-name {
                        grid-area: name;
                        align-self: flex-end;
                    }
            
                    .entity-primary-description {
                        grid-area: description;
                        align-self: flex-start;
                    }
                }
            }

            &.entity-primary-description--0 {

                &.cssgrid {

                    .entity-primary-heading---cr {
                        display: grid;
                        grid-template:
                            'logo name'
                            / auto 1fr
                    }
            
                    .entity-primary-logo {
                        grid-area: logo;
                        align-self: center;
                    }
            
                    .entity-primary-name {
                        grid-area: name;
                        align-self: center;
                    }
                }
            }
        }

        &.entity-primary-name--0 {

            &.entity-primary-description--1 {

                &.cssgrid {

                    .entity-primary-heading---cr {
                        display: grid;
                        grid-template:
                            'logo description'
                            / auto 1fr
                    }
            
                    .entity-primary-logo {
                        grid-area: logo;
                        align-self: center;
                    }
            
                    .entity-primary-description {
                        grid-area: description;
                        align-self: center;
                    }
                }
            }
        }
    }
}

.entity-primary-heading---cr {

    .entity-primary-name-description--0.entity-logo--0 &, {
        padding: 0;
    }
}

//--------------------------------------------------------------
// Medium Width and Up
//--------------------------------------------------------------

@include mq(m-vp) {

    .entity-main-main-aside--1 {

        .entry-md {
            flex: 0 60%;
        }
        .entity-main-main-aside {
            flex: 0 20%;
            order: -1;
        }
    }
}

.entity-primary-name {

    a {
        display: block;
    }

    .txt {
        @extend %ir;
        padding: 0;
        width: 80px;
        height: 22px;
        background-image: url("data:image/svg+xml,%3Csvg fill='%23b92b27' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 201 56'%3E%3Cpath d='M29 43.6c-2-3.8-4.2-7.6-8.6-7.6-.8 0-1.6.2-2.4.5l-1.5-3a13 13 0 0 1 8.5-2.8c5.9 0 8.9 2.9 11.3 6.5 1.4-3.1 2-7.3 2-12.4 0-12.9-4-19.5-13.3-19.5s-13.3 6.6-13.3 19.5c0 12.8 4 19.3 13.3 19.3 1.4 0 2.8-.1 4-.5zm2.3 4.5A24.4 24.4 0 0 1 .5 24.8C.5 10.3 12.6.5 25 .5c12.6 0 24.6 9.7 24.6 24.3 0 8-3.8 14.6-9.3 18.9 1.8 2.6 3.6 4.4 6.2 4.4 2.7 0 3.9-2.1 4-3.8H54c.3 2.2-.9 11.5-11 11.5-6 0-9.3-3.5-11.7-7.7zM57.4 35.8V19.3c0-2-.7-2.8-2.8-2.8h-2.4v-4.4h15.1v23.5c0 4 2.2 5.7 5.4 5.7 2.7 0 5.4-1.2 6.8-3.9V19.3c0-2-.7-2.8-2.8-2.8h-2.5v-4.4h15.2v24.6c0 2.5 1 3.6 3.7 3.6h.5v4.5L80 47v-4.7h-.3a14.3 14.3 0 0 1-11.6 5.4c-6 0-10.7-3-10.7-11.9M113.4 43.3c5.4 0 7.4-4.7 7.5-14 .1-9.2-2.1-13.7-7.5-13.7-4.7 0-7.6 4.5-7.6 13.7 0 9.3 2.9 14 7.6 14zm0 4.4c-9.7 0-18.4-7.4-18.4-18.4 0-10.9 8.5-18 18.4-18 10.3 0 18.6 7.3 18.6 18a18 18 0 0 1-18.6 18.4zM132.3 47v-4.4h1.5c3.6 0 4-1 4-4.2V19.3c0-2-1-2.8-3.2-2.8h-2v-4.4h13.8l.7 7.2h.3c1.5-5.1 5.7-7.9 9.5-7.9 3.2 0 5.7 1.8 5.7 5.5 0 2.6-1.2 5.3-4.7 5.3-3 0-3.7-2-6.2-2-2.3 0-4.1 2-4.1 5.3v13c0 3 .8 4.1 4.3 4.1h2V47h-21.6M178.3 41.9c4.4 0 6.2-4.2 6.2-8.4V28c-3.2 3.4-10.7 3.5-10.7 9.4 0 3 1.8 4.6 4.5 4.6zm6.4 0c-1.8 3.5-5.5 5.8-10.7 5.8-6 0-10-3.2-10-8.9 0-11.4 15.9-8.3 20.5-15.9v-.8c0-5.8-2.3-6.7-4.8-6.7-7 0-3.8 7.6-10.3 7.6-3.1 0-4.3-1.9-4.3-4 0-4.3 5-7.8 14.7-7.8 9.1 0 14.7 2.5 14.7 11.6v14.5c0 2.2.8 3.4 2.8 3.4.8 0 1.5-.2 2-.6l1.2 2.9c-1 1.4-3.5 4-8.3 4-4.2 0-6.8-2-7.2-5.1h-.3z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
    }
}