@import '../../../assets/styles/source/rules';

.ntt--kid-ntt--feature--scroll-y {

    &[data-scroll-y-percentage] {

        // Page Length Progress Bar
        &::before {
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            height: .125rem;
            width: 0%;
            background-color: transparent;
            @include transition;
            opacity: .5;
            transform: translate3d(0px, 0px, 0px);
        }
    }

    @for $i from 5 through 100 {

        @if $i % 1 == 0 {
            $width: percentage($i / 100);
            $hue: $i * 3.6;
        
            &[data-scroll-y-percentage~="#{$i}"] {

                &::before {
                    width: $width;
                    background-color: hsla($hue, 100%, 50%, .5);
                }
            }
        }
    }
}