/* Screen Reader Text ------------------------ */
.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage]::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  height: .125rem;
  width: 0%;
  background-color: transparent;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  opacity: .5;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="5"]::before {
  width: 5%;
  background-color: rgba(255, 77, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="6"]::before {
  width: 6%;
  background-color: rgba(255, 92, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="7"]::before {
  width: 7%;
  background-color: rgba(255, 107, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="8"]::before {
  width: 8%;
  background-color: rgba(255, 122, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="9"]::before {
  width: 9%;
  background-color: rgba(255, 138, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="10"]::before {
  width: 10%;
  background-color: rgba(255, 153, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="11"]::before {
  width: 11%;
  background-color: rgba(255, 168, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="12"]::before {
  width: 12%;
  background-color: rgba(255, 184, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="13"]::before {
  width: 13%;
  background-color: rgba(255, 199, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="14"]::before {
  width: 14%;
  background-color: rgba(255, 214, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="15"]::before {
  width: 15%;
  background-color: rgba(255, 230, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="16"]::before {
  width: 16%;
  background-color: rgba(255, 245, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="17"]::before {
  width: 17%;
  background-color: rgba(250, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="18"]::before {
  width: 18%;
  background-color: rgba(235, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="19"]::before {
  width: 19%;
  background-color: rgba(219, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="20"]::before {
  width: 20%;
  background-color: rgba(204, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="21"]::before {
  width: 21%;
  background-color: rgba(189, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="22"]::before {
  width: 22%;
  background-color: rgba(173, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="23"]::before {
  width: 23%;
  background-color: rgba(158, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="24"]::before {
  width: 24%;
  background-color: rgba(143, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="25"]::before {
  width: 25%;
  background-color: rgba(128, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="26"]::before {
  width: 26%;
  background-color: rgba(112, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="27"]::before {
  width: 27%;
  background-color: rgba(97, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="28"]::before {
  width: 28%;
  background-color: rgba(82, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="29"]::before {
  width: 29%;
  background-color: rgba(66, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="30"]::before {
  width: 30%;
  background-color: rgba(51, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="31"]::before {
  width: 31%;
  background-color: rgba(36, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="32"]::before {
  width: 32%;
  background-color: rgba(20, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="33"]::before {
  width: 33%;
  background-color: rgba(5, 255, 0, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="34"]::before {
  width: 34%;
  background-color: rgba(0, 255, 10, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="35"]::before {
  width: 35%;
  background-color: rgba(0, 255, 26, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="36"]::before {
  width: 36%;
  background-color: rgba(0, 255, 41, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="37"]::before {
  width: 37%;
  background-color: rgba(0, 255, 56, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="38"]::before {
  width: 38%;
  background-color: rgba(0, 255, 71, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="39"]::before {
  width: 39%;
  background-color: rgba(0, 255, 87, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="40"]::before {
  width: 40%;
  background-color: rgba(0, 255, 102, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="41"]::before {
  width: 41%;
  background-color: rgba(0, 255, 117, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="42"]::before {
  width: 42%;
  background-color: rgba(0, 255, 133, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="43"]::before {
  width: 43%;
  background-color: rgba(0, 255, 148, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="44"]::before {
  width: 44%;
  background-color: rgba(0, 255, 163, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="45"]::before {
  width: 45%;
  background-color: rgba(0, 255, 179, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="46"]::before {
  width: 46%;
  background-color: rgba(0, 255, 194, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="47"]::before {
  width: 47%;
  background-color: rgba(0, 255, 209, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="48"]::before {
  width: 48%;
  background-color: rgba(0, 255, 224, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="49"]::before {
  width: 49%;
  background-color: rgba(0, 255, 240, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="50"]::before {
  width: 50%;
  background-color: rgba(0, 255, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="51"]::before {
  width: 51%;
  background-color: rgba(0, 240, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="52"]::before {
  width: 52%;
  background-color: rgba(0, 224, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="53"]::before {
  width: 53%;
  background-color: rgba(0, 209, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="54"]::before {
  width: 54%;
  background-color: rgba(0, 194, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="55"]::before {
  width: 55%;
  background-color: rgba(0, 179, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="56"]::before {
  width: 56%;
  background-color: rgba(0, 163, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="57"]::before {
  width: 57%;
  background-color: rgba(0, 148, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="58"]::before {
  width: 58%;
  background-color: rgba(0, 133, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="59"]::before {
  width: 59%;
  background-color: rgba(0, 117, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="60"]::before {
  width: 60%;
  background-color: rgba(0, 102, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="61"]::before {
  width: 61%;
  background-color: rgba(0, 87, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="62"]::before {
  width: 62%;
  background-color: rgba(0, 71, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="63"]::before {
  width: 63%;
  background-color: rgba(0, 56, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="64"]::before {
  width: 64%;
  background-color: rgba(0, 41, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="65"]::before {
  width: 65%;
  background-color: rgba(0, 26, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="66"]::before {
  width: 66%;
  background-color: rgba(0, 10, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="67"]::before {
  width: 67%;
  background-color: rgba(5, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="68"]::before {
  width: 68%;
  background-color: rgba(20, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="69"]::before {
  width: 69%;
  background-color: rgba(36, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="70"]::before {
  width: 70%;
  background-color: rgba(51, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="71"]::before {
  width: 71%;
  background-color: rgba(66, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="72"]::before {
  width: 72%;
  background-color: rgba(82, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="73"]::before {
  width: 73%;
  background-color: rgba(97, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="74"]::before {
  width: 74%;
  background-color: rgba(112, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="75"]::before {
  width: 75%;
  background-color: rgba(128, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="76"]::before {
  width: 76%;
  background-color: rgba(143, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="77"]::before {
  width: 77%;
  background-color: rgba(158, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="78"]::before {
  width: 78%;
  background-color: rgba(173, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="79"]::before {
  width: 79%;
  background-color: rgba(189, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="80"]::before {
  width: 80%;
  background-color: rgba(204, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="81"]::before {
  width: 81%;
  background-color: rgba(219, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="82"]::before {
  width: 82%;
  background-color: rgba(235, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="83"]::before {
  width: 83%;
  background-color: rgba(250, 0, 255, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="84"]::before {
  width: 84%;
  background-color: rgba(255, 0, 245, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="85"]::before {
  width: 85%;
  background-color: rgba(255, 0, 230, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="86"]::before {
  width: 86%;
  background-color: rgba(255, 0, 214, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="87"]::before {
  width: 87%;
  background-color: rgba(255, 0, 199, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="88"]::before {
  width: 88%;
  background-color: rgba(255, 0, 184, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="89"]::before {
  width: 89%;
  background-color: rgba(255, 0, 168, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="90"]::before {
  width: 90%;
  background-color: rgba(255, 0, 153, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="91"]::before {
  width: 91%;
  background-color: rgba(255, 0, 138, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="92"]::before {
  width: 92%;
  background-color: rgba(255, 0, 122, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="93"]::before {
  width: 93%;
  background-color: rgba(255, 0, 107, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="94"]::before {
  width: 94%;
  background-color: rgba(255, 0, 92, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="95"]::before {
  width: 95%;
  background-color: rgba(255, 0, 77, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="96"]::before {
  width: 96%;
  background-color: rgba(255, 0, 61, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="97"]::before {
  width: 97%;
  background-color: rgba(255, 0, 46, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="98"]::before {
  width: 98%;
  background-color: rgba(255, 0, 31, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="99"]::before {
  width: 99%;
  background-color: rgba(255, 0, 15, 0.5);
}

.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="100"]::before {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}
