/* Screen Reader Text ------------------------ */
.ntt--user-functions details {
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.ntt--user-functions details h2,
.ntt--user-functions details h3,
.ntt--user-functions details h4 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
}

.ntt--user-functions details .ntt--count {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: .5rem .75rem;
  min-width: 2.5rem;
  min-height: 2rem;
  background-color: rgba(0, 0, 0, 0.03125);
  color: #1f2023;
  border-radius: 0.125rem;
  font-size: 1rem;
  line-height: normal;
  transition: all 0.3s ease-in-out;
}

.ntt--user-functions summary {
  display: inline-block;
}

.ntt--user-functions summary:hover {
  cursor: pointer;
}

.ntt--user-functions summary::marker {
  color: #0060e6;
}

.ntt--user-functions summary::-webkit-details-marker {
  color: #0060e6;
}

.ntt--user-functions-heading {
  display: inline-block;
}

.ntt--user-functions-count {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: .5rem .75rem;
  min-width: 2.5rem;
  min-height: 2rem;
  background-color: rgba(0, 0, 0, 0.03125);
  color: #1f2023;
  border-radius: 0.125rem;
  font-size: 1rem;
  line-height: normal;
  transition: all 0.3s ease-in-out;
}
