//--------------------------------------------------------------
// Kid NTT Rules
//--------------------------------------------------------------

@import '../../../../../assets/styles/source/rules';

//--------------------------------------------------------------
// Snap Rules
//--------------------------------------------------------------

$almost-black: hsl(0, 0%, 11%);
$almost-white: hsl(0, 0%, 95%);
$blood-red: hsl(0, 100%, 45%);
$a11y-gray: hsl(0, 0%, 46%);

$ink-color: $almost-black;
$paper-color: $almost-white;
$accent-color: $blood-red;
$neutral-color: $a11y-gray;

$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$color-1: $blood-red;

$link-color: $color-1;
$content-bg-color: hsl(0, 0%, 92%);

//@import '../../../../../assets/styles/source/theme';
@import 'source/uxd';

@mixin vertical-name {
    /* Layout */
    position: absolute;
    left: 0;
    top: 0;
    margin: 3rem 0 0 -1.35rem;
    writing-mode: vertical-rl;
    /* Visual Design */
    font-size: 6rem;
    line-height: 1;
}

//--------------------------------------------------------------
// Basic
//--------------------------------------------------------------

html {
    background-color: $paper-color;
}

body {
    color: $ink-color;
    font-family: $primary-font;
}

.ntt--go-start-nav {
    display: none;
}

//--------------------------------------------------------------
// Front View & Page
//--------------------------------------------------------------

.ntt--view---front {

    &.ntt--page--view {

        .ntt--entity-secondary-nav {
            display: none;
        }

        .ntt--entity-secondary-info {
            @extend %vh;
            color: $neutral-color;
            background-color: $ink-color;
            
            a {
                color: $neutral-color;
            }
        }
    }
}

//--------------------------------------------------------------
// Entity
//--------------------------------------------------------------

.ntt--entity-main {
    background-color: $content-bg-color;
}

.ntt--entity-secondary-info {
    background-color: $content-bg-color;
    font-size: .875rem;
}

.ntt--entity-secondary-info {
    text-align: center;
}

.ntt--entity-header-aside {
    display: none;
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.ntt--entry {

    .ntt--content {
        font-size: 1.125rem;
        line-height: 1.5;
    }
}

//--------------------------------------------------------------
// Page View
//--------------------------------------------------------------

.ntt--page--view {

    //--------------------------------------------------------------
    // Hide Stuff
    //--------------------------------------------------------------

    .ntt--entry-nav,
    .ntt--entry-primary-meta,
    .ntt--comment-md,
    .ntt--entry-header .ntt--comments-actions-snippet,
    .ntt--entry-primary-meta,
    .ntt--entity-view-heading {
        display: none;
    }
    
    .ntt--entry-heading{
        display: block;
    }
    
    .ntt--entry-axns {
        display: none;
    }
    
    .post-edit-link {
    
        &:hover {
            text-decoration: none;
    
            .ntt--txt {
                background-color: $accent-color;
                border-color: $accent-color;
            }
        }
    
        .ntt--txt {
            @include x-padding(.75rem);
            color: $paper-color;
            background-color: $ink-color;
            text-transform: uppercase;
            border: 1px solid white;
            @include transition;
        }
    }

    &.ntt--site-id--brian-dys {
    
        .ntt--entry-name {
            padding: 0;
            margin-top: 2rem;
            color: $accent-color;
            text-transform: uppercase;
            word-break: normal;
            font-family: $secondary-font;
            font-size: 2rem;
        }
    }
}

//--------------------------------------------------------------
// Page: Works
//--------------------------------------------------------------

.ntt--page--works--view {
    
    //--------------------------------------------------------------
    // Entity
    //--------------------------------------------------------------
    
    .ntt--entity-main {
        background-color: $ink-color;
    }
    
    .ntt--entity-header-aside {
        display: block;
    }
    
    //--------------------------------------------------------------
    // Entry
    //--------------------------------------------------------------
    
    .ntt--entry {
        color: hsla(0, 0, 100%, .65);
        .ntt--content {
            font-size: 1.125rem;
        }
    }
}

//--------------------------------------------------------------
// Entity Primary Navigation, Entity Secondary Navigation
//--------------------------------------------------------------
.ntt--entity-primary-nav {
    @include y-margin(2rem, 1rem);
}

.ntt--entity-primary-nav {
    border: .25rem solid hsla(0, 0%, 0%, .10);
    border-left: 0;
    border-right: 0;
}

.ntt--entity-primary-nav-group {
    justify-content: center;
}

.ntt--entity-secondary-nav {
    @include y-padding(2rem);
    background-color: $content-bg-color;
    
    ul {
        @include unlist;
    }
    
    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--entity-secondary-nav-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    >li {
        padding: .5rem;
    }
}

.ntt--entity-primary-nav,
.ntt--entity-secondary-nav {
    a {
        color: $ink-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.125rem;
        @include transition;
        &:hover {
            color: $accent-color;
            text-decoration: none;
        }
    }
    .ntt--txt {
        @include x-padding(.75rem);
    }
    .current-menu-item,
    .current_page_item {
        a {
            color: $accent-color;
        }
    }
}

//--------------------------------------------------------------
// Brian Dys Works
//--------------------------------------------------------------
.brian-dys-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brian-dys-work-item {
    flex: 1 15rem;
    .title {
        font-weight: 800;
        font-size: 1.5rem;
        font-family: $secondary-font;
        a {
            color: $paper-color;
            @include transition;
            &:hover {
                color: $accent-color;
                text-decoration: none;
            }
        }
    }
    .sub-title {
        color: $neutral-color;
        font-family: $secondary-font;
    }
    .glyph {
        text-align: center;
        a {
            display: inline-block;
            svg {
                @include transition;
                transition-timing-function: ease-in-out;
            }
            &:hover {
                svg {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.brian-dys-work-item {
    padding: 1rem;
    text-align: center;
}

.glyph {
    svg {
        .brian-dys-rec-work & {
            max-width: 150px;
        }
        .brian-dys-uxd-work & {
            max-width: 160px;
        }
        .brian-dys-ntt-work & {
            max-width: 115px;
        }
        .brian-dys-hok-work & {
            max-width: 110px;
        }
    }
}

//--------------------------------------------------------------
// Brian Dys Intro
//--------------------------------------------------------------
.brian-dys-intro {
    text-align: center;
    line-height: 1.5;
    font-size: 1.125rem;
    .glyph {
        margin-left: .25rem;
        svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
    .paymaya-label,
    .voyager-label {
        white-space: nowrap;
        a {
            svg {
                @include transition;
                transition-timing-function: ease-in-out;
            }
            &:hover {
                svg {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.brian-dys-intro {
    >* {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

//--------------------------------------------------------------
// Entity
//--------------------------------------------------------------

.ntt--entity-name {
    text-align: center;
    font-size: 2rem;

    .ntt--entity-logo---1--view & {
        @include vh;
    }
}

.ntt--entity-logo {
    text-align: center;
}

.ntt--entity-header {
    align-self: flex-start;
    width: 100%;
    background-color: $paper-color;
}

.ntt--entity-header-aside {
    
    .ntt--widget {
        @include y-padding();
    }
    
    .ntt--widget>* {
        @include y-margin();
    }
    
    .ntt--widget-name {
        display: none;
    }
}

.ntt--entity-description {
    display: block;
    margin-top: 1rem;
    text-align: center;
}

//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------
.ntt--entity-heading {
    padding: 0;
}

.ntt--entity-logo img {
    padding: 0;
}

.ntt--entity-header {
    padding: 1rem;
}

.ntt--entity-header-aside {
    @include y-margin(2rem, 1rem);
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------
.ntt--entry-md {
    @include y-padding();
}

.ntt--entry {
    @include y-padding();
}

.ntt--entry-full-content {
    
    abbr[title] {
        text-decoration: none;
        border-bottom: 1px solid $neutral-color;
        &:hover {
            color: $accent-color;
            border-bottom: 0;
        }
    }
    hr {
        width: 4rem;
        @include x-padding();
        @include x-margin(1rem, 1rem);
        height: auto;
        border-top-width: 2px;
    }

    [id*="contact-form"] {

        form {
            display: flex;
            flex-wrap: wrap;
            margin: -.5rem;

            > * {
                margin: .5rem;
                width: 100%;
            }
        }

        label {
            display: inline-block;
            margin-bottom: .25rem;
            color: $neutral-color;
            font-weight: normal;
            font-size: 1.125rem;
            
            span {
                @extend %vh;
            }
        }
        
        input,
        textarea {
            border-width: 2px;
            border-radius: 0;
            font-size: 1.125rem;
            
            &:focus {
                outline: none;
                border-color: $ink-color;
            }
        }

        input[type=email],
        input[type=tel],
        input[type=text],
        input[type=url] {
            width: 100%;
        }

        textarea {
            height: 7.5rem;
            min-height: 7.5rem;
        }
        button {
            width: 100%;
            background-color: $ink-color;
        }
        .grunion-field-textarea-wrap {
            flex: 1 100%;
        }
        .contact-submit {
            margin-top: 1.5rem;
        }
    }
}

.ntt--entry-full-content {
    .initial-letter {
        position: relative;
        @include x-margin(-.05em, .1em);
        @include y-margin(0, -.025em);
        font-weight: 800;
        font-family: $secondary-font;
        font-size: 5.5rem;
    }
    p.has-drop-cap:not(:focus) {
        &:first-letter {
            @extend .initial-letter;
        }
    }
}

.brian-dys-about-image {
    display: block;
    @include x-padding();
    @include y-margin(1em);
}

//--------------------------------------------------------------
// Main Pages
//--------------------------------------------------------------

.ntt--page--works--view,
.ntt--page--about--view,
.ntt--page--contact--view {

    &.ntt--site-id--brian-dys {
    
        .ntt--entry-name {
            text-align: center;
        }
    }
}

//--------------------------------------------------------------
// Media Query: Mobile Large Width and Below
//--------------------------------------------------------------
@media only screen and (max-width: $mobile-l-vp) {
    //--------------------------------------------------------------
    // Brian Dys Works
    //--------------------------------------------------------------
    .brian-dys-work-item {
        padding: 2rem;
        margin: .5rem;
        background-color: hsla(0, 0%, 0%, .25);
    }
    .brian-dys-works {
        padding: .5rem;
        @include y-margin();
    }
}

//--------------------------------------------------------------
// Media Query: Mobile Large Viewport Width and Up
//--------------------------------------------------------------
@media only screen and (min-width: $mobile-l-vp) {
    //--------------------------------------------------------------
    // Entry
    //--------------------------------------------------------------
    .ntt--entry {
        .ntt--content {
            font-size: 1.5rem;
            line-height: 1.8;
        }
    }
    .ntt--content {
        hr {
            border-top-width: 4px;
        }
        [id*="contact-form"] {
            form {
                >* {
                    flex: 1;
                }
            }
            button {
                width: auto;
            }
        }
    }
}

//--------------------------------------------------------------
// Media Query: Tablet Width and Up
//--------------------------------------------------------------
@media only screen and (min-width: $tablet-vp) {
    //--------------------------------------------------------------
    // Brian Dys Works
    //--------------------------------------------------------------
    .brian-dys-work-item {
        flex: 1 50%;
    }
}

//--------------------------------------------------------------
// Media Query: Large Width and Up
//--------------------------------------------------------------
@include mq(l-vp) {
    //--------------------------------------------------------------
    // Layout
    //--------------------------------------------------------------
    @supports (display: grid) {
        .ntt--entity {
            display: grid;
            grid-template: 'entity-start .' 'entity-header entity-main' minmax(100vh, 100%) 'entity-footer .' 'entity-end .' / 35vw auto;
        }
        .ntt--entity-footer {
            grid-column: 1 / -1;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        .ntt--entity-secondary-nav,
        .ntt--entity-secondary-info {
            width: 65vw;
        }
        .ntt--entity-secondary-nav,
        .ntt--entity-secondary-info {
            max-width: 52rem;
        }
    }
    //--------------------------------------------------------------
    // Entry
    //--------------------------------------------------------------
    .ntt--entry {
        position: relative;
    }
    .ntt--entry-full-content {
        >*:first-child {
            margin-top: 3rem;
        }
    }
    .brian-dys-about-image {
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
        .ntt--content & {
            @include y-margin(0, 2em);
        }
        img {
            width: 30rem;
            height: 16.875rem;
            object-fit: cover;
            //filter: grayscale(100%);
            //mix-blend-mode: multiply;
        }
    }
    //--------------------------------------------------------------
    // Entity Header
    //--------------------------------------------------------------
    .ntt--entity-header {
        z-index: 1;
        @supports (display: grid) {
            & {
                justify-self: flex-end;
            }
        }
    }
    .ntt--entity-header {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding: 3rem 2rem;
        
        > * {
            flex: 1 100%;
        }
        
        @supports (display: grid) {
        
            & > * {
                max-width: 28rem;
            }
        }
    }
    //--------------------------------------------------------------
    // Entity Main
    //--------------------------------------------------------------
    
    @supports (display: grid) {
    
        .ntt--entity-main {
    
            > * {
                max-width: 52rem;
            }
        }
    }
    
    //--------------------------------------------------------------
    // Entity Primary Navigation
    //--------------------------------------------------------------
    
    .ntt--entity-primary-nav {
        margin-top: 3rem;
    }
    
    //--------------------------------------------------------------
    // [Entry] Page
    //--------------------------------------------------------------
    
    .ntt--page-view {
        $x-content-gap: 2rem;

        &.ntt--site-id--brian-dys {
    
            .ntt--entry-name {
                padding: 0;
            }
        }
    
        .ntt--entry-axns {
            display: none;
            position: fixed;
            right: 0;
            top: 0;
            padding: .5rem;
        }
    
        .post-edit-link {
    
            &:hover {
                text-decoration: none;
    
                .ntt--txt {
                    background-color: $accent-color;
                    border-color: $accent-color;
                }
            }
    
            .ntt--txt {
                @include x-padding(.75rem);
                color: $paper-color;
                background-color: $ink-color;
                text-transform: uppercase;
                border: 1px solid white;
                @include transition;
            }
        }
    
        .ntt--entry-header {
            > * {
                @include x-padding($x-content-gap);
            }
        }
        .ntt--entry-full-content {
            >* {
                @include x-padding($x-content-gap);
            }
            hr {
                @include x-margin($x-content-gap);
            }
        }
    }
    //--------------------------------------------------------------
    // Main Pages
    //--------------------------------------------------------------
    
    .ntt--page--works--view,
    .ntt--page--about--view,
    .ntt--page--contact--view {

        &.ntt--site-id--brian-dys {
        
            .ntt--entry-name {
                @include vertical-name;
                text-align: left;
            }
        }
    
        .ntt--entry-header {
            > * {
                @include x-padding();
            }
        }
        
        .ntt--entry-full-content {
            $l-gap: 7rem;
            $r-gap: 5rem;
        
            > * {
                @include x-padding($l-gap, $r-gap);
            }
            
            hr {
                @include x-margin($l-gap, $r-gap);
            }
        }
    }

    //--------------------------------------------------------------
    // Page Works
    //--------------------------------------------------------------
    
    .ntt--page--works--view {
        .ntt--entry {
            @include x-padding(6rem, 4rem);
            @include y-padding();
        }
        .ntt--entry-full-content {
            >* {
                @include x-padding();
                @include y-margin();
            }
        }
    }
    .brian-dys-work-item {
        padding: 1.75rem 2rem;
    }
    //--------------------------------------------------------------
    // [Page] Works
    //--------------------------------------------------------------
    .ntt--page--about {
        .brian-dys-about-image {
            @include x-padding();
        }
    }
}