@import '../../../../../assets/styles/source/rules';

$text-link-color: $on-surface-color;

@import 'custom';

body {
    font-family: 'Spartan';
}

.ntt--entity-heading {
    text-align: center;
}

.ntt--entity-description {
    color: $mid-color;
    font-size: $text---s;
}

//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------

.ntt--entity-header {
    @include y-padding(1rem);
    border-bottom: 1px solid $on-surface-color---alpha-m;
}

.ntt--entity-name {
    text-transform: uppercase;
    letter-spacing: .125em;

    a {
        color: $on-surface-color;
    }

    .ntt--txt {
        position: relative;

        &::before {
            content: attr(data-first-letter);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-.0625em, calc(-50% + .0625em));
            color: $accent-color---alpha-s;
            font-size: 2em;
            z-index: 0;
        }
    }
}

.ntt--entry-name {
    font-family: 'Playfair Display';
    font-size: $text---xxl;
}

.ntt--entity-logo img {
	max-width: 160px;
    max-height: 160px;
}

//--------------------------------------------------------------
// Breadcrumbs Navigation
//--------------------------------------------------------------

.ntt--entry-breadcrumbs-nav-ancestors-group {

    .ntt--entry-breadcrumbs-navi {

        &:last-child {

            .ntt--icon {
                display: none;
            }
        }
    }
}

.ntt--entry-breadcrumbs-navi---current {
    display: none;
}

//--------------------------------------------------------------
// Entity Primary Navigation
//--------------------------------------------------------------

.ntt--entity-primary-nav {
    text-align: center;
    font-family: 'Playfair Display';

    a {
        color: $on-surface-color;
        font-size: $text---l;
        font-weight: bold;
    }

    // Top-level Navigation Item
    > div {
        
        > ul {
        
            > li {
            
                > a {
                    font-size: $text---xl;
                    text-align: center;
                }
            }

            > .ntt--sub-menu-ancestor--js {
            
                > a {
                    text-align: left;
                }
            }
        }
    }
}

.ntt--entity-primary-nav-group {
    justify-content: center;
}

.ntt--entity-secondary-nav {
    text-align: center;
}

//--------------------------------------------------------------
// Entity Footer
//--------------------------------------------------------------

.ntt--entity-footer {

    //--------------------------------------------------------------
    // Widget Navigation Menu
    //--------------------------------------------------------------

    .ntt--widget_nav_menu {
    
        .ntt--widget-name {
            text-align: center;
        }
        
        .menu {
            display: flex;
            justify-content: center;
        }
    }

    //--------------------------------------------------------------
    // Sub-Menu
    //--------------------------------------------------------------

    .ntt--nav---sub-menu--js {
        
        .ntt--sub-menu-checkbox--js {

            &:hover {
    
                ~ .ntt--icon {
                    transform: scale(1.25) rotate(180deg);
                }
            }
        
            &:checked {
    
                ~ .ntt--sub-menu--js {
                    display: flex;
                    flex-direction: column-reverse;
                }

                ~ .ntt--icon {
                    transform: scale(1.25) rotate(0deg);
                }
            }

            ~ .ntt--icon {
                transform: rotate(180deg);
            }
        }
        
        .ntt--sub-menu--js {
            top: auto; // Reset
            bottom: 100%;
    
            li {
    
                &:first-child {
                    border-bottom-width: 0;
                }
    
                &:last-child {
                    border-bottom-width: 1px;
                }
    
                &:only-child {
                    border-bottom-width: 0;
                }
            }
            
            .ntt--sub-menu--js {
                margin-top: 0; // Reset
                margin-bottom: -.25rem;
            }
        }

        // Target the siblings of active menu items, excluding top-level menu items
        > div {

            > ul {

                > {

                    li {

                        > .ntt--sub-menu--js {
                            margin-top: 0; // Reset
                            margin-bottom: -.25rem;
                        }
                    }
                    
                    .ntt--sub-menu-ancestor--js {
        
                        .ntt--sub-menu---active--js {
                            border-top-width: 0;
                            border-bottom-width: 1px;

                            &:only-child {
                                border-bottom-width: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

//--------------------------------------------------------------
// Entity Header Aside
//--------------------------------------------------------------

.ntt--entity-header-aside {

    .ntt--widget_nav_menu {

        .ntt--widget-name {
            text-align: center;
        }
        
        .menu {
            display: flex;
            justify-content: center;
        }
    }
}

//--------------------------------------------------------------
// Content Maximum Width
//--------------------------------------------------------------

.ntt--entity-main-main-aside---0 {

    .ntt--entity-main {

        > {
            * {
                @include max-width;
            }
        }
    }
}
    
.ntt--entry-header {

    > {

        .ntt--entry-banner {

            img {
                width: 100%;
                height: 75vh;
                min-height: 20rem;
                object-fit: cover;
            }
        }
    }
}
    
.ntt--entity-main-header {

    > {
        * {
            display: flex;
            width: 100%;
        }
    }
}

//--------------------------------------------------------------
// Entry Navigation
//--------------------------------------------------------------

.ntt--entry-nav {

    .ntt--img {
        display: block;
        margin: .5rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: $on-surface-color---alpha-s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.ntt--entry-nav-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ntt--entry-navi {
    flex: 1 100%;
    
    a {
        display: inline-flex;
    }

    .ntt--txt {
        @include y-margin(.5rem);
    }

    .ntt--label-txt {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ntt--delimiter-txt {
        display: none;
    }

    .ntt--entry-name-txt {
        font-size: $text---xl;
        font-family: 'Playfair Display';
        line-height: $line-height---s;
    }
}

.ntt--next-entry-navi {
    order: 1;
    text-align: right;

    .ntt--txt {
        flex: 1;
        text-align: right;
    }

    a {
        justify-content: flex-end;
    }
}

.ntt--previous-entry-navi {

    .ntt--txt {
        flex: 1;
    }

    .ntt--img {
        order: -1;
    }
}

//--------------------------------------------------------------
// Entity Main Main Aside
//--------------------------------------------------------------

.ntt--entity-main-main-aside {

    .ntt--widget {
        @include x-margin(1rem);
        background-color: $on-surface-color---alpha-xs;
        border-radius: $corner-radius---s;
    }
}

//--------------------------------------------------------------
// Content Module Date
//--------------------------------------------------------------

.ntt--cm-date {

    a {

        &:hover {
            text-decoration: none;

            .ntt--txt {
                border-color: $on-surface-color;
            }
        }
    }

    .ntt--txt {
        padding: .5em .75em;
        text-align: center;
        font-size: $text---xs;
        line-height: 1.2;
        border: 1px solid $on-surface-color---alpha-l;
        @include transition;
        border-radius: $corner-radius---s;
        
        > * {
            display: block;
        }
    }

    .ntt--day-txt {
        font-weight: bold;
        font-size: to-em($text---xl);
    }

    .ntt--month-txt {
        font-size: to-em($text---m);
        text-transform: uppercase;
        letter-spacing: .125em;
    }

    .ntt--year-txt {
        font-size: to-em($text---m);
        color: $mid-color;
    }
}

.ntt--entry-modified-datetime,
.ntt--entry-published-datetime-label {
    display: none;
}

.ntt--cm-datetime {
    padding: 1rem;
}

//--------------------------------------------------------------
// Comment
//--------------------------------------------------------------

.comment-respond {
    margin: 1rem;
    background-color: $on-surface-color---alpha-xs;
    border-radius: $corner-radius---s;
}

.ntt--comment-composition-name {
    font-weight: bold;
}

.ntt--comment-composition-name {
    margin-top: 1rem;
}

.ntt--comment-form {

    .form-submit {
        display: flex;

    }

    .ntt--submit-comment-axn {
        width: 100%;
    }
}

.ntt--comment {
    margin: 1rem;
    background-color: $on-surface-color---alpha-xs;
    border-radius: $corner-radius---s;
}

.ntt--comment-approval---unapproved {
    background-color: $surface-color;
    border: 1px dashed $on-surface-color---alpha-m;
}

.ntt--cancel-reply-axn {
    margin-top: 1rem;
}

.ntt--comment-meta {
    flex-wrap: nowrap;
    align-items: normal;
}

.ntt--comment-author {
    padding: .5rem;
}

.ntt--comment-reply-axn {
    @include y-padding(1rem);
}

.ntt--entry-count,
.ntt--comments-count {

    .ntt--label-txt {
        display: none;
    }

    .ntt--count-txt {
        @include if-y-center;
        justify-content: center;
        padding: .5rem .75rem;
        min-width: 2.5rem;
        min-height: 2rem;
        background-color: $on-surface-color---alpha-s;
        color: $on-surface-color;
        border-radius: $corner-radius---s;
        font-size: $text---m;
        font-weight: bold;
        line-height: normal;
        @include transition;
    }
    
    a:hover {
        text-decoration: none;
        
        .ntt--count-txt {
            background-color: $accent-color;
            color: $surface-color;
            text-decoration: none;

            &::before {
                border-top-color: $accent-color;
            }
        }
    }
}

.ntt--comments-count {

    .ntt--comments---empty & {
        display: none;
    }
    
    .ntt--count-txt {
        position: relative;
        border-bottom-left-radius: 0;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            // Triangle
            width: 0;
            height: 0;
            border-style: solid;
            border-width: .5rem .5rem 0 0;
            border-color: $on-surface-color---alpha-s transparent transparent transparent;
            @include transition;
        }
    }
}

.ntt--comments-header {
    width: 100%;
}

.ntt--comment-name {
    margin-top: 1rem;
}

.ntt--comments-group {

    .children {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: .5rem;
            height: 100%;
            background-color: $accent-color---alpha-s;
        }
    }
}

.ntt--entry-header {
    
    .ntt--comments-actions-snippet {
        display: flex;
        align-items: center;
    }
}

.ntt--comments---empty--view {
    
    &.ntt--comment-creation---0--view {

        .ntt--comment-md {
            display: none;
        }
    }

    .ntt--comments-count {
        display: none;
    }
}

.ntt--comments-toggle-axn-checkbox--js,
.ntt--comments-toggle-axn-label--js {
    display: none;
}

.ntt--comment-creation---0 {

    .ntt--disabled-comments-note {
        display: none;
    }
}

//--------------------------------------------------------------
// Entry Primary Meta
//--------------------------------------------------------------

.ntt--entry-primary-meta {
    flex-direction: row;
    flex-wrap: nowrap;
}

.ntt--comments---empty.ntt--comment-creation---1 {

    .ntt--entry-header {

        .ntt--comments-actions-snippet {
            display: none;
        }
    }
}

//--------------------------------------------------------------
// Feature: Sticky Header
//--------------------------------------------------------------

.ntt--f5e--sticky--header {
    
    .ntt--entity-header {
        border-bottom: 0;
    }

    .ntt--entity-name {
        margin-top: 0;
    }
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.ntt--entry-categories {
    margin-bottom: -1rem;
}

.ntt--cm-author-name {

    a {
        color: $on-surface-color;
    }
}

.ntt--comment-md {
    margin-top: 4rem;
}

.ntt--entry-tags {
    margin-top: -1rem;

    a {

        &::before {
            content: '#';
            margin-right: .25em;
        }
    }
}

.ntt--entry-index---tag-archive--view {

    .ntt--entity-view-name {
        
        .ntt--tag-txt {

            &::before {
                content: '#';
                margin-right: .25em;
            }
        }
    }
}

//--------------------------------------------------------------
// Content
//--------------------------------------------------------------

.ntt--content {
    font-size: $text---l;
    line-height: $line-height---l;

    > * {
        @include y-margin(1.5em);

        &::first-child {
            margin-top: 0;
        }
    }

    a {
        @include transition;
        transition-property: color, box-shadow;
        box-shadow: inset 0 -.25em 0 0 $accent-color---alpha-m;

        &:hover {
            color: $accent-color;
            text-decoration: none;
            box-shadow: inset 0 -3em 0 0 $accent-color---alpha-m;
        }

        &[href*="flickr.com/"] {
            box-shadow: none;

            &:hover {
                box-shadow: none;
            }
        }
    }

    hr {
        margin: 2em 1rem;
        @include x-padding();
        width: 3rem;
        border-top: .25rem solid $on-surface-color---alpha-m;
    }

    blockquote {
        position: relative;
        margin: 2em 0;
        @include x-padding(calc(1rem + 1em));
        font-size: $text---xl;

        &::before {
            content: '“';
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            transform: translate(1rem, -3.5rem);
            color: $on-surface-color---alpha-m;
            font-size: 6em;
            line-height: 1;
            font-family: serif;
        }

        cite {
            display: inline-block;

            em {
                font-style: normal;
            }
        }

        a {
            color: $on-surface-color;
        }
    }
    
    .ntt--unapproved-comments-note {
        margin-top: 0;
    }

    .wp-block-image > a,
    .wp-block-file__button {
        font-weight: normal;
        border-bottom: 0;
    }

    .ntt--initial-letter {
        position: relative;
        margin: 0 .1em 0 -.05em;
        margin-top: .25em; // Inherent to font-family: 'Spartan';
        font-size: 5.5em;
    }
    
    // Jetpack
    p.has-drop-cap:not(:focus) {
        
        &:first-letter {
            @extend .ntt--initial-letter;
        }

        &::after {
            padding-top: 1em;
        }
    }
}

.ntt--pre-el-skin--js {
    max-height: 80vh;
}

.ntt--view-entry-details-axn {

    a {
        font-weight: normal;
        // border-bottom: 0;
        box-shadow: 0;
    }
}

.ntt--entry-excerpt-content {

    .ntt--entry-snippet-content {

        a {
            box-shadow: none;
        }
    }
}

//--------------------------------------------------------------
// Entries Navigation
// From JS
//--------------------------------------------------------------

.ntt--js {

    .ntt--entries-nav {
        @include x-margin(auto);
    }
}

//--------------------------------------------------------------
// Go to Start Navigation
//--------------------------------------------------------------

.ntt--go-start-nav {
    margin: 0;
    padding: 1rem;
}

//--------------------------------------------------------------
// Media Query
//--------------------------------------------------------------

@include mq($tablet-viewport-width---m) {

    //--------------------------------------------------------------
    // Comment Form
    //--------------------------------------------------------------

    .ntt--comment-form {

        .ntt--submit-comment-axn {
            width: auto;
        }
    }

    //--------------------------------------------------------------
    // Featured Image
    //--------------------------------------------------------------

    @supports (display: grid) {

        .ntt--entry-index--view {
                
            .ntt--entry-banner-visuals---1 {

                &.ntt--entry {
                    display: grid;
                    grid-template:
                        '. .' minmax(3rem, 1fr)
                        '. entry-categories'
                        '. entry-heading'
                        '. entry-axns'
                        '. entry-content'
                        / 50% auto;
                    position: relative;
                    min-height: 75vh;
                    @include max-width;
                }

                .ntt--entry-header {
                    display: contents;
                }

                .ntt--entry-main {
                    display: contents;
                }

                .ntt--entry-content {
                    display: contents;
                }

                .ntt--entry-primary-meta {
                    display: none;
                }

                .ntt--entry-categories {
                    grid-area: entry-categories;
                    width: 100%;
                    background-color: $surface-color;
                }

                .ntt--entry-heading {
                    grid-area: entry-heading;
                    margin-top: -1rem;
                    width: 100%;
                    background-color: $surface-color;
                }

                .ntt--entry-axns {
                    grid-area: entry-axns;
                    width: 100%;
                    background-color: $surface-color;
                }

                .ntt--entry-excerpt-content,
                .ntt--entry-full-content {
                    grid-area: entry-content;
                    margin-top: 0;
                    width: 100%;
                    background-color: $surface-color;
                }

                &.ntt--entry-excerpt-content---1 {
                    
                    .ntt--entry-full-content {
                        display: contents;

                        > {
                            * {
                                display: none;
                            }

                            .ntt--view-entry-details-axn {
                                grid-area: entry-content;
                                display: block;
                                position: absolute;
                                bottom: 0;
                            }
                        }
                    }
                }

                &.ntt--entry-more-tag---1 {
                    
                    .ntt--entry-excerpt-content {
                        padding-bottom: 3rem;
                    }
                }

                .ntt--entry-banner {
                    grid-row: 1/-1;
                    grid-column: 1/-1;
                    z-index: -1;
                    @include y-padding();
                    height: 100%;

                    figure {
                        height: 100%;
                    }

                    a {
                        display: block;
                        height: 100%;
                    }

                    img {
                        height: 100%;
                    }

                    figcaption {
                        display: none;
                    }
                }
            }
        }
    }

    //--------------------------------------------------------------
    // Navigation
    //--------------------------------------------------------------
    
    .ntt--entry-navi {
        flex: 1 50%;
    }

    //--------------------------------------------------------------
    // Content
    //--------------------------------------------------------------

    .ntt--content {

        blockquote {
            @include x-margin(2em);

            &::before {
                transform: translate(-2rem, -3rem);
            }
        }
    }
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------
.entry--updated {

    .entry-published-datetime {
        display: block;
    }

    .entry-modified-datetime {
        display: none;
    }
}

iframe[src*="youtube.com/embed"] {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 1024px) {

    .ntt--entry-nav-group {

        .ntt--entry-navi {
            
            .ntt--txt {
                justify-content: flex-end;
            }
        }
        
        .ntt--previous-entry-navi {
            justify-content: flex-start;

            a {
                text-align: left;

                .ntt--txt {
                    justify-content: flex-start;
                }
            }
        }
    }
}

.ntt--page--view {

    .ntt--entry-excerpt-content {
        display: none;
    }
}

.ntt .wp-block-separator {
    border-bottom: none;
}

.ntt--js .ntt--entries-nav {
    justify-content: flex-start;
}