@import '../../../../../assets/styles/source/rules';

$accent-color: $panda-blue;

@import '../../../../../assets/styles/source/theme';

body {
    font-family: 'Spartan';
}

.ntt--entity-description {
    display: none;
}

@supports (display: grid) {

    @include mq(880px) {

        .ntt--entity-header {
            display: grid;
            grid-template:
                'subscribe social-media entry-name primary-secondary search primary-all'
                'primary-nav . . . . .'
                / auto auto 1fr auto auto auto;

            #ntt--custom_html-2 {
                grid-area: subscribe;
            }

            #ntt--nav_menu-4 {
                grid-area: social-media;
            }

            .ntt--entity-primary-nav {
                grid-area: primary-nav;
                grid-column: primary-nav / -1;
                justify-self: center;
            }

            .ntt--entity-heading {
                grid-area: entry-name;
                justify-self: center;
            }

            #ntt--nav_menu-2 {
                grid-area: primary-secondary;
            }

            #ntt--search-3 {
                grid-area: search;
            }

            #ntt--nav_menu-3 {
                grid-area: primary-all;
            }
        }

        .ntt--entity-header-aside {
            display: contents;
        }
    }
}

.ntt--entity-header {
    border-bottom: 1px solid $on-surface-color---alpha-m;
}

.ntt--entity-name {
    text-transform: uppercase;
    letter-spacing: .125em;

    a {
        color: $on-surface-color;
    }
}

.ntt--entry-name {
    font-family: 'Playfair Display';
    font-size: $text---xxl;
}

.ntt--entity-primary-nav {
    font-family: 'Playfair Display';

    a {
        color: $on-surface-color;
        font-size: $text---xl;
        font-weight: bold;
    }
}

.ntt--entity-header-aside {
    display: none;
}

.ntt--content {
    line-height: 1.8;

    a {
        font-weight: bold;
        border-bottom: .125rem solid $accent-color;

        &:hover {
            text-decoration: none;
            border-bottom: 0;
        }
    }
}

.ntt--entry-header {

    > {
        * {
            max-width: 880px;
            @include x-margin(auto);
        }

        .ntt--entry-banner {
            max-width: none;

            img {
                width: 100%;
                height: 75vh;
                min-height: 20rem;
                object-fit: cover;
            }
        }
    }
}

.ntt--entry-full-content {

    > {
        * {
            max-width: 880px;
            @include x-margin(auto);
        }

        .wp-block-image {
            max-width: 880px;
            @include x-margin(auto);
        }
    }
}

.ntt--entry-footer,
.ntt--entity-main-footer {

    > {
        * {
            max-width: 880px;
            @include x-margin(auto);
        }
    }
}

.ntt--entity-secondary-info {
        text-align: center;
}

//--------------------------------------------------------------
// Entry Navigation
//--------------------------------------------------------------

.ntt--entry-nav {
    @include x-margin();

    .ntt--img {
        display: block;
        margin: .5rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: $on-surface-color---alpha-s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.ntt--entry-nav-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ntt--entry-navi {
    flex: 1 50%;

    a {
        display: flex;
    }

    .ntt--txt {
        @include y-margin(.5rem);
    }

    .ntt--label-txt {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ntt--delimiter-txt {
        display: none;
    }
}

.ntt--next-entry-navi {
    order: 1;

    .ntt--txt {
        flex: 1;
        text-align: right;
    }

    a {
        justify-content: flex-end;
    }
}

.ntt--previous-entry-navi {

    .ntt--txt {
        flex: 1;
    }

    .ntt--img {
        order: -1;
    }
}

//--------------------------------------------------------------
// Entity Main Main Aside
//--------------------------------------------------------------

.ntt--entity-main-main-aside {

    .ntt--widget {
        @include x-margin(1rem);
        background-color: $on-surface-color---alpha-xs;
        border-radius: $corner-radius---s;
    }
}

//--------------------------------------------------------------
// Content Module Date
//--------------------------------------------------------------

.ntt--cm-date {

    a {

        &:hover {
            text-decoration: none;

            .ntt--txt {
                border-color: $on-surface-color;
            }
        }
    }

    .ntt--txt {
        @include x-padding(.75rem);
        text-align: center;
        line-height: 1.2;
        border: 1px solid $on-surface-color---alpha-l;
        @include transition;
        border-radius: $corner-radius---s;
        
        > * {
            display: block;
        }
    }

    .ntt--day-txt {
        font-weight: bold;
        font-size: $text---xl;
    }

    .ntt--month-txt {
        text-transform: uppercase;
        letter-spacing: .125em;
    }

    .ntt--year-txt {
        font-size: $text---xs;
        color: $mid-color;
    }
}

.ntt--entry-modified-datetime,
.ntt--entry-published-datetime-label {
    display: none;
}

//--------------------------------------------------------------
// Comment
//--------------------------------------------------------------

.comment-respond {
    margin: 1rem;
    background-color: $on-surface-color---alpha-xs;
    border-radius: $corner-radius---s;
}

.ntt--comment-composition-name {
    font-weight: bold;
}

.ntt--comment-composition-name {
    margin-top: 1rem;
}

.ntt--comment-form {

    .form-submit {
        display: flex;

    }

    .ntt--submit-comment-axn {
        width: 100%;

        @include mq(880px) {
            width: auto;
        }
    }
}

//--------------------------------------------------------------
// Note
//--------------------------------------------------------------

.ntt--note {
    margin: 1rem;
    @include y-padding(1rem);
    background-color: aliceblue;
    border-radius: $corner-radius---s;

    > * {

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}