@charset "UTF-8";
/* Screen Reader Text ------------------------ */
.ofa--bryce-cascades-preschool-flexi-30 {
  border: 2px solid black;
  border-radius: 50%;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 10rem;
  max-height: 10rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  word-break: normal;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ntt--post--adam-bryce-for-gingersnaps2020modelsearch .ntt--entry-full-content .ggsi {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
  padding-left: 1rem !important;
  padding-bottom: 1rem !important;
}

.ntt--post--adam-bryce-for-gingersnaps2020modelsearch .ntt--entry-full-content .ggsi .ggs-embed-modal__stretcher {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.ntt #jp-relatedposts {
  margin-top: 4rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.ntt #jp-relatedposts h3.jp-relatedposts-headline {
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.ntt #jp-relatedposts h3.jp-relatedposts-headline em {
  font-weight: normal;
  font-style: normal;
}

.ntt #jp-relatedposts h3.jp-relatedposts-headline em::before {
  display: none;
}

.ntt #jp-relatedposts .jp-relatedposts-items-visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 0;
}

.ntt #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post {
  float: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 33%;
          flex: 1 33%;
  width: auto;
  margin-bottom: 0;
  padding: 1rem;
  opacity: 1;
}

.ntt #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post .jp-relatedposts-post-title {
  font-size: 1.5rem;
  font-family: 'Playfair Display';
  line-height: 1.25;
}

.ntt #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post .jp-relatedposts-post-title a {
  color: #1f2023;
  font-weight: bold;
  border-bottom: 0;
}

.ntt #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1em;
}

.ntt #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post-thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ntt #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post-thumbs .jp-relatedposts-post-title {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.ntt #jp-relatedposts .jp-relatedposts-items p {
  font-size: 1rem;
  line-height: 1.8;
}

.ntt .jp-relatedposts-post-a {
  border-bottom: 0;
}

html {
  background-color: white;
}

body {
  color: #1f2023;
}

a {
  color: #1f2023;
}

button,
input[type="submit"] {
  background-color: #0060e6;
}

button,
input,
select,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--content {
  color: #1f2023;
  line-height: 1.5;
}

.ntt--entry-content-snippet a {
  color: #1f2023;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.125);
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js li {
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.ntt--entry-nav a .ntt--entry-name-txt {
  color: #1f2023;
}

.ntt--entry-nav a:hover .ntt--entry-name-txt {
  color: #1f2023;
}

.ntt--modify-entry-axn a, .ntt--modify-comment-axn a, .ntt--comment-reply-axn a, .ntt--show-more-axn a, .ntt--comments-actions-snippet .ntt--comment-axn a, .ntt--go-content-navi a {
  color: #0060e6;
}

.ntt--modify-entry-axn a:hover, .ntt--modify-comment-axn a:hover, .ntt--comment-reply-axn a:hover, .ntt--show-more-axn a:hover, .ntt--comments-actions-snippet .ntt--comment-axn a:hover, .ntt--go-content-navi a:hover {
  color: white;
}

.ntt--modify-entry-axn .ntt--txt, .ntt--modify-comment-axn .ntt--txt, .ntt--comment-reply-axn .ntt--txt, .ntt--show-more-axn .ntt--txt, .ntt--comments-actions-snippet .ntt--comment-axn .ntt--txt, .ntt--go-content-navi .ntt--txt {
  background-color: white;
  border: 0.125rem solid #0060e6;
}

.ntt--modify-entry-axn .ntt--txt:hover, .ntt--modify-comment-axn .ntt--txt:hover, .ntt--comment-reply-axn .ntt--txt:hover, .ntt--show-more-axn .ntt--txt:hover, .ntt--comments-actions-snippet .ntt--comment-axn .ntt--txt:hover, .ntt--go-content-navi .ntt--txt:hover {
  background-color: #0060e6;
}

.ntt--go-content-navi a {
  color: white;
}

.ntt--go-content-navi a:hover {
  color: #0060e6;
}

.ntt--go-content-navi .ntt--txt {
  background-color: #0060e6;
}

.ntt--go-content-navi .ntt--txt:hover {
  background-color: white;
  border: 0.125rem solid #0060e6;
}

body {
  font-family: 'Spartan';
}

.ntt--entity-heading {
  text-align: center;
}

.ntt--entity-description {
  color: #757575;
  font-size: 0.875rem;
}

.ntt--entity-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--entity-name {
  text-transform: uppercase;
  letter-spacing: .125em;
}

.ntt--entity-name a {
  color: #1f2023;
}

.ntt--entry-name {
  font-family: 'Playfair Display';
  font-size: 2rem;
}

.ntt--entity-primary-nav {
  text-align: center;
  font-family: 'Playfair Display';
}

.ntt--entity-primary-nav a {
  color: #1f2023;
  font-size: 1.125rem;
  font-weight: bold;
}

.ntt--entity-primary-nav > div > ul > li > a {
  font-size: 1.5rem;
  text-align: center;
}

.ntt--entity-primary-nav > div > ul > .ntt--sub-menu-ancestor--js > a {
  text-align: left;
}

.ntt--entity-primary-nav-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ntt--entity-secondary-nav {
  text-align: center;
}

.ntt--entity-footer .ntt--widget_nav_menu {
  text-align: center;
}

.ntt--entity-footer .ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ntt--entity-footer .ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js:checked {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.ntt--entity-footer .ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js:checked ~ .ntt--sub-menu--js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.ntt--entity-footer .ntt--nav---sub-menu--js .ntt--sub-menu--js {
  top: auto;
  bottom: 100%;
}

.ntt--entity-footer .ntt--nav---sub-menu--js .ntt--sub-menu--js li:first-child {
  border-bottom-width: 0;
}

.ntt--entity-footer .ntt--nav---sub-menu--js .ntt--sub-menu--js li:last-child {
  border-bottom-width: 1px;
}

.ntt--entity-footer .ntt--nav---sub-menu--js .ntt--sub-menu--js li:only-child {
  border-bottom-width: 0;
}

.ntt--entity-footer .ntt--nav---sub-menu--js .ntt--sub-menu--js .ntt--sub-menu--js {
  margin-top: 0;
  margin-bottom: -.25rem;
}

.ntt--entity-footer .ntt--nav---sub-menu--js > div > ul > li > .ntt--sub-menu--js {
  margin-top: 0;
  margin-bottom: -.25rem;
}

.ntt--entity-footer .ntt--nav---sub-menu--js > div > ul > .ntt--sub-menu-ancestor--js .ntt--sub-menu---active--js {
  border-top-width: 0;
  border-bottom-width: 1px;
}

.ntt--entity-footer .ntt--nav---sub-menu--js > div > ul > .ntt--sub-menu-ancestor--js .ntt--sub-menu---active--js:only-child {
  border-bottom-width: 0;
}

.ntt--entity-header-aside .ntt--widget_nav_menu {
  text-align: center;
}

.ntt--entity-main-main-aside---0 .ntt--entity-main > * {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.ntt--entry-header > .ntt--entry-banner img {
  width: 100%;
  height: 75vh;
  min-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.ntt--entity-main-header > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.ntt--entry-nav .ntt--img {
  display: block;
  margin: .5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.03125);
}

.ntt--entry-nav .ntt--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ntt--entry-nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ntt--entry-navi {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--entry-navi a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.ntt--entry-navi .ntt--txt {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ntt--entry-navi .ntt--label-txt {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.ntt--entry-navi .ntt--delimiter-txt {
  display: none;
}

.ntt--entry-navi .ntt--entry-name-txt {
  font-size: 1.5rem;
  font-family: 'Playfair Display';
  line-height: 1.25;
}

.ntt--next-entry-navi {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
}

.ntt--next-entry-navi .ntt--txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.ntt--next-entry-navi a {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ntt--previous-entry-navi .ntt--txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ntt--previous-entry-navi .ntt--img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.ntt--entity-main-main-aside .ntt--widget {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.015625);
  border-radius: 0.125rem;
}

.ntt--cm-date a:hover {
  text-decoration: none;
}

.ntt--cm-date a:hover .ntt--txt {
  border-color: #1f2023;
}

.ntt--cm-date .ntt--txt {
  padding: .5em .75em;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.2;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  border-radius: 0.125rem;
}

.ntt--cm-date .ntt--txt > * {
  display: block;
}

.ntt--cm-date .ntt--day-txt {
  font-weight: bold;
  font-size: 1.5em;
}

.ntt--cm-date .ntt--month-txt {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .125em;
}

.ntt--cm-date .ntt--year-txt {
  font-size: 1em;
  color: #757575;
}

.ntt--entry-modified-datetime,
.ntt--entry-published-datetime-label {
  display: none;
}

.ntt--cm-datetime {
  padding: 1rem;
}

.comment-respond {
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.015625);
  border-radius: 0.125rem;
}

.ntt--comment-composition-name {
  font-weight: bold;
}

.ntt--comment-composition-name {
  margin-top: 1rem;
}

.ntt--comment-form .form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ntt--comment-form .ntt--submit-comment-axn {
  width: 100%;
}

@media only screen and (min-width: 880px) {
  .ntt--comment-form .ntt--submit-comment-axn {
    width: auto;
  }
}

.ntt--comment {
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.015625);
  border-radius: 0.125rem;
}

.ntt--comment-approval---unapproved {
  background-color: white;
  border: 1px dashed rgba(0, 0, 0, 0.125);
}

.ntt--cancel-reply-axn {
  margin-top: 1rem;
}

.ntt--comment-meta {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.ntt--comment-author {
  padding: 1rem;
}

.ntt--comment-reply-axn {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ntt--entry-count .ntt--label-txt,
.ntt--comments-count .ntt--label-txt {
  display: none;
}

.ntt--entry-count .ntt--count-txt,
.ntt--comments-count .ntt--count-txt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem .75rem;
  min-width: 2.5rem;
  min-height: 2rem;
  background-color: rgba(0, 0, 0, 0.03125);
  color: #1f2023;
  border-radius: 0.125rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: normal;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.ntt--entry-count a:hover,
.ntt--comments-count a:hover {
  text-decoration: none;
}

.ntt--entry-count a:hover .ntt--count-txt,
.ntt--comments-count a:hover .ntt--count-txt {
  background-color: #0060e6;
  color: white;
  text-decoration: none;
}

.ntt--entry-count a:hover .ntt--count-txt::before,
.ntt--comments-count a:hover .ntt--count-txt::before {
  border-top-color: #0060e6;
}

.ntt--comments-count .ntt--count-txt {
  position: relative;
  border-bottom-left-radius: 0;
}

.ntt--comments-count .ntt--count-txt::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: .5rem .5rem 0 0;
  border-color: rgba(0, 0, 0, 0.03125) transparent transparent transparent;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.ntt--comments-header {
  width: 100%;
}

.ntt--comment-name {
  margin-top: 1rem;
}

.ntt--comments-group .children {
  position: relative;
}

.ntt--comments-group .children::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: .5rem;
  height: 100%;
  background-color: rgba(0, 96, 230, 0.125);
}

.ntt--entry-header .ntt--comments-actions-snippet {
  display: none;
}

.ntt--comments---empty--view.ntt--comment-creation---0--view .ntt--comment-md {
  display: none;
}

.ntt--comments---empty--view .ntt--comments-count {
  display: none;
}

.ntt--entry-primary-meta {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ntt--comments---empty.ntt--comment-creation---1 .ntt--entry-header .ntt--comments-actions-snippet {
  display: none;
}

.ntt--f5e--sticky--header .ntt--entity-header {
  border-bottom: 0;
}

.ntt--f5e--sticky--header .ntt--entity-name {
  margin-top: 0;
}

@supports (display: grid) {
  @media only screen and (min-width: 880px) {
    .ntt--multiple-entries .ntt--entry-banner-visuals---1.ntt--entry {
      display: -ms-grid;
      display: grid;
      grid-template: ". ." minmax(3rem, 1fr) ". entry-categories" ". entry-heading" ". entry-axns" ". entry-content"/50% auto;
      position: relative;
      min-height: 75vh;
      max-width: 880px;
      margin-left: auto;
      margin-right: auto;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-header {
      display: contents;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-main {
      display: contents;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-content {
      display: contents;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-primary-meta {
      display: none;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-categories {
      grid-area: entry-categories;
      width: 100%;
      background-color: white;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-heading {
      grid-area: entry-heading;
      margin-top: -1rem;
      width: 100%;
      background-color: white;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-axns {
      grid-area: entry-axns;
      width: 100%;
      background-color: white;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-summary-content,
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-full-content {
      grid-area: entry-content;
      margin-top: 0;
      width: 100%;
      background-color: white;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1.ntt--entry-summary-content---1 .ntt--entry-full-content {
      display: contents;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1.ntt--entry-summary-content---1 .ntt--entry-full-content > * {
      display: none;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1.ntt--entry-summary-content---1 .ntt--entry-full-content > .ntt--show-more-axn {
      grid-area: entry-content;
      display: block;
      position: absolute;
      bottom: 0;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1.ntt--entry-more-tag---1 .ntt--entry-summary-content {
      padding-bottom: 3rem;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-banner {
      grid-row: 1/-1;
      grid-column: 1/-1;
      z-index: -1;
      padding-top: 0;
      padding-bottom: 0;
      height: 100%;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-banner figure {
      height: 100%;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-banner a {
      display: block;
      height: 100%;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-banner img {
      height: 100%;
    }
    .ntt--multiple-entries .ntt--entry-banner-visuals---1 .ntt--entry-banner figcaption {
      display: none;
    }
  }
}

.ntt--entry-categories {
  margin-bottom: -1rem;
}

.ntt--cm-author-name a {
  color: #1f2023;
}

.ntt--comment-md {
  margin-top: 4rem;
}

.ntt--content {
  font-size: 1.125rem;
  line-height: 1.8;
}

.ntt--content > * {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.ntt--content > *::first-child {
  margin-top: 0;
}

.ntt--content a {
  border-bottom: 0.125rem solid rgba(0, 96, 230, 0.25);
}

.ntt--content a:hover {
  color: #0060e6;
  text-decoration: none;
  border-bottom: 0;
}

.ntt--content a[href*="flickr.com/"] {
  border-bottom: 0;
}

.ntt--content hr {
  margin: 2em 1rem;
  padding-left: 0;
  padding-right: 0;
  width: 3rem;
  border-top: 0.25rem solid rgba(0, 0, 0, 0.125);
}

.ntt--content blockquote {
  position: relative;
  margin: 2em 0;
  padding-left: calc(1rem + 1em);
  padding-right: calc(1rem + 1em);
  font-size: 1.5rem;
}

.ntt--content blockquote::before {
  content: '“';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: translate(1rem, -3.5rem);
          transform: translate(1rem, -3.5rem);
  color: rgba(0, 0, 0, 0.125);
  font-size: 6em;
  line-height: 1;
  font-family: serif;
}

.ntt--content blockquote cite {
  display: inline-block;
}

.ntt--content blockquote cite em {
  font-style: normal;
}

.ntt--content blockquote a {
  color: #1f2023;
}

.ntt--content .ntt--unapproved-comments-note {
  margin-top: 0;
}

.ntt--content .ntt--show-more-axn a {
  font-weight: normal;
  border-bottom: 0;
}

.ntt--content .wp-block-image > a,
.ntt--content .wp-block-file__button {
  font-weight: normal;
  border-bottom: 0;
}

.ntt--content .ntt--initial-letter, .ntt--content p.has-drop-cap:not(:focus):first-letter {
  position: relative;
  margin: 0 .1em 0 -.05em;
  margin-top: .25em;
  font-size: 5.5em;
}

.ntt--content p.has-drop-cap:not(:focus)::after {
  padding-top: 1em;
}

@media only screen and (min-width: 768px) {
  .ntt--entry-navi {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
  .ntt--content blockquote {
    margin-left: 2em;
    margin-right: 2em;
  }
  .ntt--content blockquote::before {
    -webkit-transform: translate(-2rem, -3rem);
            transform: translate(-2rem, -3rem);
  }
}
