@import '../../../../../assets/styles/source/rules';

$accent-color: $panda-blue;

@import '../../../../../assets/styles/source/theme';

body {
    font-family: 'Spartan';
}

.ntt--entity-heading {
    text-align: center;
}

.ntt--entity-name {
    margin-top: 1rem;
}

.ntt--entity-description {
    color: $mid-color;
    font-size: $text---s;
}

.ntt--entity-primary-nav-group {
    justify-content: center;
}

@supports (display: grid) {

    @include mq(880px) {

        .ntt--entity-header {
            display: grid;
            grid-template:
                'subscribe social-media entry-name primary-secondary search primary-all'
                'primary-nav . . . . .'
                / auto auto 1fr auto auto auto;

            #ntt--custom_html-2 {
                grid-area: subscribe;
            }

            #ntt--nav_menu-4 {
                grid-area: social-media;
            }

            .ntt--entity-primary-nav {
                grid-area: primary-nav;
                grid-column: primary-nav / -1;
                justify-self: center;
            }

            .ntt--entity-heading {
                grid-area: entry-name;
                justify-self: center;
            }

            #ntt--nav_menu-2 {
                grid-area: primary-secondary;
            }

            #ntt--search-3 {
                grid-area: search;
            }

            #ntt--nav_menu-3 {
                grid-area: primary-all;
            }
        }

        .ntt--entity-header-aside {
            display: contents;
        }
    }
}

.ntt--entity-header {
    border-bottom: 1px solid $on-surface-color---alpha-m;
}

.ntt--entity-name {
    text-transform: uppercase;
    letter-spacing: .125em;

    a {
        color: $on-surface-color;
    }
}

.ntt--entry-name {
    font-family: 'Playfair Display';
    font-size: $text---xxl;
}

.ntt--entity-primary-nav {
    font-family: 'Playfair Display';

    a {
        color: $on-surface-color;
        font-size: $text---l;
        font-weight: bold;
    }

    > div > ul > li > a {
        font-size: $text---xl;
    }
}

.ntt--entry-full-content {
    line-height: 1.8;

    a {
        font-weight: bold;
        border-bottom: .125rem solid $accent-color;

        &:hover {
            text-decoration: none;
            border-bottom: 0;
        }

        &[href*="flickr.com/"] {
            border-bottom: 0;
        }
    }

    .ntt--show-more-axn {

        a {
            font-weight: normal;
            border-bottom: 0;
        }
    }

    .wp-block-image > a,
    .wp-block-file__button {
        font-weight: normal;
        border-bottom: 0;
    }
}

.ntt--entry-header {

    > {
        * {
            max-width: 880px;
            @include x-margin(auto);
        }

        .ntt--entry-banner {
            max-width: none;

            img {
                width: 100%;
                height: 75vh;
                min-height: 20rem;
                object-fit: cover;
            }
        }
    }
}

.ntt--entry-full-content {

    > {
        * {
            max-width: 880px;
            @include x-margin(auto);
        }

        .wp-block-image {
            max-width: 880px;
            @include x-margin(auto);

            @at-root .ntt--single-entry & {
                @include y-margin(4rem);
            }
        }

        blockquote {
            @include x-padding(calc(1rem + 1em));
        }
    }
}

.ntt--entry-footer,
.ntt--entity-main-footer {

    > {
        * {
            max-width: 880px;
            width: 100%;
            @include x-margin(auto);
        }
    }
}

.ntt--entity-main-header {

    > {
        * {
            display: flex;
            width: 100%;
            max-width: 880px;
            @include x-margin(auto);
        }
    }
}

.ntt--comments-header {
    width: 100%;
}

//--------------------------------------------------------------
// Entry Navigation
//--------------------------------------------------------------

.ntt--entry-nav {

    .ntt--img {
        display: block;
        margin: .5rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: $on-surface-color---alpha-s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.ntt--entry-nav-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ntt--entry-navi {
    flex: 1 50%;

    a {
        display: flex;
    }

    .ntt--txt {
        @include y-margin(.5rem);
    }

    .ntt--label-txt {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ntt--delimiter-txt {
        display: none;
    }
}

.ntt--next-entry-navi {
    order: 1;

    .ntt--txt {
        flex: 1;
        text-align: right;
    }

    a {
        justify-content: flex-end;
    }
}

.ntt--previous-entry-navi {

    .ntt--txt {
        flex: 1;
    }

    .ntt--img {
        order: -1;
    }
}

//--------------------------------------------------------------
// Entity Main Main Aside
//--------------------------------------------------------------

.ntt--entity-main-main-aside {

    .ntt--widget {
        @include x-margin(1rem);
        background-color: $on-surface-color---alpha-xs;
        border-radius: $corner-radius---s;
    }
}

//--------------------------------------------------------------
// Content Module Date
//--------------------------------------------------------------

.ntt--cm-date {

    a {

        &:hover {
            text-decoration: none;

            .ntt--txt {
                border-color: $on-surface-color;
            }
        }
    }

    .ntt--txt {
        @include x-padding(.75rem);
        text-align: center;
        line-height: 1.2;
        border: 1px solid $on-surface-color---alpha-l;
        @include transition;
        border-radius: $corner-radius---s;
        
        > * {
            display: block;
        }
    }

    .ntt--day-txt {
        font-weight: bold;
        font-size: $text---xl;
    }

    .ntt--month-txt {
        text-transform: uppercase;
        letter-spacing: .125em;
    }

    .ntt--year-txt {
        font-size: $text---xs;
        color: $mid-color;
    }
}

.ntt--entry-modified-datetime,
.ntt--entry-published-datetime-label {
    display: none;
}

.ntt--cm-datetime {
    padding: 1rem;
}

//--------------------------------------------------------------
// Comment
//--------------------------------------------------------------

.comment-respond {
    margin: 1rem;
    background-color: $on-surface-color---alpha-xs;
    border-radius: $corner-radius---s;
}

.ntt--comment-composition-name {
    font-weight: bold;
}

.ntt--comment-composition-name {
    margin-top: 1rem;
}

.ntt--comment-form {

    .form-submit {
        display: flex;

    }

    .ntt--submit-comment-axn {
        width: 100%;

        @include mq(880px) {
            width: auto;
        }
    }
}

.ntt--comment {
    margin: 1rem;
    background-color: $on-surface-color---alpha-xs;
    border-radius: $corner-radius---s;
}

.ntt--comment-approval---unapproved {
    background-color: $surface-color;
    border: 1px dashed $on-surface-color---alpha-m;
}

.ntt--content .ntt--unapproved-comments-note {
    margin-top: 0;
}

.ntt--cancel-reply-axn {
    margin-top: 1rem;
}

.ntt--comment-meta {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    width: 100%;
}

.ntt--comment-datetime {
    order: 1;
}

.ntt--comment-author {
    flex-wrap: nowrap;
    align-items: normal;
    margin-top: 1rem;
    padding: 1rem;
}

.ntt--comment-author-name {
    margin-top: .25rem;
}

.ntt--comment-reply-axn {
    @include y-padding(1rem);
}

.ntt--entry-count,
.ntt--comments-count {

    .ntt--label-txt {
        display: none;
    }

    .ntt--count-txt {
        @include if-y-center;
        justify-content: center;
        padding: .5rem .75rem;
        min-width: 2.5rem;
        min-height: 2rem;
        background-color: $on-surface-color---alpha-s;
        color: $on-surface-color;
        border-radius: $corner-radius---s;
        font-size: $text---m;
        font-weight: bold;
        line-height: normal;
        @include transition;
    }
    
    a:hover {
        text-decoration: none;
        
        .ntt--count-txt {
            background-color: $accent-color;
            color: $surface-color;
            text-decoration: none;

            &::before {
                border-top-color: $accent-color;
            }
        }
    }
}

.ntt--comments-count {
    
    .ntt--count-txt {
        position: relative;
        border-bottom-left-radius: 0;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            // Triangle
            width: 0;
            height: 0;
            border-style: solid;
            border-width: .5rem .5rem 0 0;
            border-color: $on-surface-color---alpha-s transparent transparent transparent;
            @include transition;
        }
    }
}

//--------------------------------------------------------------
// Note
//--------------------------------------------------------------

.ntt--note {
    margin: 1rem;
    @include y-padding(1rem);
    background-color: aliceblue;
    border-radius: $corner-radius---s;

    .ntt--content > & {
        padding: 1rem 0;
    }

    > * {

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

//--------------------------------------------------------------
// Entry Primary Meta
//--------------------------------------------------------------

.ntt--entry-primary-meta {
    flex-wrap: nowrap;
}

.ntt--comments---empty.ntt--comment-creation---1 {

    .ntt--entry-header {

        .ntt--comments-actions-snippet {
            display: none;
        }
    }
}

//--------------------------------------------------------------
// Feature: Sticky Header
//--------------------------------------------------------------

.ntt--f5e--sticky--header {
    
    .ntt--entity-header {
        border-bottom: 0;
    }

    .ntt--entity-name {
        margin-top: 0;
    }
}

//--------------------------------------------------------------
// Navigation Sub-menu
//--------------------------------------------------------------
    
.ntt--nav---sub-menu--js {
    
    > div > ul > li > .ntt--sub-menu--js {
        margin-top: -.25rem;
    }
}

//--------------------------------------------------------------
// Featured Image
//--------------------------------------------------------------

@supports (display: grid) {

    @include mq(880px) {

        .ntt--multiple-entries {
            
            .ntt--entry-banner-visuals---1 {

                &.ntt--entry {
                    display: grid;
                    grid-template:
                        '. .' minmax(3rem, 1fr)
                        '. entry-categories'
                        '. entry-heading'
                        '. entry-axns'
                        '. entry-content'
                        / 50% auto;
                    position: relative;
                    min-height: 75vh;
                    max-width: 880px;
                    @include x-margin(auto);
                }

                .ntt--entry-header {
                    display: contents;
                }

                .ntt--entry-main {
                    display: contents;
                }

                .ntt--entry-content {
                    display: contents;
                }

                .ntt--entry-primary-meta {
                    display: none;
                }

                .ntt--entry-categories {
                    grid-area: entry-categories;
                    width: 100%;
                    background-color: $surface-color;
                }

                .ntt--entry-heading {
                    grid-area: entry-heading;
                    margin-top: -1rem;
                    width: 100%;
                    background-color: $surface-color;
                }

                .ntt--entry-axns {
                    grid-area: entry-axns;
                    width: 100%;
                    background-color: $surface-color;
                }

                .ntt--entry-summary-content,
                .ntt--entry-full-content {
                    grid-area: entry-content;
                    margin-top: 0;
                    width: 100%;
                    background-color: $surface-color;
                }

                &.ntt--entry-summary-content---1 {
                    
                    .ntt--entry-full-content {
                        display: contents;

                        > {
                            * {
                                display: none;
                            }

                            .ntt--show-more-axn {
                                grid-area: entry-content;
                                display: block;
                                position: absolute;
                                bottom: 0;
                            }
                        }
                    }
                }

                &.ntt--entry-more-tag---1 {
                    
                    .ntt--entry-summary-content {
                        padding-bottom: 3rem;
                    }
                }

                .ntt--entry-banner {
                    grid-row: 1/-1;
                    grid-column: 1/-1;
                    z-index: -1;
                    @include y-padding();
                    height: 100%;

                    figure {
                        height: 100%;
                    }

                    a {
                        display: block;
                        height: 100%;
                    }

                    img {
                        height: 100%;
                    }

                    figcaption {
                        display: none;
                    }
                }
            }
        }
    }
}