/* Screen Reader Text ------------------------ */
:root {
  /* Colors */
  --global--color-black: #000;
  --global--color-dark-gray: #333333;
  --global--color-gray: #39414d;
  --global--color-label-gray: #828282;
  --global--color-light-gray: #f0f0f0;
  --global--color-green: #227629;
  --global--color-light-green: #6DDB9C;
  --global--color-light-green-25: hsla(146, 60%, 64%, 0.25);
  --global--color-red: #FF0000;
  --global--color-white: #fff;
  --global--color-white-50: rgba(255, 255, 255, 0.5);
  --global--color-white-90: rgba(255, 255, 255, 0.9);
  --global--color-primary: var(--global--color-dark-gray);
  /* Body text color, site title, footer text color. */
  --global--color-secondary: var(--global--color-gray);
  /* Headings */
  --global--color-primary-hover: var(--global--color-primary);
  --global--color-background: var(--global--color-green);
  /* Mint, default body background */
  --global--color-border: var(--global--color-primary);
  --global--corner-radius-card-m: 1em;
  --global--corner-radius-card-s: .75em;
  --global--corner-radius-form: .5em;
  --testimonies-slide-height-sm: 160px;
  --testimonies-slide-height-md: 240px;
  --slider-arrow-dimensions: 2rem;
  --slider-arrow-pad: 1rem;
  --hero-slider-offset: 0;
}

@media only screen and (min-width: 768px) {
  :root {
    --hero-slider-offset: 160px;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --hero-slider-offset: 240px;
  }
}

body,
button,
input,
select,
textarea {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*
.ntt {

	input[type="text"],
	input[type="email"],
	input[type="search"] {
		min-height: 56px;
		border: 0;
		border-radius: var(--global--corner-radius-form);
		background-color: var(--global--color-white);
	}
}
*/
.hero-color-overlay, .ntt--page--home--view .hero-slider .splide__slide figure:before, .ntt .wp-block-cover.has-background-dim:before {
  background: #EB5757;
  mix-blend-mode: lighten;
  opacity: 0.8;
}

.card---label-in--color-overlay, .ntt .card---label-in figure:before {
  background: -webkit-gradient(linear, left top, right top, from(#227629), to(rgba(34, 118, 41, 0.25)));
  background: linear-gradient(90deg, #227629 0%, rgba(34, 118, 41, 0.25) 100%);
  opacity: 0.85;
}

.color-overlay, .ntt .card---label-in figure:before, .ntt--page--home--view .hero-slider .splide__slide figure:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.hero-text, .ntt--page--home--view .ntt--page--hero-slider .heading {
  font-size: 36px;
  color: #FFFFFF;
  text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 768px) {
  .hero-text, .ntt--page--home--view .ntt--page--hero-slider .heading {
    font-size: 56px;
  }
}

a {
  color: var(--global--color-green);
}

.ntt .wp-block-button__link,
.ntt .wp-block-search .wp-block-search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .667em 1.333em;
  min-height: 56px;
  background: var(--global--color-light-green);
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  border-radius: var(--global--corner-radius-form);
  font-size: 18px;
  text-align: center;
  color: var(--global--color-dark-gray);
}

.ntt .wp-block-button__link:hover {
  text-decoration: none;
  color: var(--global--color-dark-gray);
}

.ntt .wp-block-search {
  width: 100%;
  max-width: 320px;
}

.ntt .wp-block-search .wp-block-search__button {
  margin: 0;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ntt .wp-block-search .wp-block-search__input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ntt .wp-block-search .wp-block-search__input::-webkit-input-placeholder {
  color: var(--global--color-gray);
}

.ntt .wp-block-search .wp-block-search__input:-ms-input-placeholder {
  color: var(--global--color-gray);
}

.ntt .wp-block-search .wp-block-search__input::-ms-input-placeholder {
  color: var(--global--color-gray);
}

.ntt .wp-block-search .wp-block-search__input::placeholder {
  color: var(--global--color-gray);
}

.ntt .wp-block-media-text .wp-block-media-text__media {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.current-menu-item,
.current_page_item {
  font-weight: bold;
}

.current-menu-item a,
.current_page_item a {
  color: var(--global--color-black);
}

.ntt--entity-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ntt--entity-header-aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  background-color: var(--global--color-green);
}

@media only screen and (min-width: 768px) {
  .ntt--entity-header-aside {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.ntt .ntt--entity-header-aside .ntt--widget {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ntt--page--view:not(.ntt--page--home--view) .ntt--entity-header-aside .widget_search {
  display: none;
}

.ntt--entity-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.ntt--entity-logo img {
  width: auto;
  max-width: none;
  height: 64px;
}

@media only screen and (min-width: 768px) {
  .ntt--entity-logo img {
    height: 96px;
  }
}

.ntt--entity-primary-nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.widget_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ntt .widget_search form {
  margin-top: 0;
  max-width: 320px;
}

.widget_search label {
  display: none;
}

.ntt .wp-block-cover {
  min-height: 240px;
  z-index: 0;
}

.ntt--page--home--view .ntt--entry-header {
  display: none;
}

.ntt .slider {
  padding: 0;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

.splide__arrow,
.splide__pagination__page {
  min-height: auto;
}

.ntt .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  margin: 0;
  border-radius: var(--global--corner-radius-card-m);
}

.ntt .card .wp-block-image {
  margin: 0;
}

.ntt .card figure,
.ntt .card img {
  width: 100%;
}

.ntt .card figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.ntt .card img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ntt .card---label-in {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 160px;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .ntt .card---label-in {
    height: 240px;
  }
}

.ntt .card---label-in figure {
  position: relative;
  margin: 0;
}

.ntt .card---label-in .wp-block-media-text__content {
  display: contents;
}

.ntt .card---label-in .wp-block-media-text__content p {
  display: contents;
}

.ntt .card---label-in .wp-block-media-text__content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.ntt .card---label-in .heading {
  font-size: 24px;
  color: var(--global--color-white);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.ntt .card---label-in .heading a {
  color: var(--global--color-white);
}

.ntt .card---content {
  display: block;
  gap: 1rem;
  padding: 1rem;
  background: var(--global--color-white);
  border: 1px solid var(--global--color-light-gray);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .ntt .card---content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.ntt .card---content figure {
  width: 100%;
  height: 160px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  border-radius: var(--global--corner-radius-card-s);
}

@media only screen and (min-width: 768px) {
  .ntt .card---content figure {
    max-width: 160px;
  }
}

.ntt .card---content .wp-block-media-text__content {
  padding-left: 0;
  padding-right: 0;
}

.ntt .card---content .wp-block-button__link {
  margin-top: 1em;
}

.ntt .card---content p {
  color: var(--global--color-label-gray);
}

.ntt .card---content .heading {
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  .ntt .card---content .heading {
    margin: 0;
  }
}

.ntt .card---content .heading a {
  color: var(--global--color-green);
}

.card---label-out {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.card---label-out .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .25rem;
}

.card---label-out figure {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.card---label-out figure a {
  width: 100%;
}

.card---label-out .heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.card---label-out .sub-heading {
  margin: 0;
  text-transform: uppercase;
  color: var(--global--color-label-gray);
}

.ntt--page--home--view .ntt--entry-full-content .ntt--entry-name {
  font-size: 36px;
}

.ntt--page--home--view .ntt--entry-full-content .ntt--entry-name a {
  color: var(--global--color-black);
}

.ntt--page--home--view .ntt--entry-full-content .ntt--percept--entry-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.ntt--page--home--view .ntt--entry-full-content .ntt--percept--entry-content > .heading {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  text-align: center;
  font-size: 24px;
  color: var(--global--color-label-gray);
}

@media only screen and (min-width: 1024px) {
  .ntt--entity-secondary-info {
    text-align: left;
  }
}

.ntt--entity-secondary-info {
  padding-top: 3em;
}

.ntt--page--view .ntt--entry-header {
  display: none;
}

.ntt--page--view .ntt--entry-main {
  margin-top: 0;
}

.ntt--page--view .ntt--entry-md > .ntt--entry {
  padding-top: 0;
}

.ntt--entry-full-content > .ntt--percept {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.ntt--entry-full-content > .ntt--percept .ntt--entry-name a {
  pointer-events: none;
}

.ntt--page--stlmi-online-registration--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > *,
.ntt--page--stlmi-online-registration--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > *,
.ntt--page--certificate-programs--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > *,
.ntt--page--certificate-programs--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > *,
.ntt--page--discipleship--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > *,
.ntt--page--discipleship--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > *,
.ntt--page--outreaches--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > *,
.ntt--page--outreaches--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.ntt--page--stlmi-online-registration--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > .ntt--entry-heading,
.ntt--page--stlmi-online-registration--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > .ntt--entry-heading,
.ntt--page--certificate-programs--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > .ntt--entry-heading,
.ntt--page--certificate-programs--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > .ntt--entry-heading,
.ntt--page--discipleship--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > .ntt--entry-heading,
.ntt--page--discipleship--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > .ntt--entry-heading,
.ntt--page--outreaches--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > .ntt--entry-heading,
.ntt--page--outreaches--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > .ntt--entry-heading {
  display: block;
}

.ntt--page--stlmi-online-registration--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > .wp-block-cover,
.ntt--page--stlmi-online-registration--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > .wp-block-cover,
.ntt--page--certificate-programs--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > .wp-block-cover,
.ntt--page--certificate-programs--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > .wp-block-cover,
.ntt--page--discipleship--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > .wp-block-cover,
.ntt--page--discipleship--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > .wp-block-cover,
.ntt--page--outreaches--view .ntt--entry-md > .ntt--entry > .ntt--entry-header > .wp-block-cover,
.ntt--page--outreaches--view .ntt--entry-md > .ntt--entry > .ntt--entry-main > .ntt--entry-content > .ntt--entry-full-content > .wp-block-cover {
  max-width: none;
}

.ntt--page--home--view .ntt--page--events-online-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: calc(var(--hero-slider-offset) * -1);
  padding-top: 2em;
  width: 100%;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .ntt--page--home--view .ntt--page--events-online-services {
    padding-top: 0;
  }
}

.ntt--page--home--view .ntt--page--events-online-services .ntt--entry-name {
  display: none;
}

.ntt--page--home--view .ntt--page--events-online-services .ntt--entry-content {
  max-width: 1024px;
}

@media only screen and (min-width: 768px) {
  .ntt--page--home--view .ntt--page--events-online-services .ntt--entry-content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.ntt--page--home--view .ntt--page--events-online-services figure {
  height: 100%;
}

.ntt--page--home--view .ntt--page--most-recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.ntt--page--home--view .ntt--page--most-recent .ntt--entry-content {
  max-width: 1024px;
}

@media only screen and (min-width: 768px) {
  .ntt--page--home--view .ntt--page--most-recent .ntt--entry-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ntt--page--home--view .ntt--page--testimonies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  max-width: none;
}

@media only screen and (min-width: 768px) {
  .ntt--page--home--view .ntt--page--testimonies .ntt--entry-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ntt--page--home--view .ntt--page--testimonies .wp-block-media-text__media {
  border-radius: var(--global--corner-radius-card-m);
}

.ntt--page--home--view .testimonies-slider {
  width: 100%;
  margin-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ntt--page--home--view .testimonies-slider figure {
  height: var(--testimonies-slide-height-sm);
}

@media only screen and (min-width: 1024px) {
  .ntt--page--home--view .testimonies-slider figure {
    height: var(--testimonies-slide-height-md);
  }
}

.ntt--page--home--view .testimonies-slider .splide__slide {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ntt--page--home--view .testimonies-slider .splide__arrow {
  top: calc(var(--testimonies-slide-height-sm) / 2);
}

@media only screen and (min-width: 1024px) {
  .ntt--page--home--view .testimonies-slider .splide__arrow {
    top: calc(var(--testimonies-slide-height-md) / 2);
  }
}

.ntt--page--home--view .testimonies-slider .splide__arrow--prev {
  left: calc(var(--slider-arrow-pad) + 1em);
}

.ntt--page--home--view .testimonies-slider .splide__arrow--next {
  right: calc(var(--slider-arrow-pad) + 1em);
}

@media only screen and (min-width: 768px) {
  .ntt--page--pastors .ntt--entry-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ntt--page--pastors .ntt--entry-name {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .ntt--page--pastors .wp-block-media-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 calc(100% / 2);
            flex: 1 calc(100% / 2);
  }
}

@media only screen and (min-width: 1024px) {
  .ntt--page--pastors .wp-block-media-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 calc(100% / 3);
            flex: 1 calc(100% / 3);
  }
}

.ntt--page--pastors .wp-block-media-text.pastors-bishop {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--page--home--view .ntt--page--hero-slider {
  margin: 0;
  padding: 0;
  max-width: none;
}

.ntt--page--home--view .ntt--page--hero-slider .ntt--entry-name {
  display: none;
}

.ntt--page--home--view .hero-slider .splide__list {
  height: 320px;
}

@media only screen and (min-width: 768px) {
  .ntt--page--home--view .hero-slider .splide__list {
    height: 480px;
  }
}

@media only screen and (min-width: 1024px) {
  .ntt--page--home--view .hero-slider .splide__list {
    height: 640px;
  }
}

@media only screen and (min-width: 768px) {
  .ntt--page--home--view .hero-slider .splide__track {
    position: relative;
  }
  .ntt--page--home--view .hero-slider .splide__track:after {
    content: '';
    display: block;
    width: 100%;
    height: var(--hero-slider-offset);
    position: absolute;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff)) left repeat;
    background: linear-gradient(transparent, #fff) left repeat;
  }
}

.ntt--page--home--view .hero-slider .wp-block-media-text {
  display: contents;
}

.ntt--page--home--view .hero-slider .wp-block-media-text__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: var(--hero-slider-offset);
  padding-left: calc(1rem + var(--slider-arrow-dimensions) + var(--slider-arrow-pad));
  padding-right: calc(1rem + var(--slider-arrow-dimensions) + var(--slider-arrow-pad));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.ntt--page--home--view .hero-slider .wp-block-media-text__content .heading {
  margin: 0;
  text-align: center;
}

.ntt--page--home--view .hero-slider .wp-block-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ntt--page--home--view .hero-slider .splide__slide figure,
.ntt--page--home--view .hero-slider .splide__slide img {
  height: 100%;
}

.ntt--page--home--view .hero-slider .splide__slide figure {
  position: relative;
  margin: 0;
}

.ntt--page--home--view .hero-slider .splide__slide img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.ntt--page--home--view .hero-slider .splide__arrow {
  margin-top: calc(calc(var(--hero-slider-offset) / 2) * -1);
  width: var(--slider-arrow-dimensions);
  height: var(--slider-arrow-dimensions);
}

.ntt--page--home--view .hero-slider .splide__arrow--prev {
  left: var(--slider-arrow-pad);
}

.ntt--page--home--view .hero-slider .splide__arrow--next {
  right: var(--slider-arrow-pad);
}

.ntt--page--home--view .hero-slider .splide__pagination {
  margin-bottom: 1rem;
  bottom: var(--hero-slider-offset);
}

.ntt--page--footer {
  margin: 0;
}

.ntt--page--footer > .ntt--entry-name {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .ntt--page--footer > .ntt--entry-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.ntt--page--footer > .ntt--entry-content .ntt--widget {
  display: contents;
}

.ntt--page--footer > .ntt--entry-content .ntt--page {
  margin: 0;
  padding: 1rem;
}

.ntt--entity-footer-aside .ntt--page--footer-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--entity-footer-aside .ntt--page--footer-menu .ntt--entry-name {
  display: none;
}

.ntt--entity-footer-aside .ntt--page--footer-menu ul,
.ntt--entity-footer-aside .ntt--page--footer-menu li {
  margin: 0;
  padding: 0;
}

.ntt--entity-footer-aside .ntt--page--footer-menu li {
  list-style-type: none;
  margin-top: 1em;
}

.ntt--entity-footer-aside .ntt--page--footer-menu li:before {
  content: '\200B';
}

.ntt--entity-footer-aside .ntt--page--footer-menu .ntt--entry-content > ul {
  padding-left: 0;
}

@media only screen and (min-width: 768px) {
  .ntt--entity-footer-aside .ntt--page--footer-menu .ntt--entry-content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
  }
}

.ntt--entity-footer-aside .ntt--page--footer-menu .ntt--entry-content > ul > li {
  margin-top: 2.5em;
}

@media only screen and (min-width: 768px) {
  .ntt--entity-footer-aside .ntt--page--footer-menu .ntt--entry-content > ul > li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--newsletter-social-media {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin-top: 3em;
}

@media only screen and (min-width: 1024px) {
  .ntt--entity-footer-aside .ntt--page--footer .ntt--page--newsletter-social-media {
    margin-top: 2em;
  }
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--newsletter-social-media .ntt--entry-name {
  display: none;
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--newsletter-social-media > .ntt--entry-content {
  padding: 1em .5em;
  background-color: var(--global--color-light-green-25);
  border-radius: var(--global--corner-radius-card-s);
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--newsletter-social-media .heading {
  font-weight: bold;
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--email-newsletter .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .ntt--entity-footer-aside .ntt--page--footer .ntt--page--email-newsletter .contact-form {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--email-newsletter .contact-form label {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--email-newsletter .contact-form br {
  display: none;
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--email-newsletter .contact-form .grunion-field-email-wrap {
  width: 100%;
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--email-newsletter .contact-form .wp-block-button {
  white-space: nowrap;
}

@media only screen and (min-width: 768px) {
  .ntt--entity-footer-aside .ntt--page--footer .ntt--page--email-newsletter .contact-form input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--email-newsletter .contact-form button {
  margin-top: 1em;
}

@media only screen and (min-width: 768px) {
  .ntt--entity-footer-aside .ntt--page--footer .ntt--page--email-newsletter .contact-form button {
    margin-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--social-media .ntt--entry-content ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
  padding: 0;
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--social-media .ntt--entry-content li {
  padding: 0;
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--verse-of-the-day {
  margin-top: 3em;
}

@media only screen and (min-width: 1024px) {
  .ntt--entity-footer-aside .ntt--page--footer .ntt--page--verse-of-the-day {
    margin-top: 2em;
  }
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--verse-of-the-day .ntt--entry-name {
  font-size: 1em;
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--verse-of-the-day .ntt--entry-name a {
  color: var(--global--color-black);
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--verse-of-the-day blockquote {
  margin: 0;
  font-size: 1em;
}

.ntt--entity-footer-aside .ntt--page--footer .ntt--page--verse-of-the-day cite {
  font-size: .75em;
  text-transform: uppercase;
  color: var(--global--color-label-gray);
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .ntt--entry-name {
  display: none;
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector {
  display: -ms-grid;
  display: grid;
  grid-template: 'nav1 nav2 nav3' 'content . .' / 1fr 1fr 1fr;
  padding: 0;
}

@media only screen and (min-width: 1024px) {
  .ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector {
    grid-template: 'nav1 content' 'nav2 .' 'nav3 .' 1fr / 80px auto;
    grid-column-gap: 2em;
  }
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector .wp-block-group__inner-container {
  display: contents;
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector .wp-block-media-text {
  padding: 0;
}

@media only screen and (min-width: 1024px) {
  .ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector .wp-block-media-text {
    padding: 2em;
    background: #FFFFFF;
    /* STLMI/Light Gray */
    border: 1px solid #F7F7F7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* STLMI/Card Shadow */
    -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector .wp-block-media-text__media {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

@media only screen and (min-width: 768px) {
  .ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector .wp-block-media-text__content p:first-of-type {
    margin-top: 0;
  }
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector .ntt--page {
  display: none;
  grid-area: content;
  grid-column: 1 / -1;
}

@media only screen and (min-width: 1024px) {
  .ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector .ntt--page {
    grid-row: 1 / -1;
    grid-column: auto;
  }
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector label {
  color: var(--global--color-green);
  white-space: nowrap;
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector label:nth-of-type(1) {
  grid-area: nav1;
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector label:nth-of-type(2) {
  grid-area: nav2;
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector label:nth-of-type(3) {
  grid-area: nav3;
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector [type=radio] {
  display: none;
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector [type=radio]:checked + label {
  font-weight: bold;
  color: var(--global--color-black);
}

.ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector [type=radio]:checked + label + .ntt--page {
  display: block;
  margin-top: 1em;
}

@media only screen and (min-width: 1024px) {
  .ntt--page--about-us--view .ntt--page--vision-mission-values .content-selector [type=radio]:checked + label + .ntt--page {
    margin-top: 0;
  }
}

.ntt--page--ministries--view .ntt--page--ministries-directory .ntt--entry-name {
  display: none;
}

.ntt--page--ministries--view .ntt--page--ministries-directory .ntt--entry-content > .card {
  margin-top: 2em;
}

.ntt--page--bible-institute--view .ntt--page--certificates-offered > .ntt--entry-name {
  text-align: center;
}

.ntt--page--bible-institute--view .ntt--page--certificates-offered .ntt--entry-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em 2em;
}

.ntt--page--stlmi-online-registration--view .ntt--entry-header {
  display: block;
}

.ntt--page--stlmi-online-registration--view .ntt--entry-header .ntt--entry-breadcrumbs-nav,
.ntt--page--stlmi-online-registration--view .ntt--entry-header .ntt--comments-actions-snippet {
  display: none;
}

.ntt--page--outreaches--view .ntt--entry-full-content .blocks-gallery-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.ntt--page--outreaches--view .ntt--entry-full-content .blocks-gallery-item {
  max-height: 240px;
  border-radius: var(--global--corner-radius-card-m);
  overflow: hidden;
}

.ntt--page--outreaches--view .ntt--page--outreaches-directory .ntt--entry-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.ntt--page--outreaches--view .ntt--page--outreaches-directory .ntt--entry-content .wp-block-media-text {
  height: 240px;
}

.ntt--page--outreaches--view .ntt--page--outreaches-directory .ntt--entry-content .wp-block-media-text__media {
  border-radius: var(--global--corner-radius-card-m);
}
