.ntt--content span[id^=more-], .ntt--nav---sub-menu--js .ntt--sub-menu-checkbox-label--js {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.ntt--entry-full-content:before {
  content: " ";
  display: table;
}

.ntt--entry-full-content:after {
  content: " ";
  display: table;
  clear: both;
}

.ntt--comment-name .ntt--txt, .ntt--comment-author-name .ntt--txt, .ntt--comment-author-label .ntt--txt, .ntt--comments-count .ntt--txt, .ntt--comments-header .ntt--comments-count .ntt--txt, .ntt--comments-actions-snippet .ntt--comment-axn .ntt--txt, .ntt--comment-reply-axn .ntt--txt, .ntt--comments-name .ntt--txt, .ntt--modify-comment-axn .ntt--txt, .ntt--comment-composition-name .ntt--txt, .ntt--cancel-reply-axn .ntt--txt, .ntt--comment-form label .ntt--txt, .ntt--log-out-account-axn .ntt--txt, .ntt--logged-in-account .ntt--txt, .ntt--comment-published-datetime-label .ntt--txt, .ntt--comment-published-date .ntt--txt,
.ntt--comment-published-time .ntt--txt, .ntt--cm-author-name .ntt--txt, .ntt--entity-name .ntt--txt, .ntt--entity-description .ntt--txt, .ntt--entity-view-name .ntt--txt, .ntt--entry-count .ntt--txt, .ntt--entity-secondary-name .ntt--txt,
.ntt--entity-copyright .ntt--txt,
.ntt--entity-maker-tag .ntt--txt, .sub-content-ntt--entry-name .ntt--txt, .ntt--entry-categories a, .ntt--entry-published-datetime-label .ntt--txt,
.ntt--entry-modified-datetime-label .ntt--txt, .ntt--entry-published-date .ntt--txt,
.ntt--entry-published-time .ntt--txt,
.ntt--entry-modified-date .ntt--txt,
.ntt--entry-modified-time .ntt--txt, .ntt--entry-name .ntt--txt, .ntt--entry-subname .ntt--txt, .ntt--modify-entry-axn .ntt--txt, .ntt--entry-tags a, .ntt--entry-tags-name .ntt--txt, .ntt--show-more-axn .ntt--txt, .ntt--entry-author-label .ntt--txt, .ntt--entry-author-name .ntt--txt, .post-navigation .ntt--txt, .ntt--entry-breadcrumbs-navi .ntt--txt, .ntt--entries-nav li .ntt--txt,
.ntt--entry-subcontent-nav li .ntt--txt, .ntt--entries-page-indicator .ntt--txt, .ntt--entity-primary-nav li .ntt--txt,
.ntt--entity-secondary-nav li .ntt--txt,
.ntt--widget_nav_menu li .ntt--txt, .ntt--widget_nav_menu a, .ntt--entry-nav .ntt--txt, .ntt--entry-content-nav .ntt--txt, .ntt--comments-navi .ntt--txt {
  display: block;
  padding: .5rem;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  scroll-behavior: smooth;
}

html.js:not(.ntt--nav-mode---tab--js) button:focus,
html.js:not(.ntt--nav-mode---tab--js) input:focus,
html.js:not(.ntt--nav-mode---tab--js) select:focus,
html.js:not(.ntt--nav-mode---tab--js) textarea:focus {
  outline: none;
}

body {
  min-height: 100vh;
  overflow-anchor: auto;
  font-family: sans-serif;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a label:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  padding: .5em .75em;
  width: 100%;
  min-height: 3rem;
  font: inherit;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.125rem;
}

[type="checkbox"],
[type="radio"] {
  width: auto;
  min-height: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2.5em;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M6.8 10.7a1.6 1.6 0 0 0 2.2 0l7-7 7 7a1.6 1.6 0 0 0 2.2 0 1.6 1.6 0 0 0 0-2.2L17 .5a1.5 1.5 0 0 0-1-.5 1.4 1.4 0 0 0-1.2.5l-8 8a1.6 1.6 0 0 0 0 2.2zm18.4 10.6a1.6 1.6 0 0 0-2.2 0l-7 7-7-7a1.6 1.6 0 0 0-2.1 0 1.6 1.6 0 0 0 0 2.2l8 8a1.5 1.5 0 0 0 1.1.5 1.4 1.4 0 0 0 1.1-.5l8-8a1.6 1.6 0 0 0 .1-2.2z'/%3E%3C/svg%3E");
  background-position: calc(100% - .75rem) 50%;
  background-repeat: no-repeat;
  background-size: 1rem;
}

select:hover {
  cursor: pointer;
}

textarea {
  display: block;
  line-height: 1.8;
  min-height: 4.5rem;
}

button,
input[type="submit"] {
  display: inline-block;
  padding: .75rem 1.25rem;
  width: auto;
  min-height: 2.75rem;
  color: white;
  border: 0;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

label[for]:hover {
  cursor: pointer;
}

.ntt--comment-meta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--comment-name {
  display: inline-block;
  padding: .5rem;
  font-weight: bold;
}

.ntt--comment-author-name a {
  display: inline-block;
}

.ntt--comment-author {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
}

.ntt--comment-author-label {
  display: inline-block;
}

.ntt--comments-count a {
  display: inline-block;
}

.ntt--comments-count a:hover .ntt--count-txt {
  text-decoration: underline;
}

.ntt--comments-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--comments-header .ntt--comments-actions-snippet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: contents;
}

.ntt--comments-header .ntt--comments-count {
  padding: .5rem;
  font-weight: bold;
}

.ntt--comments-header .ntt--comments-count a:hover {
  text-decoration: none;
}

.ntt--comments-header .ntt--comments-count .ntt--label-txt {
  display: none;
}

.ntt--comments-header .ntt--disabled-comments-note {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--comments-actions-snippet .ntt--comment-axn {
  padding: .5rem;
}

.ntt--comments-actions-snippet .ntt--comment-axn a {
  display: inline-block;
}

.ntt--comments-actions-snippet .ntt--comment-axn a:hover {
  text-decoration: none;
}

.ntt--comments-actions-snippet .ntt--comment-axn a:hover .ntt--comment-text {
  text-decoration: underline;
}

.ntt--comment-reply-axn {
  padding: .5rem;
}

.ntt--comment-reply-axn a {
  display: inline-block;
}

.ntt--comment-reply-axn a:hover {
  text-decoration: none;
}

.ntt--comment-reply-axn a:hover .ntt--reply-text {
  text-decoration: underline;
}

.ntt--comments-name {
  display: inline-block;
  padding: .5rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -1rem;
  font-weight: normal;
  font-size: 1rem;
}

.ntt--modify-comment-axn {
  padding: .5rem;
}

.ntt--modify-comment-axn a {
  display: inline-block;
}

.ntt--comment-composition-name {
  display: inline-block;
  padding: .5rem;
}

.ntt--cancel-reply-axn {
  display: none;
  padding: .5rem;
}

.ntt--cancel-reply-axn a {
  display: inline-block;
}

.ntt--comments-group ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ntt--comments-group ul ul {
  padding-left: 1rem;
}

.ntt--comments-group .comment-respond {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ntt--comments-group .ntt--cancel-reply-axn {
  display: block;
}

.ntt--comments-group .ntt--comment-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--comment-form label {
  display: inline-block;
}

.ntt--comment-form .form-submit {
  margin: 0;
}

.ntt--comment-form .form-submit:empty {
  display: none;
}

.ntt--comment-form .subscribe-label {
  display: inline-block !important;
  padding: .5rem;
}

.ntt--comment-form .comment-subscription-form {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ntt--comment-form .ntt--form-field {
  padding: .5rem;
}

.ntt--comment-form .ntt--form-element {
  padding: .5rem;
}

.ntt--submit-comment-axn {
  margin: 1rem;
}

.comment-form-cookies-consent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 1rem 0;
}

.comment-form-cookies-consent input {
  margin-left: 1rem;
}

.comment-form-cookies-consent label {
  padding: 1rem;
}

.ntt--account-log-status {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--log-out-account-axn {
  padding: .5rem;
}

.ntt--log-out-account-axn a {
  display: inline-block;
}

.ntt--logged-in-account {
  padding: .5rem;
}

.ntt--entry-header .ntt--comments-actions-snippet .ntt--comments-count {
  padding: .5rem;
}

.ntt--comment-published-datetime {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
}

.ntt--comment-published-datetime-label {
  display: inline-block;
}

.ntt--comment-published-date a,
.ntt--comment-published-time a {
  display: inline-block;
  color: inherit;
}

.ntt--cm-author-avatar a {
  display: inline-block;
}

.ntt--cm-author-avatar .ntt--img {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.03125);
}

.ntt--cm-author-name a {
  display: inline-block;
}

.ntt--entity-start,
.ntt--entity-end,
.ntt--single-entry .ntt--entity-main-header {
  display: none;
}

.ntt--entity-main-main-aside {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@supports (display: grid) {
  .ntt--entity {
    display: -ms-grid;
    display: grid;
    grid-template: 'entity-start' 'entity-header' 'entity-main' 1fr 'entity-footer' 'entity-end';
    min-height: 100vh;
  }
  .ntt--entity-start {
    grid-area: entity-start;
  }
  .ntt--entity-header {
    grid-area: entity-header;
  }
  .ntt--entity-main {
    grid-area: entity-main;
  }
  .ntt--entity-footer {
    grid-area: entity-footer;
  }
  .ntt--entity-end {
    grid-area: entity-end;
  }
}

.ntt--entity-logo---1 .ntt--entity-name {
  display: none;
}

.ntt--entity-logo---1 .ntt--entity-description {
  display: none;
}

.ntt--entity-logo {
  padding: 1rem;
}

.ntt--entity-logo a {
  display: inline-block;
}

.ntt--entity-heading {
  padding: .5rem;
}

.ntt--entity-name {
  margin: 0;
  font-size: 1.5rem;
}

.ntt--entity-name a {
  display: inline-block;
}

.ntt--entity-description {
  display: inline-block;
}

.ntt--entity-view-heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
}

.ntt--current-index .ntt--entity-view-heading,
.ntt--zero-entry .ntt--entity-view-heading {
  display: none;
}

.ntt--entity-view-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}

.ntt--entity-view-name a {
  display: inline-block;
}

.ntt--entity-view-name .ntt--search-term---txt {
  font-weight: bold;
}

.ntt--archive-index .ntt--entity-view-name .ntt--key-line {
  display: none;
}

.ntt--entry-count {
  font-weight: bold;
}

.ntt--entry-count .ntt--label-txt {
  display: none;
}

.ntt--entity-banner-visuals---1 .ntt--entity-banner-visuals {
  margin-bottom: 2em;
}

.ntt--entity-secondary-info {
  padding: .5rem;
  color: rgba(0, 0, 0, 0.5);
}

.ntt--entity-secondary-info a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}

.ntt--entity-secondary-name,
.ntt--entity-copyright,
.ntt--entity-maker-tag {
  display: inline-block;
}

.ntt--entity-secondary-name .ntt--txt,
.ntt--entity-copyright .ntt--txt,
.ntt--entity-maker-tag .ntt--txt {
  font-size: 0.875rem;
}

.ntt--entity-footer {
  background-color: rgba(0, 0, 0, 0.03125);
}

.ntt--entity-header-aside .ntt--widget:only-of-type {
  padding-bottom: 0;
}

.ntt--entity-header-aside .ntt--widget:only-of-type > * {
  margin-bottom: 0;
}

.ntt--entry-categories-name {
  display: none;
}

.ntt--entry-primary-meta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--content > * {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ntt--content > ul,
.ntt--content > ol {
  padding-left: 2.5rem;
  margin-left: .5em;
}

.ntt--content > .ntt--note {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ntt--content > .ntt--sub-content-entries {
  padding-left: 0;
  padding-right: 0;
}

.ntt--content > .ntt--txt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ntt--content:empty {
  display: none;
}

.ntt--content blockquote > *:first-child {
  margin-top: 0;
}

.ntt--content blockquote > *:last-child {
  margin-bottom: 0;
}

.ntt--content figure {
  margin-left: 0;
  margin-right: 0;
}

.ntt--content figure[style*="width"] {
  width: auto !important;
}

.ntt--content table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.ntt--content tbody {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--content tbody th {
  text-align: left;
}

.ntt--content th,
.ntt--content td {
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--content pre {
  overflow: auto;
  white-space: pre-wrap;
}

.ntt--content .ntt--pre-wrapper {
  max-width: 100vw;
  overflow: auto;
}

.ntt--content .ntt--pre-wrapper pre {
  padding: 1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.0325);
}

.ntt--content form {
  font-size: 1rem;
}

.ntt .ntt--content .alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.ntt .ntt--content .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ntt .ntt--content .alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.ntt--entry-full-content .wp-block-gallery {
  padding-left: 0;
}

.ntt--entry-full-content .wp-block-gallery .blocks-gallery-item {
  margin: 0;
}

.ntt--sub-content-entries-name {
  display: none;
}

.sub-content-ntt--entry-name {
  padding: .5rem;
}

.sub-content-ntt--entry-name a {
  display: inline-block;
}

.entry--sub-content-entries-parent .ntt--entry-heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entry--sub-content-entries-parent .ntt--entry-heading .ntt--entry-name {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.sub-content-entry-description > * {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1em auto;
  margin-bottom: 1em auto;
}

.ntt--entry-banner {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wp-caption-text, .ntt .wp-caption figcaption,
.ntt .wp-block-image figcaption, .ntt--entry-banner-visuals figcaption {
  margin: 0;
  margin-top: .5em;
  text-align: left;
  color: #757575;
}

.ntt .wp-caption,
.ntt .wp-block-image {
  /*
        .aligncenter {
            margin-top: 0;
        }

        .alignleft {
            float: none;
            margin-right: 0;
            margin-top: 0;
        }

        .alignright {
            float: none;
            margin-left: 0;
            margin-top: 0;
        }
        */
}

.ntt--entry-content form {
  font-size: 1rem;
}

.entry-categories {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entry-categories > .ntt--txt {
  padding: 1rem;
}

.ntt--entry-categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--entry-categories li {
  padding: .5rem;
}

.ntt--entry-categories a {
  display: inline-block;
}

.ntt--entry-published-datetime,
.ntt--entry-modified-datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
}

.ntt--entry-published-datetime-label,
.ntt--entry-modified-datetime-label {
  display: inline-block;
}

.ntt--entry-published-date a,
.ntt--entry-published-time a,
.ntt--entry-modified-date a,
.ntt--entry-modified-time a {
  display: inline-block;
  color: inherit;
}

.ntt--entry-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  padding: .5rem;
  margin: 0;
  font-size: 1.5rem;
  word-break: break-word;
}

.ntt--entry-name a {
  display: inline-block;
}

.ntt--entry-subname {
  display: inline-block;
  padding: .5rem;
  margin-top: -1rem;
  font-size: 1.125rem;
}

.ntt--entry-axns {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ntt--entry-axns {
  padding: .5rem;
}

.ntt--modify-entry-axn a {
  display: inline-block;
}

.ntt--entry-content-snippet p:empty {
  display: none;
}

.ntt--entry-content-snippet a:empty {
  display: none;
}

.ntt--entry-content-snippet a:hover {
  text-decoration: none;
}

.ntt--entry-tags li {
  display: inline-block;
  padding: .5rem;
}

.ntt--entry-tags-name {
  display: inline-block;
  vertical-align: middle;
  padding: .5rem;
  font-weight: bold;
}

.ntt--entry-tags-group {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--entry-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--entry-header > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.entry-heading,
.entry-axns,
.ntt--entry-banner {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.entry-header .ntt--comments-actions-snippet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entry-header .ntt--disabled-comments-note {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--entry-banner-visuals {
  margin: 0;
}

.ntt--entry-banner-visuals figcaption {
  margin: 1rem 1rem 0;
}

.ntt--entry-summary-content---1 .ntt--entry-full-content {
  margin-top: 1em;
}

.ntt--entry-summary-content > * {
  font-size: 1.5rem;
}

.ntt--entry-summary-content > .ntt--show-more-axn {
  font-size: 1rem;
}

.entry-heading {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--entry-heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--entry-heading .entry-name,
.ntt--entry-heading .ntt--entry-subname {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--entry-heading .ntt--entry-categories {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.sub-content-entry-count {
  padding: .5rem;
  line-height: 1;
  font-weight: bold;
}

.sub-content-entry-count .ntt--label-txt {
  display: none;
}

.ntt--show-more-axn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0;
}

.ntt--show-more-axn a {
  display: inline-block;
}

.ntt--entry-author {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
}

.ntt--entry-author-label {
  display: inline-block;
}

.post-password-form label input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-password-form input[type="submit"] {
  margin-top: 1rem;
}

.ntt--nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ntt--nav-name {
  display: none;
}

.navigation .screen-reader-text {
  display: none;
}

.post-navigation {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.post-navigation a {
  display: inline-block;
}

.ntt--entry-breadcrumbs-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  padding: .5rem;
}

.ntt--entry-breadcrumbs-nav-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--entry-breadcrumbs-nav-ancestors-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ntt--entry-breadcrumbs-nav-ancestors-group li {
  margin-right: 1rem;
}

.ntt--entry-breadcrumbs-nav-ancestors-group .ntt--txt {
  position: relative;
}

.ntt--entry-breadcrumbs-nav-ancestors-group .ntt--txt:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  z-index: -1;
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M29.7 8.3c-.9-.9-2.3-.9-3.3 0L16 18.8 5.6 8.3c-1-.9-2.4-.9-3.3 0s-1 2.4 0 3.3l12 12c.5.5 1 .8 1.7.8.6 0 1.2-.3 1.6-.7l12.1-12.1c1-1 1-2.4 0-3.3z'/%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: .75rem;
  -webkit-transform: translatey(-50%) rotate(-90deg);
          transform: translatey(-50%) rotate(-90deg);
  opacity: .25;
}

.ntt--entry-breadcrumbs-navi a {
  display: inline-block;
}

.ntt--ntt--entry-breadcrumbs-nav-ancestors-group {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ntt--entries-nav ul,
.ntt--entry-subcontent-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--entries-nav li,
.ntt--entry-subcontent-nav li {
  padding: .5rem;
}

.ntt--entries-nav li .page-numbers,
.ntt--entry-subcontent-nav li .page-numbers {
  display: inline-block;
}

.ntt--entries-nav .current,
.ntt--entry-subcontent-nav .current {
  font-weight: bold;
}

.ntt--entries-page-indicator {
  display: inline-block;
  padding: .5rem;
}

.js.ntt--dom---unloaded .ntt--entity-primary-nav, .js.ntt--dom---unloaded
.ntt--entity-secondary-nav, .js.ntt--dom---unloaded
.ntt--widget_nav_menu {
  visibility: hidden;
}

.js.ntt--dom---loaded .ntt--entity-primary-nav, .js.ntt--dom---loaded
.ntt--entity-secondary-nav, .js.ntt--dom---loaded
.ntt--widget_nav_menu {
  visibility: visible;
}

.ntt--entity-primary-nav ul,
.ntt--entity-secondary-nav ul,
.ntt--widget_nav_menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--entity-primary-nav li,
.ntt--entity-secondary-nav li,
.ntt--widget_nav_menu li {
  padding: .5rem;
}

.ntt--entity-primary-nav a,
.ntt--entity-secondary-nav a,
.ntt--widget_nav_menu a {
  display: inline-block;
}

.ntt--entity-primary-nav .children,
.ntt--entity-primary-nav .sub-menu,
.ntt--entity-secondary-nav .children,
.ntt--entity-secondary-nav .sub-menu,
.ntt--widget_nav_menu .children,
.ntt--widget_nav_menu .sub-menu {
  margin-left: 1rem;
}

.ntt--widget_nav_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M92.9 26a7.4 7.4 0 0 0-10.3 0L50 58.6 17.4 26A7.3 7.3 0 1 0 7.1 36.3L44.9 74a7.1 7.1 0 0 0 5.1 2.1c1.9.1 3.7-.7 5.1-2.1l37.8-37.8a7.2 7.2 0 0 0 0-10.2z'/%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 0;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js:hover {
  cursor: pointer;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js:checked {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js:checked ~ .ntt--sub-menu--js {
  display: block;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-ancestor--js {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 3rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-ancestor--js a {
  display: block;
  width: 100%;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-ancestor--js li {
  padding: 0;
  min-width: 100%;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js {
  display: none;
  position: absolute;
  z-index: 1;
  margin-left: .5rem;
  top: 100%;
  width: auto;
  min-width: 100%;
  border-radius: 0.125rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js li:last-child {
  border-bottom: 0;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js a,
.ntt--nav---sub-menu--js .ntt--sub-menu--js .ntt--txt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js .ntt--txt {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js .ntt--sub-menu--js {
  margin-top: -.25rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js .ntt--sub-menu-ancestor--js {
  padding-right: 3rem;
}

.ntt--nav---sub-menu--js > div > ul > .ntt--sub-menu-ancestor--js .ntt--sub-menu---active--js {
  border-bottom: 0;
}

.ntt--nav---sub-menu--js > div > ul > .ntt--sub-menu-ancestor--js .ntt--sub-menu---active--js ~ li {
  display: none;
}

.ntt--nav---sub-menu--js.ntt--entity-primary-nav a, .ntt--nav---sub-menu--js.ntt--entity-secondary-nav a, .ntt--nav---sub-menu--js.ntt--widget_nav_menu a {
  white-space: nowrap;
}

.ntt--entry-nav {
  padding-bottom: 2rem;
}

.ntt--entry-nav a {
  display: inline-block;
  color: inherit;
}

.ntt--entry-nav a:hover {
  text-decoration: none;
}

.ntt--entry-nav a:hover .ntt--entry-name-txt {
  text-decoration: underline;
}

.ntt--entry-nav .ntt--img {
  display: inline-block;
}

.ntt--entry-navi {
  padding: .5rem;
}

.ntt--entry-nav-name {
  display: block;
  padding: .5rem;
}

.ntt--entry-content-nav a {
  display: inline-block;
}

.ntt--entry-content-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--entry-content-nav li {
  padding: .5rem;
}

.ntt--entry-content-nav .page---text {
  display: none;
}

.ntt--entry-content-navi--current {
  font-weight: bold;
}

.ntt--comments-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ntt--comments-navi {
  padding: .5rem;
}

.ntt--comments-navi a {
  display: inline-block;
}

.ntt--next-comments-navi {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.ntt--note > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ntt--widget {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ntt--widget > * {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ntt--widget ul,
.ntt--widget ol {
  padding-left: 1.5rem;
}

.ntt--widget_nav_menu .ntt--widget-name {
  padding: .5rem;
}

.ntt--widget_nav_menu .ntt--widget-name .ntt--txt {
  padding: .5rem;
}

.ntt--widget-name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.ntt--entry-main-aside {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

.ntt--search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ntt--search .text-input {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ntt--search button {
  min-height: 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ntt--search-label {
  display: none;
}

.ntt--search-field {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  padding: 0;
}

.ntt--widget_tag_cloud a {
  display: inline-block;
  padding: .5rem;
}

.ntt--widget_nav_menu {
  padding-left: 0;
  padding-right: 0;
}

.ntt--widget_nav_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ntt--widget_nav_menu > * {
  margin-top: 0;
  margin-bottom: 0;
}

@supports (display: grid) {
  @media only screen and (min-width: 880px) {
    .ntt--entity-main-main-aside---1 .ntt--entity-main-main {
      display: -ms-grid;
      display: grid;
      grid-template: 'entry-md entity-main-main-aside' / 2fr 1fr;
    }
    .ntt--entity-main-main-aside---1 .ntt--entry-md {
      grid-area: entry-md;
    }
    .ntt--entity-main-main-aside---1 .ntt--entity-main-main-aside {
      grid-area: entity-main-main-aside;
    }
    .ntt--entity-main-main-aside---1 .ntt--entity-main-footer {
      display: -ms-grid;
      display: grid;
      grid-template: 'entity-main-footer .' / 2fr 1fr;
    }
    .ntt--entity-main-main-aside---1 .ntt--entry-nav {
      grid-area: entity-main-footer;
    }
    .ntt--single-entry.ntt--entity-main-main-aside---1 .ntt--entity-main-main {
      grid-template: 'entity-main-main-aside entry-md' / 1fr 3fr;
    }
    .ntt--single-entry.ntt--entity-main-main-aside---1 .ntt--entity-main-footer {
      grid-template: '. entity-main-footer' / 1fr 3fr;
    }
  }
}

.ntt--entity-main-header {
  padding-top: 2rem;
}

.ntt--entry {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ntt--widget {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ntt--widget-name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.ntt--comment-form .ntt--form-field {
  position: relative;
}

.ntt--comment-form .ntt--form-field label {
  position: absolute;
  margin-left: calc(1.25rem + 1px);
  margin-top: calc(1.75rem + 1px);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.js.ntt--dom---unloaded .ntt--comment-form .ntt--form-field label {
  visibility: hidden;
}

.js.ntt--dom---loaded .ntt--comment-form .ntt--form-field label {
  visibility: visible;
}

.ntt--comment-form .ntt--form-field label .ntt--txt {
  padding: 0;
}

.ntt--comment-form .ntt--form-field label .ntt--txt > * {
  vertical-align: middle;
}

.ntt--comment-form .ntt--form-field:focus-within label, .ntt--comment-form .ntt--form-field.ntt--form-field---populated--js label {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #757575;
}

.ntt--comment-form .ntt--form-field .text-input {
  min-height: 4rem;
  padding-top: 2rem;
  text-overflow: ellipsis;
}

.ntt--comment-form .ntt--form-field .text-input::-webkit-input-placeholder {
  color: transparent;
}

.ntt--comment-form .ntt--form-field .text-input:-ms-input-placeholder {
  color: transparent;
}

.ntt--comment-form .ntt--form-field .text-input::-ms-input-placeholder {
  color: transparent;
}

.ntt--comment-form .ntt--form-field .text-input::placeholder {
  color: transparent;
}

.ntt--comment-form .ntt--required-txt {
  display: none;
}

.ntt--comment-form .ntt--optional-txt {
  padding: .25rem .5rem;
  font-size: 0.75rem;
  color: #757575;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.03125);
  border-radius: 0.125rem;
}

.ntt--user---admin .ntt--comment-form {
  position: relative;
}

.ntt--user---admin .ntt--comment-form .form-submit {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.ntt--user---admin .ntt--comment-form .form-submit input[type="submit"] {
  margin: 0;
}

.ntt--user---admin .ntt--comment-form textarea {
  padding-right: 7.5rem;
}

.ntt--cm-author-avatar .ntt--img {
  border-radius: 50%;
  overflow: hidden;
}

.ntt--entry-nav-name {
  font-size: 1.5rem;
}

.ntt--entity-header {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.ntt--post--table-of-contents--view .ntt--entry-full-content nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: aliceblue;
}

.ntt--post--table-of-contents--view .ntt--entry-full-content nav a {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.ntt--post--table-of-contents--view .ntt--entry-full-content nav .ntt--intersected--js {
  background-color: red;
}

.ntt--entity-footer {
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.ntt--entity-footer.ntt--intersected--js {
  opacity: 1;
}

section {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

section.ntt--not-intersected--js {
  opacity: 0;
}

section.ntt--intersected--js {
  opacity: 1;
}

section:target {
  -webkit-animation-name: target-fade;
          animation-name: target-fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes target-fade {
  from {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 96, 230, 0.125);
  }
  to {
    background-color: transparent;
  }
}

@keyframes target-fade {
  from {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 96, 230, 0.125);
  }
  to {
    background-color: transparent;
  }
}

.ntt--f5e--sticky--header---active--js .ntt--entity-heading {
  padding-top: 0;
  padding-bottom: 0;
}

.ntt--f5e--sticky--header---active--js .ntt--entity-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template: 'entity-heading entity-primary-nav';
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.ntt--f5e--sticky--header---active--js .ntt--entity-header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: .5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, black 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
  opacity: .0625;
}

.ntt--f5e--sticky--header---active--js .ntt--entity-description {
  display: none;
}

@-webkit-keyframes fade-in {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ntt--f5e--sticky--header---active--js .ntt--nav---sub-menu--js > div > ul > li > .ntt--sub-menu--js {
  margin-top: -.25rem;
}

.ntt--multiple-entries .ntt--entry .post-password-form {
  display: none;
}

.ntt--entry .post-password-form label {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--entry .post-password-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ntt--entry .post-password-form p:last-child {
  margin-bottom: 0;
}

.ntt--entry .post-password-form input[type="password"] {
  margin-bottom: 0;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ntt--entry .post-password-form input[type="submit"] {
  margin-top: 0;
  height: 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (min-width: 48em) {
  .ntt .wp-caption .alignleft,
  .ntt .wp-block-image .alignleft {
    float: left;
    margin-right: 1em;
  }
  .ntt .wp-caption .alignright,
  .ntt .wp-block-image .alignright {
    float: right;
    margin-left: 1em;
  }
  .entry-main-aside--1 .ntt--entry-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .entry-main-aside--1 .ntt--entry-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 70%;
            flex: 1 70%;
  }
  .entry-main-aside--1 .entry-main-aside {
    -webkit-box-flex: 1;
        -ms-flex: 1 30%;
            flex: 1 30%;
  }
  .entry-main-aside--1.ntt--entity-main-main-aside---0 .entry-main-aside {
    margin-top: 0;
  }
  .entry-main-aside--1.ntt--entity-main-main-aside---1 .ntt--entry-main {
    display: block;
  }
  .entry-nav-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ntt--next-entry-navi {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .previous-entry-navi,
  .ntt--next-entry-navi {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media only screen and (min-width: 61.25em) {
  .entry-main-aside--1 .entry-main-aside {
    margin-top: 0;
  }
  .entry-main-aside--1.ntt--entity-main-main-aside---1 .ntt--entry-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.ntt--wild-card-toolbar---js {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: .5rem;
}

.ntt--wild-card-toolbar---js > * {
  margin: .5rem;
}

html {
  background-color: white;
}

body {
  color: #1f2023;
}

a {
  color: #0060e6;
}

button,
input[type="submit"] {
  background-color: #0060e6;
}

button,
input,
select,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--content {
  color: #1f2023;
  line-height: 1.5;
}

.ntt--entry-content-snippet a {
  color: #1f2023;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--entry-nav a .ntt--entry-name-txt {
  color: #0060e6;
}

.ntt--entry-nav a:hover .ntt--entry-name-txt {
  color: #0060e6;
}
