.customize-control select[multiple] {
  min-height: 160px;
  overflow: auto;
}

#customize-control-ntt__kid_ntt__wp_customizer__settings__site_icon .customize-control-description .ntt--icon {
  width: 18px;
  vertical-align: middle;
}

/* Screen Reader Text ------------------------ */
.ntt--content span[id^=more-], .ntt--nav---sub-menu--js .ntt--sub-menu-checkbox-label--js, .ntt--go-content-nav:not(:focus-within), .ntt--no-js .ntt--go-content-navi, .ntt--go-content-navi a:not(:focus), .ntt--js .ntt--go-start-nav .ntt--txt {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.ntt--content span:focus[id^=more-], .ntt--nav---sub-menu--js .ntt--sub-menu-checkbox-label--js:focus, .ntt--go-content-nav:focus:not(:focus-within), .ntt--no-js .ntt--go-content-navi:focus, .ntt--go-content-navi a:focus:not(:focus), .ntt--js .ntt--go-start-nav .ntt--txt:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.ntt--entry-full-content:before {
  content: " ";
  display: table;
}

.ntt--entry-full-content:after {
  content: " ";
  display: table;
  clear: both;
}

.ntt--comment-name .ntt--txt, .ntt--comment-author-name .ntt--txt, .ntt--comment-author-label .ntt--txt, .ntt--comments-count .ntt--txt, .ntt--comments-header .ntt--comments-count .ntt--txt, .ntt--comments-actions-snippet .ntt--comment-axn .ntt--txt, .ntt--comment-reply-axn .ntt--txt, .ntt--comments-name .ntt--txt, .ntt--modify-comment-axn .ntt--txt, .ntt--comment-composition-name .ntt--txt, .ntt--cancel-reply-axn .ntt--txt, .ntt--comment-form label .ntt--txt, .ntt--log-out-account-axn .ntt--txt, .ntt--logged-in-account .ntt--txt, .ntt--comment-published-datetime-label .ntt--txt, .ntt--comment-published-date .ntt--txt,
.ntt--comment-published-time .ntt--txt, .ntt--cm-author-name .ntt--txt, .ntt--entity-name .ntt--txt, .ntt--entity-description .ntt--txt, .ntt--entity-view-name .ntt--txt, .ntt--entry-count .ntt--txt, .ntt--entity-secondary-name .ntt--txt,
.ntt--entity-copyright .ntt--txt,
.ntt--entity-maker-tag .ntt--txt, .sub-content-ntt--entry-name .ntt--txt, .ntt--entry-categories a, .ntt--entry-published-datetime-label .ntt--txt,
.ntt--entry-modified-datetime-label .ntt--txt, .ntt--entry-published-date .ntt--txt,
.ntt--entry-published-time .ntt--txt,
.ntt--entry-modified-date .ntt--txt,
.ntt--entry-modified-time .ntt--txt, .ntt--entry-name .ntt--txt, .ntt--entry-subname .ntt--txt, .ntt--modify-entry-axn .ntt--txt, .ntt--entry-tags a, .ntt--entry-tags-name .ntt--txt, .ntt--show-more-axn .ntt--txt, .ntt--entry-author-label .ntt--txt, .ntt--entry-author-name .ntt--txt, .post-navigation .ntt--txt, .ntt--entry-breadcrumbs-navi .ntt--txt, .ntt--entries-nav li .ntt--txt,
.ntt--entry-subcontent-nav li .ntt--txt, .ntt--entries-page-indicator .ntt--txt, .ntt--entity-primary-nav li .ntt--txt,
.ntt--entity-secondary-nav li .ntt--txt,
.ntt--widget_nav_menu li .ntt--txt, .ntt--widget_nav_menu a, .ntt--entry-nav .ntt--txt, .ntt--entry-content-nav .ntt--txt, .ntt--comments-navi .ntt--txt {
  display: block;
  padding: .5rem;
}

:root {
  --laptop-viewport-width---xl: 1440px;
  --color--almost-black: hsl(225, 6%, 13%);
  --color--panda-blue: hsl(215, 100%, 45%);
  --text---xxs: .625rem;
  --text---xs: .75rem;
  --text---s: .875rem;
  --text---m: 1rem;
  --text---l: 1.125rem;
  --text---xl: 1.5rem;
  --text---xxl: 2rem;
  --text---xxxl: 2.5rem;
  --text---yl: 3rem;
  --text---yyl: 3.5rem;
  --text---yyyl: 4rem;
  --corner-radius---sm: .125rem;
  --corner-radius---md: .25rem;
  --corner-radius---lg: .5rem;
  --surface-color: white;
  --on-surface-color: var(--color--almost-black);
  --on-surface-color---alpha-xs: hsla(0, 0%, 0%, .015625);
  --on-surface-color---alpha-s: hsla(0, 0%, 0%, .03125);
  --on-surface-color---alpha-m: hsla(0, 0%, 0%, .125);
  --on-surface-color---alpha-l: hsla(0, 0%, 0%, .25);
  --accent-color: var(--color--panda-blue);
  --text-link-color: var(--accent-color);
  --element-corner-radius: var(--corner-radius---sm);
}

html {
  scroll-behavior: smooth;
  background-color: white;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-anchor: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
  color: var(--on-surface-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

.ntt--js:not(.ntt--nav-mode---tab--js) button:focus,
.ntt--js:not(.ntt--nav-mode---tab--js) input:focus,
.ntt--js:not(.ntt--nav-mode---tab--js) select:focus,
.ntt--js:not(.ntt--nav-mode---tab--js) textarea:focus,
.ntt--js:not(.ntt--nav-mode---tab--js) summary:focus {
  outline: none;
}

big {
  font-size: 1.2em;
}

small {
  font-size: .75em;
}

b,
strong {
  font-weight: 700;
}

ins {
  text-decoration: underline;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

abbr,
acronym {
  cursor: help;
}

dt {
  font-weight: 700;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

pre {
  overflow: auto;
}

a {
  text-decoration: none;
  color: var(--text-link-color);
}

a:hover, a:focus {
  text-decoration: underline;
}

a label:hover {
  cursor: pointer;
}

figure {
  display: block;
}

iframe {
  display: block;
  max-width: 100%;
}

video {
  display: block;
}

svg,
img,
embed,
object {
  display: block;
  height: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  padding: .5em .75em;
  width: 100%;
  min-height: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  border: 1px solid var(--on-surface-color---alpha-m);
  border-radius: var(--element-corner-radius);
}

button,
input[type="submit"] {
  background-color: var(--accent-color);
}

code,
input[type="url"],
input[type="email"],
input[type="tel"] {
  /*rtl:ignore*/
  direction: ltr;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  min-height: auto;
}

input::-webkit-input-placeholder {
  line-height: normal;
}

input:-ms-input-placeholder {
  line-height: normal;
}

input::-moz-placeholder {
  line-height: normal;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 2.5em;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M24 35a4.4 4.4 0 006.2 0l19.6-19.5 19.6 19.6a4.4 4.4 0 006.2-6.2L52.9 6.3a4.3 4.3 0 00-3-1.3 4 4 0 00-3.1 1.3L24 28.9a4.4 4.4 0 000 6.2zm52 30a4.4 4.4 0 00-6.3 0L50.3 84.4 30.6 64.9a4.4 4.4 0 00-6.2 6.2l22.7 22.6a4.3 4.3 0 003 1.3 4 4 0 003.1-1.3L76 71.1a4.4 4.4 0 000-6.2z'/%3E%3C/svg%3E");
  background-position: calc(100% - .75rem) 50%;
  background-repeat: no-repeat;
  background-size: 1rem;
}

select:hover {
  cursor: pointer;
}

textarea {
  display: block;
  line-height: 1.8;
  min-height: 4.5rem;
}

button,
input[type="submit"] {
  display: inline-block;
  padding: .75rem 1.25rem;
  width: auto;
  min-height: 2.75rem;
  color: white;
  border: 0;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

label[for]:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

table * {
  word-break: normal;
}

table th,
table td {
  vertical-align: top;
}

table th > *:first-child,
table td > *:first-child {
  margin-top: 0;
}

table th > *:last-child,
table td > *:last-child {
  margin-bottom: 0;
}

tbody {
  border: 1px solid var(--on-surface-color---alpha-m);
}

tbody th {
  text-align: left;
}

th,
td {
  padding: .5rem;
  border: 1px solid var(--on-surface-color---alpha-m);
  overflow: visible;
}

caption {
  text-align: center;
}

thead {
  vertical-align: bottom;
  white-space: nowrap;
}

th {
  font-weight: 700;
}

.ntt--toggle {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: inherit;
  user-select: none;
}

.ntt--modify-entry-axn a, .ntt--modify-comment-axn a, .ntt--comment-reply-axn a, .ntt--show-more-axn a, .ntt--comments-actions-snippet .ntt--comment-axn a, .ntt--go-content-navi a {
  color: #0060e6;
}

.ntt--modify-entry-axn a:hover, .ntt--modify-comment-axn a:hover, .ntt--comment-reply-axn a:hover, .ntt--show-more-axn a:hover, .ntt--comments-actions-snippet .ntt--comment-axn a:hover, .ntt--go-content-navi a:hover {
  color: var(--surface-color);
}

.ntt--modify-entry-axn a:hover .ntt--txt, .ntt--modify-comment-axn a:hover .ntt--txt, .ntt--comment-reply-axn a:hover .ntt--txt, .ntt--show-more-axn a:hover .ntt--txt, .ntt--comments-actions-snippet .ntt--comment-axn a:hover .ntt--txt, .ntt--go-content-navi a:hover .ntt--txt {
  background-color: var(--accent-color);
}

.ntt--modify-entry-axn a:active, .ntt--modify-comment-axn a:active, .ntt--comment-reply-axn a:active, .ntt--show-more-axn a:active, .ntt--comments-actions-snippet .ntt--comment-axn a:active, .ntt--go-content-navi a:active {
  transform: scale(0.98);
}

.ntt--modify-entry-axn .ntt--txt, .ntt--modify-comment-axn .ntt--txt, .ntt--comment-reply-axn .ntt--txt, .ntt--show-more-axn .ntt--txt, .ntt--comments-actions-snippet .ntt--comment-axn .ntt--txt, .ntt--go-content-navi .ntt--txt {
  background-color: var(--surface-color);
  border: 0.125rem solid var(--accent-color);
}

.ntt--comment-meta {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--comment-name {
  display: inline-block;
  padding: .5rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.ntt--comment-author-name a {
  display: inline-block;
}

.ntt--comment-author {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .5rem;
}

.ntt--comment-author-label {
  display: inline-block;
}

.ntt--comments-count a {
  display: inline-block;
}

.ntt--comments-count a:hover .ntt--count-txt {
  text-decoration: underline;
}

.ntt--comments-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--comments-header .ntt--comments-actions-snippet {
  display: flex;
  display: contents;
}

.ntt--comments-header .ntt--comments-count {
  padding: .5rem;
  font-weight: bold;
}

.ntt--comments-header .ntt--comments-count a:hover {
  text-decoration: none;
}

.ntt--comments-header .ntt--comments-count .ntt--label-txt {
  display: none;
}

.ntt--comments-header .ntt--disabled-comments-note {
  flex: 1 100%;
}

.ntt--comments-actions-snippet .ntt--comment-axn {
  padding: .5rem;
}

.ntt--comments-actions-snippet .ntt--comment-axn a {
  display: inline-block;
}

.ntt--comments-actions-snippet .ntt--comment-axn a:hover {
  text-decoration: none;
}

.ntt--comments-actions-snippet .ntt--comment-axn a:hover .ntt--comment-text {
  text-decoration: underline;
}

.ntt--comment-reply-axn {
  padding: .5rem;
}

.ntt--comment-reply-axn a {
  display: inline-block;
}

.ntt--comment-reply-axn a:hover {
  text-decoration: none;
}

.ntt--comment-reply-axn a:hover .ntt--reply-text {
  text-decoration: underline;
}

.ntt--comments-name {
  display: inline-block;
  padding: .5rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -1rem;
  font-weight: normal;
  font-size: 1.5rem;
}

.ntt--modify-comment-axn {
  padding: .5rem;
  user-select: none;
}

.ntt--modify-comment-axn a {
  display: inline-block;
}

.ntt--comment-composition-name {
  display: inline-block;
  padding: .5rem;
}

.ntt--cancel-reply-axn {
  display: none;
  padding: .5rem;
}

.ntt--cancel-reply-axn a {
  display: inline-block;
}

.ntt--comments-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ntt--comments-group .children {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

.ntt--comments-group .comment-respond {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.ntt--comments-group .ntt--cancel-reply-axn {
  display: block;
}

.ntt--comments-group .ntt--comment-form {
  flex: 1 100%;
}

.ntt--comment-form label {
  display: inline-block;
}

.ntt--comment-form .form-submit {
  margin: 0;
}

.ntt--comment-form .form-submit:empty {
  display: none;
}

.ntt--comment-form .subscribe-label {
  display: inline-block !important;
  padding: .5rem;
}

.ntt--comment-form .comment-subscription-form {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ntt--comment-form .ntt--form-field {
  padding: .5rem;
}

.ntt--comment-form .ntt--form-element {
  padding: .5rem;
}

.ntt--submit-comment-axn {
  margin: 1rem;
}

.comment-form-cookies-consent {
  display: inline-flex;
  align-items: baseline;
  margin: 1rem 0;
}

.comment-form-cookies-consent input {
  margin-left: 1rem;
}

.comment-form-cookies-consent label {
  padding: 1rem;
}

.ntt--account-logged-in-status {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ntt--account-log-status {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--log-out-account-axn {
  padding: .5rem;
}

.ntt--log-out-account-axn a {
  display: inline-block;
}

.ntt--logged-in-account {
  padding: .5rem;
}

.ntt--entry-header .ntt--comments-actions-snippet .ntt--comments-count {
  padding: .5rem;
}

.ntt--comment-published-datetime {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .5rem;
}

.ntt--comment-published-datetime-label {
  display: inline-block;
}

.ntt--comment-published-date a,
.ntt--comment-published-time a {
  display: inline-block;
  color: inherit;
}

.ntt--comment-creation---0 .ntt--comment-full-content {
  padding-bottom: .02px;
}

.ntt--cm-author-avatar a {
  display: block;
}

.ntt--cm-author-avatar .ntt--img {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.03125);
}

.ntt--cm-author-name a {
  display: inline-block;
}

.ntt--cm-time {
  display: none;
}

.ntt--entry-content-snippet:empty {
  display: none;
}

.ntt--entry-content-snippet a:empty {
  display: none;
}

.ntt--entry-content-snippet a:hover {
  text-decoration: none;
}

.ntt--content {
  line-height: 1.5;
}

.ntt--content:empty {
  display: none;
}

.ntt--content > * {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ntt .ntt--content > *:first-child {
  margin-top: 1rem;
}

.ntt--content > ul,
.ntt--content > ol {
  padding-left: calc(2.5rem + .5em);
}

.ntt--content > .ntt--note {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ntt--content > .ntt--sub-content-entries {
  padding-left: 0;
  padding-right: 0;
}

.ntt--content > .ntt--txt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ntt--content > a[href*="flickr.com/"] {
  display: block;
}

.ntt--content a[href*="flickr.com/"] {
  pointer-events: none;
  cursor: default;
}

.ntt--content blockquote {
  font-size: 2rem;
}

.ntt--content blockquote cite {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bold;
}

.ntt--content blockquote > *:first-child {
  margin-top: 0;
}

.ntt--content blockquote > *:last-child {
  margin-bottom: 0;
}

.ntt--content figure {
  margin-left: 0;
  margin-right: 0;
}

.ntt--content figure[style*="width"] {
  width: auto !important;
}

.ntt--content figure.is-type-video {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ntt--content form {
  font-size: 1rem;
}

.ntt .ntt--content .alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.ntt .ntt--content .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ntt .ntt--content .alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.ntt--content .wp-block-image,
.ntt--content .wp-block-table,
.ntt--content .ntt--table-el-skin--js,
.ntt--content .ntt--pre-el-skin--js {
  margin: 2em 0;
}

.ntt--content > *:last-child {
  margin-bottom: 0;
}

.ntt--pre-el-skin--js {
  max-width: 100vw;
  overflow: auto;
}

.ntt--pre-el-skin--js pre {
  padding: 1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.0325);
}

.ntt--table-el-skin--js {
  overflow-x: auto;
}

.ntt--table-el-skin--js table {
  width: 100%;
}

.ntt--pre-el-skin--js {
  display: grid;
}

.ntt--entry-full-content .wp-block-gallery {
  padding-left: 0;
}

.ntt--entry-full-content .wp-block-gallery .blocks-gallery-item {
  margin: 0;
}

.ntt .wp-block-table {
  overflow-x: visible;
}

.ntt--entry-singular--view .ntt--entity-main-header {
  display: none;
}

.ntt--entity-main-main-aside {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@supports (display: grid) {
  .ntt--entity {
    display: grid;
    grid-template: 'entity-start' 'entity-header' 'entity-main' 1fr 'entity-footer' 'entity-end';
    min-height: 100vh;
  }
  .ntt--entity-start {
    grid-area: entity-start;
  }
  .ntt--entity-header {
    grid-area: entity-header;
  }
  .ntt--entity-main {
    grid-area: entity-main;
  }
  .ntt--entity-footer {
    grid-area: entity-footer;
  }
  .ntt--entity-end {
    grid-area: entity-end;
  }
}

.ntt--entity-logo---1--view .ntt--entity-name {
  display: none;
}

.ntt--entity-logo---1--view .ntt--entity-description {
  display: none;
}

.ntt--entity-logo {
  padding: 1rem;
}

.ntt--entity-logo a {
  display: inline-block;
}

.ntt--entity-heading {
  padding: .5rem;
}

.ntt--entity-name {
  margin: 0;
  font-size: 1.5rem;
}

.ntt--entity-name a {
  display: inline-block;
}

.ntt--entity-description {
  display: inline-block;
}

.ntt--entity-view-heading {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .5rem;
  padding-top: 2rem;
}

.ntt--entry-index---current--view .ntt--entity-main-header,
.ntt--zero-entry--view .ntt--entity-main-header {
  display: none;
}

.ntt--entity-view-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}

.ntt--entity-view-name a {
  display: inline-block;
}

.ntt--entity-view-name .ntt--search-term-txt {
  font-weight: bold;
}

.ntt--entry-index---archive--view .ntt--entity-view-name .ntt--key-line {
  display: none;
}

.ntt--entry-count {
  font-weight: bold;
}

.ntt--entry-count .ntt--label-txt {
  display: none;
}

.ntt--entity-banner-visuals---1--view .ntt--entity-banner-visuals {
  margin-bottom: 2em;
}

.ntt--entity-secondary-info {
  padding: .5rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.ntt--entity-main-main-aside---1 .ntt--entity-secondary-info {
  text-align: left;
}

.ntt--entity-secondary-info a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}

.ntt--entity-secondary-name,
.ntt--entity-copyright,
.ntt--entity-maker-tag {
  display: inline-block;
}

.ntt--entity-secondary-name .ntt--txt,
.ntt--entity-copyright .ntt--txt,
.ntt--entity-maker-tag .ntt--txt {
  font-size: 0.875rem;
}

.ntt--entity-main-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ntt--entity-footer {
  background-color: rgba(0, 0, 0, 0.03125);
}

.ntt--entity-header-aside .ntt--widget:only-of-type {
  padding-bottom: 0;
}

.ntt--entity-header-aside .ntt--widget:only-of-type > * {
  margin-bottom: 0;
}

.ntt--entity-footer-aside {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.ntt--entity-end {
  position: relative;
}

.ntt--entry-categories-name {
  display: none;
}

.ntt--entry-primary-meta {
  display: inline-flex;
  flex-direction: column;
}

.ntt--entry-primary-meta .ntt--page-view {
  display: none;
}

.ntt--sub-content-entries-name {
  display: none;
}

.sub-content-ntt--entry-name {
  padding: .5rem;
}

.sub-content-ntt--entry-name a {
  display: inline-block;
}

.entry--sub-content-entries-parent .ntt--entry-heading {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.entry--sub-content-entries-parent .ntt--entry-heading .ntt--entry-name {
  flex: none;
}

.sub-content-entry-description > * {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1em auto;
  margin-bottom: 1em auto;
}

.ntt--entry-banner {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ntt .wp-caption figcaption,
.ntt .wp-block-image figcaption,
.ntt .wp-block-embed figcaption {
  display: block;
  margin: 0;
  margin-top: .5em;
  text-align: left;
  color: #757575;
}

.ntt--entry-content form {
  font-size: 1rem;
}

.entry-categories {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.entry-categories > .ntt--txt {
  padding: 1rem;
}

.ntt--entry-categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--entry-categories li {
  padding: .5rem;
}

.ntt--entry-categories a {
  display: inline-block;
}

.ntt--entry-published-datetime,
.ntt--entry-modified-datetime {
  display: flex;
  padding: .5rem;
}

.ntt--entry-published-datetime-label,
.ntt--entry-modified-datetime-label {
  display: inline-block;
  margin-right: -.5rem;
}

.ntt--entry-published-date a,
.ntt--entry-published-time a,
.ntt--entry-modified-date a,
.ntt--entry-modified-time a {
  display: inline-block;
  color: inherit;
}

.ntt--entry-name {
  flex: 1 100%;
  padding: .5rem;
  margin: 0;
  font-size: 1.5rem;
}

.ntt--entry-name a {
  display: inline-block;
}

.ntt--entry-subname {
  display: inline-block;
  padding: .5rem;
  margin-top: -1rem;
  font-size: 1.125rem;
}

.ntt--entry-axns {
  user-select: none;
}

.ntt--modify-entry-axn {
  padding: .5rem;
}

.ntt--modify-entry-axn a {
  display: inline-block;
}

.ntt--entry-tags li {
  display: inline-block;
  padding: .5rem;
}

.ntt--entry-tags-name {
  display: inline-block;
  vertical-align: middle;
  padding: .5rem;
  font-weight: bold;
}

.ntt--entry-tags-group {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--entry-header {
  display: flex;
  flex-direction: column;
}

.entry-heading,
.entry-axns,
.ntt--entry-banner {
  flex: 1 100%;
}

.entry-header .ntt--comments-actions-snippet {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.entry-header .ntt--disabled-comments-note {
  flex: 1 100%;
}

.ntt--entry-name---empty .ntt--entry-name {
  display: none;
}

.ntt--entry-banner-visuals {
  margin: 0;
}

.ntt--entry-banner-visuals figcaption {
  margin: 1rem 1rem 0;
}

.ntt--entry-summary-content---1 .ntt--entry-full-content {
  margin-top: 1em;
}

.entry-heading {
  flex: 1 100%;
}

.ntt--entry-heading {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--entry-heading .entry-name,
.ntt--entry-heading .ntt--entry-subname {
  flex: 1 100%;
}

.ntt--entry-heading .ntt--entry-categories {
  flex: 1 100%;
}

.sub-content-entry-count {
  padding: .5rem;
  line-height: 1;
  font-weight: bold;
}

.sub-content-entry-count .ntt--label-txt {
  display: none;
}

.ntt--show-more-axn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 2em;
  margin-bottom: 0;
  font-size: 1rem;
}

.ntt--show-more-axn a {
  display: inline-block;
}

.ntt--entry-author {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .5rem;
}

.ntt--entry-author-label {
  display: inline-block;
}

.post-password-form label input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-password-form input[type="submit"] {
  margin-top: 1rem;
}

.ntt--empty-entry {
  padding-bottom: 4.5rem;
}

.ntt--nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ntt--nav-name {
  display: none;
}

.navigation .screen-reader-text {
  display: none;
}

.post-navigation {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.post-navigation a {
  display: inline-block;
}

.ntt--entry-breadcrumbs-nav {
  flex: 1 100%;
  padding: .5rem;
}

.ntt--entry-breadcrumbs-nav-group {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--entry-breadcrumbs-nav-ancestors-group {
  display: flex;
}

.ntt--entry-breadcrumbs-nav-ancestors-group li {
  margin-right: 1rem;
}

.ntt--entry-breadcrumbs-nav-ancestors-group a {
  position: relative;
}

.ntt--entry-breadcrumbs-nav-ancestors-group a .ntt--icon {
  position: absolute;
  left: 100%;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  margin-left: .25rem;
  width: .75rem;
  fill: rgba(0, 0, 0, 0.25);
}

.ntt--entry-breadcrumbs-navi a {
  display: inline-block;
}

.ntt--entries-nav ul,
.ntt--entry-subcontent-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--entries-nav li,
.ntt--entry-subcontent-nav li {
  padding: .5rem;
}

.ntt--entries-nav li .page-numbers,
.ntt--entry-subcontent-nav li .page-numbers {
  display: inline-block;
}

.ntt--entries-nav .current,
.ntt--entry-subcontent-nav .current {
  font-weight: bold;
}

.ntt--entries-page-indicator {
  display: inline-block;
  padding: .5rem;
}

.ntt--dom---unloaded--js .ntt--entries-nav {
  visibility: hidden;
}

.ntt--js:not(.ntt--nav-mode---tab--js) .ntt--current-entries-navi--js .page-numbers:focus,
.ntt--js:not(.ntt--nav-mode---tab--js) .ntt--entries-page-indicator:focus {
  outline: none;
}

.ntt--js .ntt--entries-nav {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-bottom: 4.5rem;
}

.ntt--js .ntt--entries-nav .navigation,
.ntt--js .ntt--entries-nav .nav-links {
  display: contents;
}

.ntt--js .ntt--entries-nav.ntt--entries-page-menu---active .ntt--entries-page-menu--js {
  visibility: visible;
}

.ntt--js .ntt--entries-page-indicator {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding-right: 3rem;
  user-select: none;
  border: 1px solid var(--on-surface-color---alpha-m);
  border-radius: var(--element-corner-radius);
}

.ntt--js .ntt--entries-page-indicator:hover {
  cursor: pointer;
}

.ntt--js .ntt--entries-page-indicator:hover .ntt--icon {
  transform: scale(1.25);
}

.ntt--js .ntt--entries-page-indicator .ntt--page-text,
.ntt--js .ntt--entries-page-indicator .ntt--current-page-txt {
  font-weight: bold;
}

.ntt--js .ntt--entries-page-indicator .ntt--total-pages-txt {
  color: #757575;
}

.ntt--js .ntt--entries-page-indicator .ntt--of-text {
  display: inline-block;
  vertical-align: middle;
  color: #757575;
  font-size: .5em;
  text-transform: uppercase;
}

.ntt--js .ntt--entries-page-indicator .ntt--icon {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  width: 1rem;
  transition: all 0.3s ease-in-out;
  transition-property: transform;
}

.ntt--js .ntt--entries-adjacent-page-control--js {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.ntt--js .ntt--entries-adjacent-page-control--js li {
  padding: 0;
}

.ntt--js .ntt--entries-adjacent-page-control--js a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.ntt--js .ntt--entries-adjacent-page-control--js a:hover .ntt--icon {
  transform: scale(1.25);
}

.ntt--js .ntt--entries-adjacent-page-control--js a:active .ntt--icon {
  transform: scale(1.125);
}

.ntt--js .ntt--entries-adjacent-page-control--js .ntt--txt {
  position: absolute;
  width: 100%;
  height: 100%;
  color: transparent;
}

.ntt--js .ntt--entries-adjacent-page-control--js .ntt--icon {
  width: 1.25rem;
  transition: all 0.3s ease-in-out;
  transition-property: transform;
  z-index: -1;
}

.ntt--js .ntt--previous-entries-navi--js .ntt--icon {
  order: -1;
}

.ntt--js .ntt--next-entries-navi-placeholder--js,
.ntt--js .ntt--previous-entries-navi-placeholder--js {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.ntt--js .ntt--next-entries-navi-placeholder--js:hover,
.ntt--js .ntt--previous-entries-navi-placeholder--js:hover {
  cursor: not-allowed;
}

.ntt--js .ntt--next-entries-navi-placeholder--js .ntt--icon,
.ntt--js .ntt--previous-entries-navi-placeholder--js .ntt--icon {
  fill: rgba(0, 0, 0, 0.25);
}

.ntt--js .ntt--entries-page-menu--js {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--surface-color);
  border: 1px solid var(--on-surface-color---alpha-m);
  border-radius: var(--element-corner-radius);
  box-shadow: 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.125);
  user-select: none;
  visibility: hidden;
}

.ntt--js .ntt--entries-page-menu--js::before, .ntt--js .ntt--entries-page-menu--js::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1rem;
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  opacity: .75;
}

.ntt--js .ntt--entries-page-menu--js::before {
  top: 0;
}

.ntt--js .ntt--entries-page-menu--js::after {
  bottom: 0;
  transform: rotate(180deg);
}

.ntt--js .ntt--entries-page-menu--js ul {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  height: calc(160px - 48px);
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.ntt--js .ntt--entries-page-menu--js li {
  padding: 0;
  width: 100%;
  scroll-snap-align: center;
}

.ntt--js .ntt--entries-page-menu--js li .page-numbers {
  display: block;
  padding: .5rem;
}

.ntt--js .ntt--entries-page-menu--js a:hover {
  background-color: rgba(0, 96, 230, 0.125);
  text-decoration: none;
}

.ntt--js .ntt--entries-page-menu--js .ntt--txt {
  white-space: nowrap;
}

.ntt--dom---unloaded--js .ntt--entity-primary-nav, .ntt--dom---unloaded--js
.ntt--entity-secondary-nav, .ntt--dom---unloaded--js
.ntt--widget_nav_menu {
  visibility: hidden;
}

.ntt--dom---loaded--js .ntt--entity-primary-nav, .ntt--dom---loaded--js
.ntt--entity-secondary-nav, .ntt--dom---loaded--js
.ntt--widget_nav_menu {
  visibility: visible;
}

.ntt--entity-primary-nav ul,
.ntt--entity-secondary-nav ul,
.ntt--widget_nav_menu ul {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--entity-primary-nav li,
.ntt--entity-secondary-nav li,
.ntt--widget_nav_menu li {
  padding: .5rem;
}

.ntt--entity-primary-nav a,
.ntt--entity-secondary-nav a,
.ntt--widget_nav_menu a {
  display: inline-block;
}

.ntt--entity-primary-nav .children,
.ntt--entity-primary-nav .sub-menu,
.ntt--entity-secondary-nav .children,
.ntt--entity-secondary-nav .sub-menu,
.ntt--widget_nav_menu .children,
.ntt--widget_nav_menu .sub-menu {
  margin-left: 1rem;
}

.ntt--widget_nav_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js:hover {
  cursor: pointer;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js:hover ~ .ntt--icon {
  transform: scale(1.25);
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js:checked {
  transform: rotate(180deg);
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js:checked ~ .ntt--sub-menu--js {
  display: block;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js:checked ~ .ntt--icon {
  transform: scale(1.25) rotate(180deg);
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js ~ .ntt--icon {
  position: absolute;
  right: 0;
  margin-right: 1.125rem;
  width: .75rem;
  fill: #1f2023;
  transition: all 0.3s ease-in-out;
  transition-property: transform;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-ancestor--js {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-right: 3rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-ancestor--js a {
  display: block;
  width: 100%;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-ancestor--js li {
  padding: 0;
  min-width: 100%;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js {
  display: none;
  position: absolute;
  z-index: 1;
  margin-left: .5rem;
  top: 100%;
  width: auto;
  min-width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.125rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js li:last-child {
  border-bottom-width: 0;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js a {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 48px;
  white-space: nowrap;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js .ntt--txt {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 48px;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js .ntt--sub-menu--js {
  margin-top: -.25rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js .ntt--sub-menu-ancestor--js {
  padding-right: 3rem;
}

.ntt--nav---sub-menu--js > div > ul > .ntt--sub-menu-ancestor--js .ntt--sub-menu---active--js {
  border-bottom-width: 0;
}

.ntt--nav---sub-menu--js > div > ul > .ntt--sub-menu-ancestor--js .ntt--sub-menu---active--js ~ li {
  display: block;
  visibility: hidden;
  height: 0;
}

.ntt--nav---sub-menu--js.ntt--widget_nav_menu .ntt--sub-menu--js a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.125);
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js li {
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.ntt--entry-nav a:hover .ntt--entry-name-txt {
  color: var(--text-link-color);
}

.ntt--entry-nav a .ntt--entry-name-txt {
  color: var(--text-link-color);
}

.ntt--entry-nav {
  width: 100%;
  padding-bottom: 4.5rem;
}

.ntt--entry-nav a {
  display: inline-block;
  color: inherit;
}

.ntt--entry-nav a:hover {
  text-decoration: none;
}

.ntt--entry-nav a:hover .ntt--entry-name-txt {
  text-decoration: underline;
}

.ntt--entry-nav .ntt--img {
  display: inline-block;
}

.ntt--page--view .ntt--entry-nav {
  display: none;
}

.ntt--entry-navi {
  padding: .5rem;
}

.ntt--entry-nav-name {
  padding: .5rem;
}

.ntt--entry-content-nav a {
  display: inline-block;
}

.ntt--entry-content-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--entry-content-nav li {
  padding: .5rem;
}

.ntt--entry-content-nav .page---text {
  display: none;
}

.ntt--entry-content-navi--current {
  font-weight: bold;
}

.ntt--comments-nav {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--comments-navi {
  padding: .5rem;
}

.ntt--comments-navi a {
  display: inline-block;
}

.ntt--next-comments-navi {
  order: 1;
}

.ntt--go-content-navi a {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  padding: .5rem;
  margin: 1rem;
  padding: 0;
  text-decoration: none;
  color: white;
}

.ntt--go-content-navi a:hover {
  color: #0060e6;
}

.ntt--go-content-navi a:hover .ntt--txt {
  background-color: white;
  border: 0.125rem solid #0060e6;
}

.ntt--go-content-navi .ntt--txt {
  background-color: #0060e6;
}

.ntt--js .ntt--go-start-nav {
  visibility: hidden;
}

.ntt--go-start-nav {
  display: block;
  padding: .5rem;
  padding: 0;
  text-decoration: none;
}

.ntt--entity-footer--intersected--js .ntt--go-start-nav,
.ntt--entity-footer--intersected--js.ntt--view-height---long--js .ntt--go-start-nav {
  visibility: visible;
}

.ntt--entity-footer--intersected--js.ntt--view-height---short--js .ntt--go-start-nav {
  visibility: hidden;
}

.ntt--js .ntt--go-start-nav {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  transition-property: bottom;
}

.ntt--js .ntt--go-start-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.375rem;
  height: 2.375rem;
  background-color: white;
  border: 0.125rem solid #0060e6;
  border-radius: 50%;
}

.ntt--js .ntt--go-start-nav a:active {
  transform: scale(0.98);
}

.ntt--js .ntt--go-start-nav a:hover {
  background-color: #0060e6;
}

.ntt--js .ntt--go-start-nav a:hover .ntt--icon {
  fill: white;
}

.ntt--js .ntt--go-start-nav .ntt--icon {
  width: 1.25rem;
  fill: #0060e6;
}

.ntt--note {
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: aliceblue;
  border-radius: 0.125rem;
}

.ntt--content > .ntt--note {
  padding: 1rem 0;
}

.ntt--note > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ntt--note > *:first-child {
  margin-top: 0;
}

.ntt--note > *:last-child {
  margin-bottom: 0;
}

.ntt--comments---populated.post-password-required .ntt--entry-header .ntt--comments-count {
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: aliceblue;
  border-radius: 0.125rem;
}

.ntt--kid-ntt--download-axn--js {
  position: relative;
}

.ntt--kid-ntt--download-axn--js::before {
  visibility: hidden;
  content: attr(title);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 100%;
  transform: translate(-1rem, -1rem);
  padding: 0.5rem 1rem;
  min-width: 3rem;
  width: 120px;
  max-width: 100%;
  min-height: 3rem;
  color: white;
  background-color: red;
}

.ntt--kid-ntt--download-axn--js.ntt--mousedown--js::before {
  visibility: visible;
}

.ntt--widget {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ntt--widget > * {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ntt--widget ul,
.ntt--widget ol {
  padding-left: 1.5rem;
}

.ntt--widget_nav_menu .ntt--widget-name {
  padding: .5rem;
}

.ntt--widget_nav_menu .ntt--widget-name .ntt--txt {
  padding: .5rem;
}

.ntt--widget-name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.ntt--entry-main-aside {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

.ntt--search {
  display: flex;
  align-items: flex-end;
}

.ntt--search .text-input {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ntt--search button {
  min-height: 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ntt--search-label {
  display: none;
}

.ntt--search-field {
  flex: 1 100%;
  padding: 0;
}

.ntt--submit-search-axn {
  white-space: nowrap;
}

.ntt--widget_tag_cloud {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ntt--widget_tag_cloud a {
  display: inline-block;
  padding: .5rem;
}

.ntt--widget_tag_cloud .ntt--widget-name {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ntt--widget_nav_menu {
  padding-left: 0;
  padding-right: 0;
}

.ntt--widget_nav_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ntt--widget_nav_menu > * {
  margin-top: 0;
  margin-bottom: 0;
}

.ntt--entry {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ntt--widget {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ntt--widget-name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.ntt--dom---unloaded--js .ntt--comment-form {
  visibility: hidden;
}

.ntt--comment-form .ntt--form-field {
  position: relative;
}

.ntt--comment-form .ntt--form-field label {
  position: absolute;
  margin-left: calc(1.25rem + 1px);
  margin-top: calc(1.75rem + 1px);
  transition: all 0.3s ease-in-out;
}

.ntt--dom---unloaded--js .ntt--comment-form .ntt--form-field label {
  visibility: hidden;
}

.ntt--dom---loaded--js .ntt--comment-form .ntt--form-field label {
  visibility: visible;
}

.ntt--comment-form .ntt--form-field label .ntt--txt {
  padding: 0;
}

.ntt--comment-form .ntt--form-field label .ntt--txt > * {
  vertical-align: middle;
}

.ntt--comment-form .ntt--form-field:focus-within label, .ntt--comment-form .ntt--form-field.ntt--form-field---populated--js label {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #757575;
}

.ntt--comment-form .ntt--form-field:focus-within .ntt--optional-txt, .ntt--comment-form .ntt--form-field.ntt--form-field---populated--js .ntt--optional-txt {
  font-size: 0.625rem;
}

.ntt--comment-form .ntt--form-field:focus-within .ntt--comment-author-message-textbox, .ntt--comment-form .ntt--form-field.ntt--form-field---populated--js .ntt--comment-author-message-textbox {
  padding-top: 2rem;
}

.ntt--comment-form .ntt--form-field:focus-within textarea.text-input, .ntt--comment-form .ntt--form-field.ntt--form-field---populated--js textarea.text-input {
  min-height: calc(5.5rem + .125rem);
}

.ntt--comment-form .ntt--form-field .text-input {
  min-height: 4rem;
  padding-top: 2rem;
  text-overflow: ellipsis;
}

.ntt--comment-form .ntt--form-field .text-input::placeholder {
  color: transparent;
}

.ntt--comment-form .ntt--form-field textarea.text-input {
  padding-top: 0;
  padding-bottom: 0;
  min-height: calc(7.5rem + .125rem);
  background-color: transparent;
  border: 0;
}

.ntt--comment-form .ntt--required-txt {
  display: none;
}

.ntt--comment-form .ntt--optional-txt {
  padding: .25em .5em;
  font-size: 0.75rem;
  color: #757575;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.03125);
  border-radius: 0.125rem;
}

.ntt--comment-form .ntt--comment-author-message-field {
  margin: 1rem;
  padding: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--comment-form .ntt--comment-author-message-field label {
  margin-left: calc(.75rem + 1px);
  margin-top: calc(1.25rem + 1px);
}

.ntt--comment-form .ntt--comment-author-message-field:focus-within label, .ntt--comment-form .ntt--comment-author-message-field.ntt--form-field---populated--js label {
  margin-top: .5rem;
}

.ntt--comment-form .ntt--comment-author-message-textbox {
  padding: 0;
}

.ntt--user---admin .ntt--comment-form .ntt--account-logged-in-status {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.ntt--comment-published-datetime-label,
.ntt--comment-form .ntt--comment-author-label,
.ntt--comment .ntt--comment-author-label {
  display: none;
}

.ntt--comments---empty--view.ntt--comment-creation---1--view .ntt--empty-comments-note {
  display: none;
}

.ntt--cm-author-avatar .ntt--img {
  border-radius: 50%;
  overflow: hidden;
}

.ntt--entry-nav-name {
  font-size: 1.5rem;
}

.ntt--entity-header {
  transition: all 0.3s ease-in-out;
}

.ntt--post--table-of-contents--view .ntt--entry-full-content nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: aliceblue;
}

.ntt--post--table-of-contents--view .ntt--entry-full-content nav a {
  transition: all 0.3s ease-in-out;
  transition-duration: 2s;
}

.ntt--post--table-of-contents--view .ntt--entry-full-content nav .ntt--intersected--js {
  background-color: red;
}

section {
  transition: all 0.3s ease-in-out;
  transition-delay: .2s;
  transition-duration: 1s;
}

section.ntt--not-intersected--js {
  opacity: 0;
}

section.ntt--intersected--js {
  opacity: 1;
}

section:target {
  animation-name: target-fade;
  animation-duration: 2s;
}

@keyframes target-fade {
  from {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 96, 230, 0.125);
  }
  to {
    background-color: transparent;
  }
}

.ntt--f5e--sticky--header .ntt--entity-heading {
  padding-top: 0;
  padding-bottom: 0;
}

.ntt--f5e--sticky--header .ntt--entity-header {
  display: flex;
  align-items: center;
  grid-template: 'entity-heading entity-primary-nav';
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  animation-name: fade-in;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
}

.ntt--f5e--sticky--header .ntt--entity-header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: .5rem;
  background: linear-gradient(to bottom, black 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
  opacity: .0625;
}

.ntt--f5e--sticky--header .ntt--entity-name {
  white-space: nowrap;
}

.ntt--f5e--sticky--header .ntt--entity-description {
  display: none;
}

@keyframes fade-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.ntt--f5e--sticky--header .ntt--nav---sub-menu--js > div > ul > li > .ntt--sub-menu--js {
  margin-top: -.25rem;
}

.ntt--f5e--sticky--header .ntt--entity-primary-nav-group {
  flex-wrap: nowrap;
}

.ntt--f5e--sticky--header .ntt--entity-main > *,
.ntt--f5e--sticky--header .ntt--entity-footer > * {
  max-width: 100vw;
}

.ntt--entry-index--view .ntt--entry .post-password-form {
  display: none;
}

.ntt--entry .post-password-form label {
  flex: 1 100%;
}

.ntt--entry .post-password-form p {
  display: flex;
  align-items: flex-end;
}

.ntt--entry .post-password-form p:last-child {
  margin-bottom: 0;
}

.ntt--entry .post-password-form input[type="password"] {
  margin-bottom: 0;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ntt--entry .post-password-form input[type="submit"] {
  margin-top: 0;
  height: 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ntt--modify-entry-axn, .ntt--modify-comment-axn, .ntt--comment-reply-axn, .ntt--show-more-axn, .ntt--comments-actions-snippet .ntt--comment-axn, .ntt--go-content-navi {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ntt--modify-entry-axn a:hover, .ntt--modify-comment-axn a:hover, .ntt--comment-reply-axn a:hover, .ntt--show-more-axn a:hover, .ntt--comments-actions-snippet .ntt--comment-axn a:hover, .ntt--go-content-navi a:hover {
  text-decoration: none;
}

.ntt--modify-entry-axn .ntt--txt, .ntt--modify-comment-axn .ntt--txt, .ntt--comment-reply-axn .ntt--txt, .ntt--show-more-axn .ntt--txt, .ntt--comments-actions-snippet .ntt--comment-axn .ntt--txt, .ntt--go-content-navi .ntt--txt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  min-height: 2.375rem;
  min-width: 2.375rem;
  border-radius: 0.125rem;
  transition: all 0.3s ease-in-out;
}

.ntt--comment-reply-axn a:hover .ntt--reply-text {
  text-decoration: none;
}

.ntt--comments-actions-snippet .ntt--comment-axn a:hover .ntt--comment-text {
  text-decoration: none;
}

.ntt--entry-main {
  margin-top: 2rem;
}

.ntt--entry-footer {
  margin-top: 2rem;
}

.ntt--cancel-reply-axn .ntt--txt,
.ntt--log-out-account-axn .ntt--txt {
  font-size: 0.875rem;
}

@media only screen and (min-width: 768px) {
  @supports (display: grid) {
    .ntt--entity-main-main-aside---1 .ntt--entity-main-main {
      display: grid;
      grid-template: 'entry-md entity-main-main-aside' / 2fr 1fr;
    }
    .ntt--entity-main-main-aside---1 .ntt--entry-md {
      grid-area: entry-md;
    }
    .ntt--entity-main-main-aside---1 .ntt--entity-main-main-aside {
      grid-area: entity-main-main-aside;
    }
    .ntt--entity-main-main-aside---1 .ntt--entity-main-footer {
      display: grid;
      grid-template: 'entity-main-footer .' / 2fr 1fr;
    }
    .ntt--entity-main-main-aside---1 .ntt--entry-nav {
      grid-area: entity-main-footer;
    }
  }
  .ntt--user---admin .ntt--comment-form {
    position: relative;
    padding-bottom: 1rem;
  }
  .ntt--user---admin .ntt--comment-form .form-submit {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .ntt--user---admin .ntt--comment-form .form-submit input[type="submit"] {
    margin: 0;
  }
  .ntt--user---admin .ntt--comment-form textarea.text-input {
    padding-right: 8rem;
  }
  .ntt--user---admin .ntt--comment-form .ntt--comment-author-message-field {
    margin-bottom: 0;
  }
}

/* Disabled
.ntt--video-iframe-skin--js {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    height: 0;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
*/
.ntt--wild-card-toolbar---js {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: .5rem;
}

.ntt--wild-card-toolbar---js > * {
  margin: .5rem;
}
