@import '../../../../../assets/styles/source/rules';
//@import 'source/jetpack';
@import 'source/briandys';

$hexetidine-sky-blue: #00A2FF;
$hexetidine-navy-blue: #200099;
$hexetidine-gray: #C3C6D5;
$hexetidine-peach: #F54A45;
$hexetidine-purple: #000F54;

$accent-color: $hexetidine-navy-blue;
$surface-color: white;
$on-surface-color: $hexetidine-purple;

$text-link-color: $hexetidine-navy-blue;

//--------------------------------------------------------------
// Custom Properties
//--------------------------------------------------------------

:root {
    --color--hexetidine-sky-blue: #00A2FF;
    --color--hexetidine-sky-blue---alpha-s: hsla(202, 100%, 50%, .25);
    --color--hexetidine-sky-blue---alpha-m: hsla(202, 100%, 50%, .5);
    --color--hexetidine-sky-blue---alpha-l: hsla(202, 100%, 50%, .75);

    --color--hexetidine-gray: #C3C6D5;
    --color--hexetidine-gray---alpha-s: hsla(230, 18%, 80%, .25);
    --color--hexetidine-gray---alpha-m: hsla(230, 18%, 80%, .5);
    --color--hexetidine-gray---alpha-l: hsla(230, 18%, 80%, .75);

    --color--hexetidine-navy-blue: #200099;    
    --color--hexetidine-peach: #F54A45;
    --color--hexetidine-purple: #000F54;

    --surface-color: white;
    --on-surface-color: var(--color--hexetidine-purple);
    --accent-color: var(--color--hexetidine-navy-blue);

    --text-link-color: var(--accent-color);

    --entity-name--font-size: var(--text---xxl);
    --entity-description--font-size: var(--text---xl);
    --entity-primary-nav--font-size: var(--text---l);

    --element-corner-radius: 0;
}

::selection {
    color: var(--surface-color);
    background-color: var(--accent-color);
}

//--------------------------------------------------------------
// Body
//--------------------------------------------------------------
body {
    --view-border-width: .5rem;
    color: var(--on-surface-color);
    border: var(--view-border-width) solid var(--color--hexetidine-gray);

    &::before,
    &::after {
        content: '';
        position: fixed;
        left: 0;
        width: 100%;
        height: var(--view-border-width);
        background: var(--color--hexetidine-gray);
        z-index: 1;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

//--------------------------------------------------------------
// Form Elements
//--------------------------------------------------------------
.ntt--comment-form {
    
    .text-input,
    .ntt--comment-author-message-field {
        border: .25rem solid var(--color--hexetidine-gray);
    }
}

select,
textarea {
    border: .25rem solid var(--color--hexetidine-gray);
}

.ntt--search .text-input {
    border: .25rem solid var(--color--hexetidine-gray);
    border-right: 0;
}

.ntt .contact-form {

    input[type=email],
    input[type=tel],
    input[type=text],
    input[type=url] {
        width: 100%;
        border: .25rem solid var(--color--hexetidine-gray);
    }
}

//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------

.ntt--hexetidine--current-month {
    margin-bottom: .5rem;
    text-align: right;
    font-weight: bold;
    color: var(--accent-color);
}

.ntt--entity-name {
    font-size: var(--entity-name--font-size);

    a {
        display: block;
        color: var(--accent-color);
        @include transition;
        transition-property: color, background-color;

        &:hover {
            text-decoration: none;
            color: var(--surface-color);
            background-color: var(--accent-color);
        }
    }

    .ntt--txt {
        @include x-padding(.5em);
        border: .25rem solid var(--accent-color);
    }
}

.ntt--entity-view-heading {
    justify-content: flex-end;
    padding: .5rem 0;
}

.ntt--entity-description {
    font-weight: bold;
    font-size: var(--entity-description--font-size);
    color: var(--color--hexetidine-peach);

    .ntt--txt {
        @include x-padding(.5em);
        border: .25rem solid transparent;
        border-top: 0;
        border-bottom: 0;
    }
}

.ntt--entity-heading {
    margin: 1rem;
    padding: 0;
    border-bottom: .75rem solid var(--color--hexetidine-peach);

    .ntt--entity-description---0 & {
        padding-bottom: 1rem;
    }
}

.ntt--entity-primary-nav {
    margin: 1rem;
    font-size: var(--entity-primary-nav--font-size);
    background-color: var(--accent-color);

    a {
        font-weight: bold;
        color: var(--surface-color);
    }

    .ntt--entity-primary-nav-group {
        @include x-margin(.5rem);
    }
}

.ntt--nav---sub-menu--js {
    
    .ntt--sub-menu-checkbox--js {

        &::before {
            background-color: var(--on-surface-color---reverse---alpha-xl);
        }
        
        ~ .ntt--icon {
            fill: var(--surface-color);
        }
    }

    .ntt--sub-menu--js {
        margin-top: -.5rem;
        background-color: var(--accent-color);
        border-color: var(--surface-color);
        border-radius: 0;
    }
}

.ntt--entity-footer {
    color: var(--surface-color);
    background-color: var(--color--hexetidine-sky-blue);
}

.ntt--entity-secondary-info {
    color: var(--surface-color);

    a {
        color: var(--surface-color);
    }
}

//--------------------------------------------------------------
// Entity Header Aside
//--------------------------------------------------------------

.ntt--entity-header-aside {
    @include y-margin(2rem);
}

//--------------------------------------------------------------
// Entity Footer Aside
//--------------------------------------------------------------

.ntt--entity-footer-aside {
    @include max-width;
}

.ntt--hexetidine--about-snippet {
    padding: 0;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.25rem;
    border: .5rem solid var(--color--hexetidine-gray);
    border-left: 0;
    border-right: 0;
}

//--------------------------------------------------------------
// Entity
//--------------------------------------------------------------

.ntt--entity-main-header {
    margin: 1rem;
    text-align: right;
    border-bottom: .5rem solid var(--color--hexetidine-gray);
}

.ntt--entity-view-name {
    font-weight: bold;
    color: $accent-color;

    .ntt--txt {
        @include x-padding();
        margin-right: .5rem;
    }
}

.ntt--entry-count {
    color: var(--surface-color);
    background-color: var(--accent-color);

    .ntt--txt {
        min-width: 2.375rem;
        min-height: 2.375rem;
        @include if-y-center;
        justify-content: center;
        text-align: center;
    }
}

.ntt--entry-archive-description {
    flex: 1 100%;
    font-weight: bold;
}

// Blinders while loading
.ntt--js {

    .ntt--entity {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: fixed;
            left: 0;
            z-index: 1;
            width: 100vw;
            height: 50vh;
            background-color: var(--color--hexetidine-gray);
            @include transition;
            transition-property: height;
            transition-duration: .75s;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    &.ntt--dom---unloaded--js {
        overflow: hidden;

        .ntt--entity {

            &::before,
            &::after {
                height: 50vh;
            }
        }
    }

    &.ntt--dom---loaded--js {

        .ntt--entity {

            &::before,
            &::after {
                height: 0vh;
            }
        }
    }
}

.ntt--entity-view-name .ntt--search-term-txt {
    color: var(--color--hexetidine-peach);
}

//--------------------------------------------------------------
// Entries Navigation
//--------------------------------------------------------------
.ntt--js {

    .ntt--entity-main-footer {

        .ntt--entries-nav {
            @include x-margin(1rem);
        }
    }
}

//--------------------------------------------------------------
// Entry Name
//--------------------------------------------------------------

.ntt--entry-md .ntt--entry-name {
    font-size: var(--text---xxxl);

    .ntt--entry-singular--view:not(.ntt--page-template--mag-index--view) & {
        
        a {
            pointer-events: none;        
        }

        &:hover {
            cursor: text;
        }
    }
}

.ntt--entry-categories {
    margin-bottom: -1rem;
    font-weight: bold;
    font-size: var(--text---l);

    a {
        color: var(--color--hexetidine-peach);
    }
}

.ntt--entry-singular--view:not(.ntt--page-template--mag-index--view) {
    
    .ntt--entry-banner-visuals-auto {

        .ntt--entry-banner-visuals {
            display: none;
        }
    }
}

//--------------------------------------------------------------
// Entry Tags
//--------------------------------------------------------------
.ntt--entry-tags {

    a {

        &::before {
            content: '#';
            margin-right: .25em;
        }
    }
}

.ntt--entry-index---tag-archive--view {

    .ntt--entity-view-name {
        
        .ntt--tag-txt {

            &::before {
                content: '#';
                margin-right: .25em;
            }
        }
    }
}

.ntt--entry-tags-name {
    position: relative;
}

.ntt--entry-tags-group {
    display: contents;
}

//--------------------------------------------------------------
// Date
//--------------------------------------------------------------

.ntt--cm-datetime {

    label {
        display: none;
    }
}

.ntt--cm-date {
    font-size: var(--text---xs);
    text-align: center;

    .ntt--dom---unloaded--js & {
        visibility: hidden;
    }

    a:hover {
        text-decoration: none;
    }

    .ntt--txt {
        display: flex;
        align-items: center;
        white-space: nowrap;

        > * {
            font-size: var(--text---m);
        }
    }

    .ntt--year-txt {
        display: block;
        font-size: var(--text---xxxl);
    }

    .ntt--month-txt {
        text-transform: uppercase;
        letter-spacing: .125em;
        @include x-margin(.25rem);
        padding: .25em;
        border: .125em solid var(--color--hexetidine-gray);
        border-left: 0;
        border-right: 0;
    }

    .ntt--day-txt {
        font-size: var(--text---xxxl);
    }
}

.ntt--cm-date--current-year--js {

    .ntt--year-txt {
        display: none;
    }
}

.ntt--entry-modified-datetime {
    display: none;
}

.ntt--entry-primary-meta {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

//--------------------------------------------------------------
// Author
//--------------------------------------------------------------

.ntt--cm-author {

    label {
        display: none;
    }
}

.ntt--entry-author {
    padding: 1rem;
}

.ntt--entry-author-name {
    display: none;
}

.ntt--entry-header .ntt--comments-actions-snippet {
    display: none;
}

.ntt {

    figure {
            
        figcaption {
            text-align: center;
            font-size: to-em($text---s);
        }
    }
}

.ntt--entry-banner-visuals {
    font-size: var(--text---xl);
}

//--------------------------------------------------------------
// Generic Content
//--------------------------------------------------------------

.ntt--content {

    // Text Links
    a {
        @include transition;
        transition-property: box-shadow;
        box-shadow: inset 0 -.25em 0 0 var(--color--hexetidine-sky-blue---alpha-s);

        &:hover {
            text-decoration: none;
            box-shadow: inset 0 -3em 0 0 var(--color--hexetidine-sky-blue---alpha-s);
        }

        &.ntt--image-anchor--js {
            box-shadow: none;
        }
    }

    > .ntt--image-anchor--js {
        @include x-padding();

        img {
            width: 100%;
        }
    }

    > ul,
    > ol {

        li {
            @include y-margin(.5em);
        }
    }

    > ul li {
        
        &::marker {
            color: var(--color--hexetidine-peach);
        }
    }

    blockquote {
        position: relative;
        margin: 2em 0;

        &::before {
            content: '“';
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            transform: translate(-2rem, -3.25rem);
            color: $on-surface-color---alpha-m;
            font-size: 6em;
            line-height: 1;
            font-family: serif;
        }

        cite {
            display: inline-block;

            em {
                font-style: normal;
            }
        }
    }

    > blockquote {
        text-align: center;

        &::before {
            left: 50%;
            transform: translate(-50%, -3.25rem);
        }

        &:last-child {
            margin-bottom: 2em;
        }
    }

    > figure {
        @include x-padding();
    }

    > .ntt--image-paragraph--js {
        @include x-padding();
    }

    hr {
        @extend %cf;
        margin: 2em auto;
        @include x-padding();
        width: 3rem;
        border-top: .25rem solid var(--color--hexetidine-gray);
    }
    
    // Jetpack
    .wp-block-image {
        @include x-padding();

        img {
            width: 100%;
        }
    }

    //--------------------------------------------------------------
    // Entry inside content
    // Possibly by using [ntt_percept]
    //--------------------------------------------------------------
    
    .ntt--entry {
        
        .ntt--entry-name {
            padding: 0;
            @include y-margin(1em);
            font-size: $text---xxxxl;
            
            a {
                color: var(--on-surface-color);
                box-shadow: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .ntt--content {
            
            > * {
                @include x-padding();
            }
        }
    }

    .ntt--entries-nav {
        font-size: 1rem;
    }
}

//--------------------------------------------------------------
// Entry Module-specific Content
//--------------------------------------------------------------

.ntt--entry-md .ntt--content {
    font-size: var(--text---xl);

    // Links
    a {

        &:focus,
        &:hover {
            filter: brightness(110%) saturate(110%);
        }
    }

    .ntt--flickr-image-anchor--js,
    .ntt--unsplash-image-anchor--js {

        &:focus,
        &:hover {
            filter: initial;
        }
    }

    h2,
    .ntt--percept--entry-name a {
        color: var(--accent-color);
    }

    h3,
    h4,
    h5,
    h6 {
        color: var(--color--hexetidine-peach);
    }

    ul {
        list-style-type: disc;
    }

    // Jetpack Dropcap
    p.has-drop-cap:not(:focus) {
        
        &:first-letter {
            position: relative;
            margin: .25em .1em 0 -.05em;
            font-size: 3.25em;
            font-weight: bold;
            line-height: .45;
        }

        &::after {
            padding-top: 1em;
        }
    }

    > .ntt--emoji-txt {
        font-size: 2em;
        text-align: center;
    }

    .ntt--entry-snippet-content {

        a:not(:hover) {
            color: var(--on-surface-color);
            box-shadow: none;
        }
    }

    > .ntt--image-anchor--js {
        @include x-margin();
    }
}

//--------------------------------------------------------------
// Image Anchor JS
//--------------------------------------------------------------
.ntt--image-anchor--js {

    img {
        width: 100%;
    }
}

//--------------------------------------------------------------
// Feature: Scroll Y
//--------------------------------------------------------------
.ntt--kid-ntt--feature--scroll-y--view {

    &[data-scroll-y-percentage] {

        &.ntt--view-height---short--js {

            &::before,
            &::after {
                display: none;
            }
        }

        &::before,
        &::after {
            content: '';
            position: fixed;
            top: 0;
            z-index: 2;
            width: 0%;
            height: .5rem;
            background-color: var(--accent-color);
            @include transition;
            transform: translate3d(0px, 0px, 0px);
        }

        &::before {
            left: 0;
            background-color: var(--color--hexetidine-peach);
        }

        &::after {
            right: 0;
            background-color: var(--color--hexetidine-sky-blue);
        }
    }

    // Set left bar
    @for $i from 1 through 50 {
        $steps: 1;

        @if $i % $steps == 0 {
            $width: percentage($i / 100);
        
            &[data-scroll-y-percentage~='#{$i}'] {

                &::before {
                    width: $width;
                }
            }
        }
    }

    // Left bar will stop at 50%
    &[data-scroll-y-percentage~='50'] {
        
        &::before {
            width: 50%;
        }
    }

    // Right bar will start at 50%
    &[data-scroll-y-percentage~='0'] {
        
        &::after {
            width: 0%;
        }
    }

    // Set right bar
    @for $i from 51 through 100 {
        $steps: 1;

        @if $i % $steps == 0 {
            $width: percentage(($i / 100) - .5); // Total percentage less 50%
        
            &[data-scroll-y-percentage~='#{$i}'] {

                &::after {
                    width: $width;
                }
            }
        }
    }
}

//--------------------------------------------------------------
// Comment
//--------------------------------------------------------------

.comment-respond {
    margin: 1rem;
    background-color: var(--color--hexetidine-gray---alpha-s);
    border-radius: var(--element-corner-radius);
}

.ntt--comment-composition-name {
    margin-top: 1rem;
    font-weight: bold;
}

/* Visible when comment-reply.js is not in use */
.ntt--comment-reply-reference {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem;
    font-weight: bold;
}

.ntt--comment-form {

    .form-submit {
        display: flex;
    }

    .ntt--submit-comment-axn {
        width: 100%;
    }
}

.ntt--comment {
    margin: 1rem;
    background-color: var(--color--hexetidine-gray---alpha-s);
    border-radius: var(--element-corner-radius);
}

.ntt--comment-approval---unapproved {
    background-color: var(--surface-color);
    border: 1px dashed var(--color--hexetidine-gray);
}

.ntt--cancel-reply-axn {
    margin-top: 1rem;
}

.ntt--comment-author {
    flex-wrap: nowrap;
    padding: 1rem;
}

.ntt--comment-reply-axn {
    @include y-padding(1rem);
}

.ntt--comments-count {

    .ntt--label-txt {
        display: none;
    }

    .ntt--count-txt {
        position: relative;
        @include if-y-center;
        justify-content: center;
        padding: .5em .75em;
        min-width: 2.5em;
        min-height: 2em;
        color: var(--surface-color);
        background-color: var(--color--hexetidine-navy-blue);
        border-radius: var(--element-corner-radius);
        border-bottom-left-radius: 0;
        font-size: var(--text---m);
        font-weight: bold;
        line-height: normal;
        @include transition;

        // Triangle
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: .5rem .5rem 0 0;
            border-color: var(--color--hexetidine-navy-blue) transparent transparent transparent;
        }
    }
    
    a:hover {
        text-decoration: none;
    }
}

.ntt--comments-header {
    width: 100%;
}

.ntt--comment-name {
    margin-top: 1rem;
}

.ntt--comments-group {

    .children {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: .5rem;
            height: 100%;
            background-color: var(--color--hexetidine-sky-blue---alpha-s);
        }
    }
}

.ntt--entry-header {
    
    .ntt--comments-actions-snippet {
        display: none;
    }
}

.ntt--comments---empty {
    
    &.ntt--comment-creation---0 {

        .ntt--comment-md {
            display: none;
        }
    }

    .ntt--comments-count {
        display: none;
    }
}

.ntt--multiple-exposure-images {
    position: relative;
    @include x-padding();
    max-width: 1600px;
    max-height: 900px;
    overflow: hidden;

    img:not(:last-of-type) {
        position: absolute;
        mix-blend-mode: multiply;
        opacity: .75;
    }
}

.ntt--juxtaposed-images {
    display: flex;
    position: relative;
    @include x-padding();
    max-width: 100%;
    overflow: hidden;

    img {
        width: 60%;

        &:not(:last-of-type) {
            position: absolute;
            mix-blend-mode: multiply;
            right: 0;
        }
    }
}

//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.ntt--widget_custom_html {

    .textwidget {

        > * {

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.wp-block-image {
                @include x-margin();
            }
        }
    }
}

.ntt {

    .ntt--cta-obj {
        display: block;
        margin-top: 2em;

        .ntt--cta-button {
            display: inline-block;
            padding: .5em .75em;
            min-height: 3rem;
            background-color: var(--accent-color);
            color: var(--surface-color);
            box-shadow: none;
        }
    }
}

//--------------------------------------------------------------
// Jetpack
//--------------------------------------------------------------

.ntt--widget_blog_subscription {
    @include x-margin(1rem);
    @include y-padding(.001rem);
    background-color: var(--color--hexetidine-gray---alpha-s);
    border-radius: var(--element-corner-radius);

    .ntt--widget-name {
        @include y-padding();
        font-size: var(--text---xl);
    }

    form {
        display: grid;
            grid-template:
                'text .'
                'count .'
                'input button'
                / 1fr auto;
    }
    
    #subscribe-text {
        grid-column: text / -1;
    }

    .jetpack-subscribe-count {
        grid-column: count / -1;
    }

    #subscribe-email {

        input {
            width: 100%;
        }
    }

    input[type="email"] {
        border: .25rem solid var(--color--hexetidine-gray);
        border-right: 0;
    }

    button {
        min-height: 3rem;
    }
}

//--------------------------------------------------------------
// Jetpack Related Posts
//--------------------------------------------------------------

.ntt {

    #jp-relatedposts {
        @include y-margin(2rem);
        @include x-padding();
    
        h3.jp-relatedposts-headline {
            float: none;
            @include x-padding(1rem);
            font-size: 1em;
    
            em:before {
                border-top: .25rem solid var(--color--hexetidine-gray);
            }
        }
    
        .jp-relatedposts-items {
            clear: none;
            
            p {
                font-size: inherit;
                line-height: inherit;
            }

            .jp-relatedposts-post {
                display: grid;
                grid-template:
                    'image'
                    'context'
                    'title'
                    'date'
                    'excerpt';
                float: none;
                margin: 0;
                margin-bottom: 2em;
                padding: 1rem;
                width: auto;

                &:hover {
                    
                    .jp-relatedposts-post-title a {
                        text-decoration: none;
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                // Thumbnail
                > .jp-relatedposts-post-a {
                    display: none;
                    grid-area: image;
                    margin-bottom: 1.5em;

                    /* Aspect Ratio */
                    position: relative;
                    padding: 0;
                    overflow: hidden;

                    /* Aspect Ratio */
                    &::before {
                        content: "";
                        display: block;
                        padding-top: calc((9 / 16) * 100%);
                        width: 100%;
                    }

                    /* Aspect Ratio */
                    img {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: scale(1.5);
                        object-fit: scale-down;
                    }
                }

                .jp-relatedposts-post-title {
                    grid-area: title;
                }
                
                .jp-relatedposts-post-date {
                    grid-area: date;
                    margin-top: .5em;
                    font-size: var(--text---xs);
                    opacity: 1;
                }
                
                .jp-relatedposts-post-excerpt {
                    grid-area: excerpt;
                    @include y-margin(1em, 0);
                }

                // Entry Category
                .jp-relatedposts-post-context {
                    grid-area: context;
                    @include y-margin();
                    opacity: 1;
                    font-size: var(--text---xs);
                    font-weight: bold;
                    color: var(--color--hexetidine-peach);
                }
            }
        }
    
        .jp-relatedposts-items-visual {
            margin-right: 0;

            // Entry Name
            h4.jp-relatedposts-post-title {
                @include y-margin();
                font-size: 1.125em;
                line-height: inherit;

                a { 
                    font-weight: bold;
                }
            }

            .jp-relatedposts-post {
                opacity: 1;
            }

            .jp-relatedposts-post-nothumbs {
                
                a.jp-relatedposts-post-aoverlay {
                    display: none;
                }
            }

            div.jp-relatedposts-post-thumbs {
                
                p.jp-relatedposts-post-excerpt {
                    display: block;
                }
            }
        }
    }
}

//--------------------------------------------------------------
// Entry Tag: Reading List
//--------------------------------------------------------------
.ntt--entry-tag--reading-list {

    .ntt--content {

        .ntt--reading-list-group {

            li {
                margin-top: 2em;

                &:first-child {
                    margin-top: 0;
                }
            }

            a:not(:hover) {
                box-shadow: none;
            }
        }
    }
}

//--------------------------------------------------------------
// Comments Toggle Action
//--------------------------------------------------------------
.ntt--comments-toggle-axn--js {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .ntt--comments {
        display: contents;
    }

    .ntt--comments-main,
    .comment-respond {
        flex: 1 100%;
    }

    .ntt--comments-header {
        width: auto;
        order: -1;
    }
}

.ntt--comments-toggle-axn-checkbox--js {
    @include vh;

    &:not(:checked) {

        ~ .ntt--comments .ntt--comments-main,
        ~ .ntt--comments .ntt--comments-header .ntt--comment-axn,
        ~ .comment-respond {
            display: none;
        }

        ~ .ntt--comments .ntt--comments-header .ntt--comments-count {
            pointer-events: none;
        }
    }

    &:checked {

        ~ .ntt--comments-toggle-axn-label--js {
            display: none;
        }
    }
}

.ntt--comments-toggle-axn-label--js {
    display: inline-block;
    @include x-padding(1rem);
    color: var(--accent-color);

    &:hover {
        color: var(--surface-color);

        .ntt--txt {
            background-color: var(--accent-color);
        }
    }

    &:active {
        @include active-scale;
    }
    
    .ntt--txt {
        @include block-pad;
        @include x-padding(1rem);
        font-size: $text---m;
        background-color: var(--surface-color);
        border: 0.125rem solid var(--accent-color);
    }

    .ntt--comments-txt {
        display: none;
    }
}

//--------------------------------------------------------------
// Entry Navigation
//--------------------------------------------------------------
.ntt--entry-nav {
    border-top: 0.75rem solid var(--color--hexetidine-gray);
}

//--------------------------------------------------------------
// Media Query: Tablet
//--------------------------------------------------------------
@include mq($tablet-viewport-width---m) {

    body {
        --view-border-width: 1rem;
    }

    .ntt--content {
    
        blockquote {
            @include x-margin(1.5em);
            text-align: left;

            &::before {
                left: 0;
                transform: translate(-4rem, -3rem);
            }
        }

        > blockquote {
            
            &::before {
                transform: translate(-3rem, -3rem);
            }
        }
    }

    //--------------------------------------------------------------
    // Jetpack
    //--------------------------------------------------------------

    .ntt--widget_blog_subscription {
        @include x-margin(2rem);
        @include x-padding(2rem);
    }

    //--------------------------------------------------------------
    // Feature: Scroll Y
    //--------------------------------------------------------------
    
    .ntt--kid-ntt--feature--scroll-y--view {
    
        &[data-scroll-y-percentage] {
    
            &::before,
            &::after {
                height: 1rem;
            }
        }
    }

    .ntt--hexetidine--current-month {
        margin-top: .5rem;
    }

    .ntt--entity-heading {
        margin: 2rem;
    }

    .ntt--entity-primary-nav {
        margin: 2rem;
        margin-top: -1rem;
        @include y-padding(.5rem);
    }

    .ntt--entity-header-aside {

        > .ntt--widget {
            @include x-padding(2rem);
        }
    }

    //--------------------------------------------------------------
    // Entity
    //--------------------------------------------------------------

    .ntt--entity-main-header {
        margin: 2rem;
        margin-top: 3.5rem;
    }

    .ntt--entity-main-main {
        margin: 1rem;
    }
}

//--------------------------------------------------------------
// Media Query: Laptop
//--------------------------------------------------------------
@include mq($laptop-viewport-width---m) {

    .ntt--entry-md .ntt--entry-name {
        font-size: var(--text---yl);
    }

    .ntt--entity-primary-nav {
        @include x-margin(2rem);
    }

    //--------------------------------------------------------------
    // Jetpack
    //--------------------------------------------------------------
    .ntt {

        #jp-relatedposts {
            
            .jp-relatedposts-items {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;

                .jp-relatedposts-post {
                    flex: 1 33%;
                }
            }
        }
    }
}

@supports (display: grid) {
            
    .ntt--entity {
        display: grid;
        grid-template:
            'a1'
            'a2'
            'a3'
            'a4' 1fr
            'a5'
            'a6'
            'a7';
    }

    .ntt--entity-start {
        grid-area: a1;
    }

    .ntt--entity-header {
        display: contents;
        grid-area: none;
    }

    .ntt--entity-heading {
        grid-area: a2;
    }

    .ntt--entity-primary-nav {
        grid-area: a3;
    }

    .ntt--entity-header-aside {
        grid-area: a5;
    }

    .ntt--entity-main {
        grid-area: a4;
    }

    .ntt--entity-footer {
        grid-area: a7;
    }

    .ntt--entity-end {
        grid-area: a6;
    }
}

//--------------------------------------------------------------
// Media Query
//--------------------------------------------------------------

@include mq($laptop-viewport-width---l) {
    
    @supports (display: grid) {
            
        .ntt--entity {
            display: grid;
            grid-template:
                'a1 .'
                'a2 b2' 1fr
                'a3 .'
                'a4 .'
                / 2fr 5fr;
        }
    
        .ntt--entity-start {
            grid-area: none;
            grid-column: a1 / -1;
        }

        .ntt--entity-header {
            display: initial;
            grid-area: a2;
        }

        .ntt--entity-main {
            grid-area: b2;
        }
    
        .ntt--entity-footer {
            grid-area: none;
            grid-column: a4 / -1;
        }
    
        .ntt--entity-end {
            grid-area: a3;
            grid-column-end: none;
        }
    }
}