@import '../../../../../assets/styles/source/rules';
@import 'source/briandys';

$hexetidine-sky-blue: #00A2FF;
$hexetidine-navy-blue: #200099;
$hexetidine-gray: #C3C6D5;
$hexetidine-peach: #F54A45;
$hexetidine-purple: #000F54;

$accent-color: $hexetidine-navy-blue;
$surface-color: white;
$on-surface-color: $hexetidine-purple;

$text-link-color: $hexetidine-navy-blue;

:root {
    --color--hexetidine-sky-blue: #00A2FF;
    --color--hexetidine-sky-blue---alpha-s: hsla(202, 100%, 50%, .25);
    --color--hexetidine-sky-blue---alpha-m: hsla(202, 100%, 50%, .5);
    --color--hexetidine-sky-blue---alpha-l: hsla(202, 100%, 50%, .75);

    --color--hexetidine-navy-blue: #200099;
    --color--hexetidine-gray: #C3C6D5;
    --color--hexetidine-peach: #F54A45;
    --color--hexetidine-purple: #000F54;

    --surface-color: white;
    --on-surface-color: var(--color--hexetidine-purple);
    --accent-color: var(--color--hexetidine-navy-blue);

    --text-link-color: var(--accent-color);

    --entity-name--font-size: var(--text---xxl);
    --entity-description--font-size: var(--text---xxl);
    --entity-primary-nav--font-size: var(--text---l);

    --element-corner-radius: 0;
}

::selection {
    color: var(--surface-color);
    background-color: var(--accent-color);
}

body {
    --view-border-width: .5rem;
    color: var(--on-surface-color);
    border: var(--view-border-width) solid var(--color--hexetidine-gray);

    &::before,
    &::after {
        content: '';
        position: fixed;
        left: 0;
        width: 100%;
        height: var(--view-border-width);
        background: var(--color--hexetidine-gray);
        z-index: 1;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

select,
textarea {
    border: .25rem solid var(--color--hexetidine-gray);
}

.ntt--hexetidine--current-month {
    margin-bottom: .5rem;
    text-align: right;
    font-weight: bold;
    color: var(--accent-color);
}

.ntt--entity-name {
    font-size: var(--entity-name--font-size);

    a {
        display: block;
        color: var(--accent-color);
        @include transition;
        transition-property: color, background-color;

        &:hover {
            text-decoration: none;
            color: var(--surface-color);
            background-color: var(--accent-color);
        }
    }

    .ntt--txt {
        @include x-padding(.5em);
        border: .25rem solid var(--accent-color);
    }
}

.ntt--entity-view-heading {
    padding: .5rem 0;
}

.ntt--entity-description {
    font-weight: bold;
    font-size: var(--entity-description--font-size);
    color: var(--color--hexetidine-peach);

    .ntt--txt {
        @include x-padding(.5em);
        border: .25rem solid transparent;
        border-top: 0;
        border-bottom: 0;
    }
}

.ntt--entity-heading {
    margin: 1rem;
    padding: 0;

    border-bottom: .75rem solid var(--color--hexetidine-peach);
}

.ntt--entity-primary-nav {
    margin: 1rem;
    font-size: var(--entity-primary-nav--font-size);
    background-color: var(--accent-color);

    a {
        font-weight: bold;
        color: var(--surface-color);
    }

    .ntt--entity-primary-nav-group {
        @include x-margin(.5rem);
    }
}

.ntt--nav---sub-menu--js {
    
    .ntt--sub-menu-checkbox--js ~ .ntt--icon {
        fill: var(--surface-color);
    }

    .ntt--sub-menu--js {
        margin-top: -.5rem;
        background-color: var(--accent-color);
        border-color: var(--surface-color);
        border-radius: 0;
    }
}

.ntt--sub-menu-ancestor--js > a > .ntt--txt {
    padding-right: 0;
}

.ntt--entity-footer {
    color: var(--surface-color);
    background-color: var(--color--hexetidine-sky-blue);
}

.ntt--entity-secondary-info {
    color: var(--surface-color);

    a {
        color: var(--surface-color);
    }
}

.ntt--entity-header-aside {
    @include y-margin(2rem);
}

.ntt--hexetidine--about-snippet {
    padding: 0;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.25rem;
    border: .5rem solid var(--color--hexetidine-gray);
    border-left: 0;
    border-right: 0;
}

.ntt--kid-ntt--hexetidine--quotes--js {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;

    .ntt--icon {
        @include x-margin(auto);
        width: 3rem;
        fill: var(--surface-color);
    }
}

//--------------------------------------------------------------
// Entity
//--------------------------------------------------------------

.ntt--entity-main-header {
    margin: 1rem;
    text-align: right;
    border-bottom: .5rem solid var(--color--hexetidine-gray);
}

.ntt--entity-view-name {
    font-weight: bold;
    color: $accent-color;

    .ntt--txt {
        @include x-padding();
        margin-right: .5rem;
    }
}

.ntt--entry-count {
    color: var(--surface-color);
    background-color: var(--accent-color);

    .ntt--txt {
        min-width: 2.375rem;
        min-height: 2.375rem;
        @include if-y-center;
        justify-content: center;
    }
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.ntt--entry-name {
    font-size: var(--text---xxl);
}

.ntt--entry-categories {
    margin-bottom: -1rem;
    font-weight: bold;
    font-size: var(--text---l);

    a {
        color: var(--color--hexetidine-peach);
    }
}

.ntt--cm-datetime {

    label {
        display: none;
    }
}

.ntt--cm-date {
    text-align: center;

    .ntt--dom---unloaded--js & {
        visibility: hidden;
    }

    a:hover {
        text-decoration: none;
    }

    .ntt--txt {
        display: flex;
        align-items: center;

        > * {
            font-size: var(--text---m);
        }
    }

    .ntt--year-txt {
        display: block;
        font-size: var(--text---xxxl);
    }

    .ntt--month-txt {
        text-transform: uppercase;
        letter-spacing: .125em;
        @include x-margin(.25rem);
        padding: .25em;
        border: .125em solid var(--color--hexetidine-gray);
        border-left: 0;
        border-right: 0;
    }

    .ntt--day-txt {
        font-size: var(--text---xxxl);
    }
}

.ntt--cm-date--current-year--js {

    .ntt--year-txt {
        display: none;
    }
}

.ntt--entry-modified-datetime {
    display: none;
}

.ntt--entry-primary-meta {
    flex-direction: row;
    align-items: center;
}

//--------------------------------------------------------------
// Author
//--------------------------------------------------------------

.ntt--cm-author {

    label {
        display: none;
    }
}

.ntt--entry-author-name {
    display: none;
}

.ntt--entry-header .ntt--comments-actions-snippet {
    display: none;
}

.ntt {

    .wp-caption,
    .wp-block-image,
    .wp-block-embed {
            
        figcaption {
            font-size: to-em($text---s);
        }
    }
}

//--------------------------------------------------------------
// Content
//--------------------------------------------------------------

.ntt--content {
    font-size: var(--text---xl);

    a {
        @include transition;
        transition-property: box-shadow;
        box-shadow: inset 0 -.25em 0 0 var(--color--hexetidine-sky-blue---alpha-s);

        &:hover {
            text-decoration: none;
            box-shadow: inset 0 -3em 0 0 var(--color--hexetidine-sky-blue---alpha-s);
        }

        &.ntt--img-anchor--js {
            box-shadow: none;
        }
    }

    hr {
        @extend %cf;
        margin: 2em auto;
        @include x-padding();
        width: 3rem;
        border-top: .25rem solid var(--color--hexetidine-gray);
    }
    
    // Jetpack
    p.has-drop-cap:not(:focus) {
        
        &:first-letter {
            position: relative;
            margin: .25em .1em 0 -.05em;
            font-size: 3.25em;
            font-weight: bold;
            line-height: .45;
        }

        &::after {
            padding-top: 1em;
        }
    }
}

//--------------------------------------------------------------
// Feature: Scroll Y
//--------------------------------------------------------------

.ntt--kid-ntt--feature--scroll-y--view {

    &[data-scroll-y-percentage] {

        &::before,
        &::after {
            content: '';
            position: fixed;
            top: 0;
            z-index: 2;
            width: 0%;
            height: .5rem;
            background-color: var(--accent-color);
            @include transition;
            transform: translate3d(0px, 0px, 0px);
        }

        &::before {
            left: 0;
            background-color: var(--color--hexetidine-peach);
        }

        &::after {
            right: 0;
            background-color: var(--color--hexetidine-sky-blue);
        }
    }

    // Set left bar
    @for $i from 1 through 50 {
        $steps: 1;

        @if $i % $steps == 0 {
            $width: percentage($i / 100);
        
            &[data-scroll-y-percentage~='#{$i}'] {

                &::before {
                    width: $width;
                }
            }
        }
    }

    // Left bar will stop at 50%
    &[data-scroll-y-percentage~='50'] {
        
        &::before {
            width: 50%;
        }
    }

    // Right bar will start at 50%
    &[data-scroll-y-percentage~='0'] {
        
        &::after {
            width: 0%;
        }
    }

    // Set right bar
    @for $i from 51 through 100 {
        $steps: 1;

        @if $i % $steps == 0 {
            $width: percentage(($i / 100) - .5); // Total percentage less 50%
        
            &[data-scroll-y-percentage~='#{$i}'] {

                &::after {
                    width: $width;
                }
            }
        }
    }
}

//--------------------------------------------------------------
// Media Query: Tablet
//--------------------------------------------------------------

@include mq($tablet-viewport-width) {

    body {
        --view-border-width: 1rem;
    }

    //--------------------------------------------------------------
    // Feature: Scroll Y
    //--------------------------------------------------------------
    
    .ntt--kid-ntt--feature--scroll-y--view {
    
        &[data-scroll-y-percentage] {
    
            &::before,
            &::after {
                height: 1rem;
            }
        }
    }

    .ntt--hexetidine--current-month {
        margin-top: .5rem;
    }

    .ntt--entity-heading {
        margin: 2rem;
    }

    .ntt--entity-primary-nav {
        margin: 2rem;
        margin-top: -1rem;
        @include y-padding(1rem);
    }

    .ntt--entity-header-aside {

        .ntt--widget {
            @include x-padding(2rem);
        }
    }

    //--------------------------------------------------------------
    // Entity
    //--------------------------------------------------------------

    .ntt--entity-main-header {
        margin: 2rem;
        margin-top: 3.5rem;
    }

    .ntt--entity-main-main {
        margin: 1rem;
    }
}

//--------------------------------------------------------------
// Media Query: Laptop
//--------------------------------------------------------------

@include mq($laptop-viewport-width) {

    .ntt--entry-name {
        font-size: var(--text---yl);
    }

    .ntt--entity-primary-nav {
        @include x-margin(2rem);
    }
}

//--------------------------------------------------------------
// Media Query: Laptop Large
//--------------------------------------------------------------

@include mq($laptop-viewport-width---l) {
    
    @supports (display: grid) {
            
        .ntt--entity {
            display: grid;
            grid-template:
                'entity-start .'
                'entity-header entity-main'
                'entity-footer .'
                'entity-end .'
                / 2fr 5fr;
        }
    
        .ntt--entity-footer {
            grid-column: entity-footer / -1;
        }
    
        .ntt--entity-end {
            grid-column: entity-end / -1;
        }

        .ntt--entity-header {
            display: block;
        }
    }
}