/* Screen Reader Text ------------------------ */
:root {
  --text---xxs: .625rem;
  --text---xs: .75rem;
  --text---s: .875rem;
  --text---m: 1rem;
  --text---l: 1.125rem;
  --text---xl: 1.5rem;
  --text---xxl: 2rem;
  --text---xxxl: 2.5rem;
  --text---yl: 3rem;
  --text---yyl: 3.5rem;
  --text---yyyl: 4rem;
  --text-link-color: $accent-color;
}

:root {
  --color--hexetidine-sky-blue: #00A2FF;
  --color--hexetidine-navy-blue: #200099;
  --color--hexetidine-gray: #C3C6D5;
  --color--hexetidine-peach: #F54A45;
  --color--hexetidine-purple: #000F54;
  --surface-color: white;
  --on-surface-color: var(--color--hexetidine-purple);
  --accent-color: var(--color--hexetidine-navy-blue);
}

::-moz-selection {
  color: var(--surface-color);
  background-color: var(--accent-color);
}

::selection {
  color: var(--surface-color);
  background-color: var(--accent-color);
}

body {
  --view-border-width: .5rem;
  color: var(--on-surface-color);
  border: var(--view-border-width) solid var(--color--hexetidine-gray);
}

body::before, body::after {
  content: '';
  position: fixed;
  left: 0;
  width: 100%;
  height: var(--view-border-width);
  background: var(--color--hexetidine-gray);
  z-index: 1;
}

body::before {
  top: 0;
}

body::after {
  bottom: 0;
}

button,
input,
select,
textarea {
  border: 0.25rem solid var(--color--hexetidine-gray);
  border-radius: 0;
}

.ntt--hexetidine--current-month {
  margin-bottom: .5rem;
  text-align: right;
  font-weight: bold;
  color: var(--accent-color);
}

.ntt--entity-name {
  font-size: 2rem;
}

.ntt--entity-name a {
  display: block;
  color: var(--accent-color);
}

.ntt--entity-name .ntt--txt {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 0.25rem solid var(--accent-color);
}

.ntt--entity-description {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color--hexetidine-peach);
}

.ntt--entity-description .ntt--txt {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.ntt--entity-heading {
  margin: 1rem;
  padding: 0;
  text-align: center;
}

.ntt--entity-primary-nav {
  margin: 1rem;
  text-align: center;
  background-color: var(--accent-color);
}

.ntt--entity-primary-nav a {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--surface-color);
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js ~ .ntt--icon {
  fill: var(--surface-color);
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js {
  margin-top: -.5rem;
  background-color: var(--accent-color);
  border-color: var(--surface-color);
  border-radius: 0;
}

.ntt--sub-menu-ancestor--js > a > .ntt--txt {
  padding-right: 0;
}

.ntt--entity-primary-nav-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ntt--entity-secondary-info {
  color: var(--surface-color);
  background-color: var(--color--hexetidine-sky-blue);
}

.ntt--entity-secondary-info a {
  color: var(--surface-color);
}

.ntt--entity-header-aside {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ntt--hexetidine--about-snippet {
  padding: 0;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.25rem;
  border: 0.5rem solid var(--color--hexetidine-gray);
  border-left: 0;
  border-right: 0;
}

.ntt--entity-main-header {
  margin: 1rem;
  text-align: right;
  border-bottom: 0.5rem solid var(--color--hexetidine-gray);
}

.ntt--entity-view-name {
  font-weight: bold;
  color: #200099;
}

.ntt--entry-count {
  color: var(--surface-color);
  background-color: var(--accent-color);
}

.ntt--entry-count .ntt--txt {
  min-width: 2.375rem;
  min-height: 2.375rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ntt--entry-name {
  font-size: var(--text---xxl);
}

.ntt--entry-categories {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: var(--text---l);
}

.ntt--entry-categories a {
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--surface-color);
  background-color: var(--color--hexetidine-peach);
}

.ntt--content {
  font-size: var(--text---xl);
}

@media only screen and (min-width: 768px) {
  body {
    --view-border-width: 1rem;
  }
  .ntt--hexetidine--current-month {
    margin-top: .5rem;
  }
  .ntt--entity-heading {
    margin: 2rem;
  }
  .ntt--entity-primary-nav {
    margin: 2rem;
    margin-top: -1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .ntt--entity-header-aside .ntt--widget {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .ntt--entity-main-header {
    margin: 2rem;
  }
  .ntt--entity-main-main {
    margin: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .ntt--entry-name {
    font-size: var(--text---yl);
  }
  .ntt--entity-primary-nav {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  @supports (display: grid) {
    .ntt--entity {
      display: -ms-grid;
      display: grid;
      grid-template: 'entity-start .' 'entity-header entity-main' 'entity-footer .' 'entity-end .' / 2fr 5fr;
    }
    .ntt--entity-footer {
      grid-column: entity-footer / -1;
    }
    .ntt--entity-header {
      display: block;
    }
  }
}
