/* Screen Reader Text ------------------------ */
:root {
  --color--hexetidine-sky-blue: #00A2FF;
  --color--hexetidine-sky-blue---alpha-s: hsla(202, 100%, 50%, .25);
  --color--hexetidine-sky-blue---alpha-m: hsla(202, 100%, 50%, .5);
  --color--hexetidine-sky-blue---alpha-l: hsla(202, 100%, 50%, .75);
  --color--hexetidine-navy-blue: #200099;
  --color--hexetidine-gray: #C3C6D5;
  --color--hexetidine-peach: #F54A45;
  --color--hexetidine-purple: #000F54;
  --surface-color: white;
  --on-surface-color: var(--color--hexetidine-purple);
  --accent-color: var(--color--hexetidine-navy-blue);
  --text-link-color: var(--accent-color);
  --entity-name--font-size: var(--text---xxl);
  --entity-description--font-size: var(--text---xxl);
  --entity-primary-nav--font-size: var(--text---l);
  --element-corner-radius: 0;
}

::-moz-selection {
  color: var(--surface-color);
  background-color: var(--accent-color);
}

::selection {
  color: var(--surface-color);
  background-color: var(--accent-color);
}

body {
  --view-border-width: .5rem;
  color: var(--on-surface-color);
  border: var(--view-border-width) solid var(--color--hexetidine-gray);
}

body::before, body::after {
  content: '';
  position: fixed;
  left: 0;
  width: 100%;
  height: var(--view-border-width);
  background: var(--color--hexetidine-gray);
  z-index: 1;
}

body::before {
  top: 0;
}

body::after {
  bottom: 0;
}

select,
textarea {
  border: 0.25rem solid var(--color--hexetidine-gray);
}

.ntt--hexetidine--current-month {
  margin-bottom: .5rem;
  text-align: right;
  font-weight: bold;
  color: var(--accent-color);
}

.ntt--entity-name {
  font-size: var(--entity-name--font-size);
}

.ntt--entity-name a {
  display: block;
  color: var(--accent-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.ntt--entity-name a:hover {
  text-decoration: none;
  color: var(--surface-color);
  background-color: var(--accent-color);
}

.ntt--entity-name .ntt--txt {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 0.25rem solid var(--accent-color);
}

.ntt--entity-view-heading {
  padding: .5rem 0;
}

.ntt--entity-description {
  font-weight: bold;
  font-size: var(--entity-description--font-size);
  color: var(--color--hexetidine-peach);
}

.ntt--entity-description .ntt--txt {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: .25rem solid transparent;
  border-top: 0;
  border-bottom: 0;
}

.ntt--entity-heading {
  margin: 1rem;
  padding: 0;
  border-bottom: 0.75rem solid var(--color--hexetidine-peach);
}

.ntt--entity-primary-nav {
  margin: 1rem;
  font-size: var(--entity-primary-nav--font-size);
  background-color: var(--accent-color);
}

.ntt--entity-primary-nav a {
  font-weight: bold;
  color: var(--surface-color);
}

.ntt--entity-primary-nav .ntt--entity-primary-nav-group {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox--js ~ .ntt--icon {
  fill: var(--surface-color);
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js {
  margin-top: -.5rem;
  background-color: var(--accent-color);
  border-color: var(--surface-color);
  border-radius: 0;
}

.ntt--sub-menu-ancestor--js > a > .ntt--txt {
  padding-right: 0;
}

.ntt--entity-footer {
  color: var(--surface-color);
  background-color: var(--color--hexetidine-sky-blue);
}

.ntt--entity-secondary-info {
  color: var(--surface-color);
}

.ntt--entity-secondary-info a {
  color: var(--surface-color);
}

.ntt--entity-header-aside {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ntt--hexetidine--about-snippet {
  padding: 0;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.25rem;
  border: 0.5rem solid var(--color--hexetidine-gray);
  border-left: 0;
  border-right: 0;
}

.ntt--kid-ntt--hexetidine--quotes--js {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.ntt--kid-ntt--hexetidine--quotes--js .ntt--icon {
  margin-left: auto;
  margin-right: auto;
  width: 3rem;
  fill: var(--surface-color);
}

.ntt--entity-main-header {
  margin: 1rem;
  text-align: right;
  border-bottom: 0.5rem solid var(--color--hexetidine-gray);
}

.ntt--entity-view-name {
  font-weight: bold;
  color: #200099;
}

.ntt--entry-count {
  color: var(--surface-color);
  background-color: var(--accent-color);
}

.ntt--entry-count .ntt--txt {
  min-width: 2.375rem;
  min-height: 2.375rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ntt--entry-name {
  font-size: var(--text---xxl);
}

.ntt--entry-categories {
  margin-bottom: -1rem;
  font-weight: bold;
  font-size: var(--text---l);
}

.ntt--entry-categories a {
  color: var(--color--hexetidine-peach);
}

.ntt--content {
  font-size: var(--text---xl);
}

.ntt--content a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-box-shadow: inset 0 -0.25em 0 0 var(--color--hexetidine-sky-blue---alpha-s);
          box-shadow: inset 0 -0.25em 0 0 var(--color--hexetidine-sky-blue---alpha-s);
}

.ntt--content a:hover {
  text-decoration: none;
  -webkit-box-shadow: inset 0 -3em 0 0 var(--color--hexetidine-sky-blue---alpha-s);
          box-shadow: inset 0 -3em 0 0 var(--color--hexetidine-sky-blue---alpha-s);
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage]::before {
  height: .5rem;
  background-color: var(--color--hexetidine-peach);
  opacity: 1;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="1"]::before {
  width: 1%;
  background-color: #f34e49;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="2"]::before {
  width: 2%;
  background-color: #f04f4b;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="3"]::before {
  width: 3%;
  background-color: #ee504d;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="4"]::before {
  width: 4%;
  background-color: #eb504e;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="5"]::before {
  width: 5%;
  background-color: #e95150;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="6"]::before {
  width: 6%;
  background-color: #e65252;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="7"]::before {
  width: 7%;
  background-color: #e45354;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="8"]::before {
  width: 8%;
  background-color: #e15456;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="9"]::before {
  width: 9%;
  background-color: #df5558;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="10"]::before {
  width: 10%;
  background-color: #dd5659;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="11"]::before {
  width: 11%;
  background-color: #da565b;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="12"]::before {
  width: 12%;
  background-color: #d8575d;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="13"]::before {
  width: 13%;
  background-color: #d5585f;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="14"]::before {
  width: 14%;
  background-color: #d35961;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="15"]::before {
  width: 15%;
  background-color: #d05a63;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="16"]::before {
  width: 16%;
  background-color: #ce5b64;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="17"]::before {
  width: 17%;
  background-color: #cb5b66;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="18"]::before {
  width: 18%;
  background-color: #c95c68;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="19"]::before {
  width: 19%;
  background-color: #c65d6a;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="20"]::before {
  width: 20%;
  background-color: #c45e6c;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="21"]::before {
  width: 21%;
  background-color: #c25f6e;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="22"]::before {
  width: 22%;
  background-color: #bf606f;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="23"]::before {
  width: 23%;
  background-color: #bd6171;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="24"]::before {
  width: 24%;
  background-color: #ba6173;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="25"]::before {
  width: 25%;
  background-color: #b86275;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="26"]::before {
  width: 26%;
  background-color: #b56377;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="27"]::before {
  width: 27%;
  background-color: #b36479;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="28"]::before {
  width: 28%;
  background-color: #b0657b;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="29"]::before {
  width: 29%;
  background-color: #ae667c;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="30"]::before {
  width: 30%;
  background-color: #ac677e;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="31"]::before {
  width: 31%;
  background-color: #a96780;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="32"]::before {
  width: 32%;
  background-color: #a76882;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="33"]::before {
  width: 33%;
  background-color: #a46984;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="34"]::before {
  width: 34%;
  background-color: #a26a86;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="35"]::before {
  width: 35%;
  background-color: #9f6b87;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="36"]::before {
  width: 36%;
  background-color: #9d6c89;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="37"]::before {
  width: 37%;
  background-color: #9a6c8b;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="38"]::before {
  width: 38%;
  background-color: #986d8d;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="39"]::before {
  width: 39%;
  background-color: #956e8f;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="40"]::before {
  width: 40%;
  background-color: #936f91;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="41"]::before {
  width: 41%;
  background-color: #917092;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="42"]::before {
  width: 42%;
  background-color: #8e7194;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="43"]::before {
  width: 43%;
  background-color: #8c7296;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="44"]::before {
  width: 44%;
  background-color: #897298;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="45"]::before {
  width: 45%;
  background-color: #87739a;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="46"]::before {
  width: 46%;
  background-color: #84749c;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="47"]::before {
  width: 47%;
  background-color: #82759d;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="48"]::before {
  width: 48%;
  background-color: #7f769f;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="49"]::before {
  width: 49%;
  background-color: #7d77a1;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="50"]::before {
  width: 50%;
  background-color: #7b78a3;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="51"]::before {
  width: 51%;
  background-color: #7878a5;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="52"]::before {
  width: 52%;
  background-color: #7679a7;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="53"]::before {
  width: 53%;
  background-color: #737aa9;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="54"]::before {
  width: 54%;
  background-color: #717baa;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="55"]::before {
  width: 55%;
  background-color: #6e7cac;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="56"]::before {
  width: 56%;
  background-color: #6c7dae;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="57"]::before {
  width: 57%;
  background-color: #697db0;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="58"]::before {
  width: 58%;
  background-color: #677eb2;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="59"]::before {
  width: 59%;
  background-color: #647fb4;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="60"]::before {
  width: 60%;
  background-color: #6280b5;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="61"]::before {
  width: 61%;
  background-color: #6081b7;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="62"]::before {
  width: 62%;
  background-color: #5d82b9;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="63"]::before {
  width: 63%;
  background-color: #5b83bb;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="64"]::before {
  width: 64%;
  background-color: #5883bd;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="65"]::before {
  width: 65%;
  background-color: #5684bf;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="66"]::before {
  width: 66%;
  background-color: #5385c0;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="67"]::before {
  width: 67%;
  background-color: #5186c2;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="68"]::before {
  width: 68%;
  background-color: #4e87c4;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="69"]::before {
  width: 69%;
  background-color: #4c88c6;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="70"]::before {
  width: 70%;
  background-color: #4a89c8;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="71"]::before {
  width: 71%;
  background-color: #4789ca;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="72"]::before {
  width: 72%;
  background-color: #458acb;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="73"]::before {
  width: 73%;
  background-color: #428bcd;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="74"]::before {
  width: 74%;
  background-color: #408ccf;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="75"]::before {
  width: 75%;
  background-color: #3d8dd1;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="76"]::before {
  width: 76%;
  background-color: #3b8ed3;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="77"]::before {
  width: 77%;
  background-color: #388ed5;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="78"]::before {
  width: 78%;
  background-color: #368fd7;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="79"]::before {
  width: 79%;
  background-color: #3390d8;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="80"]::before {
  width: 80%;
  background-color: #3191da;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="81"]::before {
  width: 81%;
  background-color: #2f92dc;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="82"]::before {
  width: 82%;
  background-color: #2c93de;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="83"]::before {
  width: 83%;
  background-color: #2a94e0;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="84"]::before {
  width: 84%;
  background-color: #2794e2;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="85"]::before {
  width: 85%;
  background-color: #2595e3;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="86"]::before {
  width: 86%;
  background-color: #2296e5;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="87"]::before {
  width: 87%;
  background-color: #2097e7;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="88"]::before {
  width: 88%;
  background-color: #1d98e9;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="89"]::before {
  width: 89%;
  background-color: #1b99eb;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="90"]::before {
  width: 90%;
  background-color: #199aed;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="91"]::before {
  width: 91%;
  background-color: #169aee;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="92"]::before {
  width: 92%;
  background-color: #149bf0;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="93"]::before {
  width: 93%;
  background-color: #119cf2;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="94"]::before {
  width: 94%;
  background-color: #0f9df4;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="95"]::before {
  width: 95%;
  background-color: #0c9ef6;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="96"]::before {
  width: 96%;
  background-color: #0a9ff8;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="97"]::before {
  width: 97%;
  background-color: #079ff9;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="98"]::before {
  width: 98%;
  background-color: #05a0fb;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="99"]::before {
  width: 99%;
  background-color: #02a1fd;
}

.ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage~="100"]::before {
  width: 100%;
  background-color: #00a2ff;
}

@media only screen and (min-width: 768px) {
  body {
    --view-border-width: 1rem;
  }
  .ntt.ntt--kid-ntt--feature--scroll-y[data-scroll-y-percentage]::before {
    height: 1rem;
  }
  .ntt--hexetidine--current-month {
    margin-top: .5rem;
  }
  .ntt--entity-heading {
    margin: 2rem;
  }
  .ntt--entity-primary-nav {
    margin: 2rem;
    margin-top: -1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .ntt--entity-header-aside .ntt--widget {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .ntt--entity-main-header {
    margin: 2rem;
  }
  .ntt--entity-main-main {
    margin: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .ntt--entry-name {
    font-size: var(--text---yl);
  }
  .ntt--entity-primary-nav {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  @supports (display: grid) {
    .ntt--entity {
      display: -ms-grid;
      display: grid;
      grid-template: 'entity-start .' 'entity-header entity-main' 'entity-footer .' 'entity-end .' / 2fr 5fr;
    }
    .ntt--entity-footer {
      grid-column: entity-footer / -1;
    }
    .ntt--entity-header {
      display: block;
    }
  }
}
