//--------------------------------------------------------------
// WP Elements
//--------------------------------------------------------------

.bypostauthor,
.gallery-caption,
.sticky,
.wp-caption,
.wp-caption-text,
.alignright,
.alignleft,
.aligncenter {
    position: inherit;
}

.screen-reader-text {
    @extend %vh;
}

//--------------------------------------------------------------
// HTML Elements
//--------------------------------------------------------------

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    overflow-anchor: auto;
}

a {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
}

input,
select,
textarea,
button,
input[type="submit"] {
    padding: .5em;
    width: 100%;
    min-height: 3rem;
    border: 1px solid $faint-color--hi;
    border-radius: .125rem;
    line-height: 1;
}

[type="checkbox"],
[type="radio"] {
    min-height: auto;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M6.8 10.7a1.6 1.6 0 0 0 2.2 0l7-7 7 7a1.6 1.6 0 0 0 2.2 0 1.6 1.6 0 0 0 0-2.2L17 .5a1.5 1.5 0 0 0-1-.5 1.4 1.4 0 0 0-1.2.5l-8 8a1.6 1.6 0 0 0 0 2.2zm18.4 10.6a1.6 1.6 0 0 0-2.2 0l-7 7-7-7a1.6 1.6 0 0 0-2.1 0 1.6 1.6 0 0 0 0 2.2l8 8a1.5 1.5 0 0 0 1.1.5 1.4 1.4 0 0 0 1.1-.5l8-8a1.6 1.6 0 0 0 .1-2.2z'/%3E%3C/svg%3E");
	background-position: calc(100% - .5rem) 50%;
	background-repeat: no-repeat;
    background-size: 1rem;
    
    &:hover {
        cursor: pointer;
    }
}

textarea {
    display: block;
    line-height: 1.8;
    min-height: 4.5rem;
}

button,
input[type="submit"] {
    display: inline-block;
    padding: .75rem 1.25rem;
    width: auto;
    color: white;
    border: 0;

    &:hover {
        cursor: pointer;
    }
}

label {

    &:hover {
        cursor: pointer;
    }
}

//--------------------------------------------------------------
// Note
//--------------------------------------------------------------

.ntt--note {
    
    > * {
        @include x-padding(1rem);
    }
}

//--------------------------------------------------------------
// Prezo Mode
//--------------------------------------------------------------

.ntt--prezo-mode {
    
    #prezo-mode-axn {
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 1rem;
    }
    
    &.prezo--active {
        background-color: hsla(0, 0%, 75%, .0625);
        
        .ntt--entry-content {
            font-size: 1.375rem;
        }

        .slide {
            min-height: 100vh;
        }
    
        .ntt--entity-header,
        .entry-header,
        .comment-md,
        .entity-main-footer,
        .ntt--entity-footer {
            display: none;
        }
    
        .ntt--entry-full-content {
    
            .wp-block-gallery {
                
                .blocks-gallery-item {
                    padding: .5rem;
                    max-height: 100vh;
    
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

#download-axn {
    position: fixed;
    right: 0;
    bottom: 0;
}