//--------------------------------------------------------------
// Comment
//--------------------------------------------------------------

.ntt--comment-meta {
    @include if-y-center
}

.ntt--comment-name {
    display: inline-block;
    @include space-around;
    font-size: $text---l;
    font-weight: bold;

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--comment-author-name {

    a {
        display: inline-block;
    }

    .ntt--txt {
       @include block-pad;
    }
}

//--------------------------------------------------------------
// Comment Author
//--------------------------------------------------------------

.ntt--comment-author {
    @include if-y-center;
    padding: .5rem;
}

.ntt--comment-author-label {
    display: inline-block;

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--comment-author-name {

    .ntt--txt {
       @include block-pad;
    }
}

//--------------------------------------------------------------
// Comments Count
//--------------------------------------------------------------

.ntt--comments-count {

    a {
        display: inline-block;

        &:hover {

            .ntt--count-txt {
                text-decoration: underline;
            }
        }
    }

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--comments-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .ntt--comments-actions-snippet {
        display: flex;
        display: contents;
    }

    .ntt--comments-count {
        @include space-around;
        font-weight: bold;

        .ntt--txt {
           @include block-pad;
        }

        a {

            &:hover {
                text-decoration: none;
            }
        }

        .ntt--label-txt {
            display: none;
        }
    }
    
    .ntt--disabled-comments-note {
        flex: 1 100%;    
    }
}

.ntt--comments-actions-snippet {

    .ntt--comment-axn {
        @include space-around;

        a {
            display: inline-block;

            &:hover {
                text-decoration: none;

                .ntt--comment-text {
                    text-decoration: underline;
                }
            }
        }

        .ntt--txt {
           @include block-pad;
        }
    }
}

.ntt--comment-reply-axn {
    @include space-around;

    a {
        display: inline-block;

        &:hover {
            text-decoration: none;

            .ntt--reply-text {
                text-decoration: underline;
            }
        }
    }

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--comments-name {
    display: inline-block;
    @include space-around;
    @include y-margin();
    margin-right: -1rem;
    font-weight: normal;
    font-size: $text---xl;

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--modify-comment-axn {
    @include space-around;
    user-select: none;
    
    a {
        display: inline-block;
    }

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--comment-composition-name {
    display: inline-block;
    @include space-around;

    .ntt--txt {
       @include block-pad;
    }
    
}

.ntt--cancel-reply-axn {
    display: none;
    @include space-around;

    a {
        display: inline-block;
    }

    .ntt--txt {
       @include block-pad;
    }
}

//--------------------------------------------------------------
// Subcomments
//--------------------------------------------------------------

.ntt--comments-group {
    @include unlist;

    .children {
        @include unlist;
        margin-left: 1rem;
    }

    .comment-respond {
        @include if-y-center;
        display: flex;
    }

    .ntt--cancel-reply-axn {
        display: block;
    }

    .ntt--comment-form {
        flex: 1 100%;
    }
}

//--------------------------------------------------------------
// Comment Form
//--------------------------------------------------------------

.ntt--comment-form {

    label {
        display: inline-block;

        .ntt--txt {
           @include block-pad;
        }
    }

    .form-submit {
        margin: 0;

        &:empty {
            display: none;
        }
    }

    .subscribe-label {
        display: inline-block !important;
        padding: .5rem;
    }

    .comment-form-cookies-consent,
    .comment-subscription-form {
        display: flex;
        align-items: baseline;
        margin: 0;
        @include x-padding(.5rem);

        input {
            margin-left: 1rem;
        }

        label {
            padding: 1rem;
        }
    }

    .ntt--form-field {
        @include space-around;
    }

    .ntt--form-element {
        @include space-around;
    }
}

.ntt--submit-comment-axn {
    margin: 1rem;
}

//--------------------------------------------------------------
// Account Log Status
//--------------------------------------------------------------

.ntt--account-logged-in-status {
    @include x-padding(.5rem);
}

.ntt--account-log-status {
    @include if-y-center;
}

.ntt--log-out-account-axn {
    @include space-around;

    a {
        display: inline-block;
    }

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--logged-in-account {
    @include space-around;

    .ntt--txt {
       @include block-pad;
    }
}

//--------------------------------------------------------------
// Comments Count
//--------------------------------------------------------------

.ntt--entry-header {

    .ntt--comments-actions-snippet {

        .ntt--comments-count {
            padding: .5rem;
        }
    }
}

//--------------------------------------------------------------
// Comment DateTime
//--------------------------------------------------------------

.ntt--comment-published-datetime {
    @include if-y-center;
    padding: .5rem;
}

.ntt--comment-published-datetime-label {
    display: inline-block;

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--comment-published-date,
.ntt--comment-published-time {

    a {
        display: inline-block;
        color: inherit;
    }

    .ntt--txt {
       @include block-pad;
    }
}

//--------------------------------------------------------------
// Comment Content
//--------------------------------------------------------------

.ntt--comment-full-content {

    .ntt--comment-creation---0 &  {
        padding-bottom: .02px; // Hack so that the margin-bottom of the last block will take effect
    }
}

.ntt--comments---empty.ntt--comment-creation---0 {

    .ntt--comment-md {
        display: none;
    }
}