//--------------------------------------------------------------
// Comment
//--------------------------------------------------------------

.comment-edit-link {
    display: inline-block;

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--comment-meta {
    @include if-y-center
}

.ntt--comment-author {
    @include if-y-center;
    padding: .5rem;
}

.ntt--comment-name {
    padding: .5rem;
    font-weight: bold;

    .ntt--txt {
        display: inline-block;
        padding: .5rem;
    }
}

.ntt--comment-reply-axn {
    padding: .5rem;
}

.ntt--comment-author {
    order: -1;
}

.ntt--comment-author-avatar {
    order: -1;
}

.ntt--comment-author-name {

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--comments-count {

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--comments-header {
    @include if-y-center;

    .ntt--comments-actions-snippet {
        display: flex;
        display: contents;
    }

    .ntt--comments-count {
        padding: 1rem;
        line-height: 1;
        font-weight: bold;

        .ntt--txt {
            @extend %count-box;
        }

        a {

            &:hover {
                text-decoration: none;
            }
        }

        .ntt--label-txt {
            display: none;
        }
    }
    
    .ntt--disabled-comments-note {
        flex: 1 100%;    
    }
}

.ntt--comments-actions-snippet {

    .ntt--comment-axn {
        padding: .5rem;

        a {
            display: inline-block;

            &:hover {
                text-decoration: none;

                .ntt--comment-text {
                    text-decoration: underline;
                }
            }
        }

        .ntt--txt {
            @include if-y-center;
        }
    
        .ntt--comment-text {
            display: block;
            padding: .5em;
        }
            
        .ntt--requirement-txt {
            display: block;
            padding: .5em;
        }
    }
}

.ntt--comment-reply-axn {

    a {
        display: inline-block;

        &:hover {
            text-decoration: none;

            .ntt--reply-text {
                text-decoration: underline;
            }
        }
    }

    .ntt--txt {
        @include if-y-center;
    }

    .ntt--reply-text {
        display: block;
        padding: .5em;
    }
        
    .ntt--requirement-txt {
        display: block;
        padding: .5em;
    }
}

.ntt--comments-name {
    display: inline-block;
    padding: .5rem;
    @include y-margin();
    margin-right: -1rem;
    font-weight: normal;
    font-size: 1rem;

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--modify-comment-axn {
    padding: .5rem;
    
    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--comment-composition-name {
    padding: .5rem;

    .ntt--txt {
        @extend %block-pad;
    }
    
}

.ntt--cancel-reply-axn {
    display: none;
    padding: .5rem;

    a {
        display: inline-block;
    }

    .l {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Subcomments
//--------------------------------------------------------------

.ntt--comments-group {

    ul {
        @include unlist;

        ul {
            padding-left: 1rem;
        }
    }

    .comment-respond {
        @include if-y-center;
        display: flex;
    }

    .ntt--cancel-reply-axn {
        display: block;
    }

    .ntt--comment-form {
        flex: 1 100%;
    }
}

//--------------------------------------------------------------
// Comments Form
//--------------------------------------------------------------

.ntt--comment-form {

    .ntt--form-field {
        padding: .5rem;
    }

    .ntt--form-label {
        display: inline-block;
        line-height: 1;

        .ntt--txt {
            @include if-y-center;
            padding: .5rem;
        }
    }

    .ntt--form-element {
        padding: .5rem;
    }

    .form-submit {
        margin: 0;

        &:empty {
            display: none;
        }
    }

    .subscribe-label {
        display: inline-block !important;
        padding: .5rem;
    }

    .comment-subscription-form {
        @include x-padding(1rem);
        @include y-margin(1rem);
    }
}

.ntt--submit-comment-axn {
    margin: 1rem;
}

.ntt--logged-in-account {
    display: inline-block;
    vertical-align: middle;
    padding: .5rem;

    .ntt--label-txt {
        @extend %block-pad;
        display: inline-block;
        margin-right: -1rem;
    }
}

.ntt--account-log-status {
    @include if-y-center;
}

.ntt--log-out-account-axn {
    padding: .5rem;

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--logged-in-account {
    display: inline-block;

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--entry-header {

    .ntt--comments-actions-snippet {

        .ntt--comments-count {
            padding: .5rem;

            @at-root .post-password-required & {
                padding: 1rem;
            }
        }
    }
}

//--------------------------------------------------------------
// Comments Navigation
//--------------------------------------------------------------

.ntt--comments-nav {
    @include if-y-center;
    display: flex;
    flex: 1 100%;
    @include y-padding(.5rem);
}

.ntt--comments-navi {
    padding: .5rem;

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--next-comments-navi {
    order: 1;
}

//--------------------------------------------------------------
// Comment DateTime
//--------------------------------------------------------------

.ntt--comment-published-datetime {
    @include if-y-center;
    flex: 1 100%;
    padding: .5rem;
}

.ntt--comment-published-datetime-label {
    display: inline-block;

    .ntt--txt {
        @extend %block-pad;
    }
}