//--------------------------------------------------------------
// Content Module
//--------------------------------------------------------------

.ntt--cm-author-avatar {
    
    a {
        display: block;
    }
 
    .ntt--img {
        display: block;
        width: 3rem;
        height: 3rem;
        background-color: $on-surface-color---alpha-lo;
    }
}

.ntt--cm-author-name {

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}