


@include mq($tablet-viewport-width) {

    //--------------------------------------------------------------
    // Layout
    //--------------------------------------------------------------

    @supports (display: grid) {
    
        .ntt--entity-main-main-aside---1 {

            .ntt--entity-main-main {
                display: grid;
                grid-template:
                    'entry-md entity-main-main-aside'
                    / 2fr 1fr;
            }
        
            .ntt--entry-md {
                grid-area: entry-md;
            }
        
            .ntt--entity-main-main-aside {
                grid-area: entity-main-main-aside;
            }

            .ntt--entity-main-footer {
                display: grid;
                grid-template:
                    'entity-main-footer .'
                    / 2fr 1fr;
            }

            .ntt--entry-nav {
                grid-area: entity-main-footer;
            }
        }
    }

    //--------------------------------------------------------------
    // Comments
    //--------------------------------------------------------------

    .ntt--comment-form {

        .ntt--user---admin & {
            position: relative;
            padding-bottom: 1rem;

            .form-submit {
                position: absolute;
                right: 0;
                bottom: 0;
                margin-right: 2rem;
                margin-bottom: 2rem;

                input[type="submit"] {
                    margin: 0;
                }
            }

            textarea.text-input {
                padding-right: 8rem;
            }

            .ntt--comment-author-message-field {
                margin-bottom: 0;
            }
        }
    }
}

.ntt--entry {
    @include y-padding(2rem);
}

.ntt--widget {
    @include y-padding(1rem);
}

.ntt--widget-name {
    @include y-padding(1rem);
    @include y-margin();
}

//--------------------------------------------------------------
// Comments
//--------------------------------------------------------------

.ntt--comment-form {

    .ntt--form-field {
        position: relative;

        label {
            position: absolute;
            margin-left: calc(1.25rem + 1px);
            margin-top: calc(1.75rem + 1px);
            @include transition;

            @at-root .ntt--js.ntt--dom---unloaded--js & {
                visibility: hidden;
            }
            
            @at-root .ntt--js.ntt--dom---loaded--js & {
                visibility: visible;
            }

            .ntt--txt {
                padding: 0;
                
                > * {
                    vertical-align: middle;
                }
            }
        }

        &:focus-within,
        &.ntt--form-field---populated--js {

            label {
                margin-top: 1rem;
                font-size: $text---s;
                color: $mid-color;
            }

            .ntt--optional-txt {
                font-size: $text---xxs;
            }

            .ntt--comment-author-message-textbox {
                padding-top: 2rem;
            }

            textarea.text-input {
                min-height: calc(5.5rem + .125rem);
            }
        }

        .text-input {
            min-height: 4rem;
            padding-top: 2rem;
            text-overflow: ellipsis;

            &::placeholder {
                color: transparent;
            }
        }

        textarea.text-input {
            @include y-padding();
            min-height: calc(7.5rem + .125rem);
            background-color: transparent;
            border: 0;
        }
    }

    .ntt--required-txt {
        display: none;
    }

    .ntt--optional-txt {
        padding: .25em .5em;
        font-size: $text---xs;
        color: $mid-color;
        text-transform: uppercase;
        background-color: $on-surface-color---alpha-s;
        border-radius: $corner-radius---sm;
    }

    .ntt--comment-author-message-field {
        margin: 1rem;
        padding: 0;
        background-color: $surface-color;
        border: 1px solid $on-surface-color---alpha-m;

        label {
            margin-left: calc(.75rem + 1px);
            margin-top: calc(1.25rem + 1px);
        }

        &:focus-within,
        &.ntt--form-field---populated--js {

            label {
                margin-top: .5rem;
            }
        }
    }

    .ntt--comment-author-message-textbox {
        padding: 0;
    }

    .ntt--user---admin & {

        .ntt--account-logged-in-status {
            @include if-y-center;
        }
    }
}

.ntt--comment-published-datetime-label,
.ntt--comment-form .ntt--comment-author-label,
.ntt--comment .ntt--comment-author-label {
    display: none;
}

.ntt--empty-comments-note {

    .ntt--comments---empty--view.ntt--comment-creation---1--view & {
        display: none;
    }
}

//--------------------------------------------------------------
// Content Module - Author Avatar
//--------------------------------------------------------------

.ntt--cm-author-avatar {
 
    .ntt--img {
        border-radius: 50%;
        overflow: hidden;
    }
}

//--------------------------------------------------------------
// Entry Navigation
//--------------------------------------------------------------

.ntt--entry-nav-name {
    font-size: $text---xl;
}

.ntt--entity-header {
    @include transition;
}

.ntt--post--table-of-contents--view {

    .ntt--entry-full-content {

        nav {
            position: fixed;
            right: 0;
            top: 0;
            background-color: aliceblue;

            a {
                @include transition;
                transition-duration: 2s;
            }

            .ntt--intersected--js {
                background-color: red;
            }
        }
    }
}

section {
    @include transition;
    transition-delay: .2s;
    transition-duration: 1s;
}

section.ntt--not-intersected--js {
    opacity: 0;
}

section.ntt--intersected--js {
    opacity: 1;
}

section:target {
    animation-name: target-fade;
    animation-duration: 2s;

    @keyframes target-fade {
        from {
            background-color: transparent;
        }

        50% {
            background-color: $accent-color---alpha-s;
        }

        to {
            background-color: transparent;
        }
    }
}

.ntt--f5e--sticky--header {

    .ntt--entity-heading {
        @include y-padding();
    }
    
    .ntt--entity-header {
        display: flex;
        align-items: center;
        grid-template:
            'entity-heading entity-primary-nav';
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
        animation-name: fade-in;
        animation-duration: .2s;
        animation-timing-function: ease-in-out;
    
        // Shadow
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: .5rem;
            // https://www.colorzilla.com/gradient-editor/#000000+0,ffffff+100&1+0,0+100
            background: -moz-linear-gradient(top,  hsla(0,0%,0%,1) 0%, hsla(0,0%,100%,0) 100%);
            background: -webkit-linear-gradient(top,  hsla(0,0%,0%,1) 0%,hsla(0,0%,100%,0) 100%);
            background: linear-gradient(to bottom,  hsla(0,0%,0%,1) 0%,hsla(0,0%,100%,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
            opacity: .0625;
        }
    }

    .ntt--entity-name {
        white-space: nowrap;
    }
    
    .ntt--entity-description {
        display: none;
    }
    
    @keyframes fade-in {
        from {
            transform: translateY(-100%);
        }
    
        to {
            transform: translateY(0);
        }
    }
    
    .ntt--nav---sub-menu--js {
    
        > div > ul > li > .ntt--sub-menu--js {
            margin-top: -.25rem;
        }
    }

    .ntt--entity-primary-nav-group {
        flex-wrap: nowrap;
    }

    .ntt--entity-main,
    .ntt--entity-footer {
        > * {
            max-width: 100vw;
        }
    }
}



.ntt--entry {

    //--------------------------------------------------------------
    // Post Password Form
    // For password-protected posts
    //--------------------------------------------------------------
    .post-password-form {

        @at-root .ntt--multiple-entries & {
            display: none;
        }

        label {
            flex: 1 100%;
        }

        p {
            display: flex;
            align-items: flex-end;
            
            &:last-child {
                margin-bottom: 0;
            }
        }

        input[type="password"] {
            margin-bottom: 0;
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        input[type="submit"] {
            margin-top: 0;
            height: 3rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

//--------------------------------------------------------------
// Actions
//--------------------------------------------------------------

#{$secondary-action--elements} {
    @include x-padding(1rem);

    a:hover {
        text-decoration: none;
    }

    .ntt--txt {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 1rem;
        min-height: 2.375rem;
        min-width: 2.375rem;
        border-radius: $corner-radius---sm;
        @include transition;
    }
}

.ntt--comment-reply-axn {

    a:hover {

        .ntt--reply-text {
            text-decoration: none;
        }
    }
}

.ntt--comments-actions-snippet .ntt--comment-axn {

    a:hover {
        
        .ntt--comment-text {
            text-decoration: none;
        }
    }
}

.ntt--entry-main {
    margin-top: 2rem;
}

.ntt--entry-footer {
    margin-top: 2rem;
}

.ntt--cancel-reply-axn,
.ntt--log-out-account-axn {

    .ntt--txt {
        font-size: $text---s;
    }
}

/* Disabled
.ntt--video-iframe-skin--js {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    height: 0;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
*/