//--------------------------------------------------------------
// Hide Stuff
//--------------------------------------------------------------

.ntt--entry-categories-name {
    display: none;
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.ntt--entry-primary-meta {
    @include if-y-center;

    .ntt--page-view {
        display: none;
    }
}

.ntt--content {
    word-break: break-word;

    > {

        * {
            @include x-padding(1rem);
            @include y-margin(1em);

            &:first-child {
                margin-top: 1rem;
            }
        }

        ul,
        ol {
            padding-left: calc(2.5rem + .5em);
        }

        .ntt--note {
            @include y-padding();
            @include y-margin(1em);
        }

        .ntt--sub-content-entries {
            @include x-padding();
        }

        .ntt--txt {
            display: block;
            @include y-margin(1em);
        }

        a[href*="flickr.com/"] {
            display: block;
        }
    }

    &:empty {
        display: none;
    }

    blockquote {
        font-size: $text---xxl;

        cite {
            font-size: $text---l;
            font-style: normal;
            font-weight: bold;
        }

        > * {

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    span[id^=more-] {
        @extend %vh;
    }

    figure {
        
        &[style*="width"] {
            width: auto !important;
        }
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    tbody {
        border: $faint-border;

        th {
            text-align: left;
        }
    }

    th,
    td {
        padding: .5rem;
        border: $faint-border;
    }

    pre {
        overflow: auto;
    }

    .ntt--pre-wrapper {
        max-width: 100vw;
        overflow: auto;

        pre {
            padding: 1rem;
            margin: 0;
            background-color: hsla(0, 0%, 0%, 0.0325);
        }
    }

    form {
        font-size: 1rem;
    }

    @at-root .ntt & .alignleft {
        float: left;
        margin: 0 1.5em 1.5em 0;
    }
    
    @at-root .ntt & .aligncenter {
        display: block;
        @include x-margin(auto);
        text-align: center;
    }
    
    @at-root .ntt & .alignright {
        float: right;
        margin: 0 0 1.5em 1.5em;
    }

    a[href*="flickr.com/"] {
        pointer-events: none;
        cursor: default;
    }

    .wp-block-image {
        margin: 2em 0;
    }
}

.ntt--entry-full-content {
    @extend %cf;

    .wp-block-gallery {
        padding-left: 0;

        .blocks-gallery-item {
            margin: 0;
        }
    }
}

//--------------------------------------------------------------
// Sub-Content Entries
//--------------------------------------------------------------

.ntt--sub-content-entries-name {
    display: none;
}

.sub-content-ntt--entry-name {
    padding: .5rem;
    
    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.entry--sub-content-entries-parent {

    .ntt--entry-heading{
        @include if-y-center;

        .ntt--entry-name {
            flex: none;
        }
    }
}

.sub-content-entry-description {

    > * {
        @include x-padding(1rem);
        @include y-margin(1em auto);
    }
}

//--------------------------------------------------------------
// Entry Banner
//--------------------------------------------------------------

.ntt--entry-banner {
    @include y-padding(1rem);
}

//--------------------------------------------------------------
// Figures, Images, Captions
//--------------------------------------------------------------

.wp-caption-text {
    margin: 0;
    margin-top: .5em;
    text-align: left;
    color: $mid-color;
}

.ntt {

    .wp-caption,
    .wp-block-image {
        
        /*
        .aligncenter {
            margin-top: 0;
        }

        .alignleft {
            float: none;
            margin-right: 0;
            margin-top: 0;
        }

        .alignright {
            float: none;
            margin-left: 0;
            margin-top: 0;
        }
        */

        figcaption {
            @extend .wp-caption-text;
        }
    }
}

.ntt--entry-content {

    form {
        font-size: 1rem;
    }
}

//--------------------------------------------------------------
// Entry Categories
//--------------------------------------------------------------

.entry-categories {
    @include if-y-center;

    // For Uncategorized that isn't linked to its Category view
    > .ntt--txt {
        padding: 1rem;
    }
}

.ntt--entry-categories {

    ul {
        @include unlist;
        @include if-y-center;
    }

    li {
        padding: .5rem;
    }

    a {
        @extend %block-pad;
        display: inline-block;
    }
}

//--------------------------------------------------------------
// Entry DateTime
//--------------------------------------------------------------

.ntt--entry-published-datetime,
.ntt--entry-modified-datetime {
    display: flex;
    padding: .5rem;
}

.ntt--entry-published-datetime-label,
.ntt--entry-modified-datetime-label {
    display: inline-block;

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--entry-published-date,
.ntt--entry-published-time,
.ntt--entry-modified-date,
.ntt--entry-modified-time {

    a {
        display: inline-block;
        color: inherit;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entry Name
//--------------------------------------------------------------

.ntt--entry-name {
    flex: 1 100%;
    @include space-around;
    margin: 0;
    font-size: $text---xl;
    word-break: break-word;

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--entry-subname {
    display: inline-block;
    @include space-around;
    margin-top: -1rem;
    font-size: $text---l;

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entry Actions
//--------------------------------------------------------------

.ntt--entry-axns {
    user-select: none;
}

.ntt--modify-entry-axn {
    padding: .5rem;

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Content Snippet
//--------------------------------------------------------------

.ntt--entry-content-snippet {

    p:empty {
        display: none;
    }

    a {

        &:empty {
            display: none;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

//--------------------------------------------------------------
// Entry Tags
//--------------------------------------------------------------

.ntt--entry-tags {

    li {
        display: inline-block;
        @include space-around;
    }
    
    a {
        @extend %block-pad;
    }
}

.ntt--entry-tags-name {
    @include ib-y-center;
    @include space-around;
    font-weight: bold;

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--entry-tags-group {
    @include unlist;
    @include if-y-center;
}

.ntt--entry-header {
    @include f-y-center;

    > * {
        flex: 1 100%;
    }
}

.entry-heading,
.entry-axns,
.ntt--entry-banner {
    flex: 1 100%;
}

.entry-header {

    .ntt--comments-actions-snippet {
        @include if-y-center;
    }

    .ntt--disabled-comments-note {
        flex: 1 100%;
    }
}

.ntt--entry-name---empty {

    .ntt--entry-name {
        display: none;
    }
}

//--------------------------------------------------------------
// Entry Banner Visuals
//--------------------------------------------------------------

.ntt--entry-banner-visuals {
    margin: 0;

    figcaption {
        @extend .wp-caption-text;
        margin: 1rem 1rem 0;
    }
}

//--------------------------------------------------------------
// Entry Summary Content
//--------------------------------------------------------------

.ntt--entry-summary-content---1 {

    .ntt--entry-full-content {
        margin-top: 1em;
    }
}

.ntt--entry-summary-content {

    > {
        
        * {
            font-size: $text---xl;
        }

        .ntt--show-more-axn {
            font-size: $text---m;
        }
    }
}

.ntt--entry-published-date {

    .ntt--txt {
        @extend %block-pad;
    }
}

.entry-heading {
    flex: 1 100%;
}

.ntt--entry-heading{
    @include if-y-center;

    .entry-name,
    .ntt--entry-subname {
        flex: 1 100%;
    }

    .ntt--entry-categories {
        flex: 1 100%;
    }
}

.sub-content-entry-count {
    padding: .5rem;
    line-height: 1;
    font-weight: bold;

    .ntt--label-txt {
        display: none;
    }
}

.ntt--show-more-axn {
    @include x-padding(.5rem);
    margin-top: 2em;
    margin-bottom: 0;

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entry Author
//--------------------------------------------------------------

.ntt--entry-author {
    @include if-y-center;
    padding: .5rem;
}

.ntt--entry-author-label {
    display: inline-block;

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--entry-author-name {

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Password-Protected Posts
//--------------------------------------------------------------

.post-password-form {

    label {

        input {
            @include y-margin(1rem);
        }
    }

    input[type="submit"] {
        margin-top: 1rem;
    }
}