//--------------------------------------------------------------
// Hide Stuff
//--------------------------------------------------------------

.ntt--entry-categories-name {
    display: none;
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.ntt--entry {
    @include y-padding(3rem);

    .ntt--widget & {
        padding-top: 1rem;
        padding-bottom: 1rem;

        &:first-of-type {
            padding-top: 0;
        }
        
        &:first-of-type:not(:first-child) {
            padding-top: 2rem;
        }

        &:last-of-type {
            padding-bottom: 0;
        }
        
        &:last-of-type:not(:last-child) {
            padding-bottom: 2rem;
        }
    }
}

//--------------------------------------------------------------
// Entry Primary Meta
//--------------------------------------------------------------

.ntt--entry-primary-meta {
    display: inline-flex;
    flex-direction: column;

    .ntt--page--view & {
        display: none;
    }
}
    
//--------------------------------------------------------------
// Sub-Content Entries
//--------------------------------------------------------------

.ntt--sub-content-entries-name {
    display: none;
}

.sub-content-ntt--entry-name {
    padding: .5rem;
    
    a {
        display: inline-block;
    }

    .ntt--txt {
       @include block-pad;
    }
}

.entry--sub-content-entries-parent {

    .ntt--entry-heading{
        @include if-y-center;

        .ntt--entry-name {
            flex: none;
        }
    }
}

.sub-content-entry-description {

    > * {
        @include x-padding(1rem);
        @include y-margin(1em auto);
    }
}

//--------------------------------------------------------------
// Entry Banner
//--------------------------------------------------------------

.ntt--entry-banner {
    @include y-padding(1rem);
}

.ntt--entry-banner-visuals {

    figure {
        margin: 0;
    }
}

//--------------------------------------------------------------
// Figures, Images, Captions
//--------------------------------------------------------------

.ntt {

    figure {
            
        figcaption {
            display: block;
            @include y-margin(1em);
            @include x-padding(1rem);
            text-align: left;
            color: $mid-color;
        }
    }
}

.ntt--entry-content {

    form {
        font-size: 1rem;
    }
}

//--------------------------------------------------------------
// Entry Categories
//--------------------------------------------------------------

.entry-categories {
    @include if-y-center;

    // For Uncategorized that isn't linked to its Category view
    > .ntt--txt {
        padding: 1rem;
    }
}

.ntt--entry-categories {

    ul {
        @include unlist;
        @include if-y-center;
    }

    li {
        padding: .5rem;
    }

    a {
       @include block-pad;
        display: inline-block;
    }
}

//--------------------------------------------------------------
// Entry DateTime
//--------------------------------------------------------------

.ntt--entry-published-datetime,
.ntt--entry-modified-datetime {
    display: flex;
    padding: .5rem;
}

.ntt--entry-published-datetime-label,
.ntt--entry-modified-datetime-label {
    display: inline-block;
    margin-right: -.5rem;

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--entry-published-date,
.ntt--entry-published-time,
.ntt--entry-modified-date,
.ntt--entry-modified-time {

    a {
        display: inline-block;
        color: inherit;
    }

    .ntt--txt {
       @include block-pad;
    }
}

//--------------------------------------------------------------
// Entry Name
//--------------------------------------------------------------

.ntt--entry-name {

    .ntt--entry-md & {
        flex: 1 100%;
        @include space-around;
        margin: 0;
    }

    a {
        display: inline-block;
    }

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--entry-subname {
    display: inline-block;
    @include space-around;
    margin-top: -1rem;
    font-size: $text---xl;

    .ntt--txt {
       @include block-pad;
    }
}

//--------------------------------------------------------------
// Entry Actions
//--------------------------------------------------------------

.ntt--entry-axns {
    user-select: none;
}

.ntt--modify-entry-axn {
    padding: .5rem;

    a {
        display: inline-block;
    }

    .ntt--txt {
       @include block-pad;
    }
}

//--------------------------------------------------------------
// Entry Tags
//--------------------------------------------------------------

.ntt--entry-tags {

    li {
        display: inline-block;
        @include space-around;
    }
    
    a {
       @include block-pad;
    }
}

.ntt--entry-tags-name {
    @include ib-y-center;
    @include space-around;
    font-weight: bold;

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--entry-tags-group {
    @include unlist;
    @include if-y-center;
}

.ntt--entry-header {
    display: flex;
    flex-direction: column;
}

.entry-heading,
.entry-axns,
.ntt--entry-banner {
    flex: 1 100%;
}

.entry-header {

    .ntt--comments-actions-snippet {
        @include if-y-center;
    }

    .ntt--disabled-comments-note {
        flex: 1 100%;
    }
}

.ntt--entry-name---empty {

    .ntt--entry-name {
        display: none;
    }
}

//--------------------------------------------------------------
// Entry Banner Visuals
//--------------------------------------------------------------

.ntt--entry-banner-visuals {
    margin: 0;
}

//--------------------------------------------------------------
// Entry Summary Content
//--------------------------------------------------------------

.ntt--entry-excerpt-content---1 {

    .ntt--entry-full-content {
        margin-top: 1em;
    }
}

.ntt--entry-published-date {

    .ntt--txt {
       @include block-pad;
    }
}

.entry-heading {
    flex: 1 100%;
}

.ntt--entry-heading{
    @include if-y-center;

    .entry-name,
    .ntt--entry-subname {
        flex: 1 100%;
    }

    .ntt--entry-categories {
        flex: 1 100%;
    }
}

.sub-content-entry-count {
    padding: .5rem;
    line-height: 1;
    font-weight: bold;

    .ntt--label-txt {
        display: none;
    }
}

.ntt--view-details-axn {
    @include x-padding(.5rem);
    margin-top: 2em;
    margin-bottom: 0;
    font-size: $text---m;

    a {
        display: inline-block;
    }

    .ntt--txt {
       @include block-pad;
    }
}

//--------------------------------------------------------------
// Entry Author
//--------------------------------------------------------------

.ntt--entry-author {
    @include if-y-center;
    padding: .5rem;
}

.ntt--entry-author-label {
    display: inline-block;

    .ntt--txt {
       @include block-pad;
    }
}

.ntt--entry-author-name {

    .ntt--txt {
       @include block-pad;
    }
}

//--------------------------------------------------------------
// Password-Protected Posts
//--------------------------------------------------------------

.post-password-form {

    label {

        input {
            @include y-margin(1rem);
        }
    }

    input[type="submit"] {
        margin-top: 1rem;
    }
}