//--------------------------------------------------------------
// Hide Stuff
//--------------------------------------------------------------

.ntt--entity-start,
.ntt--entity-end,
.ntt--single-entry .ntt--entity-main-header {
    display: none;
}

//--------------------------------------------------------------
// Layout
//--------------------------------------------------------------

.ntt--entity-main-main-aside {
    @include y-padding(1rem);
}

@supports (display: grid) {

    .ntt--entity {
        display: grid;
        grid-template:
            'entity-start'
            'entity-header'
            'entity-main' 1fr
            'entity-footer'
            'entity-end';
        min-height: 100vh;
    }
    
    .ntt--entity-start {
        grid-area: entity-start;
    }
    
    .ntt--entity-header {
        grid-area: entity-header;
    }
    
    .ntt--entity-main {
        grid-area: entity-main;
    }
    
    .ntt--entity-footer {
        grid-area: entity-footer;
    }
    
    .ntt--entity-end {
        grid-area: entity-end;
    }
}

//--------------------------------------------------------------
// Entity Heading
//--------------------------------------------------------------

//--------------------------------------------------------------
// Hide Stuff
//--------------------------------------------------------------

.ntt--entity-logo---1 {

    .ntt--entity-name {
        display: none;
    }

    .ntt--entity-description {
        display: none;
    }
}

.ntt--entity-logo {
    padding: 1rem;

    a {
        display: inline-block;
    }
}

.ntt--entity-heading {
    padding: .5rem;
}

.ntt--entity-name {
    margin: 0;
    font-size: $text---xl;

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--entity-description {
    display: inline-block;

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entity View Heading
//--------------------------------------------------------------

.ntt--entity-view-heading {
    @include if-y-center;
    padding: .5rem;
    padding-top: 2rem;

    .ntt--current-index &,
    .ntt--zero-entry & {
        display: none;
    }
}

.ntt--entity-view-name {
    @include ib-y-center;
    font-size: $text---xl;

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }

    .ntt--search-term---txt {
        font-weight: bold;
    }

    .ntt--archive-index & {

        .ntt--key-line {
            display: none;
        }
    }
}

.ntt--entry-count {
    font-weight: bold;

    .ntt--txt {
        @extend %block-pad;
    }

    .ntt--label-txt {
        display: none;
    }
}

//--------------------------------------------------------------
// Entity Banner Visuals
//--------------------------------------------------------------

.ntt--entity-banner-visuals---1 {

    .ntt--entity-banner-visuals {
        margin-bottom: 2em;
    }
}

//--------------------------------------------------------------
// Entity Secondary Information
//--------------------------------------------------------------

.ntt--entity-secondary-info {
    @include space-around;
    color: $faint-color;
    
    a {
        display: inline-block;
        color: $faint-color;
    }
}

.ntt--entity-secondary-name,
.ntt--entity-copyright,
.ntt--entity-maker-tag {
    display: inline-block;

    .ntt--txt {
        @extend %block-pad;
        font-size: $text---s;
    }
}

//--------------------------------------------------------------
// Entity Footer
//--------------------------------------------------------------

.ntt--entity-footer {
    background-color: $on-surface-color---alpha-s;
}

//--------------------------------------------------------------
// Entity Header Aside
//--------------------------------------------------------------

.ntt--entity-header-aside {

    .ntt--widget:only-of-type {
        padding-bottom: 0;

        > * {
            margin-bottom: 0;
        }
    }
}