//--------------------------------------------------------------
// Hide Stuff
//--------------------------------------------------------------

.ntt--entity-start,
.ntt--entity-end,
.ntt--single-entry .ntt--entity-main-header {
    display: none;
}

//--------------------------------------------------------------
// Layout
//--------------------------------------------------------------

@supports (display: grid) {

    &,
    body,
    .ntt--entity {
        height: 100%;
    }

    .ntt--entity {
        display: grid;
        grid-template:
            'entity-start'
            'entity-header'
            'entity-main' 1fr
            'entity-footer'
            'entity-end';
    }
    
    .ntt--entity-start {
        grid-area: entity-start;
    }
    
    .ntt--entity-header {
        grid-area: entity-header;
    }
    
    .ntt--entity-main {
        grid-area: entity-main;
    }
    
    .ntt--entity-footer {
        grid-area: entity-footer;
    }
    
    .ntt--entity-end {
        grid-area: entity-end;
    }
}

//--------------------------------------------------------------
// Entity Heading
//--------------------------------------------------------------

.ntt--entity-logo {
    padding: 1rem;

    a {
        display: inline-block;
    }
}

.ntt--entity-name {
    padding: .5rem;
    margin: 0;
    font-size: 1rem;

    a {
        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--entity-description {
    display: inline-block;
    padding: .5rem;

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entity View Heading
//--------------------------------------------------------------

.ntt--entity-view-heading {
    @include if-y-center;
    @include space-around;

    .ntt--zero-entry & {
        display: none;
    }
}

.ntt--entity-view-name {
    @include ib-y-center;

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
        @extend %boundary;
    }

    .ntt--search-term---txt {
        font-weight: bold;
    }
}

.ntt--entry-count {
    font-weight: bold;

    .ntt--txt {
        @extend %block-pad;
        @extend %boundary;
    }

    .ntt--label-txt {
        display: none;
    }
}

//--------------------------------------------------------------
// Entity Banner Visuals
//--------------------------------------------------------------

.ntt--entity-banner-visuals---1 {

    .ntt--entity-banner-visuals {
        margin-bottom: 2em;
    }
}

//--------------------------------------------------------------
// Entity Secondary Information
//--------------------------------------------------------------

.ntt--entity-secondary-info {
    @include space-around;
    color: $faint-color;
    
    a {
        display: inline-block;
        color: $faint-color;
    }
}

.ntt--entity-secondary-name,
.ntt--entity-copyright,
.ntt--entity-maker-tag {

    .ntt--txt {
        @extend %block-pad;
        @extend %boundary;
    }
}

.ntt--entity-secondary-name,
.ntt--entity-copyright {
    display: inline-block;
}

//--------------------------------------------------------------
// Content Module
//--------------------------------------------------------------

.cm-author-avatar {
    
    a {
        display: inline-block;
    }
 
    .img {
        display: block;
        margin: .5rem;
        width: 3rem;
        height: 3rem;
        background-color: $faint-color--lo;
    }
}

.cm-author-name {

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}