// 48em and up
@include mq(m-vp) {

    .ntt {
        
        .wp-caption,
        .wp-block-image {

            .alignleft {
                float: left;
                margin-right: 1em;
            }

            .alignright {
                float: right;
                margin-left: 1em;
            }
        }
    }

    .entry-main-aside--1 {

        .ntt--entry-main {
            display: flex;
        }
    
        .ntt--entry-content {
            flex: 1 70%;
        }
    
        .entry-main-aside {
            flex: 1 30%;
        }

        &.ntt--entity-main-main-aside---0 {

            .entry-main-aside{
                margin-top: 0;
            }
        }

        &.ntt--entity-main-main-aside---1 {

            .ntt--entry-main {
                display: block;
            }
        }
    }

    .entry-nav-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ntt--next-entry-navi {
        order: 1;
        display: flex;
    }

    .previous-entry-navi,
    .ntt--next-entry-navi {
        flex-basis: 50%;
    }
}

// 64em and up
@include mq(l-vp) {

    .entry-main-aside--1 {

        .entry-main-aside{
            margin-top: 0;
        }
    }

    .entry-main-aside--1 {

        &.ntt--entity-main-main-aside---1 {

            .ntt--entry-main {
                display: flex;
            }
        }
    }
}