//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

.ntt--nav {
    
    ul {
        @include unlist;
    }
    
}

.ntt--nav-name {
    display: none;
}

.navigation {

    .screen-reader-text {
        display: none;
    }
}

.post-navigation {
    @include x-padding(.5rem);

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entry Breadcrumbs Navigation
//--------------------------------------------------------------

.ntt--entry-breadcrumbs-nav {
    flex: 1 100%;
    padding: .5rem;
}

.ntt--entry-breadcrumbs-nav-group {
    @include if-y-center;
}

.ntt--entry-breadcrumbs-nav-ancestors-group {
    display: flex;

    li {
        margin-right: 1rem;
    }

    a {
        position: relative;

        .ntt--icon {
            position: absolute;
            left: 100%;
            top: 50%;
            z-index: -1;
            transform: translateY(-50%);
            margin-left: .25rem;
            width: .75rem;
            fill: $on-surface-color---alpha-l;
        }
    }
}

.ntt--entry-breadcrumbs-navi {

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entries Navigation
//--------------------------------------------------------------

.ntt--entries-nav,
.ntt--entry-subcontent-nav {

    ul {
        @include unlist;
        @include if-y-center;
    }

    li {
        @include space-around;

        .page-numbers {
            display: inline-block;
        }

        .ntt--txt {
            @extend %block-pad;
        }
    }
    
    .current {
        font-weight: bold;
    }
}

.ntt--entries-page-indicator {
    display: inline-block;
    @include space-around;

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entity Primary Navigation
// Entity Secondary Navigation
// Widget Navigation Menu
//
// These are the navigations that can have sub-menus
//--------------------------------------------------------------

.ntt--entity-primary-nav,
.ntt--entity-secondary-nav,
.ntt--widget_nav_menu {

    // Show the Sub-menu on DOM Load
    @at-root .ntt--js.ntt--dom---unloaded--js & {
        visibility: hidden;
    }
    
    @at-root .ntt--js.ntt--dom---loaded--js & {
        visibility: visible;
    }

    ul {
        @include if-y-center;
    }

    li {
        padding: .5rem;

        .ntt--txt {
            @extend %block-pad;
        }
    }

    a {
        display: inline-block;
    }

    .children,
    .sub-menu {
        margin-left: 1rem;
    }
}

.ntt--widget_nav_menu {

    ul {
        @include unlist;
    }

    a {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Sub-Menu
// JS-created CSS class name: .ntt--nav---sub-menu--js
//--------------------------------------------------------------

.ntt--nav---sub-menu--js {

    .ntt--sub-menu-checkbox-label--js {
        @extend %vh;
    }
    
    .ntt--sub-menu-checkbox--js {
        position: absolute;
        right: 0;
        width: $sub-menu-arrow-size;
        height: $sub-menu-arrow-size;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
    
        &:hover {
            cursor: pointer;

            ~ .ntt--icon {
                transform: scale(1.25);
            }
        }
    
        &:checked {
            transform: rotate(180deg);
    
            ~ .ntt--sub-menu--js {
                display: block;
            }

            ~ .ntt--icon {
                transform: scale(1.25) rotate(180deg);
            }
        }

        ~ .ntt--icon {
            position: absolute;
            right: 0;
            z-index: -1;
            margin-right: 1.125rem;
            width: .75rem;
            fill: $on-surface-color;
            @include transition;
            transition-property: transform;
        }
    }

    .ntt--sub-menu-ancestor--js {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding-right: $sub-menu-arrow-size;
    
        a {
            display: block;
            width: 100%;
        }
    
        li {
            padding: 0;
            min-width: 100%;
        }
    }
    
    .ntt--sub-menu--js {
        display: none;
        position: absolute;
        z-index: 1;
        margin-left: .5rem;
        top: 100%;
        width: auto;
        min-width: 100%;
        border-width: 1px;
        border-style: solid;
        border-radius: $corner-radius---sm;

        li {
            border-bottom-width: 1px;
            border-bottom-style: solid;

            &:last-child {
                border-bottom-width: 0;
            }
        }

        a {
            @include if-y-center;
            min-height: 48px;
            white-space: nowrap;
        }

        .ntt--txt {
            @include if-y-center;
            @include x-padding(1rem);
            min-height: 48px;
        }

        // Indent Sub-menu
        .ntt--sub-menu--js {
            margin-top: -.25rem;
        }

        .ntt--sub-menu-ancestor--js {
            padding-right: $sub-menu-arrow-size;
        }
    }

    // Target the siblings of active menu items, excluding top-level menu items
    > div {

        > ul {

            > .ntt--sub-menu-ancestor--js {
    
                .ntt--sub-menu---active--js {
                    border-bottom-width: 0;
                        
                    ~ li {
                        // This hack will retain the width of the text to force the width of the parent
                        display: block;
                        visibility: hidden;
                        height: 0;
                    }
                }
            }
        }
    }

    &.ntt--widget_nav_menu {
    
        .ntt--sub-menu--js {
    
            a {
                @include x-padding(1rem);
            }
        }
        
    }
}

//--------------------------------------------------------------
// Entry Navigation
//--------------------------------------------------------------

.ntt--entry-nav {
    padding-bottom: 2rem;

    a {
        display: inline-block;
        color: inherit;

        &:hover {
            text-decoration: none;

            .ntt--entry-name-txt {
                text-decoration: underline;
            }
        }
    }

    .ntt--txt {
        @extend %block-pad;
    }

    .ntt--img {
        display: inline-block;
    }

    .ntt--page--view & {
        display: none;
    }
}

.ntt--entry-navi {
    @include space-around;
}

.ntt--entry-nav-name {
    padding: .5rem;
}

//--------------------------------------------------------------
// Entry Content Navigation
//--------------------------------------------------------------

.ntt--entry-content-nav {

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }

    ul {
        @include unlist;
        @include if-y-center;
    }

    li {
        padding: .5rem;
    }

    .page---text {
        display: none;
    }
}

.ntt--entry-content-navi--current {
    font-weight: bold;
}

//--------------------------------------------------------------
// Comments Navigation
//--------------------------------------------------------------

.ntt--comments-nav {
    @include if-y-center;
}

.ntt--comments-navi {
    padding: .5rem;

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--next-comments-navi {
    order: 1;
}

//--------------------------------------------------------------
// Go to Content Navigation
//--------------------------------------------------------------

.ntt--go-content-nav {

    &:not(:focus-within) {
        @extend %vh;
    }
}

.ntt--go-content-navi {

    a {
        position: fixed;
        left: 0;
        top: 0;
        @include block-pad;
        margin: 1rem;
        padding: 0;
        text-decoration: none;
        
        &:not(:focus) {
            @extend %vh;
        }
    }
}

//--------------------------------------------------------------
// Go to Start Navigation
//--------------------------------------------------------------

.ntt--js {

    .ntt--go-start-nav {
        display: none;
    }

    &.ntt--entity-footer--intersected--js  {
        
        .ntt--go-start-nav {
            display: block;
        }
    }
}

.ntt--go-start-nav {
    position: fixed;
    right: 0;
    bottom: 0;
    @include block-pad;
    margin: 1rem;
    padding: 0;
    text-decoration: none;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.375rem;
        height: 2.375rem;
        border: .125rem solid $accent-color;
        border-radius: 50%;

        &:active {
            @include active-scale;
        }

        &:hover {
            background-color: $accent-color;

            .ntt--icon {
                fill: $surface-color;
            }
        }
    }

    .ntt--icon {
        width: 1.25rem;
        fill: $accent-color;
    }

    .ntt--txt {
        @extend %vh;
    }
}