//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

.ntt--nav {
    
    ul {
        @include unlist;
    }
    
}

.ntt--nav-name {
    display: none;
}

.navigation {

    .screen-reader-text {
        display: none;
    }
}

.post-navigation {
    @include x-padding(.5rem);

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entry Breadcrumbs Navigation
//--------------------------------------------------------------

.ntt--entry-breadcrumbs-nav {
    flex: 1 100%;
    padding: .5rem;
}

.ntt--entry-breadcrumbs-nav-group {
    @include if-y-center;
}

.ntt--entry-breadcrumbs-nav-ancestors-group {
    display: flex;

    li {
        margin-right: 1rem;
    }

    a {
        position: relative;

        .ntt--icon {
            position: absolute;
            left: 100%;
            top: 50%;
            z-index: -1;
            transform: translateY(-50%);
            margin-left: .25rem;
            width: .75rem;
            fill: $on-surface-color---alpha-l;
        }
    }
}

.ntt--entry-breadcrumbs-navi {

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entries Navigation
//--------------------------------------------------------------

.ntt--entries-nav,
.ntt--entry-subcontent-nav {

    ul {
        @include unlist;
        @include if-y-center;
    }

    li {
        @include space-around;

        .page-numbers {
            display: inline-block;
        }

        .ntt--txt {
            @extend %block-pad;
        }
    }
    
    .current {
        font-weight: bold;
    }
}

.ntt--entries-page-indicator {
    display: inline-block;
    @include space-around;

    .ntt--txt {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Entries Navigation
// From JS
//--------------------------------------------------------------

.ntt--dom---unloaded--js {

    .ntt--entries-nav {
        visibility: hidden;
    }
}

.ntt--js {

    &:not(.ntt--nav-mode---tab--js) {
        
        .ntt--current-entries-navi--js .page-numbers,
        .ntt--entries-page-indicator {

            &:focus {
                outline: none;
            }
        }
    }

    .ntt--entries-nav {
        position: relative;
        display: flex;
        align-items: center;
        @include y-margin(2rem);
        margin-bottom: 4.5rem;
    
        .navigation,
        .nav-links {
            display: contents;
        }
    
        &.ntt--entries-page-menu---active {
    
            .ntt--entries-page-menu--js {
                visibility: visible;
            }
        }
    }
    
    .ntt--entries-page-indicator {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        padding-right: 3rem;
        user-select: none;
        border: 1px solid var(--on-surface-color---alpha-m);
        border-radius: var(--element-corner-radius);
    
        &:hover {
            cursor: pointer;
    
            .ntt--icon {
                transform: scale(1.25);
            }
        }
        
        .ntt--page-text,
        .ntt--current-page-txt {
            font-weight: bold;
        }

        .ntt--total-pages-txt {
            color: $mid-color;
        }

        .ntt--of-text {
            display: inline-block;
            vertical-align: middle;
            color: $mid-color;
            font-size: .5em;
            text-transform: uppercase;
        }
    
        .ntt--icon {
            position: absolute;
            right: 0;
            margin-right: 1rem;
            width: 1rem;
            @include transition;
            transition-property: transform;
        }
    }
    
    .ntt--entries-adjacent-page-control--js {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        li {
            padding: 0;
        }
    
        a {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
    
            &:hover {
    
                .ntt--icon {
                    transform: scale(1.25);
                }
            }
    
            &:active {
    
                .ntt--icon {
                    transform: scale(1.125);
                }
            }
        }
    
        .ntt--txt {
            position: absolute;
            width: 100%;
            height: 100%;
            color: transparent;
        }
        
        .ntt--icon {
            width: 1.25rem;
            @include transition;
            transition-property: transform;
            z-index: -1;
        }
    }
    
    .ntt--previous-entries-navi--js {

        .ntt--icon {
            order: -1;
        }
    }

    .ntt--next-entries-navi-placeholder--js,
    .ntt--previous-entries-navi-placeholder--js {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;

        &:hover {
            cursor: not-allowed;
        }

        .ntt--icon {
            fill: $on-surface-color---alpha-l;
        }
    }
    
    .ntt--entries-page-menu--js {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--surface-color);
        border: 1px solid var(--on-surface-color---alpha-m);
        border-radius: var(--element-corner-radius);
        box-shadow: 0 .25rem .5rem -.25rem $on-surface-color---alpha-m;
        
        user-select: none;
        
        visibility: hidden;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 1rem;
            background: -moz-linear-gradient(top,  hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%);
            background: -webkit-linear-gradient(top,  hsla(0,0%,100%,1) 0%,hsla(0,0%,100%,0) 100%);
            background: linear-gradient(to bottom,  hsla(0,0%,100%,1) 0%,hsla(0,0%,100%,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
            opacity: .75;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
            transform: rotate(180deg);
        }

        ul {
            display: inline-flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: flex-start;
            height: calc(160px - 48px);
            overflow: auto;
            scroll-snap-type: y mandatory;
        }

        li {
            padding: 0;
            width: 100%;
            scroll-snap-align: center;

            .page-numbers {
                display: block;
                padding: .5rem;
            }
        }

        a {

            &:hover {
                background-color: $accent-color---alpha-s;
                text-decoration: none;
            }
        }

        .ntt--txt {
            white-space: nowrap;
        }
    }
}

//--------------------------------------------------------------
// Entity Primary Navigation
// Entity Secondary Navigation
// Widget Navigation Menu
//
// These are the navigations that can have sub-menus
//--------------------------------------------------------------

.ntt--entity-primary-nav,
.ntt--entity-secondary-nav,
.ntt--widget_nav_menu {

    // Show the Sub-menu on DOM Load
    @at-root .ntt--dom---unloaded--js & {
        visibility: hidden;
    }
    
    @at-root .ntt--dom---loaded--js & {
        visibility: visible;
    }

    ul {
        @include if-y-center;
    }

    li {
        padding: .5rem;

        .ntt--txt {
            @extend %block-pad;
        }
    }

    a {
        display: inline-block;
    }

    .children,
    .sub-menu {
        margin-left: 1rem;
    }
}

.ntt--widget_nav_menu {

    ul {
        @include unlist;
    }

    a {
        @extend %block-pad;
    }
}

//--------------------------------------------------------------
// Sub-Menu
// JS-created CSS class name: .ntt--nav---sub-menu--js
//--------------------------------------------------------------

.ntt--nav---sub-menu--js {

    .ntt--sub-menu-checkbox-label--js {
        @extend %vh;
    }
    
    .ntt--sub-menu-checkbox--js {
        position: absolute;
        right: 0;
        z-index: 1;
        width: $sub-menu-arrow-size;
        height: $sub-menu-arrow-size;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 0;
    
        &:hover {
            cursor: pointer;

            ~ .ntt--icon {
                transform: scale(1.25);
            }
        }
    
        &:checked {
            transform: rotate(180deg);
    
            ~ .ntt--sub-menu--js {
                display: block;
            }

            ~ .ntt--icon {
                transform: scale(1.25) rotate(180deg);
            }
        }

        ~ .ntt--icon {
            position: absolute;
            right: 0;
            margin-right: 1.125rem;
            width: .75rem;
            fill: $on-surface-color;
            @include transition;
            transition-property: transform;
        }
    }

    .ntt--sub-menu-ancestor--js {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding-right: $sub-menu-arrow-size;
    
        a {
            display: block;
            width: 100%;
        }
    
        li {
            padding: 0;
            min-width: 100%;
        }
    }
    
    .ntt--sub-menu--js {
        display: none;
        position: absolute;
        z-index: 1;
        margin-left: .5rem;
        top: 100%;
        width: auto;
        min-width: 100%;
        border-width: 1px;
        border-style: solid;
        border-radius: $corner-radius---sm;

        li {
            border-bottom-width: 1px;
            border-bottom-style: solid;

            &:last-child {
                border-bottom-width: 0;
            }
        }

        a {
            @include if-y-center;
            min-height: 48px;
            white-space: nowrap;
        }

        .ntt--txt {
            @include if-y-center;
            @include x-padding(1rem);
            min-height: 48px;
        }

        // Indent Sub-menu
        .ntt--sub-menu--js {
            margin-top: -.25rem;
        }

        .ntt--sub-menu-ancestor--js {
            padding-right: $sub-menu-arrow-size;
        }
    }

    // Target the siblings of active menu items, excluding top-level menu items
    > div {

        > ul {

            > .ntt--sub-menu-ancestor--js {
    
                .ntt--sub-menu---active--js {
                    border-bottom-width: 0;
                        
                    ~ li {
                        // This hack will retain the width of the text to force the width of the parent
                        display: block;
                        visibility: hidden;
                        height: 0;
                    }
                }
            }
        }
    }

    &.ntt--widget_nav_menu {
    
        .ntt--sub-menu--js {
    
            a {
                @include x-padding(1rem);
            }
        }
        
    }
}

//--------------------------------------------------------------
// Sub-Menu
// JS-created CSS class name: .ntt--nav---sub-menu--js
//--------------------------------------------------------------

.ntt--nav---sub-menu--js {
    
    .ntt--sub-menu--js {
        background-color: $surface-color;
        border-color: $on-surface-color---alpha-m;

        li {
            border-bottom-color: $on-surface-color---alpha-m;
        }
    }
}

.ntt--entry-nav {

    a {
        
        &:hover {

            .ntt--entry-name-txt {
                color: var(--text-link-color);
            }
        }

        .ntt--entry-name-txt {
            color: var(--text-link-color);
        }
    }
}

//--------------------------------------------------------------
// Entry Navigation
//--------------------------------------------------------------

.ntt--entry-nav {
    width: 100%;
    padding-bottom: 4.5rem;

    a {
        display: inline-block;
        color: inherit;

        &:hover {
            text-decoration: none;

            .ntt--entry-name-txt {
                text-decoration: underline;
            }
        }
    }

    .ntt--txt {
        @extend %block-pad;
    }

    .ntt--img {
        display: inline-block;
    }

    .ntt--page--view & {
        display: none;
    }
}

.ntt--entry-navi {
    @include space-around;
}

.ntt--entry-nav-name {
    padding: .5rem;
}

//--------------------------------------------------------------
// Entry Content Navigation
//--------------------------------------------------------------

.ntt--entry-content-nav {

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }

    ul {
        @include unlist;
        @include if-y-center;
    }

    li {
        padding: .5rem;
    }

    .page---text {
        display: none;
    }
}

.ntt--entry-content-navi--current {
    font-weight: bold;
}

//--------------------------------------------------------------
// Comments Navigation
//--------------------------------------------------------------

.ntt--comments-nav {
    @include if-y-center;
}

.ntt--comments-navi {
    padding: .5rem;

    a {
        display: inline-block;
    }

    .ntt--txt {
        @extend %block-pad;
    }
}

.ntt--next-comments-navi {
    order: 1;
}

//--------------------------------------------------------------
// Go to Content Navigation
//--------------------------------------------------------------

.ntt--go-content-nav {

    &:not(:focus-within) {
        @extend %vh;
    }
}

.ntt--go-content-navi {

    @at-root .ntt--no-js & {
        @extend %vh;
    }

    a {
        position: fixed;
        left: 0;
        top: 0;
        @include block-pad;
        margin: 1rem;
        padding: 0;
        text-decoration: none;
        color: $surface-color;

        &:hover {
            color: $accent-color;

            .ntt--txt {
                background-color: $surface-color;
                border: .125rem solid $accent-color;
            }
        }
        
        &:not(:focus) {
            @extend %vh;
        }
    }
    
    .ntt--txt {
        background-color: $accent-color;
    }
}

//--------------------------------------------------------------
// Go to Start Navigation
//--------------------------------------------------------------

.ntt--js {

    .ntt--go-start-nav {
        visibility: hidden;
    }
}

.ntt--go-start-nav {
    @include block-pad;
    padding: 0;
    text-decoration: none;

    .ntt--entity-footer--intersected--js &,
    .ntt--entity-footer--intersected--js.ntt--view-height---long--js & {
        visibility: visible;
    }

    .ntt--entity-footer--intersected--js.ntt--view-height---short--js & {
        visibility: hidden;
    }

    .ntt--js & {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 1;
        transform: translateX(-50%);
        @include transition;
        transition-property: bottom;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.375rem;
            height: 2.375rem;
            background-color: $surface-color;
            border: .125rem solid $accent-color;
            border-radius: 50%;

            &:active {
                @include active-scale;
            }

            &:hover {
                background-color: $accent-color;

                .ntt--icon {
                    fill: $surface-color;
                }
            }
        }

        .ntt--icon {
            width: 1.25rem;
            fill: $accent-color;
        }

        .ntt--txt {
            @extend %vh;
        }
    }
}