//--------------------------------------------------------------
// Note
//--------------------------------------------------------------

.ntt--note {
    margin: 1rem;
    @include y-padding(1rem);
    background-color: aliceblue;
    border-radius: $corner-radius---s;

    .ntt--content > & {
        padding: 1rem 0;
    }

    > * {
        @include x-padding(1rem);

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.ntt--comments---populated.post-password-required {

    .ntt--entry-header {

        .ntt--comments-count {
            margin: 1rem;
            @include x-padding(1rem);
            @include y-padding(1rem);
            background-color: aliceblue;
            border-radius: $corner-radius---s;
        }
    }
}

//--------------------------------------------------------------
// Tooltip
//--------------------------------------------------------------

.ntt--kid-ntt--download-axn--js {
    position: relative;

    &::before {
        visibility: hidden;
        content: attr(title);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 100%;
        transform: translate(-1rem, -1rem);
        padding: 0.5rem 1rem;
        min-width: 3rem;
        width: 120px;
        max-width: 100%;
        min-height: 3rem;
        color: white;
        background-color: red;
    }

    &.ntt--mousedown--js {

        &::before {
            visibility: visible;
        }
    }
}