//--------------------------------------------------------------
// Theme
//--------------------------------------------------------------

html {
    background-color: $surface-color;
}

body {
    color: $on-surface-color;
}

a {
    color: $accent-color;
}

button,
input[type="submit"] {
    background-color: $accent-color;
}

button,
input,
select,
textarea {
    border: 1px solid $on-surface-color---alpha-md;
}

//------------ Content

.ntt--content {
    color: $content-text-color;
    line-height: $content-line-height;
}

.ntt--entry-content-snippet a {
    color: $content-text-color;
}