//--------------------------------------------------------------
// Links
//--------------------------------------------------------------

a {
    color: $link-color;
}

//--------------------------------------------------------------
// Form Elements
//--------------------------------------------------------------

button,
input[type="submit"] {
    background-color: $primary-color;
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.entry-nav {

    .value---line {
        color: $link-color;
    }
}

//--------------------------------------------------------------
// Comments Actions Snippet
//--------------------------------------------------------------

.comments-actions-snippet {

    .comment-axn {
    
        .comment---text {
            color: $link-color;
        }
    }
}

//--------------------------------------------------------------
// Comment
//--------------------------------------------------------------

.comment-reply-axn {

    .reply---text {
        color: $link-color;
    }
}