//--------------------------------------------------------------
// Theme
//--------------------------------------------------------------

html {
    background-color: $surface-color;
}

body {
    color: $on-surface-color;
}

a {
    color: $accent-color;
}

button,
input[type="submit"] {
    background-color: $accent-color;
}

button,
input,
select,
textarea {
    border: 1px solid $on-surface-color---alpha-m;
}

//------------ Content

.ntt--content {
    color: $content-text-color;
    line-height: $content-line-height;
}

.ntt--entry-content-snippet a {
    color: $content-text-color;
}

.ntt--nav---sub-menu--js {
    
    .ntt--sub-menu--js {
        background-color: $surface-color;
        border: 1px solid $on-surface-color---alpha-m;

        li {
            border-bottom: 1px solid $on-surface-color---alpha-m;
        }
    }
}

.ntt--entry-nav {

    a {

        .ntt--entry-name-txt {
            color: $accent-color;
        }
    }
}

.ntt--entry-nav {

    a {

        &:hover {

            .ntt--entry-name-txt {
                color: $accent-color;
            }
        }
    }
}

//--------------------------------------------------------------
// Actions
//--------------------------------------------------------------

.ntt--modify-entry-axn,
.ntt--modify-comment-axn,
.ntt--comment-reply-axn,
.ntt--show-more-axn,
.ntt--comments-actions-snippet .ntt--comment-axn {

    .ntt--txt {
        border: .125rem solid $accent-color;

        &:hover {
            background-color: $accent-color;
            color: $surface-color;
        }
    }
}