//--------------------------------------------------------------
// Widget
//--------------------------------------------------------------

.ntt--widget {
    @include x-padding(1rem);
    
    > * {
        @include y-margin(1em);
    }

    ul,
    ol {
        padding-left: 1.5rem;
    }
}

.ntt--widget_nav_menu {

    .ntt--widget-name {
        padding: .5rem;

        .ntt--txt {
            padding: .5rem;
        }
    }
}

.ntt--widget-name {
    @include y-margin(1rem);
    font-weight: bold;
}

.ntt--entry-main-aside {
    @include y-padding(.5rem);
    margin-top: 2rem;
}

//--------------------------------------------------------------
// Search
//--------------------------------------------------------------

.ntt--search {
    display: flex;
    align-items: flex-end;

    .text-input {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    button {
        min-height: 3rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.ntt--search-label {
    display: none;
}
    
.ntt--search-field {
    flex: 1 100%;
    padding: 0;
}

.ntt--submit-search-axn {
    white-space: nowrap;
}

//--------------------------------------------------------------
// Tag Cloud
//--------------------------------------------------------------

.ntt--widget_tag_cloud {
    @include x-padding(.5rem);

    a {
        display: inline-block;
        padding: .5rem;
    }

    .ntt--widget-name {
        @include x-padding(.5rem);
    }
}

//--------------------------------------------------------------
// Navigation Menu
//--------------------------------------------------------------

.ntt--widget_nav_menu {
    @include x-padding();

    ul {
        @include unlist;
    }

    > * {
        @include y-margin();
    }
}