.ntt--widget {
    padding: .03125rem 1rem;
    
    > * {
        @include y-margin(1em);
    }

    ul,
    ol {
        padding-left: 1.5rem;
    }
}

.ntt--widget-name {
    @include y-margin(1rem);
    font-weight: bold;
}

.widget_tag_cloud {

    a {
        display: inline-block;
        padding: .5rem;
    }
}

.ntt--entry-main-aside {
    @include y-padding(.5rem);
    margin-top: 2rem;
}

.ntt--widget {

    .ntt--search {
        @include x-padding(0);
    }
}

//--------------------------------------------------------------
// Search
//--------------------------------------------------------------

.ntt--search {
    padding: .5rem;
}

.ntt--search-label {
    display: inline-block;

    .ntt--txt {
        display: block;
        padding: .5rem;
    }
}

.ntt--search-textbox {
    padding: .5rem;
}

.ntt--submit-search-axn {
    padding: .5rem;
}

//--------------------------------------------------------------
// Search Widget
//--------------------------------------------------------------

.ntt--widget {

    .ntt--search {
        @include y-padding(0);
    }

    .ntt--search-label {
    
        .ntt--txt {
            padding: 0;
            margin-bottom: .5rem;
        }
    }

    .ntt--search-textbox {
        @include x-padding(0);
    }

    .ntt--submit-search-axn {
        @include x-padding(0);
        padding-bottom: 0;
    }
}

//--------------------------------------------------------------
// Navigation Menu
//--------------------------------------------------------------

.widget_nav_menu {
    @include x-padding();

    ul {
        @include unlist;
        padding-left: 0;
    }

    li {
        display: inline-block;
        vertical-align: middle;
        @include y-padding();
        @include x-margin(.5rem);
    }

    a {
        @extend %block-pad;
    }
}