/* Screen Reader Text ------------------------ */
:root {
  --text---xxs: .625rem;
  --text---xs: .75rem;
  --text---s: .875rem;
  --text---m: 1rem;
  --text---l: 1.125rem;
  --text---xl: 1.5rem;
  --text---xxl: 2rem;
  --text---xxxl: 2.5rem;
  --text---yl: 3rem;
  --text---yyl: 3.5rem;
  --text---yyyl: 4rem;
  --text-link-color: $accent-color;
}

.ntt--user-functions details {
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.ntt--user-functions details h2,
.ntt--user-functions details h3,
.ntt--user-functions details h4 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
}

.ntt--user-functions details .ntt--count {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem .75rem;
  min-width: 2.5rem;
  min-height: 2rem;
  background-color: rgba(0, 0, 0, 0.03125);
  color: #1f2023;
  border-radius: 0.125rem;
  font-size: 1rem;
  line-height: normal;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.ntt--user-functions summary {
  display: inline-block;
}

.ntt--user-functions summary:hover {
  cursor: pointer;
}

.ntt--user-functions summary::marker {
  color: #0060e6;
}

.ntt--user-functions summary::-webkit-details-marker {
  color: #0060e6;
}

.ntt--user-functions-heading {
  display: inline-block;
}

.ntt--user-functions-count {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem .75rem;
  min-width: 2.5rem;
  min-height: 2rem;
  background-color: rgba(0, 0, 0, 0.03125);
  color: #1f2023;
  border-radius: 0.125rem;
  font-size: 1rem;
  line-height: normal;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
