html {
  background-color: white;
}

body {
  color: #1f2023;
}

a {
  color: #ff5c5c;
}

button,
input[type="submit"] {
  background-color: #ff5c5c;
}

button,
input,
select,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--content {
  color: #1f2023;
  line-height: 1.5;
}

.ntt--entry-content-snippet a {
  color: #1f2023;
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--nav---sub-menu--js .ntt--sub-menu--js li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.ntt--entry-nav a .ntt--entry-name-txt {
  color: #ff5c5c;
}

.ntt--entry-nav a:hover .ntt--entry-name-txt {
  color: #ff5c5c;
}

.ntt--entity-logo---1 .ntt--entity-name {
  display: none;
}

.entry-author-glabel,
.ntt--entry-published-datetime-label,
.cm-time,
.entry-categories-name,
.ntt--comment-published-datetime-label {
  display: none;
}

html {
  line-height: 1.5;
  background-color: white;
}

body {
  color: #1f2023;
  font-family: "Work Sans", sans-serif;
}

.ntt--entity-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ntt--entity-header > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--entity-heading {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.ntt--entity-heading::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 2rem);
  height: .125rem;
  background-color: #ffe6e6;
  border-radius: 100rem;
}

.ntt--entity-logo {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ntt--entity-logo img {
  width: 100%;
  max-width: 320px;
}

.ntt--entity-name {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 2.375rem;
  font-size: 1.5rem;
}

.ntt--entity-name a {
  color: inherit;
}

.ntt--entity-name .ntt--txt {
  padding: 0;
}

.ntt--entity-description {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #757575;
  font-size: .875rem;
  letter-spacing: .045em;
}

.ntt--entity-description .ntt--txt {
  padding: 0;
}

.ntt--entity-primary-nav {
  padding: 1rem .25rem;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Playfair Display", serif;
}

.ntt--entity-primary-nav a {
  color: inherit;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.ntt--entity-primary-nav a:hover {
  text-decoration: none;
  color: #ff5c5c;
}

.ntt--entity-primary-nav li {
  padding: 0 .75rem;
}

.ntt--entity-primary-nav li .ntt--txt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  min-height: 2.375rem;
}

.ntt--entity-primary-nav .current-menu-item > a .ntt--txt,
.ntt--entity-primary-nav .current_page_item > a .ntt--txt {
  position: relative;
}

.ntt--entity-primary-nav .current-menu-item > a .ntt--txt:before,
.ntt--entity-primary-nav .current_page_item > a .ntt--txt:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background-color: #ffe6e6;
  z-index: -1;
}

.ntt--entity-primary-nav-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox {
  background-position-y: 55%;
  background-size: .75rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-checkbox:checked {
  background-position-y: 50%;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-ancestor .sub-menu {
  min-width: 180px;
  font-size: 1rem;
  border: 0;
  background-color: #ffe6e6;
  border: 1px solid rgba(0, 0, 0, 0.0625);
  border-radius: 0.25rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-ancestor .sub-menu .ntt--txt {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-ancestor .sub-menu li {
  border-bottom: 0;
}

.ntt--nav---sub-menu--js .ntt--sub-menu-ancestor .sub-menu a:hover {
  background-color: #fff0f0;
  border-radius: 0.25rem;
}

.ntt--entity-header-aside .ntt--widget_nav_menu {
  padding: 1rem .25rem;
  margin-top: -1rem;
}

.ntt--entity-header-aside .ntt--widget_nav_menu > * {
  margin-top: 0;
  margin-bottom: 0;
}

.ntt--entity-header-aside .ntt--widget_nav_menu li {
  padding: 0 .75rem;
}

.ntt--entity-header-aside .ntt--widget_nav_menu a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
  min-height: 2.375rem;
  color: #1f2023;
}

.ntt--entity-header-aside .ntt--widget_nav_menu .menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ntt--entity-view-name {
  font-size: 1.125em;
}

.ntt--entity-view-name a {
  color: inherit;
}

.ntt--current-index .ntt--entity-view-heading {
  display: none;
}

.ntt--entry-name {
  font-size: 1.563em;
}

.ntt--entry-name a {
  color: inherit;
  font-family: "Playfair Display", serif;
}

.ntt--content h1 {
  font-size: 3.052em;
}

.ntt--content h2 {
  font-size: 2.441em;
}

.ntt--content h3 {
  font-size: 1.953em;
}

.ntt--content h4 {
  font-size: 1.563em;
}

.ntt--content h5 {
  font-size: 1.25em;
}

.ntt--content h6 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.25em;
}

.ntt--entity-secondary-info {
  text-align: center;
  font-size: .875rem;
}

.ntt--entity-secondary-info a {
  color: #757575;
}

@media only screen and (min-width: 768px) {
  .ntt--entity-logo {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .ntt--entity-logo img {
    max-width: 360px;
  }
  .ntt--entity-primary-nav {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .ntt--entity-heading::before {
    width: calc(100% - 3rem);
  }
}

.ntt--entity--mrs-gift-boxes #instafeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ntt--entity--mrs-gift-boxes #instafeed a {
  -webkit-box-flex: 1;
      -ms-flex: 1 25%;
          flex: 1 25%;
}

.ntt--entity--mrs-gift-boxes #instafeed img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
