.ntt--entity-logo---1 .ntt--entity-name {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.ntt--entry-datetime--boxy .ntt--entry-modified-datetime-label {
  background-color: transparent;
  border: 0;
  overflow: hidden;
}

.ntt--entry-datetime--boxy .ntt--entry-modified-datetime-label:before {
  content: '';
  display: block;
  width: 0;
  height: 150%;
}

.ntt--entry-author-label, .entry-published-datetime-label, .ntt--entry-modified-datetime-label, .ntt--comment-reply-axn .ntt--requirement-txt, .ntt--comment-axn .ntt--requirement-txt, .ntt--comment-published-datetime-label {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .0625em;
}

.ntt--comment, .comment-respond {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .125rem;
}

a {
  color: #ff5c5c;
}

button,
input[type="submit"] {
  background-color: #ff9999;
}

.ntt--entry-nav .ntt--entry-name-txt {
  color: #ff5c5c;
}

.ntt--comments-actions-snippet .ntt--comment-axn .ntt--comment-text {
  color: #ff5c5c;
}

.ntt--comment-reply-axn .ntt--reply-text {
  color: #ff5c5c;
}

.entry-author-glabel,
.ntt--entry-published-datetime-label,
.cm-time,
.entry-categories-name,
.ntt--comment-published-datetime-label {
  display: none;
}

html {
  background-color: white;
}

body {
  color: #1a1a1a;
  font-family: "Work Sans", sans-serif;
}

.ntt--entity-secondary-info {
  color: #757575;
  font-size: .875rem;
}

.ntt--entity-secondary-info a {
  color: #757575;
}

.ntt--entity-description {
  color: #757575;
  font-size: .875rem;
  letter-spacing: .045em;
}

.ntt--entity-primary-nav {
  font-size: 1.25rem;
  font-family: "Playfair Display", serif;
}

.ntt--entity-primary-nav a {
  color: inherit;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.ntt--entity-primary-nav a:hover {
  text-decoration: none;
}

.ntt--entity-primary-nav .current-menu-item .ntt--txt,
.ntt--entity-primary-nav .current_page_item .ntt--txt {
  position: relative;
}

.ntt--entity-primary-nav .current-menu-item .ntt--txt:before,
.ntt--entity-primary-nav .current_page_item .ntt--txt:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.25rem;
  background-color: #ffe6e6;
  z-index: -1;
}

.ntt--entity-primary-nav {
  border-top: 0.125rem solid #ffe6e6;
}

.ntt--entity-primary-nav-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ntt--entity-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ntt--entity-header > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--entity-header-aside {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding-top: 0;
  padding-bottom: 0;
}

.ntt--entity-header-aside > * {
  margin-top: 0;
  margin-bottom: 0;
}

.ntt--entity-header-aside .widget_nav_menu a {
  color: #1a1a1a;
}

.ntt--entity-header-aside .ntt--widget {
  padding-top: 0;
  padding-bottom: 0;
}

.ntt--entity-name {
  font-size: 2.375rem;
}

.ntt--entity-name {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.ntt--entity-name a {
  color: inherit;
}

.ntt--entity-view-name {
  font-size: 1.125em;
}

.ntt--entity-view-name a {
  color: inherit;
}

.entity-view-heading,
.ntt--entity-header,
.ntt--entity-secondary-info {
  text-align: center;
}

.ntt--entity-header-aside .ntt--search {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
}

.ntt--entry-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ntt--entry-name {
  font-size: 2.375rem;
  font-family: "Playfair Display", serif;
}

.ntt--entry-name a {
  color: inherit;
}

.entry-subname {
  font-size: 1.75rem;
  color: #757575;
}

.ntt--entry-datetime {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.entry-author,
.ntt--comment-author {
  -webkit-box-ordinal-group: initial;
      -ms-flex-order: initial;
          order: initial;
}

.entry-author a,
.ntt--comment-author a {
  color: inherit;
}

.ntt--entry-content {
  font-size: 1.125em;
  line-height: 1.8;
}

.ntt--entry-content a {
  color: inherit;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #ffe6e6), color-stop(0, transparent));
  background-image: linear-gradient(0deg, #ffe6e6 25%, transparent 0);
}

.ntt--entry-content a:hover {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #ff9999), color-stop(0, transparent));
  background-image: linear-gradient(0deg, #ff9999 25%, transparent 0);
}

.ntt--entry-content a[href*="flickr.com/"] {
  display: block;
  background-image: none;
}

.ntt--entry-content blockquote {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.75em;
}

.ntt--entry-content blockquote p {
  text-align: left;
}

.ntt--entry-content blockquote p:first-of-type {
  margin-top: 0;
}

.ntt--entry-content blockquote p:last-of-type {
  margin-bottom: 0;
}

.ntt--entry-content blockquote cite {
  display: block;
  text-align: right;
  font-weight: bold;
  font-style: normal;
  font-family: "Playfair Display", serif;
}

.ntt--entry-content p {
  text-align: justify;
}

.ntt--entry-content h2,
.ntt--entry-content h3,
.ntt--entry-content h4,
.ntt--entry-content h5,
.ntt--entry-content h6 {
  font-family: "Playfair Display", serif;
}

.ntt--entry-content h2 {
  font-size: 1.953em;
}

.ntt--entry-content h3 {
  font-size: 1.563em;
}

.ntt--entry-content h4 {
  font-size: 1.25em;
}

.ntt--entry-content h5, .ntt--entry-content h6 {
  font-size: 1em;
}

.ntt--entry-content .ntt--show-more-axn a {
  background-image: none;
}

.ntt--entry-content .ntt--show-more-axn a:hover {
  background-image: none;
}

.ntt--entry-content .ntt--entry-content-snippet a {
  background-image: none;
}

.ntt--entry-content .ntt--entry-content-snippet a:hover {
  background-image: none;
}

.ntt--content ul {
  list-style: none;
}

.ntt--content > ul {
  list-style: none;
  padding-left: 3rem;
}

.ntt--content > ul li {
  position: relative;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.ntt--content > ul li:before {
  content: '\2022';
  position: absolute;
  right: 100%;
  top: 0;
  margin-right: 1rem;
  color: #ff9999;
  font-size: 2rem;
  line-height: 1;
}

.ntt--comment-published-datetime {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.entry-header .ntt--comments-count a {
  color: inherit;
  text-decoration: none;
}

.entry-header .ntt--comments-count a:hover .ntt--label-txt {
  text-decoration: underline;
}

.entry-header .ntt--comments-count .ntt--txt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entry-header .ntt--comments-count .count-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25rem .5rem;
  min-width: 2rem;
  min-height: 1.75rem;
  background-color: #ffe6e6;
  font-weight: bold;
  position: relative;
}

.entry-header .ntt--comments-count .count-txt:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /* Triangle */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 .5rem .5rem 0;
  border-color: transparent #ffe6e6 transparent transparent;
}

.entry-header .ntt--comments-count .ntt--label-txt {
  margin-left: .5rem;
}

.ntt .wp-caption figcaption,
.ntt .wp-block-image figcaption {
  color: #757575;
  font-size: 1rem;
  text-align: justify;
}

.ntt--entry-tags a {
  color: #1a1a1a;
  background-color: #ffe6e6;
  line-height: 1;
}

.ntt--entry-tags-name {
  font-family: "Playfair Display", serif;
}

.ntt--current-index-view .ntt--entity-view-heading,
.ntt--archive-index-view .ntt--entity-view-heading {
  display: none;
}

.ntt--single-entry .ntt--entry-banner-visuals img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-view .entry-nav,
.page-view .entry-primary-meta,
.page-view .ntt--comment-md {
  display: none;
}

.page-view .entry-header .ntt--comments-actions-snippet {
  display: none;
}

.ntt--show-more-axn {
  padding: 1rem;
}

.ntt--show-more-axn a {
  color: #ff5c5c;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.ntt--show-more-axn a:hover {
  color: white;
}

.ntt--show-more-axn a:hover .l {
  background-color: #ff5c5c;
}

.ntt--show-more-axn .txt {
  padding: .75rem 1rem;
  border: 2px solid #ff5c5c;
  line-height: 1;
}

.ntt--entry-datetime--boxy .ntt--entry-published-datetime-label,
.ntt--entry-datetime--boxy .cm-time,
.ntt--entry-datetime--boxy .ntt--entry-modified-datetime {
  display: none;
}

.ntt--entry-datetime--boxy .ntt--entry---updated .ntt--entry-published-datetime {
  display: none;
}

.ntt--entry-datetime--boxy .ntt--entry---updated .ntt--entry-modified-datetime {
  display: block;
}

.ntt--entry-datetime--boxy .ntt--entry-published-datetime {
  padding: 0;
}

.ntt--entry-datetime--boxy .ntt--entry-modified-datetime {
  position: relative;
  padding: 0;
}

.ntt--entry-datetime--boxy .ntt--entry-modified-datetime-label {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: .25em;
  margin-top: .25em;
  width: .5em;
  height: .5em;
  background-color: #ff5c5c;
  border-radius: 100rem;
  mix-blend-mode: hard-light;
  opacity: .5;
}

.ntt--entry-datetime--boxy .ntt--entry-modified-datetime-label .ntt--txt {
  padding: .5em .5em;
}

.ntt--entry-datetime--boxy .ntt--entry-modified-datetime-label .on---text {
  display: none;
}

.ntt--entry-datetime--boxy .cm-datetime {
  padding: 1rem;
}

.ntt--entry-datetime--boxy .cm-date .ntt--txt {
  padding: .5em .75em;
  background-color: #ffe6e6;
  color: #1a1a1a;
}

.ntt--entry-datetime--boxy .cm-date .ntt--txt > * {
  display: block;
  text-align: center;
  line-height: 1;
}

.ntt--entry-datetime--boxy .cm-date a:hover {
  text-decoration: none;
}

.ntt--entry-datetime--boxy .cm-date .day-txt {
  font-size: 1.5em;
}

.ntt--entry-datetime--boxy .cm-date .month-txt {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .875em;
}

.ntt--entry-datetime--boxy .cm-date .year-txt {
  font-size: .875em;
}

@media only screen and (min-width: 48em) {
  .ntt--entity-header-aside .widget_nav_menu ul {
    text-align: right;
  }
  .ntt--entity-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 45em;
  }
  .ntt--entity-main-main-aside---1 .ntt--entity-main,
  .entry-main-aside--1 .ntt--entity-main {
    max-width: none;
  }
  .ntt--content blockquote {
    position: relative;
    padding-left: 3em;
  }
  .ntt--content blockquote:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5em;
    height: 100%;
    background-color: #ffe6e6;
    z-index: -1;
  }
}

@media only screen and (min-width: 90em) {
  .ntt--entity {
    margin-left: auto;
    margin-right: auto;
    max-width: 64em;
  }
}

.entry {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ntt--current-index-view .entry:first-of-type {
  margin-top: 0;
}

.entry-header .ntt--comment-axn {
  display: none;
}

.entry-header .ntt--disabled-comments-note {
  display: none;
}

.ntt--entry-heading .entry-breadcrumbs-nav,
.ntt--entry-heading .ntt--entry-categories {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.ntt--entries-page-indicator {
  display: none;
}

.ntt--entry-modified-datetime {
  display: none;
}

.ntt--entry---updated .ntt--entry-modified-datetime {
  display: block;
}

.ntt--entry---updated .ntt--entry-published-datetime {
  display: none;
}

.ntt--entry-modified-datetime-label .on---text {
  display: none;
}

.cm-author-avatar .img {
  border-radius: 50%;
  overflow: hidden;
}

.ntt--entry-primary-meta .ntt--entry-categories {
  display: none;
}

.ntt--modify-entry-axn a, .ntt--modify-comment-axn a {
  padding: .5rem;
  color: white;
}

.ntt--modify-entry-axn .ntt--txt, .ntt--modify-comment-axn .ntt--txt {
  padding: .25em .75em;
  background-color: #ff5c5c;
  border-radius: .125em;
}

.ntt--entry-full-content .initial-letter, .ntt--entry-full-content p.has-drop-cap:not(:focus):first-letter {
  margin-top: -.1em;
  margin-right: .1em;
  font-size: 8rem;
}

.ntt--current-index-view .ntt--entry-summary-content,
.ntt--archive-index-view .ntt--entry-summary-content,
.ntt--single-entry .ntt--entry-summary-content {
  font-size: 1.125em;
}

.ntt--comment-composition-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.ntt--comment-name {
  display: none;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
}

.ntt--admin-user .ntt--comment-name {
  display: block;
}

.ntt--comment-author-label {
  display: none;
}

.ntt--comments-name {
  font-size: 1.125em;
  font-weight: bold;
}

.ntt--comments-header .ntt--comments-count a {
  color: inherit;
}

.ntt--comment-reply-axn .ntt--requirement-txt {
  display: inline-block;
  vertical-align: middle;
}

.ntt--comment-axn .ntt--requirement-txt {
  display: inline-block;
  vertical-align: middle;
}

.ntt--comment-form .field-label---txt {
  font-weight: bold;
}

.comment {
  padding: .5rem 1rem;
}

.ntt--comments-thread-limit---max .ntt--comment {
  padding-bottom: 1rem;
}

.ntt--cancel-reply-axn a {
  color: rgba(0, 0, 0, 0.5);
}

.ntt--cancel-reply-axn .ntt--reply-text {
  display: none;
}

.ntt--comment-published-datetime {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.comment-respond {
  margin: .5rem 1rem;
}

.ntt--log-out-account-axn a {
  color: rgba(0, 0, 0, 0.5);
}

.ntt--comments---empty .ntt--comments-main {
  display: none;
}

.ntt--comments---empty .entry-header .ntt--comments-actions-snippet {
  display: none;
}

.ntt--note {
  padding: 1rem;
}

.ntt--note {
  padding: .03125rem;
  background-color: aliceblue;
}

.widget_blog_subscription {
  padding: 1rem;
  background-color: rgba(255, 226, 219, 0.25);
  border-radius: .125rem;
}

.widget_blog_subscription .ntt--widget-name {
  margin-bottom: 0;
}

.widget_blog_subscription button {
  width: 100%;
  background-color: #ff9999;
}

.complimentary-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.complimentary-close .compliment---txt {
  font-weight: bold;
}

.complimentary-close .author-name---txt {
  display: inline-block;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  font-size: 3rem;
  font-family: 'Great Vibes';
}

.akismet_comment_form_privacy_notice {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media only screen and (min-width: 36em) {
  .widget_blog_subscription form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
  }
  .widget_blog_subscription form p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .widget_blog_subscription #subscribe-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
  .widget_blog_subscription #subscribe-email {
    -webkit-box-flex: 1;
        -ms-flex: 1 70%;
            flex: 1 70%;
  }
  .widget_blog_subscription #subscribe-email input {
    width: 100%;
  }
  .widget_blog_subscription input[type="email"] {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .widget_blog_subscription button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media only screen and (min-width: 48em) {
  .ntt--entity-name {
    font-size: 3rem;
  }
  .ntt--entries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ntt--entity-primary-nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .ntt--entity-main-main-aside---1 .ntt--entity {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ntt--multiple-entries .entry {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
  .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
  .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .entry-main,
  .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .ntt--entry-footer {
    display: none;
  }
  .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky:first-of-type {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
  @supports (display: grid) {
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .ntt--entry {
      display: -ms-grid;
      display: grid;
      grid-template: 'banner heading .' 'banner actions .' 'banner meta comments' 'banner main .' 1fr 'footer . .' / 40% auto 1fr;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .entry-header,
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .ntt--entry-header {
      display: contents;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .ntt--entry-banner {
      grid-area: banner;
      width: 100%;
      height: 30rem;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .ntt--entry-banner {
      padding-top: 0;
      padding-bottom: 0;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .entry-heading {
      grid-area: heading;
      grid-column: heading / -1;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .entry-header .ntt--entry-axns {
      grid-area: actions;
      grid-column: actions / -1;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .entry-header .ntt--comments-actions-snippet {
      grid-area: comments;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .ntt--entry-primary-meta {
      grid-area: meta;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .ntt--entry-main {
      grid-area: main;
      grid-column: main / -1;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .ntt--entry-footer {
      grid-area: footer;
      grid-column: footer / -1;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---1.ntt--entry---unsticky .ntt--entry-banner-visuals img {
      height: 30rem;
      -o-object-fit: cover;
         object-fit: cover;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .entry-main,
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .ntt--entry-footer {
      display: none;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .ntt--entry-header {
      display: -ms-grid;
      display: grid;
      grid-template: 'heading .' 1fr 'actions .' 'meta comments' 'main .' / auto 1fr;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .entry-heading {
      grid-area: heading;
      grid-column: heading / -1;
      -ms-flex-item-align: end;
          align-self: flex-end;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .entry-header .ntt--entry-axns {
      grid-area: actions;
      grid-column: actions / -1;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .entry-header .ntt--comments-actions-snippet {
      grid-area: comments;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .ntt--entry-primary-meta {
      grid-area: meta;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .ntt--entry-banner {
      grid-area: heading;
      grid-row: heading / -1;
      grid-column: heading / -1;
      z-index: -1;
      width: 100%;
      height: 50vh;
      min-height: 20rem;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .ntt--entry-banner-visuals {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .ntt--entry-banner-visuals img {
      height: 50vh;
      min-height: 20rem;
      -o-object-fit: cover;
         object-fit: cover;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .ntt--entry-name a:hover {
      text-decoration: none;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .ntt--entry-name a:hover .ntt--txt {
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(65%, #ffd5cc), color-stop(0, transparent));
      background-image: linear-gradient(0deg, #ffd5cc 65%, transparent 0);
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky .ntt--entry-name .ntt--txt {
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(65%, rgba(255, 226, 219, 0.9)), color-stop(0, transparent));
      background-image: linear-gradient(0deg, rgba(255, 226, 219, 0.9) 65%, transparent 0);
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky:first-of-type .ntt--entry-banner {
      height: 70vh;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry---sticky:first-of-type .ntt--entry-banner-visuals img {
      height: 70vh;
    }
    .ntt--multiple-entries.ntt--first-page .ntt--entry-banner-visuals---0.ntt--entry---sticky .ntt--entry-header {
      height: 50vh;
      min-height: 20rem;
      background-color: rgba(255, 226, 219, 0.25);
    }
  }
}
