@import '../../../../../assets/styles/source/rules';

//--------------------------------------------------------------
// Snap Rules
//--------------------------------------------------------------

//--------------------------------------------------------------
// Absolute Variables
//--------------------------------------------------------------

$almost-black: hsl(0, 0%, 10%);
$almost-white: hsl(0, 0%, 95%);
$a11y-gray: hsl(0, 0%, 46%);

$cherry-blossom-pink: hsl(0, 100%, 80%);
$cherry-blossom-dark-pink: hsl(0, 100%, 68%);
$cherry-blossom-light-pink: hsl(0, 100%, 95%);

$blood-red: hsl(0, 100%, 45%);


//--------------------------------------------------------------
// Generic Variables
//--------------------------------------------------------------

$ink-color: $almost-black;
$paper-color: white;
$neutral-color: $a11y-gray;
$accent-color: $cherry-blossom-dark-pink;
$faint-accent-color: $cherry-blossom-light-pink;

$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;

$primary-color: $cherry-blossom-pink;
$secondary-color: $cherry-blossom-dark-pink;
$tertiary-color: $cherry-blossom-light-pink;
$entry-content-font-size: 1.125em;
$large-font-size: 1.125em;

//--------------------------------------------------------------
// Specific Variables
//--------------------------------------------------------------

$link-color: $accent-color;

//--------------------------------------------------------------
// Generic Variables
//--------------------------------------------------------------

@import '../../../../../assets/styles/source/theme';

//--------------------------------------------------------------
// Hide Stuff
//--------------------------------------------------------------

.entity-logo--1 {

    .entity-primary-name {
        @extend %vh;
    }
}

.entry-author-glabel,
.entry-published-datetime-glabel,
.cm-time,
.entry-categories-name,
.comment-published-datetime-glabel {
    display: none;
}

//--------------------------------------------------------------
// Basic
//--------------------------------------------------------------

html {
    background-color: $paper-color;
}

body {
    color: $ink-color;
    font-family: $primary-font;
}

//--------------------------------------------------------------
// Entity Secondary Info
//--------------------------------------------------------------

.entity-secondary-info {
    color: $neutral-color;
    font-size: .875rem;

    a {
        color: $neutral-color;
    }
}

//--------------------------------------------------------------
// Entity Primary Description
//--------------------------------------------------------------

.entity-primary-description {
    color: $neutral-color;
    font-size: .875rem;
    letter-spacing: .045em;
}

//--------------------------------------------------------------
// Entity Primary Navigation
//--------------------------------------------------------------

.entity-primary-nav {
    font-size: 1.25rem;
    font-family: $secondary-font;

    a {
        color: inherit;
        @include transition;

        &:hover {
            text-decoration: none;
        }
    }

    .current-menu-item,
    .current_page_item {

        .txt {
            position: relative;
            
            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1.25rem;
                background-color: $faint-accent-color;
                z-index: -1;
            }
        }
    }
}

.entity-primary-nav---cr {
    border-top: .125rem solid $faint-accent-color;
}

.entity-primary-nav-group---cr {
    justify-content: center;
}

//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------

.entity-header---cr {
    display: flex;
    flex-wrap: wrap;

    > * {
        flex: 1 100%;
    }
}

//--------------------------------------------------------------
// Entity Header Aside
//--------------------------------------------------------------

.entity-header-aside {
    order: -1;

    .widget_nav_menu {

        a {
            color: $ink-color;
        }
    }

    .widget {
        @include y-padding();
    }

    .widget---cr {
        @include y-padding();
        
        > * {
            @include y-margin();
        }
    }
}

//--------------------------------------------------------------
// Entity
//--------------------------------------------------------------

.entity-primary-name {
    font-size: 2.375rem;
}

.entity-primary-name {
    font-family: $secondary-font;
    font-weight: normal;

    a {
        color: inherit;
    }
}

.entity-view-name {
    font-size: $large-font-size;

    a {
        color: inherit;
    }
}

.entity-view-heading,
.entity-header,
.entity-secondary-info {
    text-align: center;
}

.entity-header-aside {

    .search---cr {
        @include x-margin(auto);
        max-width: 25rem;
    }
}

//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.entry-header---cr {
    justify-content: space-between;
}

.entry-name {
    font-size: 2.375rem;
    font-family: $secondary-font;

    a {
        color: inherit;
    }
}

//--------------------------------------------------------------
// Entry Subname
//--------------------------------------------------------------

.entry-subname {
    font-size: 1.75rem;
    color: $neutral-color;
}

//--------------------------------------------------------------
// Entry DateTime
//--------------------------------------------------------------

.entry-datetime {
    flex: none;
}

//--------------------------------------------------------------
// Entry Author, Comment Author
//--------------------------------------------------------------

.entry-author,
.comment-author {
    order: initial;
    
    a {
        color: inherit;
    }
}

//--------------------------------------------------------------
// Entry Content
//--------------------------------------------------------------

.entry-content {
    font-size: $entry-content-font-size;
    line-height: 1.8;
    
    a {
        color: inherit;
        background-image: linear-gradient(0deg, $tertiary-color 25%, transparent 0);

        &:hover {
            text-decoration: none;
            background-image: linear-gradient(0deg, $primary-color 25%, transparent 0);
        }

        &[href*="flickr.com/"] {
            display: block;
            background-image: none;
        }
    }

    blockquote {
        @include y-padding(.5em);
        @include x-margin();
        font-size: 1.75em;

        p {
            text-align: left;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        cite {
            display: block;
            text-align: right;
            font-weight: bold;
            font-style: normal;
            font-family: $secondary-font;
        }
    }

    p {
        text-align: justify;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $secondary-font;
    }

    // https://type-scale.com/
    
    h2 {
        font-size: 1.953em;
    }

    h3 {
        font-size: 1.563em;
    }

    h4 {
        font-size: 1.25em;
    }

    h5, h6 {
        font-size: 1em;
    }

    .show-more-axn {

        a {
            background-image: none;

            &:hover {
                background-image: none;
            }
        }
    }

    .content-snippet {
        
        a {
            background-image: none;
    
            &:hover {
                background-image: none;
            }
        }
    }
}

.content---cr {

    ul {
        list-style: none;
    }

    > {

        ul {
            list-style: none;
            padding-left: 3rem;

            li {
                position: relative;
                @include y-margin(.75em);

                &:before {
                    content: '\2022';
                    position: absolute;
                    right: 100%;
                    top: 0;
                    margin-right: 1rem;
                    color: $primary-color;
                    font-size: 2rem;
                    line-height: 1;
                }
            }
        }
    }
}

//--------------------------------------------------------------
// Comment
//--------------------------------------------------------------

.comment-published-datetime {
    flex: none;
}

.entry-header {

    .comments-count {

        a {
            color: inherit;
            text-decoration: none;
    
            &:hover {
    
                .glabel---txt {
                    text-decoration: underline;
                }
            }
        }
    
        .l {
            display: inline-flex;
            align-items: center;
        }
    
        .count---txt {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .25rem .5rem;
            min-width: 2rem;
            min-height: 1.75rem;
            background-color: $tertiary-color;
            font-weight: bold;
    
            position: relative;
    
            &:before {
                content: '';
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
    
                /* Triangle */
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 .5rem .5rem 0;
                border-color: transparent $tertiary-color transparent transparent;
            }
        }
    
        .glabel---txt {
            margin-left: .5rem;
        }
    }
}

//--------------------------------------------------------------
// Captions
//--------------------------------------------------------------

.ntt {

    .wp-caption,
    .wp-block-image {

        figcaption {
            color: $neutral-color;
            font-size: 1rem;
            text-align: justify;
        }
    }
}

//--------------------------------------------------------------
// Entry Tags
//--------------------------------------------------------------

.entry-tags {

    a {
        color: $ink-color;
        background-color: $tertiary-color;
        line-height: 1;
    }
}

.entry-tags-name {
    font-family: $secondary-font;
}

//--------------------------------------------------------------
// Index Views
//--------------------------------------------------------------

.current-index-view,
.archive-index-view  {
    
    .entity-view-heading {
        display: none;
    }
}

//--------------------------------------------------------------
// Singular View
//--------------------------------------------------------------

.singular-view {

    .entry-banner-visuals {

        img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
        }
    }
}

//--------------------------------------------------------------
// Page View
//--------------------------------------------------------------

.page-view {

    .entry-nav,
    .entry-primary-meta,
    .comment-md {
        display: none;
    }

    .entry-header {

        .comments-actions-snippet {
            display: none;
        }
    }
}

//--------------------------------------------------------------
// Show More Action
//--------------------------------------------------------------

.show-more-axn {
    padding: 1rem;

    a {
        color: $secondary-color;
        @include transition;

        &:hover {
            color: $paper-color;

            .l {
                background-color: $secondary-color;
            }
        }
    }

    .l {
        padding: .75rem 1rem;
        border: 2px solid $secondary-color;
        line-height: 1;

    }

    .show---text {
        display: none;
    }
}

//--------------------------------------------------------------
// [Style Feature] Entry DateTime - Boxy
//--------------------------------------------------------------

.ntt--entry-datetime--boxy {

    .entry-published-datetime-glabel,
    .cm-time,
    .entry-modified-datetime {
        display: none;
    }

    .entry--updated {

        .entry-published-datetime {
            display: none;
        }

        .entry-modified-datetime {
            display: block;
        }
    }

    .entry-published-datetime---cr {
        padding: 0;
    }

    .entry-modified-datetime---cr {
        position: relative;
        padding: 0;
    }

    .entry-modified-datetime-glabel {
        @extend %ir;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: .25em;
        margin-top: .25em;
        width: .5em;
        height: .5em;
        background-color: $secondary-color;
        border-radius: 100rem;
        mix-blend-mode: hard-light;
        opacity: .5;

        .l {
            padding: .5em .5em;
        }

        .on---text {
            display: none;
        }
    }

    .cm-datetime {
        padding: 1rem;
    }

    .cm-date {

        .l {
            padding: .5em .75em;
            background-color: $tertiary-color;
            color: $ink-color;

            > * {
                display: block;
                text-align: center;
                line-height: 1;
            }
        }

        a {

            &:hover {
                text-decoration: none;
            }
        }

        .day---txt {
            font-size: 1.5em;
        }

        .month---txt {
            text-transform: uppercase;
            font-weight: bold;
            font-size: .875em;
        }

        .year---txt {
            font-size: .875em;
        }
    }
}

//--------------------------------------------------------------
// Media Query: Tablet Viewport Width and Up
//--------------------------------------------------------------

@media only screen and (min-width: $tablet-vp) {

    //--------------------------------------------------------------
    // Entity Header Aside
    //--------------------------------------------------------------

    .entity-header-aside {

        .widget_nav_menu {

            ul {
                text-align: right;
            }
        }
    }

    //--------------------------------------------------------------
    // Entity Main
    //--------------------------------------------------------------

    .entity-main {
        @include x-margin(auto);
        max-width: 45em;
    }

    .entity-main-main-aside--1,
    .entry-main-aside--1 {
        
        .entity-main {
            max-width: none;
        }
    }

    //--------------------------------------------------------------
    // Entry
    //--------------------------------------------------------------

    .content {

        blockquote {
            position: relative;
            padding-left: 3em;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 5em;
                height: 100%;
                background-color: $tertiary-color;
                z-index: -1;
            }
        }
    }
}

//--------------------------------------------------------------
// Media Query: Laptop Large Viewport Width and Up
//--------------------------------------------------------------

@media only screen and (min-width: $laptop-l-vp) {

    //--------------------------------------------------------------
    // Entity
    //--------------------------------------------------------------

    .entity---cr {
        @include x-margin(auto);
        max-width: $laptop-vp;
    }
}

























//--------------------------------------------------------------
// Entry
//--------------------------------------------------------------

.entry {
    @include y-margin(1rem);

    .current-index-view & {
        
        &:first-of-type {
            margin-top: 0;
        }
    }
}

.entry-header {

    .comment-axn {
        display: none;
    }

    .disabled-comments-note {
        display: none;
    }
}

.entry-heading---cr {

    .entry-breadcrumbs-nav,
    .entry-categories {
        flex: 1 100%;
    }
}

.entries-page-indicator {
    display: none;
}

//--------------------------------------------------------------
// Entry DateTime
//--------------------------------------------------------------



.entry-modified-datetime {
    display: none;
}

.entry--updated {

    .entry-modified-datetime {
        display: block;
    }

    .entry-published-datetime {
        display: none;
    }
}

.entry-modified-datetime-glabel {

    .on---text {
        display: none;
    }
}

.entry-author-glabel {
    @extend %faint-label;
}

.entry-published-datetime-glabel {
    @extend %faint-label;
}

.entry-modified-datetime-glabel {
    @extend %faint-label;
}

.cm-author-avatar {

    .img {
        border-radius: 50%;
        overflow: hidden;
    }
}

//--------------------------------------------------------------
// Entry Primary Meta
//--------------------------------------------------------------

.entry-primary-meta {

    .entry-categories {
        display: none;
    }
}

.modify-entry-axn {

    a {
        padding: .5rem;
        color: white;
    }

    .txt {
        padding: .25em .75em;
        background-color: $accent-color;
        border-radius: .125em;
    }
}

//--------------------------------------------------------------
// Drop Cap, Initial Letter
//--------------------------------------------------------------

.entry-full-content {

    .initial-letter {
        margin-top: -.1em;
        margin-right: .1em;
        font-size: 8rem;
    }
}

p.has-drop-cap:not(:focus) {

    &:first-letter {
        @extend .initial-letter;
    }
}

//--------------------------------------------------------------
// Entry Summary Content
//--------------------------------------------------------------

.current-index-view,
.archive-index-view,
.singular-view {

    .entry-summary-content {
        font-size: $large-font-size;
    }
}

//--------------------------------------------------------------
// Comments
//--------------------------------------------------------------

.compose-comment-glabel {
    font-weight: bold;
    font-size: 1.5rem;
}

.comment-name {
    display: none;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
}

.current-user--admin {

    .comment-name {
        display: block;
    }
}

.comment-author-glabel {
    display: none;
}

.modify-comment-axn {
    @extend .modify-entry-axn;
}

.comments-name {
    font-size: $large-font-size;
    font-weight: bold;
}

.comments-header---cr {

    .comments-count {
        
        a {
            color: inherit;
        }
    }
}

.comment-reply-axn {
        
    .requires-log-in---text {
        @extend %faint-label;
        @include ib-y-center;
    }
}

.comment-axn {
        
    .requires-log-in---text {
        @extend %faint-label;
        @include ib-y-center;
    }
}

.comment-form {

    .field-label---txt {
        font-weight: bold;
    }

    .optional---text {
        @extend %faint-label;
    }
}

.comment {
    padding: .5rem 1rem;
}

.comment---cr {
    @extend %border;
}

.comments-thread-limit--max {

    .comment---cr {
        padding-bottom: 1rem;
    }
}

.cancel-reply-axn {

    a {
        color: $faint-color;
    }

    .reply---text {
        display: none;
    }
}

.comment-published-datetime {
    flex-basis: auto;
}

.comment-respond {
    margin: .5rem 1rem;
    @extend %border;
}

.log-out-admin-account-axn {

    a {
        color: $faint-color;
    }
}

.comment-published-datetime-glabel {
    @extend %faint-label;
}

.comments--empty {

    .comments-main {
        display: none;
    }

    .entry-header {

        .comments-actions-snippet {
            display: none;
        }
    }
}

//--------------------------------------------------------------
// Note
//--------------------------------------------------------------

.note {
    padding: 1rem;
}

.note---cr {
    padding: .03125rem;
    background-color: aliceblue;
}

//--------------------------------------------------------------
// Widget Blog Subscription
//--------------------------------------------------------------

.widget_blog_subscription {

    .widget---cr {
        padding: 1rem;
        background-color: hsla(11, 100%, 93%, .25);
        border-radius: .125rem;
    }

    .widget-name {
        margin-bottom: 0;
    }

    button {
        width: 100%;
        background-color: $cherry-blossom-pink;
    }
}

//--------------------------------------------------------------
// Complimentary Close
//--------------------------------------------------------------

.complimentary-close {
    display: inline-flex;
    flex-direction: column;
    margin-top: 1rem;

    .compliment---txt {
        font-weight: bold;
    }
    
    .author-name---txt {
        display: inline-block;
        transform: rotate(-2deg);
        font-size: 3rem;
        font-family: 'Great Vibes';
    }
}

.akismet_comment_form_privacy_notice {
    @include x-margin(1rem);
}

//--------------------------------------------------------------
// Small Width and Up
//--------------------------------------------------------------

@include mq(s-vp) {

    .widget_blog_subscription {

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @include x-margin(auto);
            max-width: 30rem;

            p {
                @include y-margin();
            }
        }

        #subscribe-text {
            flex: 1 100%;
        }

        #subscribe-email {
            flex: 1 70%;

            input {
                width: 100%;
            }
        }
    
        input[type="email"] {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

//--------------------------------------------------------------
// Medium Width and Up
//--------------------------------------------------------------

@include mq(m-vp) {

    .entity-primary-name {
        font-size: 3rem;
    }

    .entries---cr {
        display: flex;
        flex-wrap: wrap;
    }

    .entity-primary-nav---cr {
        @include y-padding(.5rem);
    }

    .entity-main-main-aside--1 {

        .entity---cr {
            @include x-padding(1rem);
        }
    }

    .plural-view {

        .entry {
            flex: 1 100%;
        }

        &.first-page-view {
            
            .entry--sticky {
                flex: 1 50%;

                .entry-main,
                .entry-footer {
                    display: none;
                }

                &:first-of-type {
                    flex: 1 100%;
                }
            }

            // Sticky Entry
            &.cssgrid {
                $unsticky-banner-height: 30rem;
                $sticky-banner-height: 50vh;
                $sticky-banner-min-height: 20rem;

                .entry-banner-visuals--1 {

                    &.entry--unsticky {

                        .entry---cr {
                            display: grid;
                            grid-template:
                                'banner heading .'
                                'banner actions .'
                                'banner meta comments'
                                'banner main .' 1fr
                                'footer . .'
                                / 40% auto 1fr;
                        }
            
                        .entry-header,
                        .entry-header---cr {
                            display: contents;
                        }
            
                        .entry-banner {
                            grid-area: banner;
                            width: 100%;
                            height: $unsticky-banner-height;
                        }

                        .entry-banner---cr {
                            @include y-padding();
                        }
            
                        .entry-heading {
                            grid-area: heading;
                            grid-column: heading / -1;
                        }
            
                        .entry-header {
            
                            .entry-axns {
                                grid-area: actions;
                                grid-column: actions / -1;
                                align-self: center;
                            }
            
                            .comments-actions-snippet {
                                grid-area: comments;
                                align-self: center;
                            }
                        }
                        
                        .entry-primary-meta {
                            grid-area: meta;
                        }
            
                        .entry-main {
                            grid-area: main;
                            grid-column: main / -1;
                        }
            
                        .entry-footer {
                            grid-area: footer;
                            grid-column: footer / -1;
                        }
                    
                        .entry-banner-visuals {
                
                            img {
                                height: $unsticky-banner-height;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .entry--sticky {

                    .entry-main,
                    .entry-footer {
                        display: none;
                    }

                    .entry-header---cr {
                        display: grid;
                        grid-template:
                            'heading .' 1fr
                            'actions .'
                            'meta comments'
                            'main .'
                            / auto 1fr;
                    }
            
                    .entry-heading {
                        grid-area: heading;
                        grid-column: heading / -1;
                        align-self: flex-end;
                    }

                    .entry-header {
            
                        .entry-axns {
                            grid-area: actions;
                            grid-column: actions / -1;
                            align-self: center;
                        }
        
                        .comments-actions-snippet {
                            grid-area: comments;
                            align-self: center;
                        }
                    }
                        
                    .entry-primary-meta {
                        grid-area: meta;
                    }

                    .entry-banner {
                        grid-area: heading;
                        grid-row: heading / -1;
                        grid-column: heading / -1;
                        z-index: -1;
                        width: 100%;
                        height: $sticky-banner-height;
                        min-height: $sticky-banner-min-height;
                    }

                    .entry-banner-visuals {
                        @include x-padding();
                        margin-bottom: 0;
            
                        img {
                            height: $sticky-banner-height;
                            min-height: $sticky-banner-min-height;
                            object-fit: cover;
                        }
                    }

                    .entry-name {

                        a {

                            &:hover {
                                text-decoration: none;

                                .txt {
                                    background-image: linear-gradient(0deg, hsl(10, 100%, 90%) 65%, transparent 0);
                                }
                            }
                        }

                        .txt {
                            background-image: linear-gradient(0deg, hsla(11, 100%, 93%, .9) 65%, transparent 0);
                        }
                    }

                    &:first-of-type {
                        $first-sticky-banner-height: 70vh;
        
                        .entry-banner {
                            height: $first-sticky-banner-height;
                        }
        
                        .entry-banner-visuals {
                
                            img {
                                height: $first-sticky-banner-height;
                            }
                        }
                    }
                }

                .entry-banner-visuals--0 {

                    &.entry--sticky {

                        .entry-header---cr {
                            height: $sticky-banner-height;
                            min-height: $sticky-banner-min-height;
                            background-color: hsla(11, 100%, 93%, .25);
                        }
                    }
                }
            }
        }
    }
}