//--------------------------------------------------------------
// Kid NTT Rules
//--------------------------------------------------------------

@import '../../../../../assets/styles/source/rules';

//--------------------------------------------------------------
// Snap Rules
//--------------------------------------------------------------

//--------------------------------------------------------------
// Absolute Variables
//--------------------------------------------------------------

$blood-red: hsl(0, 100%, 45%);
$cherry-blossom-dark-pink: hsl(0, 100%, 68%);
$cherry-blossom-pink: hsl(0, 100%, 80%);
$cherry-blossom-light-pink: hsl(0, 100%, 95%);

//--------------------------------------------------------------
// Generic Variables
//--------------------------------------------------------------

//------------ Colors
$ink-color: $almost-black;
$paper-color: white;
$neutral-color: $a11y-gray;
$accent-color: $cherry-blossom-dark-pink;
$faint-accent-color: $cherry-blossom-light-pink;
$primary-color: $cherry-blossom-pink;
$secondary-color: $cherry-blossom-dark-pink;
$tertiary-color: $cherry-blossom-light-pink;

//------------ Fonts
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;
$entry-content-font-size: 1.125em;
$large-font-size: 1.125em;

//--------------------------------------------------------------
// Specific Variables
//--------------------------------------------------------------

$link-color: $accent-color;

//--------------------------------------------------------------
// Redeclare theme to detect the variables above
//--------------------------------------------------------------

@import '../../../../../assets/styles/source/theme';

//--------------------------------------------------------------
// Hide Stuff
//--------------------------------------------------------------

.ntt--entity-logo---1 {

    .ntt--entity-name {
        @extend %vh;
    }
}

.entry-author-glabel,
.ntt--entry-published-datetime-label,
.cm-time,
.entry-categories-name,
.ntt--comment-published-datetime-label {
    display: none;
}

//--------------------------------------------------------------
// Basic
//--------------------------------------------------------------

html {
    background-color: $paper-color;
}

body {
    color: $ink-color;
    font-family: $primary-font;
}

//--------------------------------------------------------------
// Entity Header
//--------------------------------------------------------------

.ntt--entity-header {
    display: flex;
    flex-wrap: wrap;

    > * {
        flex: 1 100%;
    }
}

//--------------------------------------------------------------
// Entity Heading
//--------------------------------------------------------------

.ntt--entity-heading {
    position: relative;
    @include y-padding(1rem);
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: calc(100% - 2rem);
        height: .125rem;
        background-color: $faint-accent-color;
        border-radius: 100rem;
    }
}

.ntt--entity-logo {
    @include y-padding(.5rem);
}

.ntt--entity-name {
    @include x-padding(1rem);
    font-family: $secondary-font;
    font-weight: normal;
    font-size: 2.375rem; // For wider viewport
    font-size: 1.5rem;

    a {
        color: inherit;
    }

    .ntt--txt {
        padding: 0;
    }
}

.ntt--entity-description {
    @include x-padding(1rem);
    color: $neutral-color;
    font-size: .875rem;
    letter-spacing: .045em;

    .ntt--txt {
        padding: 0;
    }
}

//--------------------------------------------------------------
// Entity Primary Navigation
//--------------------------------------------------------------

.ntt--entity-primary-nav {
    padding: .25rem;
    margin-top: .75rem;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: $secondary-font;

    a {
        color: inherit;
        @include transition;

        &:hover {
            text-decoration: none;
            color: $accent-color;
        }
    }

    li {
        padding: 0 .75rem;

        .ntt--txt {
            @include if-y-center;
            padding: 0;
            min-height: 2.375rem;
        }
    }
    
    .current-menu-item,
    .current_page_item {

        > a {

            .ntt--txt {
                position: relative;
                
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1rem;
                    background-color: $faint-accent-color;
                    z-index: -1;
                }
            }
        }
    }
}

.ntt--entity-primary-nav-group {
    justify-content: center;
}

//--------------------------------------------------------------
// Navigation - Sub-menu - JS
//--------------------------------------------------------------

.ntt--nav---sub-menu--js {
    
    .ntt--sub-menu-checkbox {
        background-position-y: 55%;
        background-size: .75rem;
        @include transition;

        &:checked {
            background-position-y: 50%;
        }
    }

    .ntt--sub-menu-ancestor {
        
        .sub-menu {
            $sub-menu-corner-radius: .25rem;

            min-width: 180px;
            font-size: 1rem;
            border: 0;
            background-color: $faint-accent-color;
            border: 1px solid hsla(0, 0%, 0%, .0625);
            border-radius: $sub-menu-corner-radius;

            .ntt--txt {
                @include x-padding(.75rem);
            }

            li {
                border-bottom: 0;
            }

            a {

                &:hover {
                    background-color: hsl(0, 100%, 97%);
                    border-radius: $sub-menu-corner-radius;

                    &:first-child {
                        
                    }
                }
            }
        }
    }
}

//--------------------------------------------------------------
// Entity Header Aside
//--------------------------------------------------------------

.ntt--entity-header-aside {

    .ntt--widget_nav_menu {
        padding: .25rem;
        margin-bottom: .75rem;

        > * {
            @include y-margin();
        }

        li {
            padding: 0 .75rem;
        }

        a {
            @include if-y-center;
            @include x-padding();
            min-height: 2.375rem;
            color: $ink-color;
        }

        .menu {
            justify-content: center;
        }
    }
}

//--------------------------------------------------------------
// Entity Main Header
//--------------------------------------------------------------

.ntt--entity-view-name {
    font-size: $large-font-size;

    a {
        color: inherit;
    }
}

//--------------------------------------------------------------
// Entity Secondary Info
//--------------------------------------------------------------

.ntt--entity-secondary-info {
    text-align: center;
    font-size: .875rem;

    a {
        color: $neutral-color;
    }
}